[2017-05-12 15:58] armahillo opened #2 "Items page should show current inventory totals, broken down by storage location"
When a user visits the Items#index action, they should see an inventory sum total, broken down by storage location, with rollup, for each item.

[2017-05-12 16:07] armahillo opened #3 "User can track loose diapers for intake using a digital scale"
A user should be able to add loose inventory via weighing the product on a scale. Here are the notes from the previous year:

1. You click on the scale tab
2. You click on the diaper type (ie- disposable inserts), size (NB, 1, 2, 3, etc) (*)
3. You dump the diapers into a container on the scale
4. It displays how many diapers are in the container (ie - 82 diapers)
5. You then click "Add to Invento

[2017-05-12 16:24] armahillo opened #4 "Donation#new should allow "Misc Donation" to accept user input"
The "source" field is currently a single drop-down list, populated from an array of Strings, found in `/app/models/donation.rb`

There is a "Misc Donation" option to choose from, but it does not currently allow for any override or comment from the user.

Notes from 2016:

Rachel would essentially like the ability to provide a comment for any given `Donation` (ie. "Diaper drive" but then specify "P

[2017-05-12 16:27] armahillo opened #5 "User can provide a quantity of boxes when scanning a barcode"
When a user scans a barcode, and that barcode exists (or they have finished providing the details for that barcode item), they should be able to provide a quantity of instances for that barcode.

From the original issue:

[2017-05-12 16:30] armahillo opened #6 "User can scan a barcode to add items while creating a distribution ticket"
When a user is working on a distribution `Ticket`, they should be able to add `Items` to the `Ticket` by scanning a barcode instead of choosing from a drop-down list.

[2017-05-12 16:37] armahillo opened #7 "Inventory should be immediately accessible for distribution after being entered"
_This was raised as an issue with the previous app. It may or may not affect this new app (since ActiveAdmin has been removed), but it was raised as a need by the Org, so let's make sure that it works as expected! :)_

Issue from PDXDB, as written:

database that were purchased. Then, when I went to create a ticket for distribution, it said that there wasn’t
enough size 6’s in inventory to create

[2017-05-12 16:42] armahillo opened #8 "User can filter reports by multiple date presets"
When browsing the reports (Dashboard aggregate reports, Donation / Ticket / Transfer reports, etc), the user should be able to constrain the view by date (probably `created_at`?). Rachel has suggested having some "preset" UI controls for this would be useful for her.

These can all use the same date-range scope (which does not yet exist, I think?) and just have pre-calculated values for those cont

[2017-05-12 16:49] armahillo opened #9 "User can edit/remove inventory count from any category"
From Rachel:

incorrectly, not caught until later, then needs to be removed from inventory.

The big concern, for data integrity, is that there is some kind of audit record for the change.

There are a few different ways this could be approached -- if it were possible to adjust the erroneous donation, (via `Donation#Edit`) then the existing audit trail is preserved, although I suspect that this wi

[2017-05-12 16:51] armahillo opened #10 "All drop-down lists should be alphabetized"
From Rachel:

This could ostensibly be addressed with a `default_scope { order(:name) }`, though test it thoroughly (w View specs, not just model scope specs) to be sure.

[2017-05-12 16:53] armahillo opened #11 "The dasbhoard should have "current inventory summary" snapshot data"
From Rachel:

The Dashboard still needs to be re-created, so this could be addressed implicitly in that task.

[2017-05-12 16:56] armahillo opened #12 "When adding a donation with "Diaper Drive" as the source, it prompts for a Community Partner"
From Rachel

diaper drives on the receipts we’re creating

This could possibly be integrated with #4 in creating a `Source` model. Inquire with Rachel further about how the "source" field is similar or different from a "community partner".

The model should be similar to "DropoffLocation" in terms of data, and maybe both of them could just be the same model with polymorphism?

[2017-05-12 17:03] armahillo opened #13 "User can export reports"
from Rachel:

A user should be able to export a report in Excel (CSV should be fine) format at a minimum, showing whatever the user is currently seeing. They can then create charts in Excel manually.

A stretch goal for this would be to make the charts themselves downloadable somehow.

[2017-05-12 17:06] armahillo opened #14 "A tenant can put a custom logo in the masthead of the app"
From Rachel:

This will require the ability to upload images (and store them); `Paperclip` or similar should work?

[2017-05-12 17:07] armahillo opened #15 "An Administrator can create or manage tenants"
A superuser / administrator can perform CRUD tasks on tenants (spinning up new instances, managing existing ones, etc)

[2017-05-12 17:09] armahillo opened #16 "A user's use of the app is authorized to just their own tenancy"
When a user is interacting with the site, they do not see other user's data and they cannot access it by accident. Authorization enforces this privacy.

[2017-05-12 17:12] armahillo opened #17 "Users can see a dashboard with reports of aggregate data"
This functionality exists on the 2016 app ( https://github.com/rubyforgood/pdx_diaper -- `/app/admin/dashboard.rb`) and needs to be re-created on the new app.

This will be related to issues #13,  #8, and #11

[2017-05-12 19:24] armahillo opened #18 "The app is capable of supporting multiple tenants"
This app is intended to become a SaaS, and so it needs the ability to support all the core app functionality separately from other users.

[2017-05-12 19:45] armahillo opened #19 "A user can log into the site and is authorized for their instance"
self-explanatory

Probably use Devise for authentication? Maybe with OAuth and possibly some third-party authentication means?

[2017-05-12 20:08] armahillo opened #20 "When a user scans a barcode, if it doesn't exist in the system, it prompts the user to create a new entry"
This functionality existed in the previous app ( https://github.com/rubyforgood/pdx_diaper, see files: https://github.com/rubyforgood/pdx_diaper/blob/master/app/admin/barcode_item.rb and https://github.com/rubyforgood/pdx_diaper/blob/master/app/admin/donation.rb ) but needs to be re-created with the new UI / workflow.

[2017-05-12 20:09] armahillo opened #21 "A user can scan a barcode item to quickly add an item to a donation, distribution, etc."
When a user has an in-progress donation, they can add items to the donation by scanning them with a barcode. (Assume that the items have already been added to the system)

This function existed in the previous app ( https://github.com/rubyforgood/pdx_diaper/blob/master/app/admin/donation.rb ) but needs to be re-created with the new UI/workflow

[2017-05-12 20:12] armahillo opened #22 "A user can add items to a donation in progress"
When a user has an existing donation already in progress, they can add items to it (a pending test exists for this). This feature existed in the previous app ( https://github.com/rubyforgood/pdx_diaper/blob/master/app/admin/donation.rb )

[2017-05-12 20:13] armahillo opened #23 "A user can remove an item from an in-progress donation"
When a user is working with a donation that's in-progress, they can remove an item that is in the donation

(this feature existed in the previous app: https://github.com/rubyforgood/pdx_diaper/blob/master/app/admin/donation.rb )

[2017-05-12 20:13] armahillo opened #24 "A user can change the quantity of an item in an in-progress donation"
When working with an in-progress donation, the user can change the quantity of an item

[2017-05-12 20:15] armahillo opened #25 "A user can transfer items from one inventory to another"
There is existing functionality for this: https://github.com/rubyforgood/pdx_diaper/blob/master/app/admin/transfer.rb

This would be used when the user wants to move inventory from one storage location to a different one (but NOT when they're issuing a distribution ticket)

[2017-05-12 20:17] armahillo opened #26 "Site layout & basic navigation"
The app is set up with the Foundation 6 framework and a very basic default layout. It needs to look a bit more well put-together and have a site navigation.

[2017-05-12 20:24] armahillo opened #27 "A user can create a ticket to distribute inventory to a community partner"
This functionality existed in the previous app (https://github.com/rubyforgood/pdx_diaper/blob/master/app/admin/ticket.rb) so the model methods should be reusable.

There was some discussion about the workflow being different from the donation workflow, so some discussion should be had about how to best do this (cf. #22 and #23 and the discussion from the issue in the previous project: https://git

[2017-05-12 20:28] armahillo opened #28 "A user can print a finalized ticket (to PDF?)"
The printed ticket should probably have a manifest of the contents, the inventory it's coming from, and the partner it's being distributed to, as well as the user that prepared it (and the date?)

I don't think this feature was completed on the previous app.

Printing to PDF may not be necessary if other means are better.

[2017-05-12 20:29] armahillo opened #29 "A user can reclaim (revert) a Distribution that was already finalized"
If the user finalized a ticket (and inventory was reduced) the ticket can be "reclaimed", reversing the distribution.

This feature was previously implemented, for reference: https://github.com/rubyforgood/pdx_diaper/blob/master/app/admin/ticket.rb  The model methods still exist, I believe.

[2017-05-19 13:30] abachman commented on #15
this may be a separate `Admin` model, since they'll be managing users but not creating donations, for example.

[2017-05-19 13:39] maxtedford opened #32 "Rename tickets table to distributions"

[2017-05-19 13:39] cattywampus opened #33 "Rename holding to inventory_item"
The wording of `holding` is confusing and should be renamed so it better reflects what it represents.

[2017-05-19 13:41] abachman opened #34 "Add `Adjustment` itemizable model to manage manual inventory changes"

[2017-05-19 14:50] #33 closed

[2017-05-19 14:52] maxtedford opened #37 "Rename containers table/model to line_items"

[2017-05-19 15:00] #32 closed

[2017-05-19 15:11] cattywampus opened #39 "Populate the diaper database from a seeds script"
We need a `db/seeds.rb` script to populate the diaper database with useful records to help with development and testing

[2017-05-19 15:16] #39 closed

[2017-05-19 15:26] cattywampus opened #41 "Rename `Inventory` to `StorageLocation`"
The `Inventory` model actually represents where items are being stored, because it has a location and relates to the what (inventory items).

The actions that we would do to an inventory are really actions that would take place between facilities, or locations, such as a transfer. This enables us to treat inventory items as the inventory itself. Now a storage location can have multiple items in in

[2017-05-19 15:41] #37 closed

[2017-05-19 15:57] armahillo commented on #4
Closed by #42

[2017-05-19 15:57] #4 closed

[2017-05-19 15:58] abachman opened #44 "Lock gems at known good versions to prevent future breakage"

[2017-05-19 18:31] #41 closed

[2017-05-19 19:19] #2 closed

[2017-05-19 19:19] armahillo commented on #2
Fixed by #47

[2017-05-19 19:48] #10 closed

[2017-05-19 20:04] cattywampus opened #51 "DB Seed data doesn't include orgs and new storage location"

[2017-05-19 20:07] #51 closed

[2017-05-19 23:26] abachman opened #54 "Add title to pages"
Add
[code]
to the top of every top-level page (not partials). See [dashboard#show](https://github.com/rubyforgood/diaper/blob/master/app/views/dashboard/show.html.erb) for an example.

[2017-05-20 02:41] cattywampus commented on #34
Is this a duplicate of #9 ?

[2017-05-20 13:18] #25 closed

[2017-05-20 14:53] maxtedford opened #56 "Adding additional fields for donations of certain types"
Rachel would love it if the new donations form could include additional source information above and beyond simply the source type, i.e. if the source is a diaper drive, having an additional field to enter the specific diaper drive, or if the source is a purchase being able to enter where the purchase was made/who made it/the purchase date, etc.

This ticket will likely require some additional coo

[2017-05-20 16:34] #16 closed

[2017-05-20 17:36] armahillo commented on #34
@cattywampus yes -- I'll merge them.

[2017-05-20 17:36] #34 closed

[2017-05-20 19:15] #22 closed

[2017-05-20 19:18] maxtedford opened #64 "Fill Out CRUD Functionality for Donations"
Currently users can create donations, but there's no good way to read/edit/delete them. This ticket is to add that functionality.

One caveat: Need to make sure that deleting/editing a donation doesn't necessarily delete the records, but rather adjusts the inventory quantities.

[2017-05-20 19:51] #9 closed

[2017-05-20 19:56] danquill commented on #27
Completed by #61

[2017-05-20 19:56] #27 closed

[2017-05-20 22:52] ChetCorey opened #70 "Fix Navbar Responsive"
When the hamburger is clicked in mobile view the navbar links are displaying horizontally.
They should display in Vertical Menu list format.

[2017-05-20 23:12] ChetCorey opened #71 "New Donation create without selecting item breaks item dropdown"
To generate this bug go to new_donations_path click Create Donation without setting quantity value. It will throw errors and the item dropdown will change to a number select field. The path also redirects the url to donations_path without refreshing.

[2017-05-20 23:34] cattywampus opened #72 "Need to handle users in different timezones"
Users should be able to select their timezone so the timestamps on their data and their date range filters more accurately reflect the region they live in.

[2017-05-21 00:22] #11 closed

[2017-05-21 02:24] cattywampus opened #78 "Receipts and distributions needs to support being filed on past date"
Currently the `Donation` and `Distribution` models have a `created_at` date which is used to denote the date the object was received or issued. But in some cases the user needs to be able to file one of these events for a past date. For example, if a diaper drive happened in a past month, the staff may not have gotten to issuing it yet. So when the record is created in the system the user needs to

[2017-05-21 02:24] cattywampus commented on #78
Thought: we can call this an `issued_at` date field.

[2017-05-21 02:26] #24 closed

[2017-05-21 02:26] #23 closed

[2017-05-21 03:23] sunsheeppoplar commented on #54
Hiya, that show link is broken, unfortunately. I assume [dashboard#index](https://github.com/rubyforgood/diaper/blob/master/app/views/dashboard/index.html.erb) has the same pattern you're looking for?

[2017-05-21 04:23] sunsheeppoplar commented on #54
In any case, if no one's taken this one yet, I'll go ahead and put in a PR

[2017-05-21 06:23] #54 closed

[2017-05-21 06:38] #28 closed

[2017-05-21 06:39] cattywampus commented on #14
Let's use `paperclip`! So sayeth @armahillo

It's still a good idea.

[2017-05-21 14:34] #14 closed

[2017-05-21 15:01] danquill commented on #29
Covered by #61.

[2017-05-21 15:01] #29 closed

[2017-05-21 16:32] cattywampus opened #84 "Validation for URL on Organization needs better error messages"
If the user doesn't provide `http://` at the beginning of the url for their organization the validation fails but doesn't explain why.

We should probably make the error message more clear, and I would also recommend removing the requirement to having `http://` added by the user. Not everyone is going to thing to do this. Most people thing of websites as just the domain they know.

[2017-05-21 17:37] cattywampus opened #85 "Javascript undefined is not an object error on most pages"
Looks like the JavaScript firing on every page includes a snippet from the `distributions.coffee` that is pulling an object from the DOM and trying to call other functions on that object. In particular, this section:

[code]

Is expecting a `select#distribution_storage_location_id` to exist and then calls `data()` on it. However that control only exists on the new or edit distributions pages. This

[2017-05-22 19:06] armahillo commented on #5
@ChetCorey assigning it to you because IIRC you had something in progress -- feel free to un-assign yourself if you'd rather not work on it.

[2017-05-22 19:16] armahillo commented on #7
This can be marked complete with a Feature spec showing something like:

1. Setup the environment
2. Go to the dashboard page and confirm that a particular count is correct
3. Go to the 'Create a new donation' page
4. create a donation (manually via the form input is fine)
5. Go to the dashboard page
6. Confirm that the new total is the correct new total

If we can verify this is happening correct

[2017-05-22 19:24] armahillo commented on #12
Clarification from above --  ( @pdxdiaperbank can you verify that this is what you were asking for?)

In `Donations#new`, if the user selects "Diaper Drive" from the source menu, it should prompt them to also choose a Community Partner, so that reports can later clarify which Community partner was the source for the diaper drive. Maybe also for "Donation Pickup Location?"

Should we revisit what i

[2017-05-22 19:27] #26 closed

[2017-05-22 19:28] armahillo commented on #13
@pdxdiaperbank do you have any further ideas about what exactly you would like to be able to export? Like how would you like to use it? Is there something we could offer that's better than "take a screenshot"?

[2017-05-22 19:29] #17 closed

[2017-05-22 19:30] #18 closed

[2017-05-22 19:31] #19 closed

[2017-05-22 19:33] armahillo commented on #56
This is a duplicate of #12, but I like how it's worded here better. Closing #12 as a dupe.

[2017-05-22 19:34] #12 closed

[2017-05-22 19:36] armahillo commented on #21
IIRC didn't @cattywampus and @ChetCorey have an in-progress feature with some kind of sweet multi-modal dialog for entry? Did that get pushed to a branch at all?

[2017-05-22 19:39] armahillo commented on #70
IIRC this is because there are two navbars in the main layout and the display (`none` -> `block`) is tied to a media query. Scoping the horizontal-layout to just the wider of the two _should_ fix it I think?

I think the SASS settings also needs to be tweaked because the color was off too.

[2017-05-22 19:47] seanmarcia commented on #5
I wonder if it might make sense (speed wise) if you could skip the manual entry and just scan twice. So have a page of bar codes representing different (commonly used) number. Then they could scan the barcode for the number 20, then scan the diaper bar code. Or scan the diapers then the number barcode...

If this is something you already thought of and discussed feel free to ignore :)

[2017-05-23 01:47] armahillo commented on #84
https://ux.stackexchange.com/questions/9169/what-would-be-the-best-way-to-let-a-user-add-a-url-to-a-form

Looking around for what's current best practices for prompting for a URL -- I thought we might start by making the input type be HTML5 "url" type.

[2017-05-23 03:25] armahillo opened #87 "Static Content for the site needs to be created (Landing pages)"
Before we can launch the site, we need to have some static content created.

We should loop in @pdxdiaperbank with some suggestions about what sorts of information would be useful to include for potential tenants.

We'll also need to enumerate what static pages need to be created.

[2017-05-23 04:45] pdxdiaperbank commented on #13
@armahillo,  Are you referring to the dashboard features?

[2017-05-23 19:29] cattywampus commented on #13
I have notes about several reports that Rachel asked for. I'll write those up as new issues and link them to this. Each report should have a print button that allows it to be downloaded as a PDF.

[2017-05-23 19:29] cattywampus commented on #87
Is it still possible to get the meta team involved to help with the design of the static site?

[2017-05-23 19:54] #84 closed

[2017-05-24 13:58] armahillo opened #88 "Create seed file of EAN13 codes for known products"
Probably starting with something like this:
http://www.product-open-data.com/product-brand-list-4I3EU6.html

Create a seedfile (YAML?) of as many different products possible that can be loaded in as `BarcodeItem`s, to minimize the amount of user-entry required. Unclear how many products would need to be entered, but the more seeds we have the less manual entry users have to do.

[2017-05-24 17:50] pdxdiaperbank commented on #87
I love the idea of adding information for users! However, won't the login landing page just be the dashboard? That's what we discussed before as it will make it easier for ongoing users to manage  inventory more quickly...

[2017-05-24 18:56] armahillo commented on #87
@pdxdiaperbank The site should probably have the main home page ( http://diaperbase.com/ ) be an informational page, with a very obvious "login" button in the topright -- UNLESS the user is already logged in. We could have it automatically route logged-in users to the dashboard.

Sort of like how on Facebook if you go to "facebook.com" and you aren't signed in already, it shows you a signup form a

[2017-05-24 18:58] armahillo commented on #87
(from an email)

and then from @pdxdiaperbank

[2017-05-24 19:32] seanmarcia commented on #87
I'm a big fan of [high voltage](https://github.com/thoughtbot/high_voltage) for integrating static pages in to a rails app.

Off the top of my head I think there should probably be an:

About Page - Welcome to Diaperbase, the friendliest and easiest way to manage diaper bank inventories... Probably have a faq and getting started sections in there too.

Help Page - I'm not sure if this page should

[2017-05-24 19:44] pdxdiaperbank commented on #13
@cattywampus Thanks, Keith! Obviously, the first (most prioritized) report should be the distribution reports (ticket) to our partner agencies. But you guys probably already knew that.

[2017-05-27 17:40] armahillo commented on #56
Just spoke with @pdxdiaperbank on the phone, and here's what I think we should do:

The `donations#new` form shows a `Source` dropdown (as it does presently).

If the user chooses "Diaper Drive" it then dynamically adds another dropdown populated with a list of Diaper Drive participants (this would be a new model, `DiaperDrive`, which has name, contact name, email and/or phone, and a comment field

[2017-05-27 21:26] armahillo opened #90 "Donation::SOURCES needs a refactor"
Mentioned in #89 --

`/app/models/donation.rb` has a `SOURCES` array of strings that has the different options that can be used for the `source` field. Up til now this was mostly limited to the donations views.

With the changes in #89 though, the string literals are being referenced elsewhere. Changing the wording of the strings in SOURCES will thus have "OMGWTFBBQ" breakage. It's unlikely the ty

[2017-05-27 21:30] armahillo opened #91 "DiaperDriveParticipant needs CRUD for management"
The `DiaperDriveParticipant` model was created in #89 but does not have any management features (other than via `rails c`-fu)

Basic CRUD features should be added (maybe not "destroy"?) similar to the other community partner models. A menu item under "Community" would be a good place to put a link for it.

Model has validations already -- pretty much just the UI and Controllers needs to be created

[2017-05-27 22:34] seanmarcia commented on #8
I started on this but it appears to be already implemented unless I'm missing something.

[2017-05-27 23:23] #85 closed

[2017-05-27 23:25] #56 closed

[2017-05-27 23:58] seanmarcia opened #93 "Enforce Organization Logo Dimensions"
Currently, we don't enforce any dimensions on the uploaded logos. Consequently, if a large strangely shaped logo is uploaded it will be outside the desired area on the pdf printing. The default image is  763 x 188 pixels and we should enforce something like that to ensure consistency.

This is a pretty easy fix in paperclip if someone wants to tackle it.

Here is an example of what I'm talking abo

[2017-05-28 00:37] seanmarcia commented on #8
Recommend we close this as it is already implemented! :)

Awesome job whoever did it!

ie -

![](http://pompeii.gmu.edu/nNAHb.png)

[2017-05-28 00:57] seanmarcia commented on #15
@abachman @armahillo
I wonder if we need an Admin model or just an `admin` or `super_admin` attribute on the user model? This is my gut feel as I imagine that Rachel and people she picks will ultimately be administering this. So she'll need to create donations, distributions and all the regular stuff as well as doing the admin stuff.

I wasn't in the room so I don't know the flow of how you all en

[2017-05-28 20:16] armahillo commented on #7
I'm going to write a couple tests for this to validate it.

[2017-05-29 00:57] armahillo commented on #7
Fixed by #94

[2017-05-29 00:57] #7 closed

[2017-05-29 00:58] armahillo commented on #44
I'm just going to lock them down to current versions, since we know those work.

[2017-05-29 01:09] #44 closed

[2017-05-29 01:10] #8 closed

[2017-05-29 17:39] cattywampus commented on #15
I think I agree with @seanmarcia. From a workflow perspective, this seems like a new hat that someone who already has access to the system would wear, on top of their existing responsibilities. Those with admin privileges would just have the ability to manage those orgs and send out invitations for others to join those organizations.

From an implementation perspective, a separate model in Devise

[2017-05-29 18:34] cattywampus opened #96 "508 compliant color contrast in navbar"
The color scheme in the navigation bar looks awesome but the contrast ratio between the foreground and background colors are very low. The recommended practice is:

For links in our nav bar:
* white text against the baby blue background has a contrast ratio of 2.86:1 (http://webaim.org/resources/contrastchecker/?fcolor=ffffff&bcolor=0ba6cc)
* blue text for disabled/selected links against the blue

[2017-05-29 18:37] armahillo commented on #70
Fixed by #95

[2017-05-29 18:37] #70 closed

[2017-05-29 18:44] armahillo commented on #15
Unless the model for the admin user is going to be very different functionally, I'm good with just doing a field attribute -- that seems simplest. We can refactor into STI or something later if necessary.

[2017-05-29 19:13] cattywampus opened #97 "What are the guidelines for displaying organization logos?"
Allowing users to see their organization logo as they use DiaperBase is very important. But I think we need to hash out the practice for how we want to display those logos so they are clean and fit well into the design of the site and reports. Specifically, we need:

  1. Practical dimensions for resizing logos to different dimensions (see issue #93). What sizes should we resize too and when shoul

[2017-05-29 22:54] seanmarcia commented on #97
I agree with pretty much all of Keith's comments despite the fact that Keith made them. ;)
With regards to the printed pdf files I'm not sure that the DiaperBase logo should be the default logo if an organization doesn't have one. I think it might make more sense, and keep the diaperbase logo visible even when an organization logo does exist, to insert something into the pdf footers. Maybe somethi

[2017-05-30 00:57] armahillo commented on #90
Fixed by #99

[2017-05-30 01:01] #90 closed

[2017-05-30 01:16] armahillo commented on #97
I like the idea of a diaperbase logo (small) in PDFs just for branding / promotional purposes, and for keeping it in the topbar (same reason) -- the dimensions issue is a good point.

I'm in agreement with the above -- and IIRC @pdxdiaperbank was of similar mind as well. Perhaps we could have the organization logo display on the Dashboard page somewhere, since that will probably be the most freque

[2017-05-31 15:12] armahillo commented on #91
Fixed by #100

[2017-05-31 15:12] #91 closed

[2017-06-03 02:21] armahillo commented on #71
Fixed by #102

[2017-06-03 02:21] #71 closed

[2017-06-03 04:58] armahillo commented on #78
I've got this in progress over at #103 -- there is test coverage.

I also added constraints to the Dashboard#index action to actually scope down the @recent_donations and @recent_distributions collections to the provided range. Before, it was just defaulting to always doing the whole range.

[2017-06-09 16:08] danquill commented on #93
I've been playing around with this a bit and see a few different ways to handle it. Probably the most straightforward is to restrict the dimensions of the selected image, and display an informative error if the image is too large. I think this would be the most clear to a user attempting to set a logo.

Example: A user uploads an image that is 800 x 188
Output: Error, width must be less than 763px

[2017-06-09 16:21] cattywampus commented on #93
I have used RMagick and image_magick to resize user provided logos and it works really well. It also allows us to pre-determine some set widths for different types of documents and renderings and then we can scale images down to fit them.

[2017-06-09 16:25] seanmarcia commented on #93
+1 on resizing via paperclip (which does it via RMagick) :)

My reasoning is that it has the lowest barrier entry. ie - If you are an older, non-technical person running a diaper bank you may not know how to resize an image. So while the image may look distorted it wouldn't be a blocker for them. Then have something on the FAQ page about image sizes and whatnot.

[2017-06-09 17:13] armahillo commented on #93
@danquill idk how much you've used Paperclip (it's awesome!) but you can tell the post-processor to the sizing constraints, INCLUDING some additional arguments that specify how to deal with images that are not perfectly square ( https://github.com/thoughtbot/paperclip#post-processing )

Specifics on those operators: https://www.imagemagick.org/script/command-line-processing.php#geometry

the ones

[2017-06-09 18:11] danquill commented on #93
^^ I have exactly that in a branch right now, its pretty slick.

[2017-06-11 17:15] armahillo opened #105 "403 error page does not render nav correctly (non-responsive)"
To reproduce:

try to access something you shouldn't -- result should show "Stop right there!" with the navigation being very expanded

[2017-06-11 17:28] armahillo opened #106 "Site should have a different layout when the user is doing Organization administration"
When a user is managing an organization, the context is above organization-level and so the org-scoped routes and navigation don't make sense.

We need a different layout with a different navset when the user is doing administrative functions `AdminsController`.

Might as well also make a separate layout for `LandingController` as well, since that's meta-information

[2017-06-11 17:31] armahillo commented on #105
Alternately: Instead of having a 403 layout, just change all `verboten!` responses to just redirect to the landing / sign-in / dashboard page (whichever is appropriate?) with a `flash[:error]` indicating the authorization issue.

[2017-06-11 18:36] armahillo commented on #15
Fixed by #104

[2017-06-11 18:36] #15 closed

[2017-06-11 23:37] seanmarcia commented on #106
I think the PR we submitted today closes this.

[2017-06-15 00:23] seanmarcia commented on #106
Closing!

[2017-06-15 00:23] #106 closed

[2017-06-15 00:27] ewiggins commented on #105
Hey, I'm working on this from Arlington Ruby Ruby for Good Hack Night. I'll start working on this issue.

[2017-06-15 01:15] bengm commented on #87
Distilling this down to a spec as I understand it:
 - When a non-logged-in user comes to the root url, the app should show the landing page (static content with obvious login button or widget)
 - Upon successful login, the user should be routed to the dashboard page (not landing page)

[2017-06-16 14:11] seanmarcia opened #108 "Display organizational logo"
When you log in, your dashboard looks something like this:

![](https://i.imgur.com/kv27kq6.png)

After you attach a logo, the dashboard updates to include the new diaperbank logo in the navbar and on the page. As seen below:

![](https://i.imgur.com/j9ePGxb.png)

We need to update the navbar keep the diaperbase logo when an organization uploads a logo.

[2017-06-16 14:20] seanmarcia opened #109 "Add Diaperbase Logo to Distribution PDF"
We need to update our prawn pdf template we are using to create distribution pdfs to add in the diaperbase logo at the bottom with some text.

I was thinking: Lovingly Created With <diaperbaselogo.png> (the logo is obviously an image.)

![](https://i.imgur.com/xYsffQm.png)

[2017-06-16 14:21] seanmarcia commented on #97
I created two issues #108 and #109 that sum up what we talked about in here.

[2017-06-17 21:03] seanmarcia commented on #3
I'm going to take a crack at this in the next few days and since we're lucky to have the heavy lifting part of the code finished we'll just need the weights (I'll use fake weights for the time being.)

1. You click on the scale tab
2. You click on the diaper type (ie- disposable inserts), size (NB, 1, 2, 3, etc) (*)
3. You dump the diapers into a container on the scale
4. It displays how many diap

[2017-06-17 21:37] seanmarcia commented on #87
Sounds right to me. The only thing missing I think is that it should be extendable (maybe a separate issue) to add other static pages like an about, contact, and other pages.

[2017-06-17 22:06] seanmarcia commented on #96
I started on this but to get the AAA accessibility rating it requires fairly dark colours. This makes sense from a contract perspective but I feel like it loses a bit of the softness.

Here are a couple screenshots of the new colours:

![](http://pompeii.gmu.edu/ZJ0ND.png)

and

![](http://pompeii.gmu.edu/xkmdq.png)

[2017-06-18 00:51] cattywampus commented on #3
It makes sense that you don't want to reset the storage location every time. Especially for this task because if you are weight diapers then you have them at the facility you are located in (assumption). Maybe they could set it once and we can re-use that value for each subsequent bulk input. Maybe we could store it in a cookie and have it be defaulted to that value until the user changes it.

I k

[2017-06-18 19:15] pdxdiaperbank commented on #96
Sean, The design still looks great to me from what I can tell. Deeper
colors making it easier folks with visual impairments, I'm assuming? I'm a
fan of making things as accommodating as possible for all users! :)

Rachel

On Sat, Jun 17, 2017 at 3:06 PM Sean Marcia <notifications@github.com>
wrote:

--

*Thank you,Rachel AlstonExecutive Director, PDX Diaper BankP.O. Box 22613,
Portland OR 97269www

[2017-06-19 00:59] #96 closed

[2017-06-20 01:05] sunsheeppoplar commented on #13
Is this still active or was it closed with #17

[2017-06-20 01:07] sunsheeppoplar commented on #88
I wouldn't mind taking a crack at this. Do we have a better idea of what a good seed file would look like beyond the original description? @armahillo

[2017-06-20 02:16] armahillo commented on #88
@sunsheeppoplar Awesome!! There are several ways to approach this -- but I think as long as it's either (a) serialized data [YAML/JSON...] or (b) directly invoking `BarcodeItem.create` (like how `seeds.rb` works) either should be fine? Or something similar.

Do you have any ideas on how you think it should work?

[2017-06-20 02:19] armahillo commented on #93
@danquill badass :D

[2017-06-20 02:22] armahillo commented on #13
@sunsheeppoplar #17 didn't resolve this particular issue (it doesn't really allow for exporting, AFAIK) -- so if you'd like to try something out for this, have at it! See Keith (@cattywumpus's) comment above [ https://github.com/rubyforgood/diaper/issues/13#issuecomment-303506745 ].

@cattywampus If the issues you open for these features completely cover this issue, could you just close-and-commen

[2017-06-20 02:28] armahillo commented on #3
I remember this discussion as well, re: the average weight issue. @pdxdiaperbank had said that they would just get a bag of diapers, weigh them out, and then that bag would basically stay sealed until it was disbursed. So as far as the system is concerned, when they are ready to distribute that bag, they'll just look at the bag, see that it says "50 diapers" and then punch that into the system as

[2017-06-20 02:30] armahillo commented on #87
@bengm @seanmarcia :+1:

There's really not any reason for a logged-in user to ever see any of the landing pages, is there? Not that they should be disallowed from accessing them, just that it probably doesn't make sense to incorporate those pages into the navigation if the user is logged in (sorta like on Facebook, how "home" is just your main TL)

[2017-06-20 02:31] armahillo commented on #109
FYI (for anyone else checking in) it looks like this has in-flight work in #110

[2017-06-20 03:16] sunsheeppoplar commented on #88
I'm used to both approaches, but would probably go about it with the latter approach. Is there anyone we can ask about how many products to include?

Looking at the current seed, is it appropriate to just use `Organization.first` for each `BarcodeItem`? I assume we would want this to be available for the given organization that has elected to use the app?

Lastly, does this need to be run in a sep

[2017-06-20 03:27] sunsheeppoplar commented on #13
I couldn't find those notes, @cattywampus. I wasn't sure if I was just missing them elsewhere.

[2017-06-21 02:53] bengm commented on #87
Submitting a PR. I renamed landing->static. Now, we can add any page under app/views/static/ANYNAME.html ... and that will be available under the URL /pages/ANYNAME.

[2017-06-21 18:40] seanmarcia commented on #88
I think either a separate of throwing it in the `seeds.rb` would work. We'll need to organize the seeds file before the production deploy so if it makes sense to place it elsewhere then we can.

[2017-06-22 03:42] #87 closed

[2017-06-25 20:35] armahillo commented on #78
Fixed by #103

[2017-06-25 20:35] #78 closed

[2017-06-25 20:36] #97 closed

[2017-06-25 22:19] armahillo commented on #108
Fixed by #114

[2017-06-26 13:13] #108 closed

[2017-07-10 14:12] armahillo opened #117 "Live testing of Scale"
Rachel,

We need you to test out the scale and the easiest way to do this was to merge it into production and let you try it out. It isn't linked up to the navigation yet, so you'll need to access it directly. Here's how you do it:

1. Connect the scale to your computer
2. Turn it on
3. Open Google Chrome (you have to use this, for now)
4. Go to http://diaperbase.org and sign-in as yourself (PDXDi

[2017-07-10 14:29] armahillo commented on #117
OK it's deployed! Test anytime

[2017-07-10 15:31] seanmarcia commented on #117
@pdxdiaperbank just wanted to point out that the button doesn't do anything right now and the radio buttons are mostly for show to test that the scale works.

Assuming it works for you, we can start deploying the different diaper types and make the button work!

[2017-07-11 22:28] pdxdiaperbank commented on #117
Hi @seanmarcia and @armahillo - Sorry this has taken me so long. I had to dive into packaging up diapers the moment I got back from vacation.

When I went to the URL to access the scale, it is confusing. This is what came up:
![screenshot 2017-07-11 15 24 30](https://user-images.githubusercontent.com/20074085/28093690-5f83ebc6-664d-11e7-8efb-ddd0e28fab98.png)

It is unclear how to register the dev

[2017-07-11 23:22] seanmarcia commented on #117
Hey Rachel. Ignore all the buttons and stuff for now. This is just to test the scale.

You need to:

1) enable the experimental features.
2) click the register device and see if the scale shows up. Don't worry, we'll make it more obvious in the future that register device is a button.

[2017-07-12 14:11] armahillo opened #118 "Administrative users can create and manage organizations"
We might have these features already created, but they're not intuitively linked up to the navigation.

An administrative user should be able to create a new organization.
An administrative user should be able to manage existing organizations.

When a new organization is created, it should prompt the admin to create a new user

[2017-07-15 15:54] estefanygcd commented on #5
Hi @ChetCorey. I am a beginner in ruby and would like to help with this task. Please update me on how I can help since I am looking for a task to do for the diaper project

[2017-07-15 21:00] seanmarcia commented on #93
ping @danquill

[2017-07-15 21:12] seanmarcia commented on #118
I think most of this is already there, I'll take a look and update this with what needs to be added!

I do know that what is there will definitely need to be prettied up! On the admin index page it just shows a list of the diaper bank organizations which may at some point be unwieldy... I imagine if there are 300 diaper banks using the system that will be a pretty difficult to parse. Perhaps we sh

[2017-07-15 23:05] armahillo commented on #5
@estefanygcd Welcome aboard!!

@ChetCorey Can you commit the WIP you have so far on your branch? TY! <3

[2017-07-19 00:43] seanmarcia commented on #3
I think we should close this since we have 2 issues for this. This one and the one for the testing/updating.

[2017-07-19 00:45] armahillo commented on #3
Merging this into #117

[2017-07-19 00:45] #3 closed

[2017-07-19 00:45] armahillo commented on #117
From #3

A user should be able to add loose inventory via weighing the product on a scale. Here are the notes from the previous year:

You click on the scale tab
You click on the diaper type (ie- disposable inserts), size (NB, 1, 2, 3, etc) (*)
You dump the diapers into a container on the scale
It displays how many diapers are in the container (ie - 82 diapers)
You then click "Add to Inventory" an

[2017-07-19 00:48] armahillo commented on #13
@cattywampus Do you have those notes handy that you could upload to this?

[2017-07-19 01:12] seanmarcia commented on #109
Woo hoo! @cattywampus's PR completed this! :)

[2017-07-19 01:13] armahillo commented on #109
Fixed by #110

[2017-07-19 01:13] #109 closed

[2017-07-19 01:14] armahillo commented on #105
@ewiggins Awesome! Were yo uable to push up your progress? Even if it's incomplete others can pick up on it :)

[2017-07-19 02:55] ewiggins commented on #105
Hey Aaron, I wasn't able to get up and running that night so I didn't get
to work on it. :( If someone else does, feel free, but I can pick it up
again.

On Jul 18, 2017 9:14 PM, "Aaron H" <notifications@github.com> wrote:

[2017-07-19 03:28] ElishebaW commented on #105
@armahillo When do you guys meet on Sundays?

[2017-07-19 15:50] armahillo commented on #105
@ewiggins @ElishebaW We're going to meet up, online, this Sunday to do a code jam. Are you both in the RFG Slack channel? https://rubyforgood.herokuapp.com/  If you can join up, join the #diaper_saas channel and we can coordinate meetup info. I'm trying to organize a weekly (ideally) codejam on sundays so we can push for the MVP deadline of 1 Sept.

Thanks for your interest! Excited to get you goi

[2017-07-20 05:25] pdxdiaperbank commented on #117
@armahillo,
My scale isn't functioning, won't turn on. Ugh, sorry! I'll need to order a new one before I can test.... Thanks, Rachel

[2017-07-23 18:50] armahillo commented on #118
Datatables is a great idea -- I'll make an issue for that for post-MVP work

The issue here is that the account Rachel was logging in with doesn't have `organization_admin` set to true, which is why she didn't see the Admin tab in the navigation.

[2017-07-23 18:51] #118 closed

[2017-07-23 19:04] armahillo commented on #21
Merging in #6
[code]

[2017-07-23 19:04] #6 closed

[2017-07-23 19:05] armahillo commented on #21
This should *probably* be created as a concern since the functionality will almost certainly be the same for each of the three approaches (ie. it's really a `LineItem` issue and not a `Donation`/`Distribution`/etc issue)

[2017-07-28 17:44] slague commented on #105
Hi, I found your project through Ruby for Good, and really like the concept.  As a way to get familiar with the code base, I recreated one of the bugs. I was able to recreate this bug and documented it.  I followed the steps to clone the repo and set up the database. I ran the app in localhost and logged in as test2@example.com.  I then tried to visit two end points: `/admins` and `/admins/invite_

[2017-07-28 18:20] armahillo commented on #105
@slague Welcome! That's awesome! Do you have some thoughts on fixing it and are you wanting to? Please feel free to submit a PR if you have a working fix and me or @seanmarcia would be happy to do a code review and merge it in :)

Also -- please feel free to join #diaper_saas on The RubyforGood Slack https://rubyforgood.herokuapp.com/  I think Sean and I are doing a codejam tomorrow; if you'd like

[2017-07-29 20:04] armahillo commented on #21
WIP in #119

[2017-07-29 20:48] armahillo opened #122 "When viewing Donatinons#index, it should display the diaper drive name next to "Diaper Drive" in the total list"
To reproduce:

 1. Create a new Donation, choosing "Diaper Drive" as the source
 2. After creating, in the Donations#index view, notice that it just says "Diaper Drive" in the first column.

Desired behavior:

When viewing the Donations#index, anytime there is a Diaper Drive row, display the name of the Diaper Drive instead, with "(diaper drive)" after it. Or before it -- whatever looks best and d

[2017-07-29 21:42] seanmarcia opened #123 "Formatting fix (first of many)"
On the sign in page things are a little misaligned and need to be fixed!

It currently looks like this:
![](https://i.imgur.com/C8O1Q6U.png)
I imagine it should look something like this:
![](https://i.imgur.com/eXSfV9g.png)

[2017-07-30 01:58] armahillo commented on #93
I've merged @danquill 's changes into the `constrain-logo` branch  if anyone wants to snag this one! These changes break 4 tests, presently.

[2017-08-01 02:05] pdxdiaperbank commented on #123
Yes, love it Sean!

On Sat, Jul 29, 2017 at 2:42 PM, Sean Marcia <notifications@github.com>
wrote:

--

*Thank you,Rachel AlstonExecutive Director, PDX Diaper BankP.O. Box 22613,
Portland OR 97269www.pdxdiaperbank.org <http://www.pdxdiaperbank.org>*

*"Inspiring Hope, Health, and Happy Bottoms*"

[2017-08-02 02:30] armahillo commented on #20
Use the working branch in #119 for submissions on this.

[2017-08-02 06:02] glassjoseph commented on #105
Hi, just getting into open source and I had some thoughts on this bug. Since the user/admin navbar check is done in the view with controller params, it selects the admin nav only to then fail the authorization check.

One solution would be to make a helper method that checks authorization and and render the the navbar according to that, but then admins would only ever see the admin navbar. If that

[2017-08-02 11:23] armahillo commented on #105
Fixed by #124

[2017-08-02 16:38] seanmarcia opened #126 "Landing page"
We need an actual landing page for the site that welcomes users and tells them it is the easiest way to manage diaper bank inventories out there! Currently the landing page just says Landing Page, ie:

![](http://i.imgur.com/NhR9mkD.png)

I'm hoping our stakeholder @pdxdiaperbank can provide some insight on what she things should be there.

I've attached the awesome baby she made in case someone w

[2017-08-02 17:27] #105 closed

[2017-08-02 18:38] #93 closed

[2017-08-02 18:38] seanmarcia opened #127 "Enforce Logo Dimensions"
Reposting this so it is friendlier to jump into:

Currently, we don't enforce any dimensions on the uploaded logos. Consequently, if a large strangely shaped logo is uploaded it will be outside the desired area on the pdf printing. The default image is  763 x 188 pixels and we should enforce something like that to ensure consistency.

This is a pretty easy fix in paperclip if someone wants to tack

[2017-08-02 18:42] seanmarcia opened #128 "Fill Out CRUD Functionality for Donations"
Currently users can create donations, but there's no good way to read/edit/delete them. This ticket is to add that functionality.

One caveat: Need to make sure that deleting/editing a donation doesn't necessarily delete the records, but rather adjusts the inventory quantities.

Some work was started on this in the `mtedford/donations` branch. Feel free to use that or start from scratch!

[2017-08-02 18:42] #64 closed

[2017-08-02 19:01] seanmarcia commented on #5
Hey @estefanygcd sorry for the delay on this! Part of this is going to be addressed in #119 and will be needed before the other parts can be added in. If you are looking for other easy tasks to jump into take a look at the following: #123, #126, #127, #128

[2017-08-03 14:37] armahillo commented on #127
Please see the `constrain-logo` branch, which has in-flight work on it.

[2017-08-03 14:38] armahillo commented on #128
I believe this was started on the branch `mtedford/donations` if you need some inspriation or a starting point!

[2017-08-11 01:18] #127 closed

[2017-08-11 02:44] armahillo commented on #21
Fixed by #119

[2017-08-11 02:44] #21 closed

[2017-08-13 20:08] seanmarcia commented on #88
I've thought about this one and I think we should put this on hold.

When we pass this off for testing we should collect the various bar codes entered from the diaper banks doing the testing. We can turn those into a seed file. I imagine that there are likely a limited set of diapers used the majority of the time due to partnerships and preferences so it may not make sense to track down every esot

[2017-08-14 04:04] seanmarcia commented on #126
@pdxdiaperbank are there any open source images you, the national diaper bank, or anyone else may available that we can use to make the landing page and other public facing pages more interesting?

[2017-08-14 17:32] pdxdiaperbank commented on #126
@sean, Sure! Are you thinking a photograph to represent diaper banking as a
whole??

Rachel

On Sun, Aug 13, 2017 at 9:04 PM, Sean Marcia <notifications@github.com>
wrote:

--

*Thank you,Rachel AlstonExecutive Director, PDX Diaper BankP.O. Box 22613,
Portland OR 97269www.pdxdiaperbank.org <http://www.pdxdiaperbank.org>*

*"Inspiring Hope, Health, and Happy Bottoms*"

[2017-08-14 21:38] seanmarcia commented on #126
Yes! Plus any other in theme type photos you may have. I'm going to ask someone with more design sense than myself to take a look and I'd love to have some pictures for her to use :)

[2017-08-15 17:58] pdxdiaperbank commented on #126
Cool, will get you a few soon!

On Mon, Aug 14, 2017 at 2:38 PM, Sean Marcia <notifications@github.com>
wrote:

--

*Thank you,Rachel AlstonExecutive Director, PDX Diaper BankP.O. Box 22613,
Portland OR 97269www.pdxdiaperbank.org <http://www.pdxdiaperbank.org>*

*"Inspiring Hope, Health, and Happy Bottoms*"

[2017-08-16 17:42] #123 closed

[2017-08-16 17:43] armahillo commented on #88
Yeah I agree with you on this

[2017-08-16 20:10] #126 closed

[2017-08-18 03:02] seanmarcia opened #134 "Scope to current organization"
I was logged in as the second user (test2) and I noticed that `StorageLocation`, `DonationSite`, `PartnerAgency`, and `DiaperDriveParticipant` are not scoped to an organization.

We had this issue before and it looks like we just missed a few controllers. The `barcodes_controller` would serve as a good example. It just involves doing something like the following on the various controller actions:

[2017-08-19 18:06] seanmarcia opened #136 "Organization Item Seed"
When an admin user creates a new organization there are no items associated with the organization and it will be really painful/tedious for that new organization to enter all the category and diaper names. We should automate this.

Here's a partial list of what I'm talking about:
![](http://pompeii.gmu.edu/YZKyQ.png)

[2017-08-20 04:05] #122 closed

[2017-08-20 04:05] #128 closed

[2017-08-20 04:05] #134 closed

[2017-08-20 04:05] #136 closed

[2017-08-30 20:43] seanmarcia opened #139 "Create Organizational Intake Location"
To save time on the intake of loose diapers we should create an intake_location on the organizations. This way the users can save a step when they are using the scale rather than have the users manually select it each time since it will be the same location.

Tasks:
- [ ]  Migration to add intake_location (integer.)
- [ ] Update organization edit page to accept input for the intake_location.
- [ ]

[2017-08-30 20:52] #139 closed

[2017-09-02 19:09] #117 closed

[2017-09-03 20:34] seanmarcia commented on #13
I spoke to Rachel and we're going to put this on hold til later in the testing phase so we can get more feedback on the types of reports that would be more helpful.

[2017-09-05 17:49] pdxdiaperbank commented on #117
Hi all,

I just dropped off my kiddos for their 1st day of school so my work
schedule has officially opened up! I've got a lot of catching up to do (on
everything, eek!) but I will prioritize this. We truly appreciate all of
your hard work on this amazing project!!

Thanks,
Rachel

On Mon, Jul 10, 2017 at 7:12 AM, Aaron H <notifications@github.com> wrote:

--

*Thank you,Rachel AlstonExecutive Dir

[2017-09-19 19:14] armahillo opened #142 "Page title consistency"
1. Make sure all PAGE TITLES are consistent- Make all words start with a capital letter (with the exception of words like: a, the, it, etc.)

[2017-09-19 19:16] armahillo opened #143 "New User setup / onboarding"
A bit tedious to fish through the menu navigation to enter storage locations, etc. Any way to streamline this for new users?

- [ ] Create instructions for this
- [ ] an automated system that walks a user through the process of entering their existing storage locations, partner agencies, and donation drop-off locations

[2017-09-19 19:17] armahillo opened #144 "Change "donation sites" wording to match Diaperbanker vernacular"
Main Navigation Menu

Change “donation sites” to “Donation Drop-Off Locations” or “Donation Locations”. Although “wordier”, it is the most commonly used language among diaper bankers.

[2017-09-19 19:18] armahillo opened #145 "Streamline record creation process by prompting for new records after creating"
Adding Donation Dropoff locations:

1. After creating a new drop-off location, it takes you to a confirmation page with that site’s information…  Please ADD A BUTTON to the webpage page that says: “ADD ANOTHER DONATION SITE” or “RETURN TO DONATION SITES”. Adds guidance to user on where to go from there.

[2017-09-19 19:19] armahillo opened #146 "Create Importer Tool for existing diaper banks"
2. Consider diaper banks transitioning to DiaperBase that might currently have 50+ Donation sites: How can we expedite the set-up process? Maybe on the page where you are adding the new site, create a drop-down (+) “add multiple sites” option? Or, a way to import them from an excel spreadsheet??   ** Create same expedited process for agencies to add Partner Agencies as well

From @seanmarcia : "im

[2017-09-19 19:20] armahillo opened #147 "Map integration for adding donation site addresses"
3. RE: adding the donation site addresses. Will there be a way to pull up on a map? If so, does there need to be a certain format that the addresses are entered?

(this is a "nice to have" feature I think, so not assigned to milestone)

[2017-09-19 19:20] armahillo opened #148 "List of Donation Sites on the main donation sites page should be alphabetized"
should probably alphabetize other dataset outputs too

[2017-09-19 19:21] armahillo opened #149 "Add tooltips for menu items to facilitate UI onboarding"
Any way to create a pop up definition of certain things when you hover the mouse?? For example, if someone leaves their mouse on “Donation Drop Sites” long enough, a box would pop up saying: Business Locations that accept donations on behalf of the organization”. It sounds silly, but all of these little things will be helpful for new users

[2017-09-19 19:22] armahillo opened #150 "Add additional instruction language to form for adding new users"
A bit “clunky.” Maybe a small clarification sentence like: “Your organization can have up to X individual user accounts with unique username/logins.” Also, Question: How does this benefit the organization? Can the boss login to see what employee added what, and when??

[2017-09-19 19:23] armahillo opened #151 "List of users should include additional information to make it easier to read for admins"
When displaying the list of users in an Organization, it should require each employee/user’s name next to the login credentials. Otherwise, no way to differentiate them on the list.

[2017-09-19 19:23] armahillo opened #152 "Account settings needs the UI cleaned up, possibly merged with the "Modify Organization" page"
1. Page needs some esthetics help. Align text, etc.
2. Question: Why do we have this? Only one single email address is there? Can’t this just be combined on the Modify Organization Page? Why have this on a whole separate page? Doesn’t seem useful to user and makes things less “fluid.”

[2017-09-19 19:24] armahillo opened #153 "Organization Logo should be autoformatted when uploaded"
Adding logo much too complicated: People (myself included) hate to have to take the time to re-format their logo just for one program (and may not know how to easily do it). Can we make the website compress the logo automatically to proper format upon upload?

[2017-09-19 19:25] armahillo opened #154 "Admin Page confusion"
Very confusing. Says “Partner Agencies” at top, but then has PDX Diaper Bank’s info? Who would see/use this, just me (to add new agency users)?? If so, please add a new category on the main list, where I can see more info: Is this a diaper bank, or a diaper pantry? Easily accessible contact info for each of the businesses i.e. Org address, ED name, tele, etc.

[2017-09-19 19:26] armahillo opened #155 "Confirm that users can be added to organizations"
Tried to add a new FAKE organization. Entered the fake org info, pop up says it was added, but then it never showed up on the list of users on the Administration page. Once I can add a new FAKE user, I want to log in to see the database from a non-admin perspective.

[2017-09-19 19:27] armahillo opened #156 "Add "filters" to Transfers/Adjustments/Items/Barcodes"
- [x]  Add FILTER bar to both the “transfers” and “adjustments” pages (similar to the “items”/”barcodes” pages).
 - [x] The FILTER bar on these 4 pages should be at the top of the screen b/c once that list gets super long, nobody wants to scroll all the way to the bottom to locate/use the filter option.
 - [x] Items page filter language: change to “filter by item category” rather than just “filter

[2017-09-19 19:28] armahillo commented on #88
From @pdxdiaperbank :
```1. Priority: I’ve given this some thought and we NEED to expedite this somehow. Even if it means just taking a little more time on the project. We need to find a way to share this information among all diaper banks OR pull from a list of diaper/wipe records from the web. Something. Nobody will want to take the time to enter everything in one by one (except me) – I emailed

[2017-09-19 19:29] armahillo opened #157 "Hide Barcode items in Nav UI"
2. In my opinion, a user wouldn’t need to see a complete running list of the barcodes that they had in their system (unless they could use the somehow). Any reason to review the diaper brand/count information, or to double check whether the item is in system before entering again… If so, would need a way to search…

[2017-09-19 19:30] armahillo opened #158 "Improve Donation creation form"
- [x] Change name to “Enter New Donation”
 - [x] Rearrange line items. Doesn’t flow very well. Change order to: Issue date, source, storage location, then comment area.
 - [x] Having barcode entry right there in the list is confusing- Shouldn’t the person select what way they want to enter it first? E.g. manual entry, barcode scanning, or by weight? What if the use doesn’t want to use the barcode

[2017-09-19 19:31] armahillo opened #159 "Improve Partner creation form"
- [ ] Currently just asks for agency name and email. A contact name might be good. But, I like how simple it is! Flows well.
 - [ ] After adding an agency, it takes to you a “confirmation page” where you can see the agency that you just entered. There should be a couple navigation buttons from there: “Enter Another Partner” and “Return to Dashboard”. Otherwise, the user has to return to the main n

[2017-09-19 19:31] armahillo opened #160 "When entering via a barcode, user can enter a quantity of items instead of Booping individually"
1. Add an option to type in PCKAGE QNTY. Otherwise, if you have 25 of the same item, you have to scan it 25 times. Ugh

[2017-09-19 20:06] armahillo opened #161 "When the organization is fresh, the dashboard fails to load"
[code]

[2017-09-19 20:21] armahillo opened #162 "Universal BarcodeItems"
- [x] Make `BarcodeItem.organization_id` nullable
 - [x] Make the lookup queries for doing `BarcodeItem` lookups pull the union of records with the Org's ID and those with `nil` for that field
 - [x] Allow users to create custom barcode item entries that are just for them
 - [x] BarcodeItem#index only shows in-house barcodes (those with the orgID set to the current org)

[2017-09-19 23:47] seanmarcia commented on #153
This is done. The server didn't have imagemagick installed so it wasn't able to resize the picture. Works now! :)

[2017-09-20 01:29] #153 closed

[2017-09-20 01:31] armahillo commented on #88
OK So the new hotness is, I think (mentioned in #162 ) to seed in these EAN13 records as "universal barcodes" that would have `nil` in their `organization_id` and would be available to all. Orgs could then ALSO do their own private barcodes.

So I think we should make this one happen. It can be added to a separate file -- maybe a YAML or something? and then imported during `db:seed`

[2017-09-20 02:16] #161 closed

[2017-09-20 14:18] seanmarcia commented on #162
I'm still thinking about this one and the best way to approach it -- from both a code and UX perspective.
Some specific concerns are:
Do want to lookup items scoped to other organizations -- if no, how about if it doesn't exist on the organization or globally (`nil`)?

[2017-09-20 14:24] seanmarcia commented on #158
You mentioned that there may be a branch out there with dialog boxes for the different item types? That also seems like a nice way to arrange things :)

[2017-09-20 14:36] seanmarcia commented on #146
I'm working on this. My PR (when ready) should also close #155 and #143.

Since this is going to involve importing data should we think about using a background job? My current thought is no since I can't imagine that even with 50+ donation sites there shouldn't be much, if any, lag.

[2017-09-20 14:39] seanmarcia opened #163 "Landing Page"
I created the landing page (using a template) for diaperbase.org but someone with more domain knowledge should go through, update content, and make it more appropriate for the intended audience.

/cc @pdxdiaperbank

[2017-09-20 20:11] #5 closed

[2017-09-21 22:34] armahillo commented on #148
Fixed!
`dropoff_location`, `diaper_drive_participant`, and `partner` all sort alphabetically. There's spec coverage for each.

[2017-09-21 22:34] #148 closed

[2017-09-21 23:12] armahillo commented on #162
@seanmarcia The way I had imagined it (and feel free to disagree here if you have different ideas):

 - "Global" barcodes have an `organization_id` set to `nil`
 - "Private" barcodes (ones created internally) have an `organization_id` set

Whenever the app needs to query for `BarcodeItem`, it would do something like: `BarcodeItem.where(organization_id: nil).or(where(organization_id: current_organi

[2017-09-22 00:38] seanmarcia commented on #162
It is pretty simple to print out a barcode, it is just a font you have to install. This is something we may need to make a screencast about. (or find one on youtube!)

[2017-09-22 02:34] seanmarcia commented on #154
This was just a text fix.

[2017-09-22 02:34] #154 closed

[2017-09-23 21:07] #144 closed

[2017-09-23 23:26] armahillo commented on #151
- [] Add `name` field to user
 - [] Display `name` field in users#index

[2017-09-24 19:40] armahillo commented on #156
Was just thinking it may also make sense to make this be a sidebar instead of in the main content area? That should probably be a separate issue though I guess. I'll create it.

[2017-09-24 19:41] armahillo opened #167 "Controls (Filters etc) should be in a sidebar instead of inline in the main content area"
Mentioned in #156 -- things like filters and whatnot should be in the sidebar. Modify the layout to accept a sidebar and create a content block for it.

[2017-09-24 20:12] #156 closed

[2017-09-24 22:09] seanmarcia commented on #147
Maybe we should change how we collect the address? ie- Change it from a single field to more proper fields, like street, city, zip, etc.

[2017-09-24 22:27] seanmarcia commented on #162
I think an easier way to handle this would be to just create a new organization, call it BarCodeOrg or something and put all the EAN13 codes on it. That way we could just do `BarcodeItem.where(organization_id: Organization.find_by_name("BarCodeOrg").id).or(where(organization_id: current_organization.id))`

We probably wouldn't need that find_by_name, we could probably just hardcode it once we had

[2017-09-24 22:42] seanmarcia commented on #162
This approach will also require a fair bit less refactoring :)

[2017-09-24 23:07] #151 closed

[2017-09-24 23:15] seanmarcia commented on #152
This was fixed with your PR and the css fixes I put in.

It is all lined up on the page now:
![](https://i.imgur.com/lIRMVbh.png)

[2017-09-24 23:15] #152 closed

[2017-09-24 23:41] #145 closed

[2017-09-24 23:41] #159 closed

[2017-09-25 01:36] #149 closed

[2017-09-25 01:37] #143 closed

[2017-09-25 01:37] #146 closed

[2017-09-25 01:37] #155 closed

[2017-09-26 17:16] #167 closed

[2017-09-26 18:09] seanmarcia commented on #72
Going to close this until we have a better sense of needs for this.

[2017-09-26 18:09] #72 closed

[2017-09-26 18:36] seanmarcia opened #172 "Force SSL"
After our conversation with Rachel we determined that we should enforce ssl rather than making it optional.

I think @CraigJZ said there were a few gotchas with this that he may be willing to comment on when he puts in a PR to address this issue. (See what I did there?)

[2017-10-03 17:38] #150 closed

[2017-10-04 00:37] seanmarcia opened #175 "Flash message instead of alert"
Right now when a user uses the scale functionality to add a diaper donation it lets them know they were successful with an alert message. We should probably have something a little nicer and that the user doesn't have to click to get rid of. [This is where](https://github.com/rubyforgood/diaper/blob/master/app/assets/javascripts/components/scale.jsx#L136) we are currently doing it in the react cod

[2017-10-04 00:40] jacobherrington commented on #175
I will start working on this - should have a PR soon.

[2017-10-04 00:44] seanmarcia commented on #175
Awesome! Join us in [slack](https://rubyforgood.herokuapp.com/) in the #diaper channel if you have questions!

[2017-10-04 01:32] sa77 commented on #142
@armahillo i'll be working on this issue .. will update soon with a PR.

[2017-10-04 12:46] radvc commented on #157
I created PR https://github.com/rubyforgood/diaper/pull/177, let me know if I need to add or change something. Thanks for an opportunity to contribute on your project.

[2017-10-04 12:47] radvc commented on #172
We can use Letsencrypt to get SSL certificate for free

[2017-10-04 13:31] seanmarcia commented on #172
Great minds think alike! :) We're currently using Letsencrypt on the [https](https://diaperbase.org/) version of the site but we're not forcing SSL yet so people can access it via [http](http://diaperbase.org/). initially we thought that some of the non-profits using the system may be on old software/hardware and so we wanted to offer them the choice but our stakeholder said that wasn't necessary.

[2017-10-04 13:45] #142 closed

[2017-10-05 11:23] laurenball commented on #158
Hello @armahillo! I can take this if it's still available!

[2017-10-05 12:50] armahillo commented on #158
@laurenball Go for it! Assign it to yourself and have at it :)

[2017-10-06 00:47] #175 closed

[2017-10-06 16:45] valeriecodes commented on #20
I can look at this. 🎃

[2017-10-06 23:00] #13 closed

[2017-10-06 23:00] #163 closed

[2017-10-12 00:54] #172 closed

[2017-10-14 19:48] armahillo commented on #157
Fixed by #177

[2017-10-14 19:48] #157 closed

[2017-10-14 20:02] armahillo commented on #162
I'm going to do a few things with this to start with. Need to get some PRs in and this is a good opportunity!

[2017-10-14 21:47] seanmarcia commented on #162
Instead of the task `Allow users to create custom barcode item entries that are just for them` how about `Allow users to set barcode item entries as unique to them or global (nil)`

I also wonder if we are going with this approach of having `universal` barcodes if we should have removed the ability to see bar codes. I think one of the strong advantages of the system is being able to create custom

[2017-10-17 16:01] seanmarcia opened #195 "Create Barcode Seed File"
We need a seed file, either a yaml file or a plain csv would work with the following information:
upc code, corresponding item name, quantity
So if it were a csv file I imagine it would look something like:
[code]
There are sites like:
http://www.product-open-data.com/product-brand-list-4I3EU6.html
http://www.grocerypricebooks.com/?s=pampers&submit=Go
and others but this task will likely require b

[2017-10-19 09:29] shishir127 commented on #160
I am willing to take a look at this, but I'm not able to figure out where the change needs to be made. Can someone please guide me for this.

1. What's the use-case here? Sorry if this sounds like a stupid question, I have no idea what this app does. I'm guessing that someone wants diapers and those diapers will be deducted from inventory?
2. Which API does this barcode scanner invoke?

[2017-10-19 16:19] seanmarcia commented on #160
Hey @shishir127! Awesome you are interested in helping.

To answer your questions:
1) This app is used by Diaper Banks as an inventory management system that lets users use a bar code scanner to improve efficiency. So you know, bar code scanners are just recognized as external keyboards that enter in a bar code (usually 13 digit number) and then hits enter. You can simulate this by manually typing

[2017-10-19 18:21] shishir127 commented on #160
@seanmarcia Thanks a lot for explaining this!

So a line item for item X with quantity Y has already been added. And a second line item for the same item X is added before submitting the form. Then we need to prompt the user with a dialog box for some number n. Then we collapse the duplicate line item onto the original one? So finally we'll have a line item for item X with quantity (Y*n). Did I ge

[2017-10-19 18:30] seanmarcia commented on #160
Yep, that is exactly right!

[2017-10-26 13:31] armahillo commented on #162
I like it. That sounds good :) We could add some validation that just checks to see if that particular UPC has already been made global. Or maybe a DB unique constraint on UPC + organization_id? Would that fly for NULL values in organization_id?

As it was (the BarcodeItems#index view and all that) I think it was superfluous information as it was displayed. I definitely do agree creating custom ba

[2017-10-27 19:30] seanmarcia opened #196 "Migrate tests to use factory_bot"
Thoughtbot recently changed `factory_girl` to `factory_bot` and we need to update our Gemfile and tests to reflect this!

More information on the change can be found here: https://robots.thoughtbot.com/factory_bot

[2017-10-27 19:32] mcshakes commented on #195
@seanmarcia Hey! I'll take this if available, and build a scraper (or find the one I built back in the day)

[2017-10-27 19:36] seanmarcia commented on #195
Awesome! It's yours!

[2017-10-27 19:41] roooodcastro commented on #196
Can I take this issue?

[2017-10-27 19:42] seanmarcia commented on #196
Definitely! Awesome, thanks!

[2017-10-28 03:23] #196 closed

[2017-10-29 15:04] armahillo commented on #162
@seanmarcia Any thoughts on the UX for adding barcodes?

My current thinking (and this may be overcomplicating) is to use the existing `barcode_items` routes. Those will automatically scope down for regular users. Same with the other CRUD actions. May need to write tests that verify access control is respected. I also think the UI needs to be improved a little bit. The numerical value really doesn

[2017-10-29 16:08] seanmarcia commented on #162
I thought the easiest solution is just keep what we have now and just add in a radio button or something like that for setting it as global (org_id: nil) or local (org_id: current_org.id)

I think this might also require checking in on issue #20 for consistency. Or we can just back-port whatever you do to what valerie adds to her PR.

[2017-10-31 15:54] armahillo commented on #162
That's a good point -- right now we just need the feature to work. we can worry about access control and stuff later.

[2017-11-27 01:40] seanmarcia commented on #195
hey @mcshakes any updates?

[2017-11-27 22:52] mcshakes commented on #195
@seanmarcia No updates, sorry about that. I took on some new projects at work and have been traveling a bunch the last few weeks. I'm hoping to work on it some more this week, but if there's a rush, feel free to give it to someone else.

[2017-12-01 01:52] mcshakes commented on #195
@seanmarcia Pretty much done now, and I have information in a CSV looking like this:

`037000262572,Pampers,Baby,Size 6,23
037000278481,Pampers,Cruisers,Size 3,31
`
(UPC code, Manufacturer, Name, Size, Quantity)

Just for clarification, any changes to the data? I was 50-50 on whether I should keep the Manufacturer; I think it adds more detail, but I guess the UPC should do the job just fine. Let m

[2017-12-01 02:55] seanmarcia commented on #195
@mcshakes Looks awesome! I think it is good to go as is. I'll probably through together a small file to parse and create barcodes from it :)

[2017-12-01 03:00] seanmarcia commented on #158
@laurenball ping!

[2017-12-01 03:01] seanmarcia commented on #160
Hey @shishir127 any updates or anything we can do to help?

[2017-12-01 04:20] mcshakes commented on #195
Sweet! Want me to clone down a fork and drop the CSV file into a specific spot?

[2017-12-01 13:44] seanmarcia commented on #195
Sounds great! How about creating a folder inside /db called /seed_data.

[2017-12-01 22:35] mcshakes commented on #195
Made the pull request! Let me know if any fixes or additional data is needed

[2017-12-03 13:29] shishir127 commented on #160
Hi @seanmarcia . I'm not very good with javascript, so I don't think I'm going to be able to work on this feature. If I can get some help and if there's some resources/code samples/other areas of the codebase I can look at for reference then I can take another shot at it. If this is something that's critical, I think you should just assign it to someone else. Extremely sorry for taking up so much

[2017-12-14 17:47] sunnycal commented on #160
Hi @shishir127 I have some javascript experience. I can help.

[2017-12-15 19:36] seanmarcia opened #204 "Partner Agencies Area Served"
Add in area served for partner agencies.
* Zipcodes and Counties
Partner agencies can serve multiple zipcodes and counties... What's the best way to do this and not have spelling errors.

[2017-12-17 22:38] seanmarcia opened #205 "Set Up New Relic Monitoring"
Now that we have multiple beta testers and for when we go live it makes sense to have monitoring of the application.

[2017-12-17 22:39] seanmarcia opened #206 "Set Up Rollbar Log Monitoring"
Now that we have multiple beta testers and for when we go live it makes sense to have logging of the application.

[2017-12-17 22:40] seanmarcia opened #207 "Rubocop?"
It probably makes sense for us to put in rubocop to start enforcing standards for us. There will likely be a fair bit of fixing that needs to be done with this.

[2017-12-17 22:41] seanmarcia commented on #204
We should talk to @pdxdiaperbank about this. Also with the client portion we are building out maybe it makes sense to have this in there.

[2017-12-17 22:45] seanmarcia commented on #160
@sunnycal I've sent you an invitation to the project! Once you accept I'll make you the assignee :)

Sorry for the delay, busy time of year!

[2017-12-18 16:24] seanmarcia opened #208 "Convert application to Bootstrap Framework with AdminLTE theme (formerly "pretty up the backend")"
The backend is "good enough" and it works but it could definitely use some cleanup.

I think there are two paths we can take on this.
1) Take what we have and incrementally improve it.
2) Grab a theme and drop it in for a quick improvement. I think something like [this](https://github.com/almasaeed2010/AdminLTE) would be a good starting point.

Anyone interested in playing with design is a good fi

[2017-12-19 02:58] pdxdiaperbank opened #209 "Create Ability to Delete User/Organization Accounts"
There is currently no way for the administrator (PDX Diaper Bank/RubyForGood) to remove organizations/users here:

![screenshot 2017-12-18 18 57 20](https://user-images.githubusercontent.com/20074085/34138610-4a225ac8-e425-11e7-9759-f22ea8853620.png)

[2017-12-19 03:40] pdxdiaperbank opened #210 "Trouble Adding New Organizations - "Create" Button Not Working"
![screenshot 1](https://user-images.githubusercontent.com/20074085/34139752-53653e74-e42b-11e7-915d-66995d7d06f1.png)

![screenshot 2](https://user-images.githubusercontent.com/20074085/34139767-696f79f0-e42b-11e7-8045-c2e24af14064.png)

[2017-12-19 16:58] #210 closed

[2017-12-21 21:08] patrickmryan commented on #207
Hey all, I just joined this project in order to improve my RoR skills.  I've run rubocop and started to address the findings.  Rubocop generated nearly 10,000 lines of output so it's going to take a while.

[2017-12-21 21:22] seanmarcia commented on #207
Thanks for taking this on! Rubocop has the ability to autofix minor things (I forget the command right now) but it might cut down that 10000 line list to something much more manageable!

[2017-12-21 21:23] seanmarcia commented on #207
Here is a link to how to auto-fix: https://github.com/bbatsov/rubocop/wiki/Automatic-Corrections

[2017-12-26 22:25] armahillo commented on #162
THIS IS DONE FINALLY AND CAN BE REVIEWED !!!!!

[2018-01-05 18:08] #162 closed

[2018-01-05 19:17] #195 closed

[2018-01-06 17:37] jacobherrington commented on #209
I'm happy to work on this @pdxdiaperbank

[2018-01-06 19:05] armahillo commented on #195
@mcshakes Thank you so much!

Could you add some instructions to either the README or somewhere relevant for how to import these? Is there a Rake task or anything? If not, we could add one.

[2018-01-06 22:45] pdxdiaperbank commented on #209
Thanks, @jacobherrington!

[2018-01-08 00:41] armahillo commented on #208
I found a comparable one that's in Foundation already -- https://foundation.zurb.com/building-blocks/kits/dashboard.html -- I'm not opposed to switching to Bootstrap if everyone else thinks that's the best path to do.

I could put together a foundation layout using these building blocks, as a test, to see how people like it?

[2018-01-09 06:32] #209 closed

[2018-01-09 23:16] jacobherrington opened #214 "Change flash notices to flash alerts?"
In some cases, when an operation fails, a notice is flashed. Notices look like this:
<img width="1277" alt="screen shot 2018-01-09 at 5 13 39 pm" src="https://user-images.githubusercontent.com/11466782/34748072-7846912a-f560-11e7-9f41-81af11d6a60e.png">

I think it would be more intuitive if a failure resulted in an alert. Alerts look like this:
<img width="1223" alt="screen shot 2018-01-09 at 5 1

[2018-01-09 23:30] jacobherrington commented on #158
@armahillo I'm happy to take a stab at this, what is an ideal flow for adding the line items?

If it were me, I'd rather not have to click any more than necessary.

[2018-01-10 02:39] SCDB opened #215 "New donation form is unintuitive with regard to dropoff_location or other donation types"
When entering a new donation, there is not an option to enter a dropoff location. Once the donation information is complete and it is added to the "all donations" page, the dropoff location field is there. I would like to be able to add drop off location when entering a new donation. Thank you!

Updated: I just did a new donation (from our pickup location) and see that that's where the dropoff fie

[2018-01-10 03:43] seanmarcia opened #216 "Create All Inventory Screen"
Megan from the Sweet Cheeks Diaper Bank noted that it isn't obvious how to see the inventory of your diaper bank.

Currently you have to click on Inventory -> Storage Locations -> then view a specific location.

We need an `all inventory screen` where it shows the totals of each type. It also probably makes sense to also have a list of the storage locations so they can view the inventories of each

[2018-01-10 19:04] jacobherrington commented on #215
I will take a look at this this evening.

[2018-01-10 19:10] armahillo commented on #215
@SCDB If you select "Donation Pickup Location", it will give you the option for selecting a Dropoff Location.

It looks like you selected "Diaper Drive", though. It sounds like this is perhaps confusing -- what would make this easier or more intuitive? :) (this is great feedback, thank you!!!)

[2018-01-10 19:11] armahillo commented on #214
@jacobherrington Sounds great! Using `flash[:notice]` is still preferable when it's not an error, but I definitely agree that errors should be `flash[:alert]` instead! You want to grab this one? If not, tag it with the "help wanted" label :)

[2018-01-11 04:04] armahillo opened #217 "When not signed in, the nav errors because current_user isn't set"
To reproduce:

Start a fresh server, go to: http://localhost:3000/users/sign_in
I get this error:

[code]
From this snippet in `app/views/layouts/application.html.erb`
[code]

[2018-01-11 04:05] armahillo commented on #217
@seanmarcia I think this might be related to the _navbar.html changes you made?

[2018-01-11 04:09] seanmarcia commented on #217
I just tried both signed in and not signed in and I couldn't replicate :(

[2018-01-11 04:31] seanmarcia commented on #217
Ah, I see! It is on the adminlte branch. Sorry about that. I'll push a fix shortly

[2018-01-11 04:39] armahillo commented on #217
ok nm it's not doing that now -- but now it's complaining about the SCSS variable $white not being set?

[2018-01-11 04:48] armahillo commented on #217
ok I cloned fresh and the error disappeared. must have been some funk getting up in my kool-aid. :) closing!

[2018-01-11 04:48] #217 closed

[2018-01-11 17:27] armahillo commented on #208
I'm cool with taking this one on :) I'm not 100% sure sticking with Foundation is the right way to go -- how has the Bootstrap conversion gone, pain-wise?

I can make the new Foundation theme work, eventually, but it's going to take some work. If Bootstrap is more straightforward and drops in place, it might be better to switch horses.

[2018-01-12 01:51] SCDB commented on #215
I think my hangup is that all of our diaper drive participants are dropping off diapers at our warehouse. So I was playing around with this a little to figure out what would make more sense to me. And I found on the editing a donation from a diaper drive that there is a place for dropoff location and it is just populated as "N/A" right now (image below). So when I'm entering new diaper drive inven

[2018-01-12 20:08] #214 closed

[2018-01-12 22:17] IlinDmitry commented on #216
I'll try this

[2018-01-15 01:28] seanmarcia commented on #206
I setup bugsnag instead of Rollbar due to familiarity but am happy to switch.

[2018-01-15 01:28] #206 closed

[2018-01-15 01:29] seanmarcia commented on #208
Hey, significant progress has been made in the `adminlte` branch. There are about ~30 failing tests but the majority are from the test looking for foundation css for flash messages and we'll need to convert those over.

[2018-01-15 01:32] seanmarcia commented on #158
Hey @jacobherrington, we'd absolutely love any help on this!

Currently if the diaper bank uses a bar code reader and they scan in a bar code it will automatically (thanks to some JS) enter and ready a new line item that they can scan in again.

The issue is that the line items are kind of clunky and can use some styling. I don't know if we have a good suggestion for the best way to proceed and I'

[2018-01-15 02:02] #205 closed

[2018-01-18 01:08] seanmarcia opened #222 "Update Controllers"
Several of our controllers are not running save checks and failing to give notifications on `create` and `update` actions.
A quick scan showed the following controllers could use updating:
`barcode_items_controller`
`diaper_drive_participants_controller`
`dropoff_locations_controller`
`items_controller`
`partners_controller`
`storage_locations_controller`

[2018-01-18 12:58] IlinDmitry commented on #222
@seanmarcia, i saw you added some code from my previous pull request to [https://github.com/rubyforgood/diaper/tree/adminlte](url)
Should i close it?

[2018-01-18 16:15] seanmarcia commented on #222
No, please don't! That branch is to demo a new theme (that we may or may not use) to our stakeholders.

[2018-01-18 18:54] jacobherrington commented on #158
@seanmarcia that sounds great. I'll get to work on it this weekend.

[2018-01-18 19:56] seanmarcia commented on #222
Thanks!

[2018-01-18 19:56] #222 closed

[2018-01-18 19:58] seanmarcia commented on #216
Closed with PR #221

[2018-01-18 19:58] #216 closed

[2018-01-18 20:01] armahillo opened #223 "When a user deletes an Item, it messes up the Scale_values view"
Brief:

When a user deleted an item from their Items list, it made this error:

[code]

This shouldn't happen. Users should be able to delete their own items.

[2018-01-19 14:58] seanmarcia commented on #223
We should ask @pdxdiaperbank about this. I understood that this list of 11 diaper types to be the industry standard types. Which leaves me with 2 questions after this error:
1) Did the @SCDB delete the item by accident if so we should probably prevent core items from being deleted.
2) Are more than these 11 item types? If so, we should probably consider a more dynamic solution and break the weight

[2018-01-20 17:18] armahillo commented on #208
I'm on board with the Bootstrap direction. Going to work on getting this stuff resolved so we can merge back to master

[2018-01-20 18:59] seanmarcia opened #224 "Partner Creation Workflow"
* Diaper bank creates partner
* diaperbase sends a message to partnerbase telling them to create this partner in their system.
  * partnerbase will return the partnerbase :id of that partner and diaperbase will save it as `partnerbase_id`
* Diaperbase will show the partner as `pending` until they have filled out all of their details and the diaper bank has approved them.
  * The partner will not b

[2018-01-20 20:37] armahillo opened #225 "Refactor `DropoffLocation` to be called `DonationSite` (was: Normalize Language)"
We have some anomalies in our keyword language use in the UI and these should be normalized to avoid confusion.

Example:
A button that takes you to the #show action should be labeled "View" (this is used in most places and I agree it makes more sense than "Show", which is framework jargon)

"Dropoff Locations" are sometimes called "Donation Locations" -- Perhaps @SCDB or @pdxdiaperbank can chime

[2018-01-21 01:55] SCDB commented on #225
Hi there! This is an interesting topic. When we are getting diapers from our drop-off locations that are stores in the community, we say we're "picking them up" since we have to drive to different stores. When we get donations from diaper drives we say they're being "dropped off" at our warehouse. When we're getting large semis of diapers we say they're being "delivered" to our secondary warehouse

[2018-01-21 01:58] SCDB commented on #223
We did not delete anything by accident. We were customizing the inventory list to be only things that we distribute/use right now--some things we deleted, others we modified names and others we added. We distribute Pull-Ups by gender whenever possible (pink/purple vs. blue) so we track them by size AND gender when they're coming in so we know exactly what to order and exactly what we have on hand.

[2018-01-21 02:02] SCDB commented on #215
I wanted to add that the information I'd like to be able to collect on a diaper drive participant (wherever the collection point ends up living in the system) is:
-Business Name (if applicable)
-Contact Name (if applicable)
-Address
-Email
-Phone Number
-Notes about drive

I also wouldn't want to have anything except a name mandatory to have to fill in. Sometimes we have lots of info, sometimes we

[2018-01-21 02:03] SCDB opened #226 ""Repackaged Donation" Page not loading"
Hello! I can't remember what the Repackaged Donation page is for, but I get the following error message when I try to navigate to it:
![image](https://user-images.githubusercontent.com/34867963/35190006-52e35d00-fe25-11e7-92b0-c62267521321.png)

[2018-01-21 02:06] SCDB opened #227 ""Create a new Distribution" fields are not unique to my organization"
Hi again! When I go to create a new distribution, the "Partner" and "From Storage Location" drop-down menus appear to be pulling from other organizations' options. I was expecting it to be only be partners that I've entered and my organization's storage locations. I think it would be a really critical change to make to make sure that info was unique to each organization. Thank you!

![image](https

[2018-01-21 03:30] pdxdiaperbank commented on #223
Sorry, @seanmarcia, I feel a bit in the dark about this issue as I have not seen this error message before. Those 11 items are certainly a core of the industry standards carried/distributed by diaper banks, however, it sounds like there might be more based on user feedback. Will diaper banks be able to add their own? We don't track diapers by gender like @SCDB, although that function would be supe

[2018-01-21 04:07] pdxdiaperbank commented on #225
@SCDB, I think what @armahillo is referring to is the SOURCE of the donations, rather than the means of receiving (see current options in screenshot below). Here you can track/specify where the incoming diapers are coming from. It's more about the place of origin- whether they are purchased, coming from diaper drives, donated via community businesses (PDX Diaper Bank usually calls these our "donat

[2018-01-21 20:32] seanmarcia commented on #204
Going to close this as this is part of partner agencies workflow and going to be part of the partner application.

[2018-01-21 20:32] #204 closed

[2018-01-21 20:47] seanmarcia commented on #227
Great find! Not sure how we missed this but the fix for this will be going out later today!

[2018-01-22 01:26] #227 closed

[2018-01-22 14:15] SCDB commented on #225
That makes sense @pdxdiaperbank! I think for us the donated vs. purchased is probably most important as well. I think what's throwing me off a little is that purchased supplies is listed under the Donations tab. It's not the end of the world, but there's a whole other list of stuff we're tracking with our purchased supplies--**the cost** as well as quantity, the **source** of the purchased supplie

[2018-01-22 14:16] JLBRDiaperbank opened #229 "Deleting Inventory Items"
Inventory > Items
Can these items be deleted, and later recovered (added back) if ever needed?  I don't want to delete them and never be able to get them back!
We do not distribute adult briefs, misc. supplies, etc.

![image](https://user-images.githubusercontent.com/35694202/35224937-d7ab8924-ff54-11e7-8cc1-6f1fb6b74810.png)

Thanks!!

[2018-01-22 14:18] JLBRDiaperbank opened #230 "Additional Information for Partner Agencies"
We would like the ability to enter more data for the partner agencies
- Street address, phone number, points of contact (names)

![image](https://user-images.githubusercontent.com/35694202/35225017-1e8d4ab2-ff55-11e7-9645-2a1e9ff9e03f.png)

Thanks!!

[2018-01-22 14:21] JLBRDiaperbank opened #231 "Inventory: Adjustment vs Transfer"
Let me preface by saying that we are brand new to the diaperbase platform, so I apologize in advance for all of the issue submittals.  We are really excited about the platform and already see its potential is leaps and bounds beyond where we are right now.  Thanks!

What is the difference between an ‘Adjustment’ and a ‘Transfer’?  When would an ‘Adjustment’ be utilized?  I understand a ‘Transfer’

[2018-01-22 14:24] JLBRDiaperbank opened #232 "Inventory Baseline Via Excel"
Given that we are brand new to the system, we need to create our inventory 'baseline'.

Most of our data is kept in Excel workbooks.  These contain all of our distributions, a running inventory which is separated by size and brand, etc.  Can we import an Excel Workbook into the system to create our inventory ‘baseline’?

Is there a way to import Excel workbooks for past Diaper Drives and Diaper Di

[2018-01-22 14:32] JLBRDiaperbank opened #233 "Issue Creating New Barcode Items"
Inventory > Barcode Items

- I have created a barcode for a Size 6 item.  I saved it as qty: 64.  When I navigate to the Barcode Items page, there are no barcodes listed.  In the Filter pull-down, there is a line for ‘Size 6’ now.  I click that, and click filter, and nothing shows up.
![image](https://user-images.githubusercontent.com/35694202/35225573-bea9022e-ff56-11e7-825c-a4e1b69ece36.png)

-

[2018-01-22 14:40] JLBRDiaperbank opened #234 "Inventory > Storage Locations (Inventory and Transactional Information)"
Currently, when you selection a storage location, the information provided is the item and the quantity.  I believe this is a ‘total inventory overview’.

- Can an option be added to see line item transactions with each Storage Location?
![image](https://user-images.githubusercontent.com/35694202/35226095-43101330-ff58-11e7-96f8-e81b11b09d5c.png)

Below this box, have a 'recent transactions' list

[2018-01-23 17:42] armahillo commented on #225
@SCDB What I'm hearing is that, workflow-wise, you'd prefer to have a separate intake path when purchasing inventory vs. taking it in through donations?

Instead of "pick up" vs. "dropoff" we could use a different word. I'm open to suggestions here.

`DropoffLocation` is used to reference the location where the diapers were introduced to your organization and entered into your workflow. (As oppose

[2018-01-23 19:33] pdxdiaperbank commented on #225
I think that would be great @armahillo! A separate intake path makes more sense to me too.

@SCDB, adding a vendor selection option (to attach to each transaction) probably wouldn't be too difficult. Maybe just a comment area to type it in? Would you ever need to pull up an entire list of transactions by vendor, or do you mostly just want to be able to know for that individual record who you purch

[2018-01-23 20:48] SCDB commented on #225
I think if we could input our own vendors to choose from a drop-down menu on purchases (like we do for diaper drive participants and partner agencies) that would be ideal. As we grow and start bringing in more inventory or looking at other purchasing options it might be nice to be able to easily track purchases by vendor to see where we're spending our money without having to go back and look thro

[2018-01-23 22:27] pdxdiaperbank commented on #231
As far as I know, you enter adjustments when there is some kind of
inventory discrepancy. Say you have 200 size 2's, but for some reason the
database says you have 250 (most likely fro human error entering things
incorrectly throughout the year). You would adjust the count of the items
in stock. I'm pretty sure it just removes the item from inventory. Our
current inventory management help section

[2018-01-24 14:41] armahillo opened #236 "Update Paperclip to remove potential vulnerability that was reported by Github"
[code]

[2018-01-24 15:26] armahillo commented on #208
@Megchan had requested a list of pages that needed to be cleaned up still (for parity, so we can merge), here you go! Post here if you have questions about it.

- [ ] Donations index: `/pdx_bank/donations` - Needs "View" button like the other index pages, instead of the first column being linked
- [ ] View Donation: `/pdx_bank/donations/42` (Donations -> click on one of the rows)
- [ ] Repackaged

[2018-01-24 15:43] armahillo commented on #234
@JLBRDiaperbank What I'm hearing from you is that you would like to have more historical / transactional information displayed if those transactions affect this Storage location -- does that sound right?

[2018-01-24 15:48] armahillo commented on #232
@JLBRDiaperbank
We have CSV imports (Excel can export to CSV format) for a few other areas -- maybe that would work?

If you can make it to the meeting on Friday, this would be a great thing to discuss. I'd like to know more about what your data looks like and see if we can find a way to adapt that in. I understand that preserving the historical data would be valuable! :)

[2018-01-24 15:53] armahillo commented on #231
@JLBRDiaperbank
`Adjustment` is used when a single inventory location has been manually counted and found to be out of sync. The purpose of this approach was to ensure that there's a papertrail about inventory adjustments.

You're correct about `Transfer` -- it's for internally moving inventory from one Storage location to another.

The goal for both of these things is to facilitate internal audit

[2018-01-24 15:54] seanmarcia commented on #232
This also ties directly into the Item and Scale issues/comments...

We can build an import tool but if we don't have consistency it will definitely add challenges. We'll definitely want to discuss this on Friday!

Thank you so much for all the great issues and feedback.

[2018-01-24 16:13] armahillo commented on #226
I believe this is caused by #223 -- Closing this one

[2018-01-24 16:13] #226 closed

[2018-01-24 16:14] armahillo commented on #229
Those are defaults, but you can certainly delete them and then later re-create them manually

Is that what you're asking?

[2018-01-24 16:19] armahillo commented on #230
- [ ] Add fields: Street Address, Phone Number, Contact name(s)
- [ ] Add those columns to the Partner index
- [ ] Add those fields to the Form
- [ ] Update tests

[2018-01-24 16:20] armahillo commented on #231
@JLBRDiaperbank Put another way:
***What would make Adjustments and Transfers more intuitive for you?***

That seems to be the crux here. If you weren't clear on that, then other users might also not be. Having received an explanation from PDX and I, what can we do to make these a bit clearer?

[2018-01-24 16:20] seanmarcia commented on #230
We may want to table this until after we speak on Friday. The Partner App team is going to be there and we can get a sense from them before moving on anything Partner releated.

[2018-01-25 14:41] #233 closed

[2018-01-26 13:08] IlinDmitry commented on #160
Hi all! I want to try this issue, but i'm new in javascipt.
So, i'm trying to find barcode input element by value:
`$("input[value=037000862246]").val()` and result is **undefined**
When i use `("input[type=text]").val()` result is **"037000862246"**
I tried a lot of combinations, like `$("input[type=text][value=037000862246]").val()` but still result is **undefined**
Maybe somebody knows how to f

[2018-01-26 17:12] armahillo opened #237 "Add a "Help" button that displays contextual tooltips throughout the page"
@pdxdiaperbank mentioned that it would be useful to have a toggle-able "Help" button that displays tooltips next to each field that explains what each one is for, so that users get in-page help.

[2018-01-26 17:13] armahillo opened #238 "Adjustments should allow you to increase inventories and not just decrease them"
Currently, Adjustments only allow users to decrease inventories, but we need to be able to increase them as well. This may require changes within the `Adjustment` model in addition.

[2018-01-26 17:17] armahillo opened #239 "Add ability to "hide" item rows with zero-quantities"
@SCDB has said that they would like the ability to hide item rows that have zero quantities, because these items are often things that they don't deal with, and it just clutters the screen.

We should have a button (defaulting to "hide") that allows you to display those hidden rows. I'm imagining this would be done in the View layer (apply a class to the `tr` or something?)

Be sure to check that

[2018-01-26 17:20] armahillo opened #240 "A user should be able to create a new Diaper Drive Participant as part of the New Donation workflow"
When a user is creating a new `Donation`, and they choose `DiaperDriveParticipant` -- they should have the option to create a new (unlisted) `DiaperDriveParticipant` as part of the process.

This could be done through a modal window on the page that prompts for the information, sends an XHR to create the record, and then selects it in the page. The user should not have to change pages.

[2018-01-26 17:24] armahillo commented on #225
There is some consensus among diaper banks (per the Friday call) to use `DonationSite` as the new terminology.

[2018-01-26 17:24] pdxdiaperbank commented on #225
My vote is: "Donation Sites"

[2018-01-26 17:34] armahillo opened #241 "Create Styleguide to maintain consistent UX"
I'm going to create a Styleguide so that new contibutors have a reference document they can use to ensure that pages are consistent and use similar patterns.

[2018-01-26 17:44] armahillo commented on #207
What's the current status of this? Is this something that could be realistically closed by end of Jan?

[2018-01-26 17:47] armahillo commented on #229
I think the solution we are going to do, for now, is to enable hiding of rows that have zero quantities. We may need an additional solution for the Items page, but for the time being I think we should avoid deleting Items if the need is just a screen clutter issue.

[2018-01-26 17:47] armahillo commented on #229
Ref #239

[2018-01-26 17:47] #229 closed

[2018-01-26 22:03] patrickmryan commented on #207
Nope. Haven't done much work on this.  My day job got in the way.  Plan to return to this in February.

[2018-01-27 02:04] jcavena commented on #207
@patrickmryan Is there a branch where you have your changes? Others could chip in.

[2018-01-27 15:50] seanmarcia commented on #158
Hey @jacobherrington just as an FYI we're getting ready to deploy our design overhaul. Take a look at the `adminlte` branch. I know it could be frustrating to get something finished and then have to redo it all so we wanted to give you a heads up.

[2018-01-27 16:44] seanmarcia opened #242 "Authorization and Roles"
Do we want to think about adding in authorization rather than the admin flag we are using?

Right now we have `organization_admin?` on the user model but maybe we should think about adding in pundit or some other gem for handling roles/authorization. I think as the application grows we're probably going to see a need for different role/access levels.

This is something we'll want to ask the differ

[2018-01-28 16:13] seanmarcia opened #243 "Deleting a Partner Agency"
I took a look at the bugsnag errors and saw that one of the errors was caused when one of the diaper banks attempted to delete a partner agency that had distributions associated with it. I *think* this is an easy fix, we just need to add `dependent: :destroy` to the `has_many :distributions` on the partner model but I think we should ask the diaper banks. (Note, this is the same logic for storage

[2018-01-29 01:10] #208 closed

[2018-01-29 02:11] seanmarcia opened #247 "Create Purchases"
Currently when you create a donation, one of the options for the source of the donation is `Purchased Supplies`.  We heard back from our beta testers that this should be its own unique category so we will need to:
- [ ] remove purchased supplies from donations
- [ ] Create a model with the fields: purchase location,  storage location (`belongs_to`), amount spent, comments, and purchase date
- [ ]

[2018-01-29 15:03] JLBRDiaperbank commented on #231
I would say that the Transfer is intuitive and definitely necessary for our organization.  It will be utilized heavily and we will be glad to have that paper trail.

I believe that the Adjustment feature is also necessary, as there needs to be a method to do a 'hard inventory' and make a correction to the electronic inventory if necessary, without having to go back through time and try and figure

[2018-01-29 15:08] JLBRDiaperbank commented on #234
That is correct!  Thank you!  If any of my comments are not clear, or their intention is not clear, please let me know and I can explain further.

This historical/transactional data can help me modify our internal process to become more efficient, and will help me be able to present data internally and be more transparent if necessary.

Thanks again!!

[2018-01-29 15:18] JLBRDiaperbank commented on #20
Yes!  This feature will be awesome!!! :)

[2018-01-29 17:48] patrickmryan commented on #207
@jcavena Hey, I have not created a branch yet.  Let me re-pull everything and see about creating a branch.

[2018-01-29 19:05] seanmarcia commented on #20
Hey @valeriecodes we haven't heard anything in a while so unless we hear from you in the next day or two we'll assume that life has gotten busy and we will reassign this!

[2018-01-29 19:08] seanmarcia commented on #160
I played around with SelectorGadget and couldn't find the element consistently either. I wonder if there is a different way to do this or if anyone else has any ideas.

[2018-01-29 19:17] seanmarcia commented on #237
Does anyone with more of a design eye want to suggest a consistent place on each page for a `Help` button?

Maybe centered in the header between `Dashboard for PDX Diaper Bank` and the the navigation breadcrumbs?

[2018-01-29 19:29] SCDB commented on #242
Right now myself and my part-time program manager are the only ones who have access to Diaper Base....because we're the only employees! :) Ideally, we will have volunteers entering incoming donations/inventory/distribution items for us eventually. I don't think there's anything that people shouldn't be allowed to see. I'll have to think on that one. It would be more that I wouldn't want volunteers

[2018-01-29 20:12] patrickmryan commented on #207
I forked the repo here -> https://github.com/patrickmryan/diaper  You can push changes there.
Please feel free to offer advice.  I'm still learning the technical practice and customs of git.

[2018-01-29 20:38] pdxdiaperbank commented on #237
@seanmarcia Can't say I'm much of a designer, but intuitively as a user I would search for a help button in the top right corner, maybe just to the left of the navigation breadcrumbs. - Rachel

[2018-01-29 21:28] seanmarcia commented on #234
@JLBRDiaperbank do you think it would make sense to do this like we do the `Items & Inventory` screen with the different tabs?
So the first tab would just be the inventory of the storage location (what you currently see), the second tab could be the stuff coming in (donations, purchases, etc) and the third tab could be stuff going out (distributions).
Does that make sense or seem like a logical wa

[2018-01-29 22:41] JLBRDiaperbank commented on #234
@seanmarcia, Yes absolutely.  That sounds like a logical way to do it, and having the separate tabs will be intuitive, as well as easy to understand (what I have, what has come, what has gone; no matter the method).

Thanks!

[2018-01-29 22:52] JLBRDiaperbank commented on #243
Speaking from our situation, we currently utilize a storage unit (small) as well as the main warehouse for diapers.  Hypothetically, If we ever stopped utilizing the storage unit, that would present a situation where a storage location would need to be deleted.  Obviously the diapers kept there would have to be moved (physically) to our other location.  They would also have to be moved on Diaper B

[2018-01-29 23:32] jcavena commented on #243
If we keep proper logs, then deleting data should not affect the history. If the logs still depend on records, we could use soft deletes and inactivate locations instead, or actual active (or not) flags.

[2018-01-29 23:45] seanmarcia commented on #20
I had a few minutes while waiting for my wife to get out of class so I took a first stab at this.

It is on the branch `barcode_modal`.

It is currently only enabled on the `new_donation` page but if this is the way we wanted to go we would just need to render the modal to whatever page we want it on. Let me know if this is what you were envisioning @armahillo and I'll clean the code up, add some

[2018-01-30 00:00] seanmarcia commented on #243
I imagine that inactive records are probably the way to go. That way, if a diaper bank were to resume using a storage location/dropoff location/partner they could just re-activate them and have the prior information immediately accessible.

[2018-01-30 00:53] JLBRDiaperbank commented on #242
I agree with @SCDB.  We only have a few people that access the site to perform administrative duties like myself.

On first thought, perhaps I could have another username/login to the site that would be for 'guests'.  These 'guests' would be other volunteers that are performing diaper drives or distributions.  Their login credentials will only allow them to see the Donations and Distribution tabs.

[2018-01-30 01:31] JLBRDiaperbank commented on #232
Unfortunately I had to drop off the call early due to a work meeting.  Was this discussed at all?

There is an import feature on one of the programs I utilize for work.  It accepts .xls files.  I originally had errors when trying to import because my format was not correct.  I got around this by exporting from the program, and seeing what format the exported workbook was in, changing my formatting

[2018-01-30 03:42] seanmarcia commented on #232
Thanks for that sheet! It really helps to see actual workflows since we (the developers) don't work at diaper banks and are learning as we go!

This is going to require more thought but here are my initial thoughts:
1) I imagine that when we do implement this we will use the `.csv` format because it is non-proprietary and all spreadsheet software (Excel on Windows, Numbers on Mac, and Calc on Linu

[2018-01-30 14:29] jcavena commented on #160
This form was confusing to me when I was first trying to use it. I thought the quantity field was for packages, not total diapers in said packages.

Are diapers always donated in unopened scannable packages? Meaning, we don't get donations of loose diapers?

If so, this form could switch to using the quantity field be for "# of packages selected in dropdown" with the quantity of diapers on the opp

[2018-01-30 15:00] SCDB commented on #242
That's a good thought on having a guest that could create potential items for us to review. I'm not sure if we'd ever be able to go back and double-check their counting (Which would waste time) but I like the idea of things needing to be approved before being put in the system by a volunteer. If that was something where after maybe a trial period and someone has proved they're not incompetent we c

[2018-01-30 15:32] hmsheirta opened #248 "Deleting inventory in adjustments is not correctly updating inventory quantities"
Hello,

 When I delete inventory due to an error or just testing it out the on hand information does not update on the dashboard screen.. For instance I deleted all of our inventory to zero and it still indicates we have 330 items on hand. Please advice.

[2018-01-30 18:17] SCDB opened #249 "Error message when adding distributions--"exceeds inventory""
Hello! We are trying to enter our January distributions so we can figure out what's needed to order for February compared to our current inventory. We're not even halfway through our list of distributions and are getting an error message when we try to create a new distribution that says:
"Distribution line items exceed the available inventory."

I don't believe this is actually true. We should ha

[2018-01-30 18:40] seanmarcia commented on #248
Hey @hmsheirta I'll try and replicate this tonight and see if I can diagnose and figure out what happened.

So, if I'm understanding, the steps you took were:
1) You checked the quantity of diapers in one of your storage locations.
2) You created an adjustment to delete/remove those diapers from your diaper bank.
3) You went to the dashboard but the dashboard still showed you as having those diape

[2018-01-30 18:52] hmsheirta commented on #248
Yeap.. thats it!

Sherita Taylor, Operations Manager
[image: Helping Mamas]
The baby supply bank of metro Atlanta and beyond.

3750 Hewatt Court, Ste. F Snellville, GA 30039
(770) 985-8010

On Tue, Jan 30, 2018 at 1:40 PM, Sean Marcia <notifications@github.com>
wrote:

[2018-01-30 19:22] armahillo commented on #249
@SCDB Can you post screenshots or provide more information about what you're trying to do? The application *does* check for available inventory, although I think it's looking at individual storage locations.

We had an automated error report come in that I think might be related, so we'll look into that too.

[2018-01-30 19:30] seanmarcia commented on #160
They are not always unopened. Sometimes they are an open package with a few missing, sometimes they are a plastic grocery bag full of diapers, and so on.

[2018-01-30 19:39] armahillo commented on #223
Ref #239

[2018-01-30 19:41] SCDB commented on #249
Ok just went through all this again and realized it was Pull-ups causing the issue. We were choosing BOY vs GIRL (which we've designated in our inventory lists) and had put all the incoming inventory into UNISEX since that's the type of pull-ups we're going to be ordering from now on. So we technically have/had the diapers, just weren't choosing the correct category. So I think this isn't actually

[2018-01-30 19:42] seanmarcia commented on #223
It the item has associated `line_items` it also messes up storage locations (and maybe other stuff too.)

[2018-01-30 20:06] armahillo commented on #231
@JLBRDiaperbank What I'm hearing is that you would like to have some kind of "Audit" workflow that perhaps assists in the process of verifying / reconciling the inventory of a storage location.

Perhaps we could call it an "Inventory Adjustment" in the menu, instead?

[2018-01-30 20:33] armahillo opened #250 "Identify models that have side effect problems when their records are deleted"
Ref #248, #249, #243, #239 (indirectly), #223, #258

Deleting stuff is causing problems. The users are doing stuff they're allowed to, there's just side effects that we didn't anticipate with how deleting individual items might affect the associations with other items.

We should review all the models for:

- Do users really need to be able to delete records
- How should deletions be handled
- Wha

[2018-01-30 20:41] SCDB opened #251 "Add fields for "distribution date" and "agency rep / pickup person" to Distributions"
I'd love to see a couple things added to the Distributions tab.
1. The ability to add a distribution date (not a date that the distribution was created--we're often entering distributions a couple days after they happen).
2. The ability to edit a distribution after it's been added into the system. Right now we can view, print, reclaim, but I can't find a way to edit.
3. It would also be nice if we

[2018-01-30 20:45] SCDB opened #252 "Inventory dropdown in LineItems blocks are showing unneeded options"
When I go to the distribution tab and go to add an inventory item on the default first line, the drop-down menu has everything duplicated. It also appears to have items that we don't distribute, so it's not the inventory items that we chose to keep in our overall list. It's not the complete original inventory list but has some items that aren't things we distribute. If I delete that first line and

[2018-01-30 21:11] armahillo commented on #251
Can you elaborate on item 2? What would you want to edit? The lack of editing was intentional because each distribution directly affects the inventories

We can definitely add the first and third items

[2018-01-30 21:18] SCDB commented on #251
I would want to be able to modify an amount of diapers we entered. If we
discovered a mistake, the alternative right now is deleting and recreating
an entire distribution instead of just adjusting one number or item.

Megan Fischer
CEO & Founder
Sweet Cheeks Diaper Bank
1615 Republic St.
Cincinnati, OH 45202
513-402-1450 Ext. 101
www.sweetcheeksdiaperbanks.org
megan@sweetcheeksdiaperbanks.org
Dona

[2018-01-30 21:27] armahillo commented on #252
@seanmarcia @jcavena
What do you think about using a component like Chosen (https://harvesthq.github.io/chosen/) for menus like these?

@SCDB Have you changed anything with what items are available or anything? I think one thing that needs to happen is that the menu shouldn't list any items that have zero quantities.

[2018-01-30 21:45] SCDB commented on #252
I haven't changed anything with inventory since the first time I added stuff (and deleted something that screwed other things up).

[2018-01-30 21:59] armahillo commented on #251
@SCDB I think there are transactional problems that might be introduced if we allow editing of Distributions, however I understand the pain of having to delete and re-create.

What if there was a final confirmation screen that ran down the distribution totals before the distribution was committed, like when you're doing a purchase on an e-commerce site, and then when you confirm the distribution T

[2018-01-30 22:06] armahillo commented on #249
OK I'm going to close this issue then -- I think the things that this issue raises are addressed by other outstanding issues

[2018-01-30 22:06] #249 closed

[2018-01-30 22:16] SCDB commented on #251
That would be a good happy medium! And we'll just try our hardest not to eff it up on the first try! :) But it would give us a chance to see if anything seemed really weird or out of the ordinary and double check first.

[2018-01-30 22:19] armahillo commented on #251
@SCDB OK Great! I will make a separate issue for that -- I think the first and third items can be managed by this one.

[2018-01-30 22:21] armahillo opened #253 "Add a final review page when creating a Distribution"
Ref #251

```What if there was a final confirmation screen that ran down the distribution totals before the distribution was committed, like when you're doing a purchase on an e-commerce site, and then when you confirm the distribution THEN it commits it to the database? Would that work?```

[2018-01-30 22:23] armahillo commented on #251
- [ ] Add a "distribution date" field (optional) to `Distribution` for when Distributions are created retroactively (I think `Donation` has a similar feature?)
- [ ] Add an "Agency Rep" or "Pickup Person" field to record who picked up the distribution ("For us it's someone from our partner agencies, for other people it might be an actual parent/client or other designated person.")

[2018-01-30 23:04] jcavena commented on #160
@seanmarcia That's ok.  I'm guessing users are already making manual adjustments to the quantity field when they get open packages.

In this versionBoth the "package" quantity, and the "diaper total" fields would remain adjustable. Changing the package quantity with a known size in the "Item Type" dropdown will re-calculate the diaper total.

If they have an open package, they would move left to r

[2018-01-31 04:22] JLBRDiaperbank commented on #231
Yes, an audit workflow would help.  We perform inventory audits with our warehouse from time to time and this would be helpful.

An "Inventory Adjustment" would make sense!

[2018-01-31 04:44] JLBRDiaperbank commented on #232
I agree with the .csv and from our standpoint, I don't think that would be an issue converting our .xlsx to .csv

I also agree that the formatting will definitely need to be standardized for the reasons you listed.

I would say that the information we will enter initially via .csv will be Diaper Drives and the 'baseline inventory'.

[2018-01-31 16:12] pdxdiaperbank commented on #251
Such great feedback!

-Rachel

On Tue, Jan 30, 2018 at 2:23 PM, Aaron H <notifications@github.com> wrote:

--

*Thank you,Rachel AlstonExecutive Director, PDX Diaper BankP.O. Box 22613,
Portland OR 97269www.pdxdiaperbank.org <http://www.pdxdiaperbank.org>*

*"Inspiring Hope, Health, and Happy Bottoms*"

[2018-01-31 16:14] pdxdiaperbank commented on #252
Thanks for posting this, @SCDB. You beat me to the punch! :)

[2018-01-31 16:21] pdxdiaperbank commented on #242
I concur. We only have two users/employees as well. And, I suppose if there is anything that we wouldn't want a user to see, we probably wouldn't give them the responsibility of duties that require logging into the program in the first place.

[2018-01-31 16:38] SCDB commented on #242
@pdxdiaperbank was kind of thinking that too--if there are any questions on reliability etc. we'd probably not give them this type of thing to do. :)

[2018-01-31 17:10] seanmarcia commented on #242
Reading all the comments, I think we should close this issue for now and then bring it back up when/if it becomes a problem. Right now it seems like we are proposing solutions for a problem that doesn't exist yet :)

[2018-01-31 22:45] #147 closed

[2018-01-31 23:30] #20 closed

[2018-01-31 23:30] #252 closed

[2018-01-31 23:46] seanmarcia commented on #248
Hey @hmsheirta I figured it out!

It looks like you deleted Item Categories, not inventory! We have a change coming that will prevent this from happening in the future! Sorry things were unclear and hopefully we'll have the fix in soon so it doesn't happen to anyone else.

I did re-add the "base" items so you are able to use the scale functionality.

[2018-02-01 11:52] jcavena commented on #225
@armahillo Should this dropdown value also change to 'Donation Site'?
![image](https://user-images.githubusercontent.com/200333/35677118-0679c2f4-0714-11e8-852c-480cdf936470.png)

[2018-02-01 13:20] JLBRDiaperbank commented on #233
I see this issue was closed, but the 'barcode items' page is still not displaying all barcodes.  I tried filtering by each size and they still are not displaying.

![image](https://user-images.githubusercontent.com/35694202/35680555-b4a2d348-0728-11e8-8abe-db9e4c98bad3.png)

Do I need to delete them, and re-do them?

Thanks!

[2018-02-01 13:26] IlinDmitry commented on #233
Yes, they were created not correctly

[2018-02-01 13:31] JLBRDiaperbank commented on #233
I am trying to delete the barcode and cannot figure it out.  There is no delete button next to the barcode, or once I click on the barcode.

![image](https://user-images.githubusercontent.com/35694202/35681006-0b1f476e-072a-11e8-84d4-1e6603c7c348.png)

![image](https://user-images.githubusercontent.com/35694202/35681017-1717be8e-072a-11e8-9525-bf970bf6bd26.png)

It appears at this time the only op

[2018-02-01 19:16] hmsheirta opened #258 "View Inventory"
Hello,

 When I go to Inventory then storage location I am not able to us the view key.. it reads an error. I am trying to see the inventory currently in our warehouse showing what I have recently entered.

[2018-02-01 19:21] armahillo commented on #258
Can you elaborate on the steps you took to do this? I'd like to recreate the problem so I can pick it apart.

Thanks!

[2018-02-01 19:26] armahillo commented on #258
Also -- have you previously deleted any items? We've been having a few bugs that have resulted from that.

[2018-02-01 19:29] hmsheirta commented on #258
Click on Inventory-->Select Storage Locations--> Screen now shows name, address and total inventory at location. To the right I can see view...click on view and an error message appears. I can't see specific inventory for this location.

We deleted all but 2 of the previous items to select as inventory and typed in 49 items we distribute for our diaper bank model...we are a diaper bank that also g

[2018-02-01 19:34] armahillo commented on #258
OK I suspect the problem was because of the deleted items -- we've been having similar problems elsewhere with that and are aware of it.

Could you elaborate more on the 49 items that you added and how they differed from the defaults?  Thanks! :)

[2018-02-01 19:38] hmsheirta commented on #258
The items that were added were things specific to our inventory such as..

Baby clothes
Hygiene items
Wash clothes
towels
 car sets
cribs
baby wipes

We distribute all things baby...in additional to wipes.

[2018-02-01 19:44] armahillo commented on #258
Awesome, thanks!

Other diaper banks have had to add some custom items too, so we're just wanting to get a pulse on that so we can adapt the application to these needs.

[2018-02-01 21:36] #160 closed

[2018-02-02 04:11] jcavena commented on #225
Only phase 1 is done. Needs a lot of work for Phase 2.

[2018-02-02 14:53] hmsheirta opened #261 "Not really an issue"
Is there anyway we can assign value to the inventory items?... for instance we value one diaper at .35. When we give items away we count the total given to an organization in dollars and cents as well. Also we total the value of our incoming as in kind donations. That number is important as well. This would eliminate us having to duplicate this information on a spreadsheet just to get a monetary v

[2018-02-02 15:26] JLBRDiaperbank commented on #253
I think the confirmation page, which would be a 'transaction summary' would be very beneficial.  One last look before it is completed.  I am a fan!

[2018-02-02 15:35] JLBRDiaperbank commented on #232
I just wanted to follow up on this and see if you needed any more information from us to discuss potential formats, or if the issue now moves into the development phase for the import tool and we wait with great anticipation :)

[2018-02-02 16:13] #236 closed

[2018-02-02 16:26] seanmarcia commented on #261
Hey @hmsheirta, awesome question! We actually meant to talk about this more at our last meeting as this is something we are planning to implement. I forget which diaper bank mentioned it but someone mentioned that the National Diaper Bank Network provides a standard value for individual diapers.

Do we want to set the value of diapers based on the value set by the NDBN or should we let diaper bank

[2018-02-02 16:45] hmsheirta commented on #261
I follow you... I say let each diaper bank set there own. The reason I say this is because of the other items that are specific to certain diaper banks. Example we distribute cribs and play yards for babies. Recently we had to do a price adjustment due to some changes here in costs. We had to adjust from what we use to pay per unit at $50 each to what we pay with a less expensive option at $37. Th

[2018-02-02 17:09] hmsheirta commented on #261
I see you mean diapers specifically...I say we all should be on one accord so still have it where each diaper bank can input there own.

[2018-02-02 17:16] #242 closed

[2018-02-02 23:22] seanmarcia commented on #158
I think with the fixes from issue #160 that was in this PR I don't know what kind of workflow improvements we still need. (https://github.com/rubyforgood/diaper/pull/256) We'd still love any ideas/suggestions!

[2018-02-02 23:31] seanmarcia opened #262 "Improve Item Index Page and Creation"
This issue combines a few issues the beta testers are having. The follow issues sum up what needs to be done.

- [ ] Don't let items be deleted (issue #223 & #248 & #258)
- [ ] Only show items on the index page that have a quantity present in a storage location (issue #239)
- [ ] Add a cost field for each item. (issue #261)
- [ ] Update the edit form to no longer let items be renamed (issue #223)

[2018-02-02 23:32] seanmarcia commented on #223
Closing because issue #262 covers this.

[2018-02-02 23:32] #223 closed

[2018-02-02 23:32] seanmarcia commented on #239
Closing because issue #262 covers this.

[2018-02-02 23:32] #239 closed

[2018-02-02 23:32] seanmarcia commented on #248
Closing because #262 resolves this.

[2018-02-02 23:32] #248 closed

[2018-02-02 23:33] seanmarcia commented on #258
Closing because #262 covers this.

[2018-02-02 23:33] #258 closed

[2018-02-02 23:33] seanmarcia commented on #261
Closing because #262 covers this.

[2018-02-02 23:33] #261 closed

[2018-02-03 02:59] seanmarcia commented on #232
Hey @JLBRDiaperbank this feature has been added. Go to a storage location without any inventory and then import the baseline inventory!

[2018-02-03 02:59] #232 closed

[2018-02-03 03:08] #225 closed

[2018-02-03 15:43] armahillo commented on #215
@SCDB -- between issue #225 (renaming Dropoff Location to Donation Site) and issue #240 (create a Diaper Drive Participant as part of the existing workflow) -- I think we're addressing all the issues you brought up in this one. Would you agree? I can close it if there isn't anything else that still needs to be handled.

[2018-02-03 15:47] armahillo commented on #240
Fields  for Diaper Drive Participants should include:

 - Diaper Drive Name (required)
 - Business Name (optional) **<-- needs to be added**
 - Contact Name (optional)
 - Address (optional) **<-- needs to be added**
 - Email (required unless phone provided)
 - Phone Number (required unless email provided)
 - Notes about drive (optional)

[2018-02-03 15:58] armahillo commented on #231
@JLBRDiaperbank OK I am adding "Rename Adjustment to Inventory Adjustment" to #238 and creating a separate issue for the Audit workflow.

[2018-02-03 15:58] armahillo commented on #238
- [ ] Rename "Adjustemnt" to "Inventory Adjustment" in UI
- [ ] Add a more explicit adding method for Inventories
- [ ] Add test coverage

[2018-02-03 15:58] #231 closed

[2018-02-03 17:02] armahillo opened #266 "Create an Audit Workflow to assist Diaperbanks in auditing their inventories"
### ** Not yet ready to be picked up --@jtu+@awwaiid **
- [ ] Create new controller action `new_audit` in `AdjustmentsController`
- [ ] Redirect to `new` unless feature flag enabled.
- [ ] Create new view `index-FLAGNAME.html.erb`

***
<del>
Currently we have the (Inventory) `Adjustment` feature which allows Diaper Banks to adjust their inventory quantities directly, while leaving an audit trail.

[2018-02-03 17:22] armahillo opened #267 "Add a method to `itemizable` concern that retrieves item ids, names, and quantities, and optionally have it exclude zero-quantity items"
There are quite a few places where it would be really useful to have item quantities next to the item names. (For example, when issuing a distribution, or doing an adjustment) This would inform the user about how much they have on-hand. In these cases, having zero-quantity of something should also be excluded (since no quantity would ever be acceptable for that line item).

In locations that invol

[2018-02-03 17:40] armahillo opened #268 "Test Hero 3 (make pending tests pass)"
There are around a dozen pending tests that should be made to pass.

Go green! :green_apple: :green_book: :green_heart:

[2018-02-03 18:31] armahillo opened #269 "DRY up `line_item_fields` view"
Currently there are 4 different partials named `line_item_fields`.

[code]

They are all identical:

[code]

Refactor this view to be under `/app/views/line_items/` and change all existing references to point to that.

[2018-02-03 18:36] armahillo opened #270 ""Add new line item" button displays more than once when the submission has an error"
# to reproduce

Go to `new_adjustment_path` (for example), and enter in invalid data with at least 2 line-items. Click "submit". Re-render of the `#new` view displays an `Add Line Item` button for each line item.

# expected behavior

`Add Line Item` should only show up one time, at the bottom of the line items.

[2018-02-03 18:40] armahillo opened #271 "`flash[:error]` is not consistently set when the `#create` action fails"
# to reproduce

Go to the `new` action for a model and intentionally fail at creating an instance. If you see a message at the top, this model is unaffected by this bug.

# expected behavior

There should be an error message displayed at the top that shows a descriptive message about what happened.

N.B. be sure to use `flash[:error]` and not `flash[:alert]` -- if you see an error message (ie. it

[2018-02-03 18:49] armahillo commented on #267
I just noticed that when the "Add new line item" button is used, it does actually retrieve the item totals with the names -- but not on the initial list for the first item. So this method might already exist.

[2018-02-03 20:26] #238 closed

[2018-02-03 20:28] #270 closed

[2018-02-03 20:32] armahillo commented on #271
Accidentally fixed by #272

[2018-02-03 20:32] #271 closed

[2018-02-05 14:37] SCDB commented on #215
Good morning @armahillo --I agree this one can be closed. Those other two issues seem to be covering everything perfectly. Thank you!

[2018-02-05 22:13] #268 closed

[2018-02-06 13:41] hmsheirta opened #275 "Enhancement ?"
Hello,

 When I update a donation it would be nice to have a date shown that way we can retrieve donations for reference if needed by when it came in...which we have to do often. Below is the list of what shows up now on that screen.

Source | Donation Site | Storage Location | Quantity of Items | Variety of Items

[2018-02-08 21:07] SCDB opened #276 "Additions to Donations main page"
Hi! As I was going through the donations page today to get some totals for January I realized a couple things would be really helpful.
1. If we could filter by either month or a date range, as well as the other fields. So if we could filter for diaper drives in January that would be really helpful. Or all incoming inventory by month.
2. It would be nice to have inventory totals at the bottom of ea

[2018-02-09 18:39] seanmarcia commented on #276
Looks like you and @hmsheirta (#275) need this! We're going to investigate the best way to implement it!

[2018-02-09 18:59] hmsheirta commented on #276
Thanks! I actually have a typo with my name...I am hmsherita! :)

Sherita Taylor, Operations Manager
[image: Helping Mamas]
The baby supply bank of metro Atlanta and beyond.

3750 Hewatt Court, Ste. F Snellville, GA 30039
(770) 985-8010

On Fri, Feb 9, 2018 at 1:39 PM, Sean Marcia <notifications@github.com>
wrote:

[2018-02-09 21:16] seanmarcia commented on #276
@hmsheirta You can change your username!
Click on the top corner
![](https://i.imgur.com/oEjKTfq.png)

* select settings
* then select `Account` from personal settings on the left
* then click the `change username` button! :)

[2018-02-12 15:48] hmsheirta commented on #276
Thanks Sean!

Sherita Taylor, Operations Manager
[image: Helping Mamas]
The baby supply bank of metro Atlanta and beyond.

3750 Hewatt Court, Ste. F Snellville, GA 30039
(770) 985-8010

On Fri, Feb 9, 2018 at 4:16 PM, Sean Marcia <notifications@github.com>
wrote:

[2018-02-13 14:25] #275 closed

[2018-02-14 15:07] SCDB opened #279 "Error on distribution page"
Hello! We were trying to enter a distribution yesterday and it defaulted to diaper rash cream and an error message. Here's what we entered:
![distribution entered](https://user-images.githubusercontent.com/34867963/36211250-ba0d88a0-116e-11e8-9831-a972c79e9683.png)

Here's what it defaulted to:
![defaulting info](https://user-images.githubusercontent.com/34867963/36211264-c4491794-116e-11e8-8bb3-3

[2018-02-15 04:00] #234 closed

[2018-02-15 11:03] IlinDmitry commented on #251
@armahillo , "Agency Rep" should be input field, like "Comment", or it should be table  "Parner Agencies" associated with "Distributions", from where user would select parent/client?

[2018-02-15 19:23] #269 closed

[2018-02-15 20:58] seanmarcia commented on #251
Hey @IlinDmitry from what I understand it should just be a text field, not an association. :)

[2018-02-16 20:37] seanmarcia commented on #279
Hey @SCDB I'm looking at this! Thank you so much for the screenshots (including the error message), they are super helpful!

I suspect I know what the problem is but I'll let you know once we dig into it!

[2018-02-18 02:27] JLBRDiaperbank opened #282 "Multiple Quantities Scanned - Doesn't Prompt Until 3rd Duplicate"
We performed a Diaper Drive utilizing the system, in real time, with the scanner.  The quantities were accurate, and everything work well (yay!), but we did notice one thing.. When we had duplicates of one item, the system did not prompt us to verify the duplicate scan until the 3rd time (see below prompt box).

![doesnt prompt until 3rd scan](https://user-images.githubusercontent.com/35694202/363

[2018-02-18 21:49] seanmarcia commented on #282
Hey @JLBRDiaperbank this is excellent that it worked well!

That is the expected behaviour and how we were told to make it work. It would be very simple to make that change but maybe we should bring this up at our next feedback session and see what everyone else thinks. I think the original comment was "We either get 1 or 2 of something or a lot of something." So the ideas was that you could scan

[2018-02-18 22:15] JLBRDiaperbank commented on #282
Yes!  It was awesome to be able to utilize it real time!  Discussing at the next session is a great idea.  That is just my experience and feelings on the interaction.  Perhaps it can just have a popup box that says "Qty:x Packs!" and goes away after 1.5 or 2 seconds?  Just so the verification of multiple scans is there, but does not require interaction on the keyboard?

When we scanned a barcode t

[2018-02-18 22:18] JLBRDiaperbank opened #283 "Utilizing Platform on iPad"
So I was feeling adventurous and tried a sample donation using my barcode scanner, connecting it via bluetooth, and accessing the website on my iPad.  The scanner did interact with the website, but I did notice that it was not recognizing some of the barcodes that were recognized when utilizing the website on a PC.  Is the website fully functional on the IOS platform?  Just a question and thought

[2018-02-19 19:34] pdxdiaperbank commented on #283
I'm so glad you tried this out! I truly hope that the use of a tablet will be any option. We have diapers stored in an upstairs area, and it would be much more convenient than carrying a laptop up and down the stairs. :)

[2018-02-19 19:43] seanmarcia commented on #283
Great question @JLBRDiaperbank! Can you give us a little more information for when we get to this?  Specifically, what browser were you using on the iPad (safari, chrome, opera, etc.) Everything *should* hopefully work if you use the chrome browser on an iPad or Android tablets. No absolutel guarantees though, we haven't fully optimized things for mobile devices yet but this is a long term goal on

[2018-02-19 19:45] seanmarcia commented on #158
Closing since I think the recent additions cover this. Feel free to re-open and submit a PR though if you have improvements!

[2018-02-19 19:45] #158 closed

[2018-02-20 01:53] JLBRDiaperbank commented on #283
I utilized Safari on my iPad.  I did not perform the 'full' inventory to test it, but only 3 out of the 5 items that I scanned (that had just previously worked on the PC) worked on the iPad, in terms of it recognizing the barcode.

[2018-02-24 16:15] seanmarcia commented on #250
I think if we add in a gem like `acts_as_paranoid` or `archivable` we could achieve the same result.

[2018-02-27 09:35] IlinDmitry commented on #247
@CraigJZ , how is going with your assignment?
@seanmarcia , maybe i can take this?

[2018-02-27 13:58] #251 closed

[2018-02-27 14:21] IlinDmitry commented on #253
hi @armahillo
I read a few topics on stackoverflow to find better solution for this issue.
i found out, that the main idea is "_Once I've given a similar task. What I've done is to save records, but not to publish_"
Do you think it's right?

[2018-02-27 14:29] seanmarcia commented on #247
@IlinDmitry you can take this if you want! I'll unassign @CraigJZ

[2018-02-27 16:18] CraigJZ commented on #247
Thanks @IlinDmitry and @seanmarcia. I've been a little tight on time the last couple weeks and don't want to hold this up since someone is willing to take it.

[2018-02-28 00:36] #243 closed

[2018-02-28 00:57] #215 closed

[2018-03-02 12:53] IlinDmitry opened #284 "inventory items, donations and update"
When "line items" in donations are updated, table "inventory item"  does not changed.
They are changing only when creating new donation.

[2018-03-02 16:47] armahillo commented on #284
can you include some instructions on the steps to reproduce this?

[2018-03-02 16:55] armahillo opened #285 "When adding a new barcode, change the checkbox to a radio button for "global" property"
Currently, the barcodeitem dialog has a checkbox "make this available to everyone" but we should have it be a radio button so that it is more explicit about what the user is opting to do.

[2018-03-02 17:04] armahillo opened #286 "BarcodeItem entry UX improvements"
When a user enters a barcode, and a prompt appears after a number of boops (2?), the prompt currently just asks for the loose number of items to be added ("Enter the quantity of items to be added").

We can improve the UX for this in two ways:

 1. Make the prompt more direct in plain language: "How many more of these packages do you have to add?"
 2. Add a field to Barcode item to "name" the item

[2018-03-02 17:35] armahillo opened #287 "Adapt "Adjustment" pattern into Distributions"
From the meeting:

We want to avoid two scenarios:

 - A partner shows up to pick up a distribution and needs more, and an additional distribution needs to be created
 - A partner shows up and needs less than originally promised, and the distribution needs to be trashed and rebuilt

We already use `adjustments` for inventories, we could probably adapt the `adjustment` model to also work with `dist

[2018-03-02 18:08] seanmarcia commented on #284
I think he is saying that when you edit/update a donation we don't run the `intake!` method on it to update the inventory items in the storage locations.

[2018-03-02 18:19] IlinDmitry commented on #284
@seanmarcia, you are right.
But intake! method will not work properly for "edit" .

[2018-03-02 20:35] dacur commented on #207
hello everyone.  i'd like to work on this.  i thought it might be a good idea to first do a PR that only includes the gem and `.rubocop.yml` config file so the maintainers could approve the configs before i make a lot of changes.  thoughts?  @seanmarcia @armahillo

also, we have it set up to automatically run rubocop after your specs run (only after all specs are passing).  thoughts on that?

than

[2018-03-03 17:56] armahillo commented on #237
I've got some ideas for this. I will take a crack at it.

[2018-03-03 19:32] seanmarcia commented on #207
I love having it run on successful spec runs. I know there are also services where we can tie it into GitHub to display rubocop results along with the test results we get from Travis-CI.

[2018-03-03 22:39] armahillo commented on #207
Yes, I think this is a great idea.

Go for it @dacur ! Ping me and Sean on the PR and we'll look over the YAML. Thanks!!

[2018-03-04 19:04] armahillo commented on #284
@IlinDmitry @seanmarcia Ah! OK I understand.

Given the new directions that this is going, it would probably make sense to refactor this slightly, maybe to make more flow-focused instead of specific action focused. (ie. `intake!` and `dispense!` methods that track the in-flow and out-flow of inventory, respectively.

If they aren't already, they should probably also be moved to the `StorageLocatio

[2018-03-05 13:41] dacur commented on #207
great, thanks for the feedback @seanmarcia @armahillo !  i'll ping you both once i have a PR up so you can review the yaml file.  😄

[2018-03-07 12:17] IlinDmitry commented on #284
There are methods intake! and remove! The main problem is not about that.

For example:

1. Create donation X: _line items: item A, quantity 10_
2. Inventory items will be: _item A, quantity 10_
3. Create donation Y: _line items: item A, quantity 5_
4. Inventory items will be: _item A, quantity 15_
5. You edit donation X: _line items: item A, quantity 20_
6. Inventory items should be: _item A, qua

[2018-03-09 19:04] dacur commented on #207
@seanmarcia @armahillo

See #290

Here's a PR for the RuboCop configs and some other related changes.  As we discussed, I thought it would be best for you to approve the configs (with any changes you'd like), then I'll lint the project and push up those fixes to the same pull request.  I thought it wouldn't be a good idea to have you merge the PR until the project is linting clean, but open to you

[2018-03-12 20:33] dacur commented on #250
This is also a feature of RuboCop, which is something I'm working on adding (see #290) and the [docs](http://www.rubydoc.info/gems/rubocop/RuboCop/Cop/Rails/HasManyOrHasOneDependent).  It will notify you, for instance, if you have a missing `dependent: destroy`.

[2018-03-14 03:39] #247 closed

[2018-03-14 14:32] dacur commented on #207
@armahillo Per our conversation in #290 , I just submitted PR #292 which continues linting on the `rubocop` branch that you created.  Only 300 offenses left!  😅

[2018-03-16 05:47] #284 closed

[2018-03-16 15:57] seanmarcia commented on #286
Hey @armahillo I think we should mark this one as blocked by however we end up fixing Items because it has implications for global/individual barcodes and their naming schemes.

[2018-03-16 16:04] armahillo commented on #286
Agreed!

[2018-03-16 16:04] armahillo commented on #286
erm..... .how does one mark an issue as "blocked" in GH?

[2018-03-16 17:24] dacur commented on #250
Relationships lacking a `dependent: something`:

Item: has_many line_items
Item: has_many inventory_items
Item: has_many barcode_items
DonationSite: has_many donations
StorageLocation: has_many inventory_items
StorageLocation: has_many donations
StorageLocation: has_many distributions
DiaperDriveParticipant has_many donations
Organization has_many adjustments
Organization has_many distributions
Or

[2018-03-16 20:56] dacur commented on #285
@armahillo I posted a first crack at this; however, hound is having an issue running on the PR.  Let me know if you have any ideas about hound or feedback, thanks 😄

[2018-03-16 21:39] jcavena commented on #285
@dacur Somehow you have the `.hound.yml` file but not the config files referenced in it.

There's a "rubocop" branch that has the `.rubocop.yml` file but I don't see the other two files referenced by `.hound.yml`.

Maybe @seanmarcia can tell us where these are?

You can also just comment out the referenced files so it runs with defaults. We can probably ignore the linter issues in your PR since th

[2018-03-16 21:54] jcavena commented on #286
@armahillo Create a big scary red label called "BLOCKED!!!"?

[2018-03-20 02:01] #253 closed

[2018-03-20 02:15] #285 closed

[2018-03-20 13:48] armahillo commented on #285
@seanmarcia Can we get @dacur added so I can assign him to issues?

[2018-03-20 14:05] seanmarcia commented on #285
I added him... You know you could have done it yourself too ;)

[2018-03-20 14:07] armahillo commented on #285
@seanmarcia I have the ability to do that???? I had no idea, haha

[2018-03-20 15:03] dacur commented on #285
Thanks @seanmarcia @armahillo , I've been enjoying working on this project with you 😄

[2018-03-20 15:19] armahillo commented on #285
There you go, @dacur -- this is officially "yours" :D

[2018-03-23 19:43] dacur commented on #207
hey @armahillo @seanmarcia , i pulled down the latest from the `rubocop` branch and i'm getting 37 failed specs - any thoughts?  i may try to pick up another issue until i hear back  😄

[2018-03-23 20:39] seanmarcia commented on #207
Hey @dacur implementing rubocop tends to break the test suite. I knocked out a few of the failing specs so we're down to 30 and under 100 rubocop violations. If you wanted to continue knocking out any of those violations and/or broken tests it would be super helpful.

[2018-03-25 22:48] JLBRDiaperbank opened #295 "Transfer Sizing"
I recently tried to do a Transfer from one of our locations to our main warehouse. When scanning the diapers that were being transferred the correct number of diapers would show up, however. all of the diapers were be categorized as Size 1 Size 2 or Size 5. I tried to click in an change the sizing manually and the Size 1 Size 2  or Size 5 were the only available options. When I submitted the trans

[2018-03-31 20:05] armahillo commented on #207
If @dacur or others would like to tackle these issues and get both `rubocop` *and* `rspec` running clean, please do so -- I've already diverted 6 hours of time towards `rubocop` and it produces `rspec` failures that were required investigation to resolve. (I'm still not sure what's up with that... it was after I did the requested `@current_organization` change)

I can't put any more time towards t

[2018-04-02 12:54] dacur commented on #207
Hey @seanmarcia @armahillo , I will try to find time this week to look at what's left.  I didn't have time over the long weekend (I was sick, actually) - I usually work on these types of things on Fridays, just FYI, since my company allows us four hours every Friday afternoon to work on anything we want. 😄

Hopefully, I can pinpoint where any failing specs are coming from, which is normally easier

[2018-04-03 16:18] seanmarcia commented on #230
Hey @sunsheeppoplar all the partner info is being moved into an external application. Will close this issue to prevent confusion!

[2018-04-03 16:18] #230 closed

[2018-04-03 16:18] #224 closed

[2018-04-03 23:52] #276 closed

[2018-04-04 23:32] seanmarcia opened #300 "Error on Transfers and Distributions"
Two diaper banks have had the errors of their line items switching all switching to a single type.

Here are a couple screenshots of it happening:

![transfer issue](https://user-images.githubusercontent.com/35694202/37880841-afe3d0d4-305c-11e8-8746-9332f53a5051.JPG)
and

![distribution entered](https://user-images.githubusercontent.com/34867963/36211250-ba0d88a0-116e-11e8-9831-a972c79e9683.png)

[2018-04-04 23:33] seanmarcia commented on #295
Created a new issue for this.

[2018-04-04 23:33] #295 closed

[2018-04-04 23:34] seanmarcia commented on #279
Created issue #300 so sum this up.

[2018-04-04 23:34] #279 closed

[2018-04-05 14:08] JLBRDiaperbank commented on #295
@seanmarcia yes, we used the bar code read for all of the scanned items.

[2018-04-15 22:39] JLBRDiaperbank opened #301 "Creating a Diaper Distribution From A Donation"
Hello all:

Has anyone come across a situation in which you inventory a diaper donation of say, 15,000 size 5s. Then during your next distribution you have an agency that requests the same number and the exact size amounts, in my example 15,000 size 5s. Is there a way to select a donation and create a distribution from it without having to re-scan all of the barcodes??

We have this situation come

[2018-04-15 23:33] JLBRDiaperbank opened #302 "Error Message When Updating Diaper Drives"
We came across a new issue when updating diaper donations. After the additional bar codes are scanned and we select the "Update Donation" button an error message appears (see below). However, if you refresh the web page and hit the back arrow, the refreshed web page includes the additional diapers.

After we identified this problem, we tested this out a few times yesterday afternoon to determine i

[2018-04-15 23:44] JLBRDiaperbank opened #303 "Question: Transitioning From Year to Year and Keeping Historical Partner Agency Information"
We will be transitioning to the 2018-2019 Junior League year on June 1st. When this transition occurs, our partner agencies sometimes change. We host an annual open house for our partner agencies and have an application process that each agency must complete before being chosen to participate as one of our partner agencies.  Some partner agencies remain active (we work with them year after year),

[2018-04-16 02:40] seanmarcia opened #304 "Creating Barcode when Missing not immediately available"
When a new barcode is entered for an item that does not exist in the system it prompts the user with a modal to create the missing barcode. After creating the barcode it is not immediately available. You need to refresh the page before you can scan and use the entered barcode. Obviously the desired solution is to have the barcode available immediately after creation.

This may be a caching issue o

[2018-04-17 00:58] #300 closed

[2018-04-17 02:04] seanmarcia commented on #237
I made an attempt at it but I wasn't able to get the gem to work. I'm going to try again next code and coffee.

[2018-04-17 02:16] sunnycal commented on #237
Hi all when is the next code and coffee? Hopefully on a Saturday?  Anywhere in MD or DC?

[2018-04-17 02:24] seanmarcia commented on #237
Yep. I'm sure it was something silly.

[2018-04-17 03:41] sunnycal commented on #237
Thanks @seanmarcia so is this Saturday's meetup location as fun as the WeWork space in DC? Free snacks?

[2018-04-17 18:04] #240 closed

[2018-04-19 00:13] #304 closed

[2018-04-19 00:14] #302 closed

[2018-04-20 16:18] #267 closed

[2018-04-20 17:49] seanmarcia commented on #250
Looks like when Rubocop gets merged in this will be taken care of.

We may want another issue about adding in soft deletes via `papertrail` or `acts_as_paranoid` but for now I'm closing this.

[2018-04-20 17:49] #250 closed

[2018-04-22 19:05] #286 closed

[2018-04-22 19:06] seanmarcia commented on #287
This was closed with #299

[2018-04-22 19:07] #287 closed

[2018-04-29 16:32] armahillo commented on #241
I think I want to defer this til the conference so we can discuss this in person

[2018-04-29 16:48] armahillo opened #310 "Rake Notes Hero: World Tour"
Resolve issues marked FIXME / TODO throughout the app right now. ~When this is finished, we'll open up another similar one to get the next round.~ Use GitHub issues to track TODO/FIXME items going forward. [Description edited by @jtu0]

[2018-04-29 16:55] armahillo opened #311 "Build a new landing page and companion static content"
- [x] Work with designers and stakeholders to build new landing page
- [x] Get appropriate quotes and information for new landing (home) page
- [x] Determine what other pages need to be created About page, faq page, contact, etc.

[2018-04-29 16:56] armahillo opened #312 "Organization Refactor to integrate with Map functionality"
Implement diaperbase map function (i.e. - map.diaperbase.org) to be a fancy Mapbox map showing all the diaperbase diaper banks on a US map.
Rather than an address field we should, at a minimum, have fields for:
Street
City
State
Zipcode

[2018-04-29 17:06] armahillo opened #313 "Update Partner Organization Page to pull details from the client application (Partnerbase)"

[2018-04-29 17:59] armahillo opened #314 "Item Refactor"
## Changes to Item

Use separate tables, not STI

- [x] Create a `CanonicalItem` type that will be replicated into `Item` on Org creation
- [x] Create a method that automates the replication (no overwrites, but no direct duplicates)
~~-- [ ] If possible, integrate existing `Item` records to work with `CanonicalItem`~~
~~~- [x] Add a universal "key" to `CanonicalItem` that can be used to universall

[2018-04-29 18:38] armahillo commented on #314
TODO: Add scopes to display `CanonicalItem` types that have been created in last 30 days and are not currently among the item types of the current user. Display those as a notification to the signed-in user so they can opt-in if they want.

[2018-04-29 19:01] seanmarcia commented on #310
If you are unfamiliar, rails has a handy built in command for listing all the TODO's and FIXME's in an application. From the command line just type `rake notes` and it will list them all.

[2018-04-30 00:40] seanmarcia opened #315 "Upgrade Ruby/Rails/Gems"
As part of the run-up to our event we should upgrade and get as much ready to go as we can. Obvious updates are:
* Ruby 2.4.2 --> 2.5.1
* Rails 5.1.4 --> 5.2.0
* ~Paperclip --> ActiveStorage~
* Plus any other gems.

As Rails 5.2 is new I'm not sure of the difficulty of this. If someone wants to take this on, in addition to the upgrade I'm sure we'd love to hear about the process and any gotchas en

[2018-05-01 01:52] armahillo commented on #315
- `loofah`
- `rails_html_sanitizer`

both have security vulnerabilities and need to be updated :)

[2018-05-01 12:56] benreyn commented on #315
I can take on the Rails and Ruby upgrades. I recently went through this proccess on another app. Gem upgrades can also be done cleanly in atomic commit via the [bummr](https://github.com/lpender/bummr) gem.

[2018-05-01 13:35] jcavena commented on #315
I would recommend waiting on Rails 5.2 until there's a 5.2.1.

[2018-05-01 16:17] seanmarcia commented on #315
I haven't used 5.2 yet (or upgraded an app) is there stuff broken or not compatible with it? Or is this just a general best practice to give them time to iron out the 5.2 kinks?

[2018-05-01 16:25] benreyn commented on #315
I think this is what @jcavena is referring to. We have been using it in production since release and have had no issues.

[2018-05-01 19:04] jcavena commented on #315
@seanmarcia I'm usually of the mind of let them work out the kinks in major/minor releases first. Don't have time to troubleshoot something that might be their bug and not mine. But if Ben wants to tackle it, then it's fine.

[2018-05-04 13:59] SCDB opened #318 "Error loading print page for distributions"
Hi there!

When I click "print" on a distribution, I get the following error message:
![image](https://user-images.githubusercontent.com/34867963/39631758-189232a4-4f81-11e8-841f-b722aad454d3.png)

It should be popping up a nice page with a recap of the order.

![image](https://user-images.githubusercontent.com/34867963/39631823-441a5640-4f81-11e8-9825-90198a57d484.png)

I got it to appear the fir

[2018-05-04 15:41] benreyn commented on #315
I wasnt planning on it. (To be honest I didnt know converting the controller tests was something we wanted to do)

[2018-05-04 15:54] seanmarcia commented on #315
I wasn't sure since I know that they are deprecating controller tests in favour of system tests...

I assumed you wouldn't be making the test changes but you know what they say happens when you assume. :)

[2018-05-04 16:01] benreyn commented on #315
We already have the `rails-controller-testing` gem installed. Didnt the controller test deprecation happen in Rails 5? 5.2 shouldnt be a change from that. If you want to migrate the controller tests though, we should probably make a separate issue for that.

[2018-05-04 16:12] seanmarcia commented on #315
Right, I know it has already happened, when I created the issue I said we should upgrade any other gems that need it. I was just confirming that since that gem was potentially something that could be upgraded (removed) and switched over to system tests you were not going to include that as part of your upgrade since it is something I was hoping to do.

Yeah, I know I'm strange for hoping to write

[2018-05-04 16:28] benreyn commented on #315
Not strange at all! In regards to gem upgrades, would you be comfortable removing the `~>` version locks in the Gemfile? (for gems that we can just use the most recent version of?)

[2018-05-05 03:11] #301 closed

[2018-05-05 15:25] seanmarcia commented on #318
Hi @SCDB! I dug into this today and we are getting an error with our pdf writing component. After *much* more time than it should have taken it turns out that this is because when creating a receipt the pdf writer was attempting to write the address of your diaper bank on the receipt but you don't have one defined for it to write so it is popping up an error!

The quickest way to fix this is to se

[2018-05-05 17:01] seanmarcia commented on #318
@SCDB I just looked and it appears you uploaded a .tif file for your logo. I think the system only accepts png/gif/jpg files. I'm not sure why it allowed that upload (yes, we've also added this to the backlog) but if you upload an image file in the other formats it should work! Sorry about this!

[2018-05-05 17:14] SCDB commented on #318
@seanmarcia I uploaded a .jpg (thanks for adding that it shouldn't allow other formats :)) and it's still getting the error message.

[2018-05-05 18:37] #318 closed

[2018-05-05 20:02] seanmarcia opened #321 "Image Validations"
As we use the organization logo as part of the prawn pdf generation we should enforce validations on the uploaded image. Prawn only supports png and jpg files natively so that is only file types that should be accepted for uploading.

[2018-05-07 13:49] SCDB opened #323 "Enhancement request: edit distributions once created"
Hi all,
Now that we've discovered the really nice "print" page/PDF available on distributions, our workflow in the warehouse is going to change a bit. Usually, we write down what orders need to be filled on paper that volunteers use to pack orders. Once an agency picks up their diapers, we use that same paper to enter the distribution into DiaperBase (so it's always accurate for exactly what was p

[2018-05-09 04:08] armahillo opened #325 "Change seeds.rb to no longer use PDX DB data"
Since Rachel intends to use the app normally, she wanted to start fresh. I created her a new account and everything, but we're still using PDXDB data in our `seeds.rb`.

Change the `seeds.rb` file to use a fictitious names and addresses, instead of PDXDB.

[2018-05-11 01:12] armahillo opened #326 "`AdminsController` currently handles CRUD for `Organization` model which is a mismatch of resource, this should be refactored"
`/app/controllers/admins_controller.rb` has CRUD actions for maintaining `Organization` records.

Instead, we should create an `admin` namespace, set up authorization there (the `User` model already has `is_super_admin?`) and then create an `organizations_controller.rb` within it that performs these actions. We can also set up Admin CRUD for `Canonicaltem`, `Users`, and `BarcodeItem`.

- [x] Creat

[2018-05-11 05:52] IlinDmitry commented on #326
Hello @armahillo! I read about [Active Admin](https://github.com/activeadmin/activeadmin).
Maybe it's fit to this task?

[2018-05-12 17:12] armahillo commented on #326
@IlinDmitry Hello!
Funny you should mention that...  That was actually what we used for the very first iteration of this project, two years ago!

I think AA would add more complexity than we need; but if you want to do this and keep it simple, basic rails scaffolds would probably be fine for the Controller/Views, so long as authorization is added. :)

[2018-05-12 17:14] armahillo commented on #325
Wait until 314 is done.

The whole seeds file needs to get revamped a bit, I think.

Since this is an SaaS, we really only need the `db/seeds.rb` file to facilitate developers and help them onboard more quickly. Once #314 is done, this can be reworked to be more focused on that.

[2018-05-12 17:26] armahillo commented on #315
I believe we're all set? If I'm missing something feel free to reopen

[2018-05-12 17:27] armahillo commented on #315
Oh wait -- we need to upgrade Rails to 5.2 still don't we.

[2018-05-13 02:31] seanmarcia commented on #315
I think @benreyn is working through the upgrade in steps. There may be more than the 5.2 upgrade left. We'll definitely need to regroup and see what else we should upgrade after 5.2 goes in (Active Storage, theme, etc)

[2018-05-14 13:25] seanmarcia commented on #315
The good folks at thoughtbot put out a paperclip to activestorage migration guide: https://github.com/thoughtbot/paperclip/blob/master/MIGRATING.md

[2018-05-14 14:06] armahillo commented on #315
Re: changing controller specs to system tests -- if you could hold off on that until #314 is done, that would be awesome; don't want to change horses midstream there. :)

[2018-05-14 14:08] seanmarcia commented on #315
Definitely plan to wait for that and for all the other upgrades to finish (Rails 5.2, activestorage, and so on)

[2018-05-14 14:10] armahillo opened #328 "Switch JS Driver to `chromedriver` from `poltergeist`"
`chromedriver` is the new hotness. Even the creator of `poltergeist` agrees.

There *is* a gem for `chromedriver-helper` that will install the `chromedriver` binaries. That is *probably* the way to go with this.

I believe you'll also need the `selenium-webdriver` gem as well.

- [ ] Add `chromedriver-helper`
- [ ] Add `selenium-webdriver`
- [ ] Configure headless chrome for JS tests in the `rails

[2018-05-14 14:12] IlinDmitry commented on #326
@armahillo, hi.
I see that `CanonicalItem` is only in your branch `314-item-refactor`.
Should i use it, or better wait untill you'll merge into `master`?

[2018-05-14 15:09] SCDB commented on #323
Good morning @armahillo! Yes, donations can be edited--that's basically the exact same thing that would work for distributions. I don't foresee needing an audit trail for it really. That workflow looks exactly right to me. Thank you!

[2018-05-14 15:18] armahillo commented on #326
Oh definitely wait until that gets merged in before using it. It's a pretty
big refactor

On Mon, May 14, 2018, 10:12 AM Dmitry <notifications@github.com> wrote:

[2018-05-15 23:48] awwaiid commented on #207
Greetings peeps! An approach that I've used for this is "ratcheting". We run `rubocop --auto-gen-config --exclude-limit 9999` which creates a `.rubocop_todo.yml` with an exception for every existing violation (and you include that in the main `.rubocop.yml`). Then you follow a strict rule: the `.rubocop_todo.yml` file is only allowed to get smaller, never larger. But at that point you have a green

[2018-05-17 17:56] ElishebaW commented on #328
@armahillo Hey, just confirming we're getting rid of Poltergeist altogether?  If so, this file `spec/support/poltergeist_hack.rb` and the README on line 81 where it mentions poltergeist can be removed.

[2018-05-17 19:42] ElishebaW commented on #313
This issue will need to be reviewed and worked on once Partnerbase is up and running.

[2018-05-17 19:43] ElishebaW commented on #241
@armahillo Did you want to discuss this with the team we develop or do you want you and I to discuss?

[2018-05-18 17:13] chiefkikio commented on #237
I'm curious why we're going with a UI for a button that triggers tooltips.  If the problem is that current tooltips (ex. login page) take too long to load to be a good experience, I'd like to suggest bootstrap tooltips. They render immediately on hover and it looks like we're already using bootstrap. It would be easy to have an info icon next to complicated fields next to the label that contain in

[2018-05-19 21:18] armahillo commented on #328
@ElishebaW yes! Good catch. That can be taken out. :)

[2018-05-19 21:27] armahillo opened #332 "Refactor `paperclip` -> `active_storage`"
`paperclip` is dead
Long live `active_storage`

@seanmarcia found: https://github.com/thoughtbot/paperclip/blob/master/MIGRATING.md

~~This should be done AFTER the rails 5.2 version upgrade is complete. ( #315  )~~

[2018-05-19 21:29] armahillo commented on #315
I've created Issue #332 for the `active_storage` conversion (this issue currently blocks that one). For this issue, just get parity with what we have now.

[2018-05-19 21:33] armahillo commented on #303
Team: (@jcavena especially)
Is this something that will become a non-issue once we integrate with PartnerBase? Might this be an issue that they might have to address in that app?

I'm not 100% clear on the division of responsibilities w/r/t the partnered organizations, so I'm not sure if this would fall under their tent or not.

[2018-05-19 21:37] armahillo commented on #207
@awwaiid I really like that idea. On my team at my job, we have Rubocop blocking PRs with a "threshold" -- you can only have X violations in a commit (I think the number is between 10 and 20).

I like the ratcheting method, though.

FWIW I have incorporated some of the fixes from this issue into #314 because it fixed a couple bugs (I should have put those bug fixes in a separate issue, but here we

[2018-05-19 21:39] armahillo commented on #241
@ElishebaW Maybe you and I could have a discussion about what we want the styleguide to cover. I started working on one but got sidetracked by other more pressing issues. While I have some experience with this sort of thing, I think maybe the styleguide could be generated DURING the conference and then implemented AFTER the conference (doing it during would be really tricky because things change s

[2018-05-19 21:42] armahillo commented on #237
@chiefkikio :+1:  I think that might be less impactful than doing it the other method. We could maybe implement that and see if it is enough to resolve the confusion that was coming up for some folks?

[2018-05-19 21:59] ElishebaW commented on #241
@armahillo Hey, I'm assuming you mean doing it before would be really tricky. I agree.

We are going to change a lot at the conference. Maybe we can use want you have and make it a shared document where everyone can contribute? Maybe push it up to Github or Drive and anyone can update that branch?

But we can definitely figure out what points we'd want to develop before the conference so we have a

[2018-05-19 22:08] armahillo commented on #241
no I mean doing it during -- like, making style-changes to the individual files will create cluttery commits and potential conflicts if there were significant functional changes made to a file that was just also re-styled. Better to let the dust settle a bit before polishing things like these. We ran into this a couple times last year -- these sorts of changes tend to be far-reaching and touch a l

[2018-05-19 22:26] armahillo opened #333 "Establish "key" naming scheme"
In issue #314 "keys" will be used to uniquely identify different `CanonicalItems`

Right now, the `CanonicalItem` seeds file has a bunch of defaults set for it, but these are very arbitrary. Since a separate system will be coupled with this one via these keys, this will be difficult to change once in motion, so we should get it right the first time. :)

We should really have some programmatic way

[2018-05-20 18:49] awwaiid commented on #207
The key thing is to get it into the master branch immediately as part of ci, which means apply this change to something that passes all of rspec. I'm doing a prototype of that off of the master branch now -- but is there a better branch? I think the current rubocop PR says it doesn't pass rspec?

[2018-05-20 20:01] awwaiid commented on #207
I opened up #334, which passed, though it took a second try (unrelated flaky rspec test). That branch adds rubocop to ci with a TODO list, so that it passes and will prevent future violations (scoped to a file -- so you can _technically_ add more violations of type X to a file that already has type X violation). So we could merge that into master, and then separately work down the TODO list (hopef

[2018-05-21 02:41] awwaiid opened #336 "Q: How does production deployment work?"
I don't see any documentation, though I do see something in .travis.yml -- how and when does the code get deployed to production? (point me toward documentation is good). I'd like to know what happens after a PR is merged so I can be on the look out for issues and success metrics.

[2018-05-21 02:44] armahillo commented on #336
When PRs are merged to master they are autodeployed.

@seanmarcia set that up, I think?

[2018-05-21 02:47] seanmarcia commented on #336
Correct! On a successful merge to master travis auto deploys the code :)

[2018-05-21 13:14] #321 closed

[2018-05-22 17:35] #336 closed

[2018-05-23 01:56] #328 closed

[2018-05-23 02:00] ElishebaW commented on #241
Ok. Gotcha. Yes, let's set something up.

[2018-05-23 02:11] ElishebaW commented on #323
Yep. I can do that!

[2018-05-23 02:22] ElishebaW opened #338 "Allow Editing of Distributions"
We want to allow distributions to be editable. This change would be modeled after the Donations edit functionality. Story from #323

The user will be able to follow this logic:

1. Create Distribution
2. OOPS I NEED DIFFERENT!
3. Edit Distribution, Distribution is "re-opened"
4. add more of Diaper A, less of Diaper B
5. App verifies there is sufficient A to add, then pulls those additional amounts

[2018-05-26 02:40] #312 closed

[2018-05-30 02:03] ElishebaW commented on #311
- [ ]  Work with designers and stakeholders to build new landing page
               - [ ] Reach to Rachal to see what needs to be changed
               - [ ] Create issues for each change

- [ ]   Get appropriate quotes and information for new landing (home) page
           - [ ] Reach out to Rachal for a good source of quotes

- [ ]   Add add about information to about page and contact section

[2018-05-30 02:13] benreyn commented on #315
With #339 merged this should be closable and #332 should be unblocked.

[2018-05-30 02:13] #315 closed

[2018-05-30 16:54] chiefkikio commented on #338
Can I snag this?

[2018-05-31 00:50] ElishebaW commented on #338
@chiefkikio Go for it! Thank you!

[2018-05-31 00:55] ElishebaW opened #340 "Change landing page text to a darker color"
- [ ] Research darker colors that work well with light blue

- [ ]   The text color in the light blue portion of the landing page in this file app/views/static/index.html.erb shall be the color selected

- [ ] Ensure the finally color choices are an accessible color contrast ratio (cf. https://webaim.org/resources/contrastchecker/ )

![screen shot 2018-05-30 at 8 54 59 pm](https://user-images.gith

[2018-05-31 01:29] ElishebaW opened #341 "Redesign top header on landing page"
- [ ]  The landing page shall not have a URL in the top left corner

- [ ] Research some good replacements for URL if any

- [ ] The landing page shall implement design changes from research

[2018-05-31 01:31] ElishebaW opened #342 "Add a description text block to the Diaper Base landing page"
- [ ] The landing page shall have a description of what DiaperBase does similar to the description on this site. http://www.skywareinventory.com/

[2018-05-31 01:35] ElishebaW opened #343 "Update Testimonials on Landing Page"
- [ ] The landing page of Diaper Base shall have real quotes from Diaper Base users.

- [ ] Once Rachel provides the quotes, this can be worked on.

[2018-05-31 21:38] pdxdiaperbank commented on #343
@ElishebaW ,
Here's my quote (for now at least):  "Finally, an inventory management system designed specifically for the unique needs of diaper banks!"  -Rachel Alston, PDX Diaper Bank

I'll post the quote I receive from Megan here once I receive it. :)

[2018-05-31 23:28] pdxdiaperbank opened #345 "Add Category Drop-Down Menu (Creating NEW Inventory Items)"
## Desired/Expected behavior
When adding a new inventory item into Diaper Base, there should be a drop-down list of current/existing categories to "file" it under. If the category that the person wants doesn't exist, there should be an ability to add a new category.

## Actual behavior

Currently, you type in a desired category in which you'd like it to fall under. This can create too many new cat

[2018-05-31 23:36] pdxdiaperbank opened #346 "Simple Language Change - Diaper Drive Participants List Page (Under Community)"
## Desired/Expected behavior

Change "Volume" to "Total Diapers".

![screenshot 2018-05-31 13 55 19](https://user-images.githubusercontent.com/20074085/40807940-82f64acc-64da-11e8-9e85-a4af6ba3cd3c.png)

## Actual behavior

Says volume, but could be more specific.

## Steps to reproduce the problem

N/A

## Computer Information (Only fill this out if you are a diaper bank)

MacOS High Sierra
10.13

[2018-05-31 23:42] pdxdiaperbank opened #347 "Simple Language Change (New Inventory Adjustment Page)"
## Desired/Expected behavior

Clear instruction on how to make an inventory adjustment.

## Actual behavior

The current language used for instruction of how to enter adjustments is a bit confusing:
![screenshot 2018-05-31 13 46 12](https://user-images.githubusercontent.com/20074085/40807558-79568a50-64d9-11e8-9184-bf921a55345e.png)

## Steps to reproduce the problem

Here is an example of the cur

[2018-05-31 23:55] pdxdiaperbank opened #348 "Add Ability to Track "Dollars Raised" from Donation SOURCES"
## Desired/Expected behavior

To be able to track monetary donations collected by diaper drive participants, donation drop-sites, etc. (SOURCES of donations). It is very common for people to collect diapers AND dollars; adding this function would allow diaper banks to assess trends/growth over time.

![screenshot 2018-05-31 13 29 10](https://user-images.githubusercontent.com/20074085/40806827-8233

[2018-06-01 00:00] pdxdiaperbank opened #349 "Add Ability to Enter More Than 1 Donation Site Before Submission"
## Desired/Expected behavior

For those entering new donations sites manually, it would be nice to be able to add multiple locations at once before hitting the submit button, instead of having to open a whole new page each time.

![button to add another agency](https://user-images.githubusercontent.com/20074085/40806315-f104f054-64d5-11e8-8f54-a3277bb52048.png)

## Actual behavior

Must enter/subm

[2018-06-01 00:06] pdxdiaperbank opened #350 "Add Business Names to Diaper Drive Participants"
## Desired/Expected behavior

Please create the ability to add the BUSINESS NAME to Diaper Drive Participant contacts (this is more important than an individual contact person since this would change most frequently)

![screenshot 2018-05-31 13 02 07](https://user-images.githubusercontent.com/20074085/40805857-7e23901e-64d4-11e8-84ff-f72d9289d925.png)

## Actual behavior

The individual contact pe

[2018-06-01 00:10] pdxdiaperbank opened #351 "Partner Agency CSV Upload - Error Message Received"
## Expected behavior

For Partner Agency CSV to upload smoothly.

## Actual behavior

We tried uploading our PARTNER AGENCIES list via the CSV template, and it gave us the following error:  "we're sorry, but something went wrong. If you are the application owner, check logs for more info". We didn't see any mistakes on the actual spreadsheet itself.

## Steps to reproduce the problem

Attempt an u

[2018-06-01 00:17] pdxdiaperbank opened #352 "Address Format - Important for Future Map Developments?"
## Expected behavior

To have Diaper Base specify address format for entry.

## Actual behavior

Currently, when entering addresses of DONATION SITES, you type the address into a single field which creates inconsistencies in formatting. Since we've discussed adding map functions to Diaper Base, I wanted to bring this to our attention--- will this create an issue for future map developments??

![sc

[2018-06-01 00:22] pdxdiaperbank opened #353 "Broken Button (Editing Inventory Adjustments)"
## Expected behavior

For this button to submit inventory adjustment edits:
![screenshot 2018-05-31 12 30 05](https://user-images.githubusercontent.com/20074085/40803940-c592896a-64ce-11e8-9bd5-44e2647db3f7.png)

## Actual behavior

Button leads to this Error Message:
![screenshot 2018-05-31 12 30 19](https://user-images.githubusercontent.com/20074085/40803944-c715cffe-64ce-11e8-9da0-3ae1db7497f2.

[2018-06-01 01:36] ElishebaW commented on #343
@pdxdiaperbank Awesome! Thanks!

[2018-06-01 02:41] pdxdiaperbank opened #354 "Remove All Users (Diaper Bank Business Names) from Drop-Down Menu"
When editing an individual adjustment transaction, there is a drop-down list of ALL diaper bank organizations/users of Diaper Base. This should NOT be visible to everyone, as nobody will be editing anyone's inventory but their own.

![screenshot 2018-05-31 12 22 47](https://user-images.githubusercontent.com/20074085/40803507-a848eaee-64cd-11e8-9488-53af5d932d79.png)

--------

## Expected behavior

[2018-06-01 02:48] pdxdiaperbank opened #355 "Inventory Adjustments - Make Both Editable & Deletable"
All Inventory adjustment transactions should be fully editable, as well as deletable. We already made an adjustment that contained and error, and now are unable to remove it (eek).

--------

## Expected behavior

I would expect that any transaction/entry into Diaper Base can be removed/changed.

## Actual behavior

Currently, you can not edit inventory adjustment, and there is no way to delete th

[2018-06-01 03:13] pdxdiaperbank opened #356 "Prevent Accidental Data Deletions - Add Prompt to Confirm Action"
Currently, it is much to easy to delete data. To prevent accidental data deletion, please add an "are you sure you want to delete?" prompt which requires the person to approve the request prior to its final deletion. This feature should exist consistently throughout the database ANY time there is a delete button.

![screenshot 2018-05-31 11 59 22](https://user-images.githubusercontent.com/20074085

[2018-06-01 03:15] pdxdiaperbank opened #357 "Remove Time Stamps on Inventory Adjustment Page, Show Date only"
Remove time stamps on inventory adjustment page, as they won't be acurate for everyone.
Listing just the date of the transaction is great.

![screenshot 2018-05-31 11 51 22](https://user-images.githubusercontent.com/20074085/40801935-16f8bee2-64c9-11e8-8d53-21adf79519d4.png)

--------

## Expected behavior

N/A

## Actual behavior

N/A

## Steps to reproduce the problem

N/A

## Computer Informati

[2018-06-01 03:17] pdxdiaperbank opened #358 "Simple Title Change (Distribution Manifest Page)"
Change Title on Distribution Manifest Page (has nothing to do with diaper drives).
Change to: "Total Items Distributed".

![screenshot 2018-05-31 10 51 08](https://user-images.githubusercontent.com/20074085/40801772-9abdc16a-64c8-11e8-9184-01fe3668cfc0.png)

--------

## Expected behavior

N/A

## Actual behavior

N/A

## Steps to reproduce the problem

N/A

## Computer Information (Only fill this

[2018-06-01 03:39] pdxdiaperbank opened #359 "Expedite Entry of Baseline Inventory Data (For New Users)"
As a new user, we felt a bit confused on how to enter our baseline inventory data (items of hand) prior to using the system. It wasn't intuitive/clear. We suggest adding a function for new users to be able to easily input/upload this information.

The user would enter the following information about their starting inventory:

- Item type
- size
- storage location
- Item source (purchased, diaper d

[2018-06-01 03:59] pdxdiaperbank opened #360 "Change verbiage: "Shipped" to "Distributed" (On Dashboard)"
Under DISTRIBUTION section, replace the word "shipped" with "distributed". Diaper banks typically don't ship items.

![screenshot 2018-05-31 20 55 09](https://user-images.githubusercontent.com/20074085/40820426-49caaf28-6515-11e8-9859-f5c35115113f.png)

--------

## Expected behavior

N/A

## Actual behavior

N/A

## Steps to reproduce the problem

N/A

## Computer Information (Only fill this out

[2018-06-01 04:07] pdxdiaperbank opened #361 "Add Date of Distributions (on Main Distributions List)"
When looking at the main distributions page, it is important to be able to easily see the date that the each distribution was created on.

![screenshot 2018-05-31 21 02 04](https://user-images.githubusercontent.com/20074085/40820629-799f95dc-6516-11e8-8c04-a6005c015ae8.png)

--------

## Expected behavior

N/A

## Actual behavior

N/A

## Steps to reproduce the problem

N/A

## Computer Informatio

[2018-06-01 04:27] pdxdiaperbank opened #362 "Add Info to Dashboard (# of Diaper Drives)"
We track all diaper drive information, and regularly ask ourselves: How many diaper drives have occurred in the community this month? Last year? Year-to-date? Since we can already specify diaper drives as a source for donations in the systems, it makes sense to have diaper drive statistics  easily found on the dashboard. :)

![screenshot 2018-05-31 21 16 37](https://user-images.githubusercontent.c

[2018-06-01 04:44] pdxdiaperbank commented on #345
Thanks for tackling this, @chiefkikio !

[2018-06-01 14:44] seanmarcia opened #363 "Inventory Updating Problem"
If a user makes a correction on a purchase or a donation the system sets the inventory of the associated storage location to the updated amount, not the new inventory total.

For example:
* Storage location A has 10000 size 1 diapers
* User creates a purchase which adds 500 size 1 diapers to Storage Location A
* Storage location A now has 10500 size 1 diapers
* User realized they inputted the inco

[2018-06-02 02:51] seanmarcia commented on #354
Thanks! Fixed!

[2018-06-02 02:51] #354 closed

[2018-06-04 02:58] seanmarcia commented on #351
@pdxdiaperbank Can you attach or link to a copy of the csv that it failed to upload?

[2018-06-04 18:07] pdxdiaperbank commented on #351
@seanmarcia Here you are!
https://drive.google.com/file/d/1p0Dn8UQtY8LO43VYcCEwEDQ0AeyqIfQr/view?usp=sharing

[2018-06-04 18:23] pdxdiaperbank commented on #343
@ElishebaW  Here's Megan's quote/testimonial for the homepage:

"DiaperBase has taken our diaper distribution to the next level. We no longer have to worry about how to track our incoming and outgoing inventory, and having all our products and data tracked in different ways in different documents and systems. DiaperBase has saved us time, money, energy and many, many headaches. The system is extre

[2018-06-04 22:33] armahillo commented on #362
- [ ] Write aggregator to get data by different time periods about how many diaper drives happened and how many diapers came in from each one
- [ ] Add this data to the dashboard

[2018-06-04 22:34] armahillo commented on #361
-  [ ] add `issued_at` as a column to this `Distributions#index`

[2018-06-04 22:39] armahillo commented on #359
- [ ] Add Storage Locations
- [ ] Submit inventory
- [ ] ???

[2018-06-04 22:50] armahillo commented on #356
- [ ] Add confirm to `delete` action on `Items` page
- [ ] Audit other pages for `deletes` that need confirm

[2018-06-04 22:59] armahillo commented on #353
page probably shouldn't exist?

[2018-06-04 23:03] armahillo commented on #353
Ref #355 -- Adjustments aren't currently editable / deleteable, so this page probably shouldn't be accessible

[2018-06-04 23:09] armahillo commented on #350
- [ ] Keep contact name
- [ ] Add business name (if it doesn't exist already)
- [ ] Make business name required
- [ ] Change #index actionn to show business name primarily

[2018-06-04 23:11] ElishebaW commented on #349
- [ ] Redirect the user back to the form if they want to add multiple and close if they want to add one donation site.

[2018-06-04 23:11] armahillo commented on #349
Add a "Create and Add Another" button, displayed alongside the existing `Create` button

[2018-06-04 23:16] armahillo commented on #347
The issue is that the "Quantity" isn't completely intutive and could be made a bit clearer, espeically since adjustments can't be edited / deleted

[2018-06-04 23:18] armahillo commented on #345
@chiefkikio -- hold off on this until I finish #314 (nearly done)

[2018-06-05 03:40] pdxdiaperbank commented on #350
@armahillo ,  I wanted to clarify this a little. I wouldn't make the business name _required_ per se (it could be an individual hosting a diaper drive). I assume that one name or another should be required, however. We're predominantly concerned with tracking business diaper drive hosts (so we can contact them in the future for support), however, it would be important to also track diaper drives h

[2018-06-05 21:08] iorme1 commented on #361
I'd like to work on this issue!

[2018-06-06 01:59] armahillo opened #364 "Static Pages should be converted to use Bootstrap instead of Foundation"
The static pages ("landing pages") are currently still using Foundation. These should be modified to use the same version of Bootstrap that the site is using.

[2018-06-08 00:51] #361 closed

[2018-06-08 00:51] jtu0 opened #368 "Add git commit hooks so devs don't have to remember to run things before each commit"
* `git annotate` (populates `app/models` with schema changes)
* `rake notes > TODO`
* `rubocop`

[2018-06-08 01:11] ElishebaW commented on #340
Darker grays for the background. Links with brighter colors. to make it more a color scheme of an inventory management system.

[2018-06-08 01:12] ElishebaW commented on #340
More like the color scheme of the bottom of the landing side.

[2018-06-08 01:16] ElishebaW commented on #340
Explain what you do
Testimonials
Explanation of technology

[2018-06-08 01:19] ElishebaW commented on #340
Another way to go

Explain what you do
sign up
testimonials
explanation of technology

[2018-06-08 01:26] ttilberg opened #369 "Use docker volume for dev pg data instead of creating a directory"
The current setup instructions in the readme mention:

[code]

Instead of having to create a volume to store data in, would it make more sense to reference a native docker volume?

[2018-06-08 05:02] armahillo commented on #369
Can that be done without creating complications for non-docker users?

[2018-06-08 11:46] ttilberg commented on #369
It's something Brock and I briefly mentioned in passing and I mentioned that I'd make an issue so we could review it. I imagine this has no effect for non-docker users unless there is something odd about the pg configuration, but I'm not able to confirm this as I'm not familliar with your environment.

Specifically the change is related to removing the docker specific portion of the readme for per

[2018-06-08 13:53] ElishebaW commented on #364
Once we update our landing page, we can probably incorporate this issue with that.

[2018-06-08 14:38] armahillo commented on #363
Rachel has said that this has only seemed to apply to 2T/3T and 4T/5T sizes -- unknown whether or not it applies to other sizes.

[2018-06-08 14:51] #346 closed

[2018-06-08 14:51] #360 closed

[2018-06-08 14:57] heatherherrington commented on #358
<img width="771" alt="distributed" src="https://user-images.githubusercontent.com/17165242/41165092-be47e244-6b0a-11e8-9b43-15951d4750c2.png">
Image is from master - issue resolved.

[2018-06-08 14:59] #369 closed

[2018-06-08 15:00] marz0 commented on #343
Should we add any other testimonials?

[2018-06-08 15:07] heatherherrington commented on #358
Image from master:
<img width="771" alt="distributed" src="https://user-images.githubusercontent.com/17165242/41165637-2baa09c4-6b0c-11e8-8257-049562834b13.png">

[2018-06-08 15:08] armahillo opened #375 "Add Localization Support"
(this is probably best suited for after the conference)

We should add `i18n` localization support to the app, to make it more accessible to people whom don't speak English primarily.

The landing / static pages would likely just need entirely different files created, each -- and should probably be done first. The form controls and internals would be a good feature to add eventually as well.

[2018-06-08 15:30] #358 closed

[2018-06-08 15:32] #311 closed

[2018-06-08 15:35] ElishebaW commented on #342
@heatherherrington Yes. This will be a small blub on the home page that tells a little bit about what the diaper base is about. @pdxdiaperbank is here so she would be a great resource on what the blub should say.

[2018-06-08 15:47] joshcano opened #378 "Ensure purchases are scoped by org ( controller issue )"
By manipulating the url, a user can view other organizations purchases.

--------
example:

org_1
  < purchase id: 1 >

org_2

if an admin from org 2 logged into the system and navigated to `http://localhost:3000/org_2/purchases/1/edit`

The user will be able to view the record.

This should be scoped by organization, a user should only be able to view their own organization records.

[2018-06-08 17:39] ElishebaW commented on #343
@marz0 We can add new ones in the future, but let's just go with these for now :)

[2018-06-08 18:04] heatherherrington commented on #342
I talked to @pdxdiaperbank and she wants to reconsider this, based on what the About section looks like and overall site aesthetic. Putting On Hold for now.

[2018-06-08 18:14] ElishebaW commented on #310
@armahillo Do we still need this issue?

[2018-06-08 18:38] heatherherrington commented on #347
I'm confused. Is this page only for decreasing the quantity? Or can it also be used to adjust inventory in an increasing sort of way? The word 'reduce' in "Create an Adjustment to manually reduce the amount of inventory in a particular storage location" makes it sound like it can only be used to decrease. But then, users are specifically told to enter a negative number to subtract that item, so it

[2018-06-08 19:04] #314 closed

[2018-06-08 19:10] armahillo opened #382 "Barcode lookups dont set the item dropdown"
Go to any barcode lookup form (Donations, Distributions, etc) and enter  barcode value and press enter. The quantity is set but hte dropdown is not.

[2018-06-08 19:20] armahillo commented on #349
Our UX Expert (from the meta team) suggested having the form embedded directly onto the page and then posting back via XHR and having it refresh the table.

Given that it's only 2 fields, I think this would be an awesome solution!

Would you feel comfortable setting that up or maybe pairing with someone on it?

[2018-06-08 19:37] #357 closed

[2018-06-08 19:39] #362 closed

[2018-06-08 19:45] #333 closed

[2018-06-08 19:54] asheren opened #385 "Diaper drive participant should be required"
*Be clear, concise and precise in your description of the problem.
Open an issue with a descriptive title and a summary in grammatically correct,
complete sentences.*

*Use the template below when reporting bugs.*

*Before filing the ticket you should replace all text above the horizontal
rule with your own words.*

--------

## Expected behavior

A user can save a donation with diaper drive as th

[2018-06-08 21:03] #343 closed

[2018-06-08 21:06] a-jean commented on #350
Just to clarify @armahillo, what do you mean by ` Change #index actionn to show business name primarily`? Since the business name is no longer required, how the index action would be affected.

[2018-06-08 22:54] #356 closed

[2018-06-08 23:17] #332 closed

[2018-06-09 05:32] jtu0 commented on #368
Could we instead of doing this sign up for a CI to run specs and rubocop at the PR level instead of the commit level?

[2018-06-09 06:47] jtu0 commented on #351
@pdxdiaperbank How do you upload a CSV? what's the URL, or how do you navigate there from the homepage?

[2018-06-09 07:14] jtu0 commented on #363
@mlpinit is it possible this is related to https://github.com/rubyforgood/diaper/issues/310?

[2018-06-09 07:16] jtu0 commented on #310
## Has matching existing issues
https://github.com/rubyforgood/diaper/issues/363

## Needs investigation
app/controllers/donations_controller.rb:
  * [  2] - needs to be able to handle barcodes too

app/models/admin_user.rb:
  * [  2] AdminUser should be rebuilt from scratch!

app/models/barcode_item.rb:
  * [ 21] - this should be renamed to something more specific -- it produces a hash, not a lin

[2018-06-09 08:35] jtu0 commented on #353
@armahillo what should be hidden? the button? the "Inventory Adjustments" link in the sidebar?

[2018-06-09 08:40] jtu0 commented on #325
@armahillo is this still blocked? looks like #314 was closed.

[2018-06-09 14:33] jtu0 commented on #351
CSV imports only happen whenever a new diaper bank is setting up - so this is a painful experience for new users of DiaperBase.

To reproduce:
[code]
http://localhost:3000/pdx_bank/partners
Click "Import Partners"

[2018-06-09 14:44] armahillo opened #394 "Create a filter for `BarcodeItem` to filter on `canonical_item_id`"
This is a *little* trickier than it may seem initially.

[code]

Bonus points if it can also find the `Items` that derive from those `CanonicalItems`

[2018-06-09 14:54] heatherherrington commented on #341
Most of the business pages I've looked at have a link to that page's home page on the upper left corner. And when I just googled "website header", the images followed a similar trend. As an example, even this Github page has their logo up there as a link to github.com. So, it seems like a fairly common practice. Rather than it being the text "DIAPERBASE.ORG", should it be a logo/image?

[2018-06-09 15:02] armahillo commented on #326
@IlinDmitry OK #314 has been merged into master - if you're still interested in working on this one, it's ready to be worked on. :)

[2018-06-09 15:04] armahillo commented on #355
For right now, we're going to not add this feature.

Should the need behind this not be addressed with other features or workflows, we can revisit later.

[2018-06-09 15:04] #355 closed

[2018-06-09 15:05] armahillo commented on #325
@jtu0 This is ready for work! :)

[2018-06-09 15:09] armahillo commented on #385
Here are two hints on how you can solve this, if you feel stuck. Feel free to ping me if you'd like to pair!

https://blog.bigbinary.com/2016/02/15/rails-5-makes-belong-to-association-required-by-default.html
http://guides.rubyonrails.org/active_record_validations.html#using-a-proc-with-if-and-unless

[2018-06-09 15:11] armahillo commented on #345
@chiefkikio If you would like to tackle this one, have at it!

[2018-06-09 15:19] armahillo commented on #353
@jtu0 For right now, Adjustments shouldn't be editable, we should:

- [ ] `except` the `edit` & `update` actions from the resource in the `config/routes.rb`
- [ ] Remove the views for `edit`
- [ ] Remove the actions for `edit` and `update`

[2018-06-09 15:32] ElishebaW commented on #341
@heatherherrington Let's hold off on this. I think there will be a logo redesign.

[2018-06-09 15:35] ttilberg commented on #349
This is how the styling is currently working -- as you add elements, it prepends the rows to the collection:

<img width="916" alt="image" src="https://user-images.githubusercontent.com/7969650/41193363-defd2c14-6bd8-11e8-99ea-d87eac2090c5.png">

The old behavior is still available at the `/new` endpoint, but the "Create" button was removed. I'm not sure if we should delete this to remove confusio

[2018-06-09 15:37] ElishebaW commented on #347
@heatherherrington Its for adding and reducing a quantity on that page. The ticket is to make that clearer. Are you still up for taking this ticket?

[2018-06-09 15:38] ElishebaW commented on #323
Created a new issue for this.

[2018-06-09 15:39] #323 closed

[2018-06-09 15:39] heatherherrington commented on #347
@ElishebaW Sure! I'll work on clarifying the language.

[2018-06-09 15:39] pdxdiaperbank opened #395 "Replace Red "X" for Barcode Deletion (New Donation/Purchase Pages)"
On the Add a New Donation/Purchase pages, this red "X" is a bit harsh and appears as an error symbol (especially since it is located on the left side of the item line). Please move to the right side of the item lines, and replace "x" with a grey garbage can symbol or something similar.

![screenshot 2018-06-09 11 34 42](https://user-images.githubusercontent.com/20074085/41193485-8e53c91a-6bda-11e8

[2018-06-09 15:40] ElishebaW commented on #303
@jcavena
Is this something that will become a non-issue once we integrate with PartnerBase? Might this be an issue that they might have to address in that app?

I'm not 100% clear on the division of responsibilities w/r/t the partnered organizations, so I'm not sure if this would fall under their tent or not.