[2021-10-30 21:12] AngeVeza opened #2594 "As a Bank User I would like the ability to Sync my Google Calendar with the Distribution Calendar"
# Summary

Currently under the Pick Ups and Deliveries tab, the calendar does not offer the option to sync with my Google calendar. Please investigate to see if this can be done. If it can, create a "Sync with my Google Calendar" button on the page.

![image](https://user-images.githubusercontent.com/73323436/139558471-0735a8b9-a6c2-480d-9ac9-b3de78c673f0.png)

# Criteria for Completion

 - [ ] Ad

[2021-11-03 23:44] seanmarcia opened #2604 "Upgrade mini_racer gem"
# Summary

To make the js runtime in the app able to run on the new Macs we need to upgrade the mini_racer gem to at least `0.4.0`.

### Criteria for completion
- [ ] `mini_racer` gem is upgraded
- [ ] All tests pass
- [ ] Relevant details (if any) are updated into the readme

[2021-11-05 22:34] LawrenceWhalen commented on #2590
I have time right now and wouldn't mind the deep dive for this. Would be a good way to get an overview of the codebase.

[2021-11-06 16:41] AngeVeza opened #2605 "As a Bank User I want my CSV donation totals to match my accurate totals presented in the webapp."
# Summary

Exported (via CSV) donation totals are not matching what shows
  up in the app when viewed in the browser. They dug into it, and the
  cause seems to be that for duplicate item entries (i.e., more than
  one donation of the same exact inventory item), the CSV only sums the
  final entry.

  When viewed in browser, the totals are accurate, however, the CSV is not accurate.

## Things to

[2021-11-06 17:00] AngeVeza opened #2606 "As a Bank User I need to export Partnerbase data without truncation"
# Summary

A bank user reported the following:
 First two lines of the Partnerbase export are always truncated
(Possible same bug as preceding one) She is seeing un-processed
  HTML entities in the CSV export (e.g., she sees a literal `&quot;`)

  Both of these show up when she goes to `Families` (in Partnerbase, I
  believe) and selects `Export to CSV`

  She shared examples of these broken outpu

[2021-11-06 17:49] AngeVeza opened #2607 "As a bank user I would like the ability to exclude the distribution mailer initial boilerplate"
# Summary

[Feature Request verging on usability bug] When an order is fulfilled
  there's a section at the top of the distribution mailer e-mail that the bank can't see to be able to
  edit.

  It's not just boilerplate greetings---it specifically mentions pickup
  times that are inaccurate for Judi's bank, and she has to resort to
  all caps text in the section she _can_ edit telling the partner

[2021-11-09 05:44] seanmarcia commented on #2607
This feels like a bug rather than a feature request -- shouldn't we look into why it is sending the wrong times rather than making this part editable?

[2021-11-09 05:48] seanmarcia commented on #2605
Do you have the steps to reproduce this bug?

[2021-11-13 17:56] scooter-dangle commented on #2607
Based on discussion at today's office hour, we need to include a little more information here about how the system currently calculates these dates. At a minimum, we need to
* [ ] include a screenshot of what the current email looks like
* [ ] point to the code for how that date in the current boilerplate is calculated

[2021-11-23 23:41] seanmarcia opened #2615 "More Info On Unified Login"
# Summary

We recently streamlined the login process to have both partners and banks use the same login screen. There is an additional screen for users that have an account in both the partner and diaper side where they choose which they want to log in to.

For some users it is confusing because they chose the same name for their partner as their bank. Let's make it explicit which they are logging

[2021-11-24 07:16] MCarroll commented on #2615
Hello all.  I am new to your group.  Just saw your project on the Rails/Stimulus/Reflex Discord server.  Saw this help wanted, and want to throw out this UX idea.

![image](https://user-images.githubusercontent.com/173998/143191752-5b192852-02c4-4d1e-8e9c-a0f00c378cf0.png)

Often the UX content of a dropdown box is blindly ignored.  If the choice is brought out to the forefront as two survey butto

[2021-11-24 07:21] MCarroll commented on #2615
PS, 12 years ago I had a non-profit called SweetOnions. We had just brought twins into the world, and were in the depths of figuring out how to sustainable use diapers for our twins.  We thought it would be awesome to help others to do the same.  So this project has resonance.

[2021-11-24 20:50] seanmarcia commented on #2615
I like the UX proposal. The only thing I'd change is the text `Please select whether you are a:` to be something like `Log in as a:`

The reason being they already have accounts for both in the system and it the reason the banks have created partner accounts is to account for direct distributions they are doing. Direct distributions is when they give diapers/period supplies directly to the public

[2021-12-01 21:16] MCarroll commented on #2615
![DiaperBank](https://user-images.githubusercontent.com/173998/144315026-5ae4c7dc-1a85-4724-8ebb-6a44afa11378.png)

Made the change to the label as you suggested.  Can anyone help with wording for the help button.  Thanks. :)

[2021-12-02 00:19] seanmarcia commented on #2615
Were you thinking the help button would be hover text? If so, it could be something like "Your email is associated with a bank and a partner. Choose which to login as."

[2021-12-02 04:07] MCarroll commented on #2615
![DiaperBankWithOverlay](https://user-images.githubusercontent.com/173998/144346131-2701a9f1-b276-48e2-856e-142be10b355a.png)

I see that the popper_js gem is loaded.  But in my cursory look at all of the pages I did not see where it is being used.  I also noticed that with the partner/show.html.erb that plain javascript tooltip is being used.  Please advise on what would be the preferred method.

[2021-12-05 03:41] seanmarcia commented on #2615
If popper isn't being used probably stick with a plain tooltip.

[2021-12-05 19:21] scooter-dangle opened #2618 "Is it possible to have the SendGrid email for requesting a Partner account use a URL with our domain?"
#### Setup
When a partner is invited by a bank, the email has a long SendGrid URL that ultimately resolves to `https://www.humanessentials.app/partner_users/invitation/accept?invitation_token=...`.

However, it's not great from a security perspective to require users to click on a link to a different domain than the one that sent the email, especially when the partner might be very new to our app

[2021-12-08 20:29] bobmazanec commented on #2587
I'm looking into this as part of my "get up to speed."
Will look into `[DEPRECATION]` and `[DEPRECATION WARNING]`s in `rspec` output, too

[2021-12-09 17:07] seanmarcia commented on #2615
I think it might make sense to not list the "Sweet Cheeks Diaper Bank" after they select bank or partner. They may have different names for their partner org vs their bank. I think we can probably leave that empty for now.

[2021-12-13 20:09] seanmarcia commented on #2618
Closing this -- I upgraded/changed our settings on SendGrid. Specifically we now have:
- Our domain, human essentials.app, validated by setting some DNS configurations with our registrar.
- Disabled click tracking so links are no longer being overwritten.

[2021-12-15 03:52] #2587 closed

[2021-12-16 17:18] bobmazanec opened #2630 "Warnings, etc., in spec output"
# Summary

Spec output includes warnings and other text.
This can be distracting—especially to new contributors.

From a recent run on my machine (using progress dots to make the warnings stand out):
[code]

# Criteria for Completion

 - [ ] spec output has only progress info—no warnings, debug info, etc.

[2021-12-16 18:44] bobmazanec commented on #2630
During my brief time with this project, running
[code]
as suggested in the `rspec` output, _seems_ to fix `chromedriver` problems (crashes?) which otherwise prevent some/many(/all?) of the system specs from passing.

The command _removes_ `caniuse-lite` as an explicit dependency in `package.json`, and updates its version in `yarn.lock`.

[Looks](https://github.com/browserslist/caniuse-lite/tags) l

[2021-12-17 17:30] #2604 closed

[2021-12-17 17:31] #2630 closed

[2021-12-20 18:00] bobmazanec commented on #1975
This specific warning doesn't seem to be present in latest ([20 Dec 2021](https://github.com/rubyforgood/human-essentials/actions/runs/1602505858)) `rspec` checks

Closable?

[2021-12-20 22:11] #1975 closed

[2021-12-21 21:10] seanmarcia commented on #2588
Hey @markcyen any updates or questions? If life has gotten busy, we're happy to unassigned you or if you need more time just let us know!

[2021-12-21 21:11] seanmarcia commented on #2590
Hey @LawrenceWhalen any updates or questions? If life has gotten busy, we're happy to unassigned you -- definitely happy to keep you on this as we recognize it is a fairly complex project that takes time to digest!

[2021-12-21 22:44] seanmarcia commented on #2615
Hey @MCarroll how goes it? Any additional questions or blockers? If life has gotten busy, we're happy to unassigned you.

[2021-12-22 18:30] markcyen commented on #2588
Hey @seanmarcia, sorry for the delay! I will unassign myself. I had a lot going on for the past month or so and wasn't able to get to this. My apologies.

[2021-12-23 21:27] #2490 closed

[2021-12-29 00:34] #2092 closed

[2021-12-29 00:39] #2340 closed

[2021-12-29 15:30] dorner commented on #2094
@seanmarcia @edwinthinks @aaron-contreras do we actually have this information? Line items don't seem to keep track of the receiver of those items, so can we report on how many we give *per adult*?

[2021-12-29 16:02] seanmarcia commented on #2094
We don't have it on line items but on items themselves -- distribution quantity. If it isn't set it defaults to 50 which is, apparently, the industry standard.

[2021-12-29 16:03] dorner commented on #2094
Ah... maybe I misunderstood what the requirement was stating. I interpreted it to mean "per specific individual" but is it trying to say "every time we give out X item, how many of them do we give out at once"?

[2021-12-29 16:11] aaron-contreras commented on #2094
Hi guys, was i mis-tagged on this?

[2021-12-29 16:12] dorner commented on #2094
Very possible! Still learning who knows what in this project. Apologies if so.

[2021-12-29 16:13] aaron-contreras commented on #2094
No it's okay! I worked on a hacktoberfest issue last year. I'd have to dig into this to catch up

[2021-12-29 16:16] seanmarcia commented on #2094
I think it is just how many they are giving out and to how many people with specific people not mattering? I do know that the reason for these reports are for measuring impact and how many people they helping so I'd assume they'd only want to know aggregate numbers -- since they are using them for grants and reporting to their boards. So they probably want to say something like "We helped 1200 peo

[2021-12-29 16:18] dorner commented on #2094
In the above statement, saying "we helped 1200 people" would only be accurate if you knew that it was 1200 separate people and not 300 people who came back 4 times. :) I'm fine with treating "people" as "recipients" because I think that's the best we can do.

[2021-12-29 16:20] seanmarcia commented on #2094
💯 agree. There are likely going to be folks who come every month and others that come once.

[2021-12-29 17:30] #2093 closed

[2021-12-29 20:09] seanmarcia commented on #2607
Looks like this was resolved with #2498 that was merged. Once this is out and tested we'll see if the stakeholders need something different.

[2021-12-29 20:09] #2607 closed

[2021-12-29 21:25] dorner commented on #2097
@seanmarcia do we have the information to answer the last two questions? Unless it's called something else, I can't see where I would find this.

I also have the same question about the "diapers per child" as I did on #2094 - isn't this just getting the average of item quantity for the year?

[2021-12-29 21:30] seanmarcia commented on #2097
Yeah, the repackaging question really feels like a boolean we need to add to their organization and then display it.
Same with the monthly distributions...  Initially I thought we could just look at how many distributions per partner or something but that feels like a bad method as partners may not request monthly.

[2021-12-29 22:26] dorner commented on #2097
@seanmarcia should I leave this one on hold until we get more information on how to get the data?

[2021-12-29 23:47] Learningstuff98 commented on #2593
Hello, I'm new here. I'd like to try implementing this feature

[2021-12-30 01:10] seanmarcia commented on #2097
You could throw a nil check operator on there and when we have the changes it will just start showing up? Something like `organization&.repackages_diapers` and `organization.distributes_monthly`. Maybe? I'd defer to @edwinthinks or @armahillo on naming conventions.

[2021-12-30 01:11] seanmarcia commented on #2593
Hey @Learningstuff98 it's yours!

[2021-12-30 01:32] #2096 closed

[2021-12-30 02:36] Learningstuff98 commented on #2593
Thanks Sean!

[2021-12-30 03:53] seanmarcia commented on #2097
I added in a small PR to add in the `repackage_essentials` and `distribute_monthly` fields on the organization.

[2021-12-30 03:58] seanmarcia opened #2659 "Clean Up Organization Show Page"
# Summary

The Organization show page is pretty difficult to parse and should be made much more user friendly and all the information should be easier to see and parse.

## Things to Consider
The User list and management should be on its own card. If this is picked up before it is merged, there are two additional fields coming to the org show page in PR #2658

Current state of the show page:

<img

[2021-12-30 14:04] dorner commented on #2097
Thanks!

[2021-12-30 19:39] #2095 closed

[2021-12-30 19:52] #2098 closed

[2021-12-30 20:42] #2094 closed

[2021-12-30 20:55] #2097 closed

[2021-12-30 21:41] naomiceron commented on #2659
Hello, I would like to give this issue a try :)

[2021-12-30 21:42] seanmarcia commented on #2659
It's yours! Feel free to ask any questions here or ping us in slack if you have any questions! :)

[2021-12-30 21:43] seanmarcia commented on #2073
Yay! Off to user testing now! :)

[2021-12-30 21:43] #2073 closed

[2021-12-30 21:44] seanmarcia commented on #2309
I think this is completed!

[2021-12-30 21:44] #2309 closed

[2021-12-31 18:14] dorner commented on #2588
@seanmarcia started looking into this and we can go about this a few different ways. The issue is that Standard (which is just a wrapper over Rubocop) *only* supports the "Ruby" cops, and (for example) none of the Rails cops. I feel like at least some of those cops are pretty important to have around.

Our options include the following:
1. Replacing Rubocop entirely with Standard and losing the Ra

[2022-01-03 04:11] #2606 closed

[2022-01-03 18:20] dorner opened #2669 "Split out purchases by type"
# Summary

Related to #2073 .

Several annual reports ask for the money spent on a particular category (diapers, adult incontinence and other) per year. Unfortunately, currently the Purchase model can be used for all categories together, and only has a single dollar value assigned per purchase.

We should have the ability to split out purchases by category.

I think the best method to do this is t

[2022-01-03 18:28] #2588 closed

[2022-01-03 23:04] edwinthinks commented on #2591
I can work on this 🎉

[2022-01-04 16:48] #2559 closed

[2022-01-05 17:48] bobmazanec opened #2676 "Some dashboard examples failing near beginning of year"
# Summary

[Mentioned 3 Jan 2022](https://github.com/rubyforgood/human-essentials/pull/2657#issuecomment-1004132913), some dashboard examples rely on assumptions about relative dates (e.g., dates "this week" and "last week" are all "this year," etc.) that don't necessarily hold near the beginning of the year.

[code]

## Things to Consider
As the days go by, the problem might "disappear" (at least

[2022-01-05 17:52] bobmazanec commented on #2676
Related to #2674 & #2675

[2022-01-05 18:38] bobmazanec commented on #2676
I'm trying to make `before :{all, each,whatever}` blocks create donations within the appropriate time ranges, but then I get tangled up in visibility of `@organization` and the like (visible only on the outermost example group?) and that `let()`s and the like aren't visible in `before` blocks.

Seems kinda related to the speedups/improvements started in #2663. Not for this (urgent(-ish?)) issue, I

[2022-01-05 18:59] bobmazanec commented on #2676
For a concrete, um, example: I'm trying to replace stuff like
[code]

(e.g., on 1-7 Jan., the `earlier_this_week`/`date_to_view.beginning_of_week` entries might not actually be in "this year")

with something like

[code]

Using

[code]

inside of a loop to generate several samples rather than looping over something like

[code]

because on 1 Jan,

[code]

producing only a single donation entry (2

[2022-01-05 20:15] edwinthinks commented on #2676
Hey @bobmazanec! Thanks for looking into this.

Unfortunately, I think there are complicating aspects to resolving this issue. One of the biggest challenges -- is that the browser (in the system test runs) doesn't really know about `travel_to` and will continue to use the current date. This is why I added #2674 to get the whole test to run in the 2nd month and not the 1st. Not my favorite solution

[2022-01-05 21:50] bobmazanec commented on #2676
Agreed—without something like #2674, the failures just get rarer, appear more spurious, and are possibly harder to debug (e.g., setup happens in the last few (milli?)seconds of 31 Dec but the browser tasks & expectations run on 1 Jan).

I'll stand down on this for now and you can close this issue if/when something (#2674?) works "good enough".
I'll continue w/ #2657 for how the existing examples a

[2022-01-05 22:08] edwinthinks commented on #2676
Thanks, @bobmazanec for your understanding and contributions! Love to circle back on this with you later.

I think it's possible that we can replicate the specific issues and fix this without something like #2674, what would need to happen is that our `let` and what we are asserting against is calculated properly.

For example, if you know we are in January, you should include the record created f

[2022-01-05 22:28] bobmazanec commented on #2676
👍
One other thought: now that #2674 is merged, it should prevent this on CI...but does nothing for dev boxes.

Without some documentation (at least a link to this issue?) new devs/contributors on this project might see these failures on their own boxes, not see them in the CI logs, then conclude they have a problem with their local setup?

Worth a note/warning somewhere? Where?

[2022-01-06 01:01] edwinthinks commented on #2676
@bobmazanec good question! I totally overlooked the local dev experience. It should really be passing locally tbh.

Hmm I usually get hesitant with documentation as I've found it doesn't get read often. What do you think about in the intermin skip those tests locally but running them on Github Actions CI?

[2022-01-06 17:39] bobmazanec commented on #2676
Could do.
Or just let them keep failing for the next day or three.
To you & others who have more time in the repo than I: do you expect some/many more new contributors to join/appear over the next couple of days—i.e., before these failures should stop happening for this year.
If not, maybe just leave things as-is and be prepared to point folks who hit the problem to this issue.

Or maybe there's a

[2022-01-07 03:22] seanmarcia commented on #2615
Looks like life has gotten busy for you -- unassigned you from the issue. Get back in touch if you no one has claimed it.

[2022-01-07 12:18] edwinthinks commented on #2676
Good points @bobmazanec; I think the doc solution is alright and has an upfront low-ish cost but maintenance is tricky with docs that aren't actively being maintained. Historically I've found docs to be out of date and cause more confusion than help, unfortunately.

As I'am looking over the failures against, @bobmazanec do you think you could do a SPIKE on the possibility of fixing this by calcula

[2022-01-07 17:54] bobmazanec commented on #2676
Not today; I hope I’ll be available Saturday or Sunday. If you don’t/can’t find someone or have progress by then I can jump back in.

[2022-01-08 16:44] AngeVeza opened #2681 "As a Bank Admin I am seeing items in triplicate in the Dashboard"
# Summary

Items on the bank admin dashboard are being repeated in triplicate. Please view the below image to see the issue:
![image](https://user-images.githubusercontent.com/73323436/148652314-375d1963-10eb-403d-97be-1582a700ee21.png)

## Things to Consider
This started happening late last year and causes issues for bank admins when they are trying to get a snapshot of Distributions, Donations a

[2022-01-08 20:28] #2121 closed

[2022-01-08 20:33] edwinthinks commented on #2681
Thanks @AngeVeza I can take a look at this

[2022-01-08 20:47] edwinthinks commented on #2681
@AngeVeza actually this was fixed and was going to ship out with the latest release of human essentials. It was fixed in https://github.com/rubyforgood/human-essentials/pull/2638. I've gone ahead and released that code into production.

Please let the submitter that it should be fixed now.

[2022-01-08 20:47] #2681 closed

[2022-01-08 22:32] bobmazanec commented on #2676
It appears we're past the `total_inventory` problems (i.e., `last week` is still in `this_year`) *for 2022*.
I expect to keep working on this spec and plan to re-visit those problems before they re-surface in 2023 (absent anyone setting their system time to a vulnerable period, of course).

The remaining failures stem from the assumption that `this_month` doesn't overlap with `beginning_of_year`.

[2022-01-09 15:40] #2669 closed

[2022-01-09 19:26] Learningstuff98 commented on #2593
I have an update. I got it to a point where super admins are able to create and edit FAQ entries for partners and organizations.  Question answers are in rich text. These FAQ entries are visible on the partner and bank views, with a search being included in the bank view.  All entries have drop down functionality to display answers.

![Screenshot (346)](https://user-images.githubusercontent.com/42

[2022-01-10 02:03] seanmarcia commented on #2593
Hey @Learningstuff98 this looks great! I checked and it looks like we don't need to be able to upload videos after all so it is great that you haven't done that part -- all the videos are going to be uploaded/hosted on YouTube so we just need to make sure that they are embeddable into the text area. The only change I'd request with what you currently have is to change it from "For Organizations" t

[2022-01-10 03:16] Learningstuff98 commented on #2593
I'm able to add Youtube links into the text area. Its going to be much easier this way. I'll make the wording changes that you mentioned and submit a PR once I have that and the deletion functionality done. Thanks for letting me contribute!

[2022-01-14 11:00] #2591 closed

[2022-01-15 11:44] #2377 closed

[2022-01-15 18:19] AngeVeza opened #2695 "Infrastructure routing issue - Sending e-mails on behalf of other domains may be blocked by mail servers"
# Summary

When we attempt to send emails on behalf of the organization/banks emails address, that is, we would try to send reminders to partners from something with a from to "person@diaperbank.org". The intention is good but unfortunately causes email inboxes to flag it and block it. That is because we don't have permissions to send on behalf of other domains and we appear to be phishing.

# Cri

[2022-01-15 18:33] markcyen commented on #2475
Hey @edwinthinks, would it be something like the following you were thinking?
![PR#2475](https://user-images.githubusercontent.com/77414433/149633655-041e227c-d257-4e21-a887-ecd61d18ad42.jpg)

[2022-01-15 19:27] AngeVeza opened #2696 "As a Bank Admin I would like a Print Preview button added to review Partner Documents"
# Summary

Bank admins would like to have a preview feature instead of having to open and see the document after documents are added to partner agencies. The Preview option would need to be at the Proof of Agency Status as per below:
![image](https://user-images.githubusercontent.com/73323436/149635103-731c5fb7-91f2-45a7-ba88-19ecc618b4d4.png)

And also at the other documents section as per below:

[2022-01-17 17:10] seanmarcia opened #2705 "Add in Roles for Partners"
# Summary

We currently don't have any way for a bank to differentiate the role of their partner users. We need an admin role like banks currently have so we can differentiate between `admin` and `user`.  Additionally, we would like to have the ability to set a partner user as `deactivated`.

On the bank side we manage this with some boolean fields on the user such as `organization_admin` rather t

[2022-01-17 17:21] seanmarcia opened #2706 "Fix PDFs"
# Summary

The PDFs generated by the app are using the old logo and are still referencing DiaperBase rather than human essentials. The logo appears when the bank hasn't uploaded their own logo yet as well as at the bottom of the pdf. Since we don't have a human essentials logo right now. We should just put in humanessentials.app

See this example distribution pdf here with a bank logo missing:

<i

[2022-01-17 17:29] seanmarcia opened #2707 "Generalize Language"
# Summary

There are numerous period supply banks using the app in addition to the diaper banks and while we've updated the applications name to account for this from diaper base to human essentials we still have many diaper specific references in the application. The primary offender is `diaper drives` and it doesn't make sense for a period supply organization to host a diaper drive.

We need to

[2022-01-18 16:25] seanmarcia opened #2711 "Investigate Flakey Specs On GitHub"
# Summary

We have periodic failures of system specs in GitHub that members of the team have been unable to replicate locally. It *seems* like it is only system tests where it is happening and re-running the tests will generally fix the issue.

Some hypotheses the team has are that it is possibly due to GitHub using a linux environment to run the tests while the team is largely on Macs, another is

[2022-01-20 16:07] shkm commented on #2592
Mind if I grab this one?

[2022-01-20 17:20] shkm commented on #2592
@AngeVeza could I get a little clarification on this one?

Based on your specification, if we set the reminder to 27 and the deadline to 28, the deadline might be on January 27 whilst the deadline would be February 28; not what I would expect as a user. How about we simplify:

1. When deadline is 1 and reminder is 1: reject as invalid
2. When deadline is 2 and reminder is 1: send reminder on Jan 1

[2022-01-21 00:09] seanmarcia commented on #2593
This is being worked on!

[2022-01-21 03:04] AngeVeza commented on #2592
@shkm
The reminder and deadline are used for the same email. How it works is that whatever number is entered for the reminder is the day of the month that all the partner organizations of a bank receive an email. In the email there is some text along the lines of:

This is a friendly reminder that if you haven't submitted your essentials requests they are due on [deadline number].

So, if the remi

[2022-01-21 03:12] shkm commented on #2592
Hey @AngeVeza, thanks for the clarification! I think we're on the same page if I understand correctly.

[2022-01-21 13:24] metamoni commented on #2659
Still working on this, @naomiceron? I'd be happy to take this over @seanmarcia

[2022-01-21 14:26] metamoni opened #2714 "Collapsed menu not hiding text properly"
# Summary
When you collapse the menu on the left hand side of the page the text "My organization" doesn't get fully hidden.

![Screenshot 2022-01-21 at 14 12 48](https://user-images.githubusercontent.com/22390758/150541762-b65ce629-9f66-42d0-8ac4-efa6ccc0819e.png)

## Things to Consider
I'm not sure whether this issue is present for all types of users. I have noticed it while signed in as an organ

[2022-01-21 16:32] seanmarcia commented on #2659
Awesome! It's yours!

[2022-01-23 05:03] scooter-dangle opened #2715 "Partner invite does not validate email in same way that Devise stores it in DB, leading to apparent failed invites"
--------

When a bank user invites a new partner, our validation of the email is done with a strict equality check to see if such an email already exists for a partner. However, the invite workflow ends up attempting to save the email in the DB lowercased. So, the user doesn't see a validation error (and the app says that an invite has been sent), but no email invite goes out if the email already

[2022-01-23 05:09] scooter-dangle commented on #2715
@edwinthinks or @seanmarcia, re a scenario discussed in the office hours:

Say `Jane@example.com` is already associated with a partner login. If a bank tries to invite `jane@example.com`, should the validation error mention that `Jane@example.com` is the entry that already exists in the system? I think we have a lot of users who might not expect that the emails are considered identical if they dif

[2022-01-23 06:22] seanmarcia commented on #2715
I'm surprised about this. We have devise set to be case insensitive [see here](https://github.com/rubyforgood/human-essentials/blob/c2d112b04143b6d2dcf29f4b4c065685b769cf2a/config/initializers/devise.rb#L49).

So, to understand the bank has created partner#1 and set the email of that partner as Jane@example.com.

Then, they create partner#2 and set the email as jane@example.com and it silently fai

[2022-01-23 06:28] scooter-dangle commented on #2715
Correct. If they tried to create it as `Jane@example.com`, they'd get a validation error and a flash notice that the email is already taken. But that validation isn't using the same case-insensitive logic that the Devise invite workflow is using.

We tried two different cases, and that treatment was consistent, and Edwin didn't see anything logged that indicated the failure when he followed along.

[2022-01-23 06:31] seanmarcia commented on #2715
I think we may need to change the email validation on the partner.

Our current validation is:
[code]
It should probably be:
[code]

The uniqueness one is what we need to change. The format is just a convention change :)

[2022-01-23 14:34] ChaelCodes commented on #2715
Is this already assigned to someone? I'm happy to pick this up and PR today.

[2022-01-23 16:42] ChaelCodes opened #2716 "Failing partner_spec Locally"
# Summary

`spec/models/partner_spec.rb` is erroring in my local test environment when testing [`primary_partner_user`](https://github.com/rubyforgood/human-essentials/blob/c2d112b04143b6d2dcf29f4b4c065685b769cf2a/app/models/partner.rb#L70-L82).

https://github.com/rubyforgood/human-essentials/blob/c2d112b04143b6d2dcf29f4b4c065685b769cf2a/spec/models/partner_spec.rb#L125-L133

[code]
When investig

[2022-01-23 16:57] edwinthinks commented on #2716
Nice catch @ChaelCodes ! I think you are pretty spot on with your assessment.

Do you know if the number of Partner::User associated with the Partner model is more than one? The intention was to make the first user created associated with the partner record to be the primary.

[2022-01-23 16:57] edwinthinks commented on #2715
@ChaelCodes its yours :)! Thanks

[2022-01-23 17:00] edwinthinks commented on #2705
@seanmarcia is this the same as https://github.com/rubyforgood/human-essentials/issues/2475?

[2022-01-23 17:21] ChaelCodes commented on #2716
There were two `Partner::User`s associated with the Partner model. I can adjust the spec to look for the one that was created first, instead of checking if there's one included. There was only one `Partners::Partner` and only one `primary_user`. That uses the `created_at` logic you mentioned before.

https://github.com/rubyforgood/human-essentials/blob/c2d112b04143b6d2dcf29f4b4c065685b769cf2a/app/

[2022-01-23 18:35] seanmarcia commented on #2716
I wonder if this has to do with the database cleaner changes that were made recently.

[2022-01-23 18:45] seanmarcia commented on #2705
This definitely is. I'll close it now -- looks like #2475  wasn't added to the project board. Will add it there and also look through the other issues and make sure they are all on the project board so duplicate issues aren't added!

[2022-01-23 18:46] #2705 closed

[2022-01-23 22:47] edwinthinks commented on #2716
Yeh, I think the spec to look for the first created is going to capture what the method is aiming to do.

Possibly -- I'am not exactly sure what changed but I remember using the database cleaner to handle both the Partner & Diaper DB. We should be having a clean DB between test runs expect for feature tests.

[2022-01-23 22:58] ChaelCodes commented on #2716
I built this on stream, and someone had the exact same thought, so we tried the spec on the commit before the db cleaner changes. It failed there too, so they're not responsible.

[2022-01-23 23:11] edwinthinks commented on #2716
@ChaelCodes on closer look you are right about the two users being created in the factory.

What happens if we reorganized the logic to really create no partner_user records when `without_partner_users` is set to true? Would that address the issue? I believe the intention with that `without_partner_users` transient attribute should be to make the factory create no user records.

Thoughts?

[2022-01-23 23:13] #2715 closed

[2022-01-25 03:35] #2615 closed

[2022-01-26 02:29] #2593 closed

[2022-01-26 03:11] #2716 closed

[2022-01-26 23:47] #2473 closed

[2022-01-28 16:23] #2590 closed

[2022-01-29 16:57] bobmazanec commented on #2676
I'm back to working on this

[2022-01-30 00:06] dorner commented on #2594
@AngeVeza can you provide a bit more information on how you want the sync to work? Would this be a one-way sync (i.e. copy all the Human Essentials events to your calendar), or a two way sync in some way?

[2022-01-30 00:22] dorner commented on #2696
@AngeVeza would it make sense to simply change the link to view the PDF in the browser? They can download it from there if they need to rather than having to come back and click the link again.

[2022-01-30 00:29] dorner commented on #2711
@seanmarcia have teams tried running these with the same seed that failed on GitHub? I know I've seen at least one flaky spec that seems to have been the result of hardcoding an ID, which would only fail if the specs ran in a particular order.

[2022-01-30 19:33] seanmarcia commented on #2711
I don't think so. This list is mostly from runs on GitHub actions where someone says something like "The test failures are on tests unrelated to this PR." Then I grabbed the failing tests.

[2022-01-30 21:30] #2695 closed

[2022-01-31 02:23] seanmarcia commented on #2696
I imagine anything to make it obvious there is something they can click there.

[2022-01-31 03:03] #2706 closed

[2022-02-01 09:05] metamoni commented on #2659
I'm still working on this. If it gets unassigned, I'll just grab it again :)

[2022-02-03 03:30] #2714 closed

[2022-02-03 05:26] seanmarcia commented on #2475
@markcyen Story has been updated if you are still interested!

[2022-02-06 05:05] #2696 closed

[2022-02-07 02:31] seanmarcia opened #2746 "Update Text"
# Summary

On our partner edit page we have a checkbox that sets if this partner receives reminder emails. This checkbox does more than that and we should make it apparent to the user. We need to notify the user that this also toggles other emails sent to the user.

<img width="530" alt="image" src="https://user-images.githubusercontent.com/667909/152715239-e6911c4e-27d7-451c-9861-9aa9d0a9f582.png

[2022-02-07 02:45] AngeVeza commented on #2594
@dorner and @seanmarcia I believe we were thinking a one-way sync.

[2022-02-07 14:08] dorner commented on #2594
Thanks for the clarification!

[2022-02-07 19:35] Suveksha commented on #2746
Can I work on this issue?

[2022-02-07 19:55] seanmarcia commented on #2746
Absolutely! Assigned to you! :)

[2022-02-08 02:53] seanmarcia opened #2747 "Delete and Hide Deactivated Partners"
# Summary

We currently have the ability to deactivate partners using the `PartnerDeactivateService` from a button on the partner#show page but partners who have been accidentally created and have not been invited should be deletable. Additionally, any partners who have been deactivated should not show up in the partners list by default and instead should be viewed only when selected.

# Things to

[2022-02-08 03:13] seanmarcia opened #2748 "NDBN Lookup Table"
# Summary

We need banks, who are affiliated with the NDBN, to be able to input their NDBN member ID number. We want to prevent the accidental input of incorrect numbers so we want to create a lookup table of accurate id numbers. The NDBN maintains a list of up to date members and their ID number for us to gather this information from. We need to import and keep this list up to date internally so

[2022-02-08 03:20] seanmarcia opened #2749 "Add NDBN Member ID to Organization"
# Summary

We need to capture if our diaper and period supply banks are members of the the NDBN. We need to add an NDBN Member ID field to the organization to store this data. This should be an autocomplete/lookup/dropdown using the member lookup table to fill the data.

## Things to Consider

Issue #2748 needs to be completed before this can be worked on.

# Criteria for Completion

 - [ ] Add ND

[2022-02-11 20:10] dorner commented on #2594
This looks like it's possible via the Calendar API. We should generate UUIDs for events and store the saved event IDs onto the distribution instances, so we can patch them instead of duplicating them.

However, we'd need to authorize using Oauth, so given that I think it makes sense to complete #2557 first, since we'd need the same flow regardless. @seanmarcia

[2022-02-11 20:17] dorner commented on #2711
@seanmarcia I feel like if we really want to fix these we're going to have to have some way of being notified when the rspec_retry gem encounters a failure. We can see it when it's printed, but that's a lot of logs to search through. There's no guarantee of us finding the error if we push a branch to GitHub.

The way I see it we have two options to have a hope of fixing this:
1. Disable rspec-retr

[2022-02-11 20:20] dorner commented on #2747
@seanmarcia if we hide the deactivated partner from the list by default, is there really a point to deleting it? Isn't a soft delete essentially the same as a deactivation? I might be missing something.

[2022-02-12 02:48] seanmarcia commented on #2747
I think the idea is that a partner who gets soft deleted is a partner that has a history to them -- they've received diapers and period supplies in the past. That partner get reactivated again in the future and start receiving period supplies/diapers again. A partner that was accidentally entered should be "hard" deleted and shouldn't show up when they view the deactivated partners.

[2022-02-13 00:05] dorner commented on #2747
That's fair - but then shouldn't this ticket be for "hard" deletion? The description references soft delete functionality on `Item` which sounds like we want an additional soft deleted status here.

We can limit the deletion to those partners who have not been approved yet to make sure it really does only apply to accidentally created ones.

[2022-02-13 00:35] dorner commented on #2594
Hmm... thinking about this again, I think we're going to need a different flow. Syncing one's Google Calendar shouldn't be limited to people who have logged in using Google (forcing them to log out and log in again isn't great). I'll take a look at this.

[2022-02-14 17:12] bobmazanec commented on #2676
Still on it...

[2022-02-14 19:21] #2659 closed

[2022-02-14 19:25] seanmarcia commented on #2747
Good point! I referenced `Item` because it overrides the delete functionality where it first checks to see if the item has any history to it and does a soft delete if so, otherwise calls super for the hard delete. It also has the pattern of hiding soft deleted items by default and only showing them if selected. Note that I haven't looked at how it is done just that there may be patterns that could

[2022-02-15 05:27] Suveksha commented on #2746
Hey, I have made those changes and have sent a pull request.

[2022-02-15 20:02] #2746 closed

[2022-02-15 20:38] seanmarcia opened #2760 "Update Account Request Form"
# Summary

Some of our users are unsure if they are banks or partner organizations and are often requesting bank accounts when they should be requesting partner accounts. We need to add some additional language on to the account request page to make it more obvious.

We should do this by not showing the account request form until the requestor explicitly understands what kind of account they need

[2022-02-16 23:01] bobmazanec opened #2762 "Org. Dashboard doesn't show $0 donation totals"
# Summary

When filtered on a date range without any monetary donations, the org. dashboard shows a blank rather than **$0**

ca7660a7:

![image](https://user-images.githubusercontent.com/2031462/154371274-af780428-2ed9-4816-a0be-ea4386bda8c8.png)

![image](https://user-images.githubusercontent.com/2031462/154371554-97f726f2-1d2a-4983-b2ad-d88959b43b6e.png)

Describe an overview of the problem. Pr

[2022-02-16 23:34] bobmazanec opened #2763 "Org. dashboard doesn't identify "Today""
# Summary

When filtered to **Today**, the org. dashboard doesn't identify "today" as it does with other date ranges.
ca7660a7:

Filtered to **Today**:
![image](https://user-images.githubusercontent.com/2031462/154375030-f855bffa-eebf-4c83-8dd6-e4f57c7316a4.png)

Filtered to **Yesterday**:
![image](https://user-images.githubusercontent.com/2031462/154375122-4ec296aa-a1fb-4196-9cb7-b75fe8da5aea.png

[2022-02-17 21:44] seanmarcia opened #2764 "Distributions Should Only Show Active Items"
# Summary

One of our stakeholders reported that the distribution item list shows items they have deactivate and it is making it difficult and adding extra work in the creating of distributions. We should update the the distributions to only show active items.

## Things to Consider
Screenshots from an affected user:
![image](https://user-images.githubusercontent.com/667909/154575710-01a287ba-8dab

[2022-02-19 13:35] edwinthinks commented on #2748
@seanmarcia I can tackle this one today :)

[2022-02-19 17:58] scooter-dangle commented on #2707
Here's one of the examples a user has pointed out to us (visible at https://staging.humanessentials.app/homeless_period/reports/annual_reports/2021):
![image](https://user-images.githubusercontent.com/934707/154813014-19cf04d1-e75d-4c02-a72f-234f9450f287.png)

[2022-02-19 18:37] seanmarcia opened #2767 "Clean Up Faq Page"
# Summary

The fonts on the FAQ page are a little large and don't need to be bolded. This is my fault (Sean's) for reviewing this PR on my 38-inch monitor where the fonts/stylings seemed fine.

## Things to consider

This is the page we were basing it on from the theme we are using: https://adminlte.io/themes/v3/pages/examples/faq.html

## Criteria for Completion

 - [ ] The help/faq page stylings

[2022-02-20 00:28] dorner commented on #2711
@seanmarcia what do you think?

[2022-02-20 19:22] bobmazanec opened #2770 "Is Org/Bank Dashboard's "Top Manufacturer Donations" list correct?"
# Summary

What is the intent of the Org/Bank Dashboard's **Top Manufacturer Donations** list?
Is it both labelled and implemented as intended/desired?

Some (incomplete?) observations:
- Other dashboard sections have **Recent \<Thing\>s** lists
- Those lists are affected by the filtered date range
- The **Top Manufacturer Donations** list does not appear to be filtered/affected by the date range

[2022-02-20 21:56] dorner commented on #2707
@seanmarcia @scooter-dangle the requirements mention changing "diaper drive" to both "product drive" and "essentials drive". Which is preferred?

[2022-02-20 22:17] scooter-dangle commented on #2707
Good question. I'd go with 'product drive' for now.

[2022-02-21 18:44] bobmazanec opened #2773 ""inactive items" dashboard spec examples: Uncomment & fix(?) or delete?"
# Summary

Do the "...doesn't count inactive items" dashboard spec examples represent desired functionality that should be restored?
Should they be deleted?

## Things to Consider

There are 4 examples regarding inactive items in the Dashboard spec:

https://github.com/rubyforgood/human-essentials/blob/693f9ffee78fece1575b5b1140b1252b861e18c5/spec/system/dashboard_system_spec.rb#L135-L148

https:/

[2022-02-21 19:30] bobmazanec commented on #2773
With the examples uncommented (and slightly updated), simply restoring `.active` to the `dashboard#index` lines has the examples passing.

But are there other "gotchas"/considerations to look (test?) for which caused the code to be removed & examples commented out?

[2022-02-21 19:55] #2676 closed

[2022-02-21 19:55] #2747 closed

[2022-02-21 20:14] #2748 closed

[2022-02-22 03:43] #2557 closed

[2022-02-22 04:20] #2760 closed

[2022-02-22 04:23] seanmarcia commented on #2711
I'm hesitant to just remove the retry as it gives new contributors a bad signal. I think I'm going to push a branch with the gem removed during the next office hours and then just re-run the test suite 10 or so times and see what, if any, errors pop up on the branch.

[2022-02-22 18:06] cielf commented on #2707
Claiming this one to work on -- once I get the tests working!

[2022-02-23 01:39] #2763 closed

[2022-02-23 15:52] bobmazanec opened #2783 "[Bug] Correct monetary donations on the essentials bank dashboard"
# Summary

The org. dashboard's **Product Drives** section is currently tallying all monetary donations, it should only tally  those from Diaper Drives.    The manufacturer donations should show the money raise from manufacturer donations [money only, not in kind]

# Details

For example, given 3 monetary donations in the filtered period

![image](https://user-images.githubusercontent.com/2031462/

[2022-02-23 17:25] cielf commented on #2707
Request for clarification:

How deep do we want to go here?

I ask because the relevant models are diaper_drive and diaper_drive_participants.

As a first pass, I'm doing text-that-is-on-the-screens, and errors that users might see.

That covers most of what the end-users would see -- except that the urls will still show diaper_drive.

I can see an argument for stopping at that point,  and an argu

[2022-02-24 05:15] seanmarcia commented on #2707
Good catch @cielf! I think the visible changes are probably the most important ones -- do you have a sense of the scale of effort for a real refactoring? Perhaps a second story if it is really large?

[2022-02-25 04:02] #2762 closed

[2022-02-25 13:28] cielf commented on #2707
Well, as a quick size check, I did a search on "diaper drive" and on "diaper_drive", case insensitive, and both returned 100+ hits.   There are a fair number of text references, but you also have the active record and controller for both diaper drive and diaper drive participants,  plus some more local things like the diaper_participant_rows within reports.     About 50 percent of the "diaper driv

[2022-02-25 14:07] dorner commented on #2707
One option which might mitigate the risk is to leave the *table* name as is but rename the models and classes. That way you don't need to change any database-side things until the code seems good, and you can tackle that rename as a separate project if we feel it's necessary.

[2022-02-25 14:23] cielf commented on #2707
I think that might be where should draw the line.    As I poke more at this,  I realize that we  do have to either change the names of most of the moving parts, or write special code for the forms,  just to get the primary goal.

[2022-02-26 17:27] scooter-dangle commented on #2605
Going to grab this one. Working on reproducing first (and w/ screenshots).

[2022-02-26 17:42] edwinthinks commented on #2749
@seanmarcia where would this form be to associate the ndbn membership to the organization?

[2022-02-26 17:51] seanmarcia commented on #2749
How about between email and address on the org page:

<img width="1057" alt="image" src="https://user-images.githubusercontent.com/667909/155853830-9faf3832-eb46-4813-bdfd-1828a3517720.png">

[2022-02-26 18:39] scooter-dangle commented on #2605
I've been able to reproduce the bug.

I created a small diaper drive locally with two separate `Pads` entries (`2` and `5` for a total of `7`):
![image](https://user-images.githubusercontent.com/934707/155855014-0d1acde0-8687-421c-ae03-cbcd166b54c7.png)

That shows up correctly on the summary page for drives:
![image](https://user-images.githubusercontent.com/934707/155855098-e66327aa-6b78-4dce-b5

[2022-02-26 23:18] cielf commented on #2707
Argh!  I thought I had the tests all passing yesterday, but I must have been mistaken.

Here's where I'm hung up:

On the New Donations drive,  you select a donation source from a list of literals which is defined in Donations::SOURCE.values.

However,  If I change the literal in Donations::SOURCE.values,  "Product Drives" shows up in the drop down list, but when I select it,  the associated field

[2022-02-27 00:48] dorner opened #2787 "Improve handling of user accounts"
# Summary

Currently, we have two separate User models - `User`, for bank accounts, and `Partner::User` (plus `PartnerUser`), which is for partner accounts and lives in the partners database.

There are a few issues with this situation:

* There is a valid use case where the same e-mail address is used to log in to the application, one as a partner user and one as a bank user. This can cause confu

[2022-02-27 03:34] seanmarcia commented on #2787
I love this idea.

This has come up in discussions on next steps now that the applications have been merged. I think what has held us back is that, like combining the two apps in the first place, it is hard to do this piecemeal so it is a lot of work that will primarily fall on one person.

Edwin did the monumental task of merging the two applications into one and going this route will definitely

[2022-02-27 19:17] dorner commented on #2787
Upgrading to Rails 7 might help with the multiple databases challenges. I'm not sure if the databases are on separate clusters / nodes or on the same machine. If the latter, we don't really need to worry much, since joins across databases should work fine. If the former, Rails 7 gives us more flexibility to make associations "just work":

We might also be able to add some Rails magic (e.g. adding

[2022-02-27 19:31] dorner commented on #2475
If we do end up using something like `pundit` as suggested in #2787, we probably should wait on this until we have that done, since we would want to use pundit's roles / permissions rather than rolling our own.

[2022-02-27 19:33] dorner commented on #2787
One thing we should decide is if we want to go all the way and use pundit/cancan for things that currently we do in other ways (e.g. marking a user as an admin / not an admin) - since policies and permissions is exactly what that approach is supposed to provide. Might help with #2475 and similar tickets.

[2022-02-28 19:10] bobmazanec commented on #2711
FWIW, running `spec/system/distribution_system_spec.rb:375` (671f3cde) on my dev box today passed on 3rd try:

[code]

Looking at `log/test.log`, I don't see any important differences in responses over the 3 cycles (some formatting for clarity):
[code]

The timing on the 3rd (i.e., passing) cycle appears similar to the 2nd—i.e., all 3 requests starting in the same second.

So I'm thinking there's

[2022-02-28 19:29] bobmazanec commented on #2711
But...same failure with
[code]

as well as both increasing the wait time and trying to make the expectation more explicit:

[code]

[code]

🤷‍♂️

[2022-03-01 02:05] cielf opened #2790 "Error on showing diaper drive with no end date"
# Summary

You can enter a diaper drive with no end date.  However, if you then try to view it,  by clicking "view" from "All diaper drives", you currently get a 500 error (on staging)

#Details

If run on local, it appears that the error is an  "undefined method `strftime' for nil:NilClass"   coming from this section of the diaper_drives show.html.erb:

 <tr>
              <td><%= @diaper_drive.n

[2022-03-01 05:04] #2707 closed

[2022-03-01 14:09] cielf opened #2792 "Change internal references to diaper_drive, diaper_drive_participant to product_drive, product_drive_participant"
# Summary

Change internal references to diaper_drive, diaper_drive_participant  to product_drive, product_drive_participant

This is largely to have consistency between the outside world and the code, and to mitigate future developer confusion.

(Note:  this is related to #2707 Generalize Language)

## Things to Consider
A text search revealed 3200+ hits on "diaper_drive", of which 7-800 are not

[2022-03-01 14:26] dorner commented on #2792
honestly I feel like doing a mass find/replace might actually not be too bad. :p As long as we fix the table reference in the model, it's possible everything would "just work".

It would be a nightmare to review, but very easy to code 😁

[2022-03-01 14:34] cielf commented on #2792
That's my gut feel on it, too.

I would not look forward to trying to merge it with any other changes, though.

[2022-03-01 15:28] seanmarcia commented on #2790
This error popped up before and I thought it was fixed? Maybe we just put in the fix on the index page but not the show page?

[2022-03-01 16:30] bobmazanec opened #2793 "Intermittent spec/system/donation_system_spec example failures"
# Summary

Related-to/split-from #2711

Running a2be5be `spec/system/donation_system_spec` on my dev box produces intermittent failures—e.g., with random seed `47352`:

[code]

[2022-03-02 00:27] cielf commented on #2793
I saw something similar wihen I was working with the language stuff-- touching assets/javascripts/donations.js.erb seemed to make it go away for me, so I thought there might be some weird dependencies with the const values in that?  Or it may just have been magic.

[2022-03-02 21:45] #2749 closed

[2022-03-02 22:44] AngeVeza opened #2798 "As a Partnerbase I want to be able to add my county in my address and counties served below Agency Type."
# Summary

In the address section in My Organization, the partnerbases need to be able to add their county. They also need to have a field for Counties Served underneath Agency Type:

![image](https://user-images.githubusercontent.com/73323436/156466622-9d24db5b-f411-4912-b2f0-89ccae40f369.png)

## Things to Consider

# Criteria for Completion

 - [ ] A field under the Zip Code field for: County

[2022-03-03 07:49] Learningstuff98 commented on #2798
@seanmarcia I would like to work on this.

[2022-03-03 18:18] bobmazanec opened #2801 "Long file load time to run even a single spec"
# Summary

**As a** Developer
**I want** specs to start and run quickly
**So that** I can get feedback quickly

On my dev box (2019 MBPro, 2.3 GHz 8-core Intel Core i9, 16 GB RAM, macOS 12.2.1), running even a single spec routinely shows 5-9 seconds to load files
e.g., running
[code]
produced both

[code]

and

[code]

today.

**Are others seeing this?**
**Any ideas/suggestions?**

# History/Conte

[2022-03-03 20:12] dorner commented on #2801
At least 2-3 of those seconds are running Webpacker. This happens even when you're not doing a JavaScript-y system test because unfortunately I don't think RSpec has a good way of detecting if you're running any system tests in your current suite.

Best way to avoid this would be to get up to Rails 7 and use import maps 😅

[2022-03-03 23:47] bobmazanec commented on #2801
Good points.

In the meantime, maybe #2802 is a good (-enough?) (temporary?) fix/workaround?

[2022-03-04 14:46] dorner commented on #2801
I like it a lot - I'm kicking myself that it never occurred to me. :)

[2022-03-05 04:16] cielf commented on #2790
Looking at index, I think it's a 1 character fix, so it might have been pretty easy to miss on a merge, too. Likely a case where writing the test will be harder than making the fix.

[2022-03-05 18:53] cielf commented on #2790
I think I'll grab this one

[2022-03-05 18:55] cielf commented on #2792
I'm pretty sure I know how to handle the table reference, and it's a logical extension of the work I already did on the diaper drive, so I think I'll grab this.

[2022-03-06 02:02] #2605 closed

[2022-03-06 03:34] losito105 commented on #2798
Hi! To clarify, you'd just like two more fields to be added to this form? Or does this issue also involve the propagation of the data entered into those fields elsewhere?

[2022-03-07 05:34] seanmarcia opened #2807 "Default Storage Location for Partners"
# Summary

Banks are currently able to set default storage locations for their bank. The storage location that they set is then auto filled on distributions to save them time rather then having them select it on each distribution. As several banks allocate distributions to their partners from set warehouses we'd like to give banks the ability to set default storage locations on a more granular lev

[2022-03-07 05:51] seanmarcia opened #2808 "Add Privacy Policy"
# Summary

As part of adding the ability to log in with their Google account we are required to have a publicly accessible Privacy Policy for the app.

Please add a page that is accessible at humanessentials.app/privacypolicy with the information from the attached text file on the page.

[privacypolicy.txt](https://github.com/rubyforgood/human-essentials/files/8195162/privacypolicy.txt)

# Criteri

[2022-03-07 14:22] dorner commented on #2594
@AngeVeza @seanmarcia so I'm about 90% of the way into my initial solution, which was to use the Google Calendar API to actually insert/update events into the user's calendar (they'd have to pick which one). However, I realized that that might be a bit too intrusive and possibly unnecessary - not to mention depending on the organization, there might be a lot of events to sync.

The other option is

[2022-03-07 15:50] cielf commented on #2792
It's not quite as simple as all that (just pointing to the diaper drive/diaper drive participant tables in the renames Product Drive and Product Drive Participant models) -- because donations are linking into diaper_drive and diaper_drive_participant.   I'm not sure we can really get away with out some significant migrations.   (I know, Rails makes this sort of thing relatively easy, but..)    I'm

[2022-03-07 18:48] seanmarcia commented on #2793
I think this is related to some of the other asset/webpacker issues. I wonder in @bobmazanec's fix will take care of it.

[2022-03-07 18:48] #2790 closed

[2022-03-07 18:52] seanmarcia commented on #2475
That is probably the best way to go but the pundit implementation is a pretty major lift. This one, basically, just requires setting a single boolean field `partner_admin` or something similar and then using the discard gem like other models do. Not sure which is the best way to go. If you are able to attend an essentials office hour we should discuss the user model/pundit/etc stuff.

[2022-03-07 18:53] dorner commented on #2475
I'd love to but unfortunately they're always on Saturday afternoon, which I can't attend for religious reasons :(

[2022-03-08 05:44] seanmarcia commented on #2787
I have a couple more thoughts too:
- [ ] Do we want to continue to have two databases? Is there any value in having two databases, if so what?
- [ ] If we don't, should that be rolled into this epic as well?
- [ ] A logical extension or next step of this story would be the combining of the partner models. Have the partner::partner turn into a partner_profile or something like that? Maybe?

[2022-03-08 14:42] dorner commented on #2787
I don't think there is any value in two databases, no - I'd assumed there was some logistical reason for it, but if it's purely historical, I'd be super happy to see it go away :)

Having said that, I don't think it needs to be part of this epic. The nice thing about Rails is that the models don't actually care all that much about the names and locations of the database tables backing them. We can

[2022-03-10 18:52] seanmarcia opened #2813 "Update Annual Report"
# Summary

We've broken the annual report into a few categories -- diapers, adult incontinence and misc. The NDBN has just updated the report to also want to report on Period Supplies which covers Pads, Tampons and Adult Liners which would need to be broken out from the other categories.

## Things to Consider

We have the pattern established for the annual report this should just be adding anothe

[2022-03-10 21:06] seanmarcia commented on #2783
Did your pull request #2762 fix this?

[2022-03-10 21:07] seanmarcia commented on #2773
I think we should probably just remove this -- feels like it was taken out for a reason. Especially given your question at the last stakeholder meeting about the dashboard and what folks want displayed on it -- people don't have a strong opinions.

If we have a reason/need we can make a story to add this in.

[2022-03-11 21:22] bobmazanec commented on #2783
Nope.

[2022-03-12 17:55] seanmarcia opened #2818 "Disaggregate Purchases Export"
# Summary

We received a request that diaper banks would like to see a breakdown of what was individually purchased when they export their purchases and not just see the aggregate amounts. So, currently they see 600 items purchases, instead they would like to see 150 size 1 diapers, 150 size 2 diapers, and 300 size 3 diapers. For example.

Banks are able to export their purchases from the purchase

[2022-03-12 18:07] seanmarcia opened #2819 "Upgrade to Rails 7"
# Summary

Rails 7 is out and we need to get on it!

# Criteria for Completion

 - [ ] App is upgraded to rails 7
 - [ ] Tests pass

# Bonus Round

 - [ ] Look into the fun and fancy stuff in rails 7 and see if we have any use cases for it (Hotwire, import maps, etc)

[2022-03-12 18:50] cielf commented on #2792
Having talked it over with Sean, I'm back on it.  We're going to go the route of changing the table names -- it's a big change to the schema, but the end result will be better in terms of developer ease going forward.

[2022-03-14 17:05] #2773 closed

[2022-03-15 05:27] #2808 closed

[2022-03-18 12:58] dorner commented on #2594
^ still working on this :)

[2022-03-21 13:28] #2517 closed

[2022-03-21 13:35] #2594 closed

[2022-03-22 15:11] cielf commented on #2818
Sean --I notice that the purchase amounts are entered as the broad categories as well.  Should those be broken out in the export?        It'd likely be trivial to add them later.

[2022-03-22 17:44] seanmarcia commented on #2818
Definitely add it in if it isn't difficult. Otherwise we can put it in later :)

[2022-03-22 18:25] #2767 closed

[2022-03-23 01:34] #2818 closed

[2022-03-23 13:45] seanmarcia commented on #2783
Should we change this issue to help wanted?

[2022-03-23 13:58] seanmarcia commented on #2711
We have a few different open issues related to flakey specs and I'm wondering if it is an issue not related to the code... or not "just" related to the code. I've noticed other folks I follow on twitter complaining about similar things, ie:
https://twitter.com/ryanbigg/status/1496971669113499682
Maybe our issues we've been having are related to web mock or chrome driver but seems like they might b

[2022-03-23 14:05] dorner commented on #2711
Flakiness of system tests is nothing new. :) Whenever you start messing with "real" browsers you get randomized issues like this unfortunately. Some of it might be due to the CI environment, or some weird timing or communication issues. Honestly I think I'd be happy if we leave the `rspec-retry` in there but only apply it to system tests.

[2022-03-23 16:09] seanmarcia commented on #2545
Looks like this was completed with #2546! Happy to reopen if I'm wrong :)

[2022-03-23 16:54] dorner commented on #2545
@seanmarcia isn't this for the `text` layout? #2546 fixed the `html` layout files.

[2022-03-23 17:42] seanmarcia commented on #2545
You are correct! My mistake for too quickly reading over the recently merged PRs. You've probably seen I've commented/closed most active issues today as part of triaging and clean up. Will re-open or re-create with all the specific emails needed to be converted called out as it looks like there is more than the the distribution and partner mailers needing this :)

[2022-03-23 18:40] seanmarcia commented on #2711
Create a branch #2836 that has rspec-retry disabled. The idea is to re-run the various test workflows multiple times to give us a chance to see and dig into failures and identify flakiness.

[2022-03-23 18:41] seanmarcia commented on #2793
Going to close this issue to avoid duplication as we have another issue to look into bad/flaky tests. See the comment here: https://github.com/rubyforgood/human-essentials/issues/2711#issuecomment-1076691406

[2022-03-23 18:41] #2793 closed

[2022-03-23 19:28] ilangela commented on #2798
Hi, @MaiRR and I are first-time contributors and would love to take a shot at this issue!

[2022-03-23 20:59] bobmazanec commented on #2793
I agree with the general "avoid duplication" sentiment, but want to make sure you considered my reasoning in https://github.com/rubyforgood/human-essentials/issues/2711#issuecomment-1055588885
Thanks

[2022-03-24 13:51] seanmarcia commented on #2793
Absolutely. I'm not sure quite yet on if we should make issues for each or what the best way to handle it is. We can make an issue for each test failure that pops up but it really feels like there is something more at work here than a flakey tests. We've only recently started having consistently flakey tests and needed to add the rspec-retry gem. This leads me to believe that we have a configurati

[2022-03-24 14:05] seanmarcia commented on #2798
Hey @ilangela and @MaiRR ! It looks like @AngeVeza who created this issue hasn't marked it as help wanted yet so I don't know if it is ready to be worked on right now. She may have been waiting for feedback from the stakeholders. I'm going to close this issue for now since she is out on family issues and can re-open it when it is ready.

In the meantime we have another good starter issue here that

[2022-03-24 14:05] #2798 closed

[2022-03-24 14:05] #2550 closed

[2022-03-24 14:21] cielf commented on #2813
We allow the breakdown of purchase amounts by category as well.   Will we need to modify that to match? [Perhaps a question for stakeholder meeting / separate issue.]

[2022-03-25 19:49] dorner commented on #2819
@seanmarcia so far I've run into one roadblock, which is that the [devise-secure_password](https://github.com/ValiMail/devise-secure_password) gem does not have support for Rails 7 in its gemspec. I've opened an [issue](https://github.com/ValiMail/devise-secure_password/issues/82) for them to cut a new release relaxing the gemspec, but until then this gem won't install.

Our options include:
* For

[2022-03-25 20:06] dorner commented on #2819
Note that font_ionicon also refuses to be upgraded, but that's an asset gem and we likely have other ways of including those files in the assets.

[2022-03-25 20:33] dorner commented on #2787
Been doing a bit more poking into this. Options seem to be:
1. Create a second user table (`partner_users`) to start with, then eventually combine them together.
2. Do the database and user roles all together in a big bang.

1. is a bit more work in total but I think it's probably safer.

Once we're at the user side, I think something like [Rolify](https://github.com/RolifyCommunity/rolify) could

[2022-03-26 12:45] edwinthinks commented on #2787
Hey there! I love this discussion happening here. To give my 2 cents to really big questions is:

Nope. We shouldn't have two DBs. I really want to merge them but never got a chance to get around to it yet.

It's been a while since I've thought about this, and I was hoping to investigate a little on how we can truly merge the two apps together.

[2022-03-26 15:49] edwinthinks commented on #2819
Is the gem devise-secure_password necessary? I'am reading into the gem and it does provide some benefits but doesn't devise support this at least in part?

[2022-03-26 15:49] edwinthinks commented on #2819
Hotwire is already something we can add to the project with this version of rails :)

[2022-03-26 15:50] seanmarcia commented on #2819
I wonder if we can just drop the font_ionicon_rails gem and just find and use a similar icon from font_aweome?

[2022-03-26 16:02] edwinthinks commented on #2819
@seanmarcia I see we added it a while back. Maybe we don't need to replace it? https://github.com/rubyforgood/human-essentials/commit/c8c7f0c257dacddc4af3feaa2ae4c8e86648fbe0

[2022-03-26 17:01] scooter-dangle opened #2839 "Forecasting and other flipper cleanup"
The following don't need to be hidden behind feature flippers any more.

* `itemized_distributions`
* `itemized_donations`
* `reports`
* `forecasting`

[2022-03-26 17:14] scooter-dangle opened #2840 "(sometimes) Too many items expanded in left-hand nav will cause expansion icons to be hidden by scrollbar"
I haven't yet figured out the exact cases where this does and doesn't happen, but I've verified that it happens on more than just my machine (Linux Ubuntu 20.04 + Firefox). (Sean saw it happening on his Mac, too.)

Setup:
* when you expand enough items in the left-hand nav section it that it has to include a scrollbar
* plus some extra pre-conditions that I haven't nailed down—it _seems_ to trigge

[2022-03-27 14:01] dorner commented on #2819
I can take a look to see how we're using ionicon. For the secure password, I think we can replace this gem with something much simpler like a validation on the model using https://github.com/bdmac/strong_password .

[2022-03-27 14:21] dorner commented on #2787
Been thinking a bit more after looking at your PR, and here's my feeling for how the ideal migration would work for databases and users.

1. Copy all the table schemas from the partners database to the main database. 2 tables will need to be renamed (partners -> partner_profiles, users -> partner_users).
2. Migrate the data to the new tables. Ideally we can take the app down during the migration,

[2022-03-27 14:29] dorner commented on #2819
lol I took a look at the way we use the devise plugin and it seems like we override all the defaults and we basically use it as a glorified check that the password has a special character in it. 😆

[2022-03-27 18:29] dorner commented on #2819
So Rails 7 looks like it actually has two options. One uses importmaps and tailwindcss. Even though this is the solution that DHH has been touting for a while, it's incredibly stifling - no use of SASS, for example. It might work on a brand new app, but the amount of work necessary for this app is just nowhere near worth it. Instead it sounds like we'd be moving to css-bundling and js-bundling, bu

[2022-03-28 16:07] cielf commented on #2813
The report is dependent on the breakdown of purchase amounts by category.   There are some implications here for the amount of work the orgs will have to do after the fact to get this years reports right.

[2022-03-28 18:15] seanmarcia commented on #2813
Definitely. We'll need to modify purchases to disaggregate period supplies.

[2022-03-29 11:51] cielf commented on #2813
I think adding it to the screen is technically covered by the story, because you can't complete it without making those changes, but needing to also add it to the purchases export is not, and might be inobvious to someone picking this up new.  Tasks added.

[2022-03-29 14:35] cielf commented on #2813
I am assuming that if they need to recalculate a pre-2022 report,  it's ok to recalculate it with period supplies broken out.

[2022-03-29 16:24] cielf commented on #2813
It's a bit tail-wagging-the-dog, but I am considering putting in a bit of code so that, if the organization was created this year, it checks if there is data with earlier entered dates(distributions, donations, or purchases) to set the "foundation year" -- which determines whether there are any reports available.

The purpose of this would be to
    1) enable system testing of the annual reports a

[2022-03-31 17:33] seanmarcia commented on #2813
Yeah, I'm not entirely sure that is necessary -- feels like too much work. I may just feel that way because I have the dumps of data with prior years so it is easy to test for me :)

[2022-03-31 17:33] #2813 closed

[2022-03-31 23:52] edwinthinks commented on #2787
@dorner thanks for putting some more thought into this migration :)!

I think this could be a great option and love to see if we can try it out locally first?

I think we can make this work. We do have very low traffic and be happy to stay up a little later (or wake up earlier) to help out with this.

I'am onboard with this approach! We do have "live" database data that I'am happy to give you acce

[2022-04-01 20:17] dorner commented on #2819
So I've spent probably three hours on this investigation so far and gotten nowhere. The issue is that the app uses a mishmash of different frameworks - tailwind, jquery, bootstrap - and different asset technologies - sprockets, sass, post-css - all together. Stylesheets are included at least three different ways, there are some things included via npm and others via Rails gems. I'm still not quite

[2022-04-02 16:38] cielf commented on #2839
Yeah, this looks like it is well nigh unto trivial.  I can take care of it.

[2022-04-02 20:20] meg-gutshall opened #2847 "Meta issue: Fix AdminLTE layout"
# Summary

The chosen admin dashboard template, [AdminLTE](https://adminlte.io/), is not being used properly throughout the app. I'm going to go ahead and implement it!

This issue will consist of multiple checkboxes, detailing different template components and pages. I will check them off as they're completed, submitting a PR against each checkbox.

## Resources

- [AdminLTE](https://adminlte.io/

[2022-04-02 20:25] meg-gutshall commented on #2847
@scooter-dangle Please see the issue above per our discussion this afternoon. I listed the components and JS plugins provided via the AdminLTE template but I don't know which features we're actually using (or could use) in the app. Would you give it a look and let me know of any I should remove from this list? I don't want to do any redundant work. Thank you!

[2022-04-03 14:43] dorner commented on #2787
@edwinthinks sure, if you could shoot me a DB dump over Slack for the partners DB, that would help for local testing for this!

[2022-04-06 05:03] #2819 closed

[2022-04-07 16:57] #2839 closed

[2022-04-08 04:08] seanmarcia opened #2858 "Partners View Pdfs"
# Summary

When a distribution is created on the bank side a pdf is generated and emailed to the partner agency. The bank also has the ability in the distributions to view the pdf of the distribution details. The partners, while able to see the items they were distributed, are not able to view that pdf after that initial email. We need to make it available to them as needed.

Below is a screenshot

[2022-04-08 04:15] seanmarcia opened #2859 "Partner Distributions"
# Summary

Some long running partners have an excessive number of prior distributions on their dashboard which makes their dashboard unwieldy. We should create a distribution page like the requests page showing all prior distributions while at the same time limiting the number of prior distributions on the main page to 5.

## Things to Consider
There is a current issue to add `print pdf` to the di

[2022-04-08 04:49] seanmarcia opened #2860 "CSS and JS Cleanup and Audit"
# Summary

Like any application that has been around for 5+ years and has over 200 contributors (wow!!!) this one has accumulated technical debt. Specifically, we have a lot of javascript, css and conventions around that css. We need to clean up and remove unused js and css in the application as well as unify the css we do have. We are using sprockets, sass, webpacker, and probably more.

## Thing

[2022-04-08 04:51] seanmarcia commented on #2847
I love this! I've added BLOCKED until #2860 is completed since that will make your work easier -- part of that story will be removing unused JS files.

[2022-04-09 02:06] #2592 closed

[2022-04-12 14:51] cielf opened #2865 "Minor language change for annual report"
# Summary

In the "other items" section of the annual report,  the items being reported on are described as "non-diaper items".    We recently broke period-related items out from the other items, so that's no longer strictly accurate.

Please change the phrases "non-diaper products" to "other products" in that section.

## Things to Consider

The individual components of the annual report can be f

[2022-04-13 18:16] cielf commented on #2859
I'm looking at this one, but it might take me some time.  If it's urgent, someone else can tap in.

[2022-04-14 01:18] cielf opened #2866 "Cleanup of deprecated code re Rails 7"
# Summary

There are a number of deprecation warnings we'll want to clean up in the wake of the Rails 7 update.

For instance:
DEPRECATION WARNING: Date#to_s(:long) is deprecated. Please use Date#to_fs(:long) instead.

A full list of the deprecations for Rails 7 can be found at: https://edgeguides.rubyonrails.org/7_0_release_notes.html

## Things to Consider

There may be an automated  way to clea

[2022-04-14 16:07] meg-gutshall commented on #2860
I'm posting to follow the progress here

[2022-04-14 23:09] cielf opened #2870 "Family guardian country -> guardian county"
# Summary

There is a field on the partners/family model  "guardian_country".  It shows on the family screen as "Guardian County".  It is actually,  per  Sean (Slack thread in #human_essentials starting 20220412),  the county.

The field is currently populated in seeds.rb as "United States".
To avoid future developer confusion,   change the guardian_country field on partners/family to guardian_cou

[2022-04-17 22:14] cielf commented on #2859
I must have made a typo on the pull request -- This is done and can be closed.

[2022-04-17 22:14] #2859 closed

[2022-04-19 04:54] #2866 closed

[2022-04-25 14:34] cielf opened #2876 "Diaper Language, continued"
# Summary
Update all remaining cases where the term diaper is being used to indicate any supplied item.   This is mainly in support of period supply organizations and partners.  A continuation of an earlier issue that addressed product drives.

## Things to Consider

There are parts of the system where diapers really does mean diapers only -- mostly in reports.   We also use diapers in the seed da

[2022-04-25 14:43] cielf commented on #2876
I'm not sure that either "product" or "item" really work as the language for first time partner users.   Thoughts?

[2022-04-25 14:48] cielf commented on #2876
This is specifically for the screens where they are signining up / qualifying.  Barring better ideas,  I think using  Item (e.g. Diapers, Period Supplies) will work.

[2022-04-26 22:16] #2545 closed

[2022-04-27 10:30] kinduff commented on #2865
Happy to take this one!

[2022-04-30 16:21] #2840 closed

[2022-04-30 16:45] #2870 closed

[2022-04-30 17:04] scooter-dangle commented on #2858
We definitely want to re-generate a new PDF and not save+serve the original? Is there any possibility that the subsequently generated one wouldn't match the first?

[2022-04-30 17:14] scooter-dangle commented on #2847
Can we remove the BLOCKED label now?

[2022-04-30 17:15] seanmarcia opened #2882 "Upgrade Ruby"
# Summary

We need to upgrade the app to the newest version of Ruby which is currently 3.1.x.

# Criteria for Completion

 - [x] App is upgraded to Ruby 3.1.x
 - [x] All tests pass.

[2022-04-30 17:21] seanmarcia opened #2883 "Fix Reminder/Deadline Display Logic"
# Summary

There is a slight error in the display logic for the reminder and deadline days on the organization and partner groups page. When displaying when the next deadline is going to occur it gets the month wrong if it is in the following month. See the following screenshot:

<img width="1219" alt="image" src="https://user-images.githubusercontent.com/667909/166115656-cf7be169-2fbf-4c83-ac90-2

[2022-05-02 11:38] cielf opened #2888 "All Donations: Filtering on product drive participant does not stick around"
# Summary

In the Donations index,  the filtration on product drive participant does not stick around, and if you filter on product drive,  the filtration for product drive participant gets populated.

It's a problem that is easier to describe by showing the wrong line of code:

 <%= filter_select(scope: :by_product_drive_participant, collection: @product_drive_participants, value: :business_name,

[2022-05-03 15:27] cielf commented on #2865
I deliberately left this one aside.    Sorry for the delay in response.

[2022-05-04 00:12] Learningstuff98 commented on #2882
@seanmarcia I'd like to work on this one

[2022-05-04 03:45] seanmarcia commented on #2882
It's yours!

[2022-05-04 14:23] #2888 closed

[2022-05-05 09:07] kinduff commented on #2865
I'll get into it then, thanks

[2022-05-05 12:55] cielf opened #2893 "Partner language updates"
# Summary

In last night's stakeholder meeting, we identified a need to really take a look at the language on the partner forms so that they don't become a barrier to entry.  In the meantime, though a couple of specific text changes on the partner side were identified:

1/  Change "Diaper Use:" to "How Are Essentials (e.g. diapers, period supplies) Used In Your Program?"
2/  Change "Agency Guardia

[2022-05-05 12:59] cielf commented on #2893
Related to/overlapping with #2876.

[2022-05-05 23:05] Learningstuff98 commented on #2882
I'm running into an issue with updating the app locally. I'm trying to run db:migrate but I'm getting the following error message:

![Screenshot (471)](https://user-images.githubusercontent.com/42154066/167037126-2eb40bd6-7f8c-4457-98ee-d630442e7a6a.png)

I wonder if in the migration file, the CreateNdbnMembers class having the dbn part being lower case, but in the model file the dbn part being ca

[2022-05-06 03:08] seanmarcia commented on #2882
I'm not entirely sure how that slipped in. If you can rename those as part of this it would be appreciated. You'll need to fix 3 migrations: `CreateNDBNMembers`, `AddNDBNMembershipIdToOrganizations`, `AddValidateNDBNMembershipIdToOrganizationsFk`

[2022-05-06 05:19] Learningstuff98 commented on #2882
Sure, I'll do that

[2022-05-07 19:49] seanmarcia opened #2894 "Export Itemized Distributions"
# Summary

Our banks get a lot of value out of the itemized distribution list on the dashboard and they would like to be able to easily download that into a spreadsheet for them to have easy access to.

The dashboard itemized distributions looks like this:
![image](https://user-images.githubusercontent.com/667909/167269542-8062d914-dd1e-4298-9b0b-13f8df3cef79.png)

We should put a button that says

[2022-05-07 19:58] seanmarcia opened #2895 "Warehouse Inventory for Requests"
# Summary

Banks have the ability to set default storage locations to fulfill their requests at the organization level as well as the partner level. When a partner agency makes a request of a bank the bank is able to see the amount of total inventory they have in stock but they are not able to easily view the inventory at the specific warehouse that is going to fill that request which can be frust

[2022-05-07 20:05] seanmarcia commented on #2858
I think we'd want to generate a new one each time. Especially on the upcoming distributions as it is possible those may change leading up to when he distribution happens. Also, we already have the logic to print generate the pdfs on the bank side for partners we just need to pull that over to the partner base side.

I obviously haven't looked into it or how difficult it will be to use that existin

[2022-05-08 16:13] scooter-dangle commented on #2895
Not sure how far I'll get, but I'll try to start on this.

[2022-05-09 13:31] cielf opened #2899 "Distributions by county report"
# Summary

Essentials banks need a breakdown of their distributions by county to support quarterly grant requests

Each partner serves one or more counties (or equivalents).   Each partner will provide the list of counties they serve,  and the  estimated percentage of items that will go to each county.

The information needed in the report is county(state), number of items distrubuted, and dollar

[2022-05-09 17:31] cielf opened #2900 "Correcting the ability to request item previously associated with a child,when partner is not allowed to request the item"
# Summary

Partners are allowed to select from a subset of all the items the essentials bank offers.  This is governed through partner groups.

<img width="1032" alt="Screen Shot 2022-05-09 at 1 00 31 PM" src="https://user-images.githubusercontent.com/10157589/167460594-7662fcf7-9d86-48d6-ad0e-fd1ea547bcc5.png">

When the partner enters a child into the system, they also indicate the Diaper/Item u

[2022-05-09 23:16] cielf commented on #2895
I think we should switch the order of the two inventory columns, though -- having the amount at the location adjacent to the amount required should be more natural.

[2022-05-12 16:58] cielf commented on #2579
From:  https://www2.census.gov/programs-surveys/decennial/2020/technical-documentation/questionnaires-and-instructions/questionnaires/2020-informational-questionnaire-english_DI-Q1.pd

If I'm reading this correctly,  the 2020 census added several more-specific race categories that (I presume) would have been under the Asian or Pacific Islander umbrellas before.

![Screen Shot 2022-05-12 at 12 50 2

[2022-05-15 12:53] cielf opened #2905 "Partner dashboard distributions timing refinement"
# Summary

The partner dashboard shows upcoming distributions and prior distributions.   Currently anything with a date of today or later is upcoming.   This should be based on the current time instead.  That is,  if you had a distribution at 10am, and you are looking it at 3pm,  it should be in the prior distributions rather than the upcoming distributions.

## Things to Consider

Although this i

[2022-05-15 16:42] cielf commented on #2905
Apparently there is a whole can of worms around timing that I'm opening up here.     Which does not change that from a business p.o.v., "now" would probably be better...

[2022-05-16 16:56] cielf commented on #2893
I'm going to pause this one after the user text changes pending the database merge.  Just to avoid leap-frogging migrations etc.

[2022-05-17 01:22] Learningstuff98 commented on #2882
I haven't been able to figure out this issue with SimpleCov yet. There doesn't seem to be anything on google about the error saying that "coverage measurement is already setup". SimpleCov is already at its latest version. I haven't seen any depreciation warnings so far. I should add that I've never done a ruby version upgrade like this before so maybe I'm missing something.

[2022-05-18 05:26] seanmarcia opened #2909 "Railsconf 0: Fix ArgumentAlignment in app/controllers/account_requests_controller.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 15
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in app/controllers/account_requests_controller.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues

[2022-05-18 05:27] seanmarcia opened #2910 "Railsconf 1: Fix ArgumentAlignment in app/controllers/adjustments_controller.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 16
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in app/controllers/adjustments_controller.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-r

[2022-05-18 05:27] seanmarcia opened #2911 "Railsconf 2: Fix ArgumentAlignment in app/controllers/admin/organizations_controller.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 17
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in app/controllers/admin/organizations_controller.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the iss

[2022-05-18 05:27] seanmarcia opened #2912 "Railsconf 3: Fix ArgumentAlignment in app/controllers/audits_controller.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 18
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in app/controllers/audits_controller.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run ru

[2022-05-18 05:27] seanmarcia opened #2913 "Railsconf 4: Fix ArgumentAlignment in app/controllers/distributions_controller.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 19
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in app/controllers/distributions_controller.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re

[2022-05-18 05:27] seanmarcia opened #2914 "Railsconf 5: Fix ArgumentAlignment in app/controllers/donation_sites_controller.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 20
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in app/controllers/donation_sites_controller.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues r

[2022-05-18 05:27] seanmarcia opened #2915 "Railsconf 6: Fix ArgumentAlignment in app/controllers/reports/annual_reports_controller.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 21
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in app/controllers/reports/annual_reports_controller.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the

[2022-05-18 05:27] seanmarcia opened #2916 "Railsconf 7: Fix ArgumentAlignment in app/controllers/transfers_controller.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 22
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in app/controllers/transfers_controller.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run

[2022-05-18 05:27] seanmarcia opened #2917 "Railsconf 8: Fix ArgumentAlignment in app/helpers/ui_helper.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 23
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in app/helpers/ui_helper.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run rubocop to ens

[2022-05-18 05:27] seanmarcia opened #2918 "Railsconf 9: Fix ArgumentAlignment in app/models/adjustment.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 24
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in app/models/adjustment.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run rubocop to ens

[2022-05-18 05:27] seanmarcia opened #2919 "Railsconf 10: Fix ArgumentAlignment in app/models/concerns/itemizable.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 25
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in app/models/concerns/itemizable.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run ruboc

[2022-05-18 05:27] seanmarcia opened #2920 "Railsconf 11: Fix ArgumentAlignment in app/models/product_drive.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 26
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in app/models/product_drive.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run rubocop to

[2022-05-18 05:27] seanmarcia opened #2921 "Railsconf 12: Fix ArgumentAlignment in app/models/distribution.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 27
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in app/models/distribution.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run rubocop to e

[2022-05-18 05:27] seanmarcia opened #2922 "Railsconf 13: Fix ArgumentAlignment in app/models/organization_stats.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 28
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in app/models/organization_stats.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run ruboco

[2022-05-18 05:27] seanmarcia opened #2923 "Railsconf 14: Fix ArgumentAlignment in app/models/partner_user.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 29
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in app/models/partner_user.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run rubocop to e

[2022-05-18 05:27] seanmarcia opened #2924 "Railsconf 15: Fix ArgumentAlignment in app/models/partners/user.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 30
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in app/models/partners/user.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run rubocop to

[2022-05-18 05:27] seanmarcia opened #2925 "Railsconf 16: Fix ArgumentAlignment in app/models/storage_location.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 31
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in app/models/storage_location.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run rubocop

[2022-05-18 05:27] seanmarcia opened #2926 "Railsconf 17: Fix ArgumentAlignment in app/models/user.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 32
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in app/models/user.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run rubocop to ensure yo

[2022-05-18 05:27] seanmarcia opened #2927 "Railsconf 18: Fix ArgumentAlignment in app/pdfs/distribution_pdf.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 33
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in app/pdfs/distribution_pdf.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run rubocop to

[2022-05-18 05:27] seanmarcia opened #2928 "Railsconf 19: Fix ArgumentAlignment in spec/controllers/transfers_controller_spec.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 34
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/controllers/transfers_controller_spec.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues

[2022-05-18 05:53] seanmarcia opened #2929 "Railsconf 20: Fix ArgumentAlignment in spec/factories/barcode_items.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 35
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/factories/barcode_items.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run rubocop

[2022-05-18 05:53] seanmarcia opened #2930 "Railsconf 21: Fix ArgumentAlignment in spec/factories/donations.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 36
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/factories/donations.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run rubocop to

[2022-05-18 05:53] seanmarcia opened #2931 "Railsconf 22: Fix ArgumentAlignment in spec/factories/storage_locations.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 37
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/factories/storage_locations.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run rub

[2022-05-18 05:53] seanmarcia opened #2932 "Railsconf 23: Fix ArgumentAlignment in spec/models/adjustment_spec.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 38
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/models/adjustment_spec.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run rubocop

[2022-05-18 05:53] seanmarcia opened #2933 "Railsconf 24: Fix ArgumentAlignment in spec/models/audit_spec.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 39
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/models/audit_spec.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run rubocop to en

[2022-05-18 05:53] seanmarcia opened #2934 "Railsconf 25: Fix ArgumentAlignment in spec/models/donation_site_spec.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 40
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/models/donation_site_spec.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run ruboc

[2022-05-18 05:53] seanmarcia opened #2935 "Railsconf 26: Fix ArgumentAlignment in spec/models/organization_spec.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 41
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/models/organization_spec.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run ruboco

[2022-05-18 05:53] seanmarcia opened #2936 "Railsconf 27: Fix ArgumentAlignment in spec/models/request_spec.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 42
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/models/request_spec.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run rubocop to

[2022-05-18 05:53] seanmarcia opened #2937 "Railsconf 28: Fix ArgumentAlignment in spec/models/storage_location_spec.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 43
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/models/storage_location_spec.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-run ru

[2022-05-18 05:53] seanmarcia opened #2938 "Railsconf 29: Fix ArgumentAlignment in spec/requests/organization_requests_spec.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 44
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/requests/organization_requests_spec.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re

[2022-05-18 05:53] seanmarcia opened #2939 "Railsconf 30: Fix ArgumentAlignment in spec/requests/reports/annual_reports_requests_spec.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 45
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/requests/reports/annual_reports_requests_spec.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the

[2022-05-18 05:53] seanmarcia opened #2940 "Railsconf 31: Fix ArgumentAlignment in spec/requests/transfers_requests_spec.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 46
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/requests/transfers_requests_spec.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-ru

[2022-05-18 05:53] seanmarcia opened #2941 "Railsconf 32: Fix ArgumentAlignment in spec/services/exports/export_request_service_spec.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 47
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/services/exports/export_request_service_spec.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the

[2022-05-18 05:53] seanmarcia opened #2942 "Railsconf 33: Fix ArgumentAlignment in spec/services/reports/acquisition_report_service_spec.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 48
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/services/reports/acquisition_report_service_spec.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of

[2022-05-18 05:53] seanmarcia opened #2943 "Railsconf 34: Fix ArgumentAlignment in spec/services/reports/adult_incontinence_report_service_spec.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 49
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/services/reports/adult_incontinence_report_service_spec.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing e

[2022-05-18 05:53] seanmarcia opened #2944 "Railsconf 35: Fix ArgumentAlignment in spec/services/reports/other_products_report_service_spec.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 50
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/services/reports/other_products_report_service_spec.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each

[2022-05-18 05:53] seanmarcia opened #2945 "Railsconf 36: Fix ArgumentAlignment in spec/services/reports/summary_report_service_spec.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 51
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/services/reports/summary_report_service_spec.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the

[2022-05-18 05:53] seanmarcia opened #2946 "Railsconf 37: Fix ArgumentAlignment in spec/services/reports/warehouse_report_service_spec.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 52
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/services/reports/warehouse_report_service_spec.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of th

[2022-05-18 05:53] seanmarcia opened #2947 "Railsconf 38: Fix ArgumentAlignment in spec/support/provideable_shared_example.rb"
Thank you for coming to the workshop!

To complete this issue:
1. open `.rubocop_todo.yml`
1. comment out line 53
1. run `rubocop` from the command line
    1. Fix each ArgumentAlignment issue in spec/support/provideable_shared_example.rb
    1. if you need any help figuring the view or action name to look up the translation with, please ask a workshop helper
1. After fixing each of the issues re-

[2022-05-18 18:51] etagwerker commented on #2946
Hi there, I'd like to take this issue please. 👋

[2022-05-20 00:40] #2946 closed

[2022-05-20 00:40] #2922 closed

[2022-05-20 00:40] #2923 closed

[2022-05-20 00:40] #2924 closed

[2022-05-20 00:40] #2925 closed

[2022-05-20 00:40] #2926 closed

[2022-05-20 00:40] #2927 closed

[2022-05-20 00:40] #2928 closed

[2022-05-20 00:40] #2929 closed

[2022-05-20 00:40] #2930 closed

[2022-05-20 00:40] #2931 closed

[2022-05-20 00:40] #2932 closed

[2022-05-20 00:40] #2933 closed

[2022-05-20 00:40] #2934 closed

[2022-05-20 00:40] #2935 closed

[2022-05-20 00:40] #2936 closed

[2022-05-20 00:40] #2937 closed

[2022-05-20 00:40] #2938 closed

[2022-05-20 00:40] #2939 closed

[2022-05-20 00:40] #2940 closed

[2022-05-20 00:40] #2941 closed

[2022-05-20 00:40] #2942 closed

[2022-05-20 00:40] #2943 closed

[2022-05-20 00:40] #2944 closed

[2022-05-20 00:40] #2945 closed

[2022-05-20 00:40] #2947 closed

[2022-05-20 00:40] #2909 closed

[2022-05-20 00:40] #2910 closed

[2022-05-20 00:40] #2911 closed

[2022-05-20 00:40] #2912 closed

[2022-05-20 00:40] #2913 closed

[2022-05-20 00:40] #2914 closed

[2022-05-20 00:40] #2915 closed

[2022-05-20 00:40] #2916 closed

[2022-05-20 00:40] #2917 closed

[2022-05-20 00:40] #2918 closed

[2022-05-20 00:40] #2919 closed

[2022-05-20 00:40] #2920 closed

[2022-05-20 00:40] #2921 closed

[2022-05-22 14:32] creaturenex commented on #2865
I will follow up on this unless any progress has been made.

[2022-05-23 17:19] dorner commented on #2905
@cielf can you elaborate on what can of worms you're referring to? :)

[2022-05-23 18:27] seanmarcia commented on #2905
I think it is this spec: `rspec ./spec/system/partners/partner_dashboard_system_spec.rb:53` which fails periodically.

[2022-05-24 11:28] cielf commented on #2905
I haven't dug completely into it -- it's on my mental list of things to grok -- but say we are entering the time for pickup of distribution.  My understanding is that we are storing what the user enters (say 3pm), without rebasing it to a common time zone.

One of the effects of this is that  rspec ./spec/system/partners/partner_dashboard_system_spec.rb:53 fails after 9 on machines on Eastern Time

[2022-05-24 14:12] dorner commented on #2905
This should be handled internally by Rails in most cases. Rails automatically stores all datetimes as UTC. It converts them to local time when it pulls them out of the DB. Because of this, the "upcoming" and "previous" should "just work" ™️ . If the code is doing something weird, we should fix it so it isn't :)

[2022-05-25 21:12] #2860 closed

[2022-05-25 21:13] #2882 closed

[2022-05-25 21:15] seanmarcia commented on #2905
I think in the meantime we should skip this test until we figure out the cause. The periodic failures are giving bad signals on other PRs.

[2022-05-30 00:51] #2865 closed

[2022-05-31 19:42] cielf commented on #2905
I'm going to assign myself to this for the nonce -- for investigation.

[2022-06-01 20:28] #2894 closed

[2022-06-04 15:14] pshong79 opened #2961 "'webpack-dev-server` not found when running `bin/start`"
# Summary

When starting the app with `bin/start`, this error is returned.
[code]
This is because all the yarn dependencies were not installed prior to attempting to start the app.
The `readme.md` is updated to include the `yarn` command to install all the project dependencies.

# Criteria for Completion

 - [ ] No errors when running `yarn` command
 - [ ] App starts up successfully with `bin/star

[2022-06-04 15:57] pshong79 commented on #2961
I have made the changes for this and am currently in the process of trying to push my changes up. Also, for some reason, cannot assign this to myself.

[2022-06-05 01:19] pshong79 commented on #2961
Pull request for this change: https://github.com/rubyforgood/human-essentials/pull/2962

[2022-06-05 14:10] #2961 closed

[2022-06-05 14:49] scooter-dangle opened #2963 "Can we make getting started faster and easier via Github Codespaces?"
*Before filing the ticket you should replace all text between the horizontal rules with your own words. We recommend keeping the headings (optional headings can be left off if you don't need them)*

--------

# Summary

Describe an overview of the problem. Provide a general description of the problem it's solving or why this issue should be addressed.

## Things to Consider

Check in the `general`

[2022-06-05 14:49] heyapricot commented on #2963
Can I work on this?

[2022-06-05 15:39] cielf commented on #2905
My current understanding is that Rails doesn't automatically know the *client* time zone.

[2022-06-05 15:52] heyapricot commented on #2963
@scooter-dangle Unfortunately, looks like you can only use Codespaces if you are using / paying for Github for teams
https://www.loom.com/share/d3fbc5a082ae4793aa0f7758321800bf

[2022-06-05 16:01] scooter-dangle commented on #2963
Good catch! @seanmarcia, is it possible we're already getting this as a service from Github and that that was I was able to create a codespace as a member of the org? (Could also be that I was able to do that through being a member of my work account or my private subscription 🤔)

If you make @heyapricot a member, maybe he could re-test to check that first possibility. If that still doesn't work,

[2022-06-06 19:19] seanmarcia commented on #2963
Yes, we have a paid GitHub team account that includes codespaces :)

[2022-06-07 14:14] dorner commented on #2905
That shouldn't affect specs though, since specs would run in the same time zone as Rails itself.

[2022-06-08 02:19] meg-gutshall opened #2965 "[FEv2]: Evaluate template for missing components"
# Summary

This issue is part of the front-end redesign of the Human Essentials app.

We've chosen to implement the admin dashboard template [Mosaic](https://cruip.com/mosaic/) for the redesign. First, we must go through all the current pages in our app and ensure all the components we need are included in Mosaic. If not, that's okay! We have a wonderful designer who has volunteered to create any

[2022-06-08 03:07] cielf commented on #2905
Well, the behaviour is consistent with there being a problem regarding time zones.   config/environments/test.rb sets the time zone to America/Los Angeles,  and the distribution test in question fails consistently after 9pm eastern.      Now,  I'm pretty sure there is no reason **_any more_** for the test time zone to be set to America/Los Angeles, but that just would make the current spec work.

[2022-06-08 04:36] meg-gutshall commented on #2847
Closed in favor of #2965 (currently WIP)

[2022-06-08 04:36] #2847 closed

[2022-06-09 08:31] cielf commented on #2899
This is currently waiting for some feedback from Caitlin on the best way to handle the counties/equivalents selection.

[2022-06-10 16:26] heyapricot commented on #2963
@seanmarcia @scooter-dangle Could someone please verify that [Codespaces are enabled](https://docs.github.com/en/codespaces/managing-codespaces-for-your-organization/enabling-codespaces-for-your-organization) for the Rubyforgood organization? To do so, you need to be able to access the organization settings (Which I can't do).
I've already joined the organization and I'm still getting the same err

[2022-06-10 16:38] seanmarcia commented on #2963
I read the docs in that link and it looks like the only way to use Codespaces as an org is to pay money.

[2022-06-10 19:39] cielf commented on #2905
I'll have to work on this during the period where it fails to confirm that I'm right about the distribution test.  That just hasn't been happening (I'm a lark, not a night owl).

[2022-06-10 19:40] dorner commented on #2905
Can you temporarily just change your computer's date and time? :)

[2022-06-11 11:58] edwinthinks commented on #2963
This is a bit of a tangent but I've read in the [sustainable rails book](https://sustainable-rails.com/) about creating a `bin/setup` command to handle setup of the app. I've built one in a new greenfield project and so far it seems pretty great for getting up and running quick.

[2022-06-12 01:57] cielf commented on #2905
I've had some bad experiences doing that in the past, so I avoid it.

Worked on it this evening -- removing the test.rb setting of the timezone to LA makes rspec ./spec/system/partners/partner_dashboard_system_spec.rb:53 work after 9pm.    Alas,  it seems to make at least 2 dozen other tests fail.   This is interesting.

[2022-06-12 13:11] edwinthinks commented on #2905
@cielf love to jump into this with ya.

https://github.com/iansinnott/jstz could be an interesting tool to use to accommodate client's timezone to change the rendered page. Also a small plug here, maybe we can use hotwire to auto-reload periodically to re-render some distributions to be the past and others in the upcoming.

[2022-06-12 13:16] edwinthinks commented on #2475
I think this is blocked by our merger of the two DBs. Our goal appears to be to start simplify things greatly so instead of building as it was written, we ought to think about how this feature would be implemented given we use 1 DB.

Another interesting tool, I haven't used yet is https://github.com/RolifyCommunity/rolify which could be useful in conjunction with Pundit.

[2022-06-12 14:34] scooter-dangle commented on #2963
Thanks @heyapricot! Looks like we're now blocked @seanmarcia hearing back from Github. Def productive to have you do this since if only @seanmarcia and I had tried it (or anyone else with a enterprise work account), it would have worked and we wouldn't have realized that it wouldn't work for everyone at an event. :+1:

[2022-06-12 14:46] #2787 closed

[2022-06-12 15:36] cielf opened #2972 "Partner organization information text changes from Partnerbase Working Group"
# Summary

Coming out of the Partnerbase Working Group session, we have some text changes.   These should be reflected in both the partner organization form and the diaper bank's view of the partner organization

a) Change "Description of Agency Mission" to "Agency Mission"
a) Change Program Name to Program Name(s)
b) Change Description to Description(s)
c) Change "Essential Item Use" to "How will

[2022-06-12 15:55] dorner commented on #2905
Is auto-reload something we need here? Is the issue that users are on this screen for a long period of time?

[2022-06-12 16:04] edwinthinks opened #2973 "[BUG] Dropdown to show more items included in partner dashboard shows negative numbers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the number of unique items requested for a request is just 1, it shows a negative number "-1 More"

![Captura de Pantalla 2022-06-12 a la(s) 9 32 21 a m](https://user-images.githubusercontent.com/11335191/173242186-ff25c15d-9496-4e13-b893-c7b3f69bb444.png)

### Expected Behavior

The dro

[2022-06-12 16:08] edwinthinks opened #2974 "[BUG] Exceptions raised in organization main dashboard in itemized breakdown calculation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

As a organization user, there is a 500 error that occurs that lead to this exception:

<img width="629" alt="Captura de Pantalla 2022-06-12 a la(s) 11 06 10 a m" src="https://user-images.githubusercontent.com/11335191/173242329-8ee78dcc-8ace-4bf7-b1c3-c0d653b29771.png">

### Expected Behavior

[2022-06-12 16:23] cielf commented on #2905
I don't know yet that we would need auto-reload.   The issue is not that users are on this screen for a long period of time.

We've ended up 'in the weeds' of time stuff because the current test doesn't work between 9 and midnight,  reliably.   If we take setting the time to Los Angeles off, it works, but 2 dozen others fail (this was around 10 last night).    In the middle of the day (i.e. around

[2022-06-13 03:20] #2895 closed

[2022-06-13 13:36] cielf opened #2977 "Diaper.app -- need to get people to use humanessentials.app instead [Needs Edwin or Sean]"
### Is there an existing request for this feature?

- [X] I have searched the existing issues

### Desired Behavior

Diaper.app is currently a mirror of humanessentials.app,   and some users are going there to use the system.   However,  we will (eventually) want to retire that domain, so we need to coax the last users who are using diaper.app over to humanessentials.app.

To do this, we need to c

[2022-06-13 14:17] cielf opened #2978 "Investigation request -- underused fields on partner organization"
There are a number of fields on the partner organization form that have been flagged by the Partnerbase Working Group as not-useful.   However,  since they are only a small fraction of the diaper banks using the system,  we need to do due diligence before deciding to remove them from the form.

The fields identified so far are:
- Agency Age --  program_age
- Evidence-based description:   -- eviden

[2022-06-13 14:41] cielf commented on #2972
Hey Alvaro
Is it ok if I add 1 more   -- "Program Address"  should be "Program Address (If Different)"?

[2022-06-13 14:57] cielf commented on #2972
I think the Essentials Item Use  has  already been changed -- maybe it just hadn't made it out to staging.  (But now it has.)

[2022-06-13 15:06] cielf opened #2979 "[Feat] Mandatory fields for submission of approval of profile information by partners"
### Is there an existing request for this feature?

- [X] I have searched the existing issues

### Desired Behavior

(coming from the Partnerbase Working Group discussions)

Certain fields in the partner organization profile should be mandatory before an invited  partner submits their agency information for approval.  These include:

"Agency Name" : agency_name,
"Agency Type" : agency_type,
"Addre

[2022-06-14 22:55] heyapricot commented on #2972
@cielf No problem! Will do

[2022-06-15 10:40] edwinthinks opened #2984 "[BUG] Flaky test in donations system spec"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Running the specs in CI sometimes yield this failures:
[code]

### Expected Behavior

This spec is either always fail or never fail. It shouldn't fail sometimes and not.

### Steps To Reproduce

This is a bit challenging to specify how it happens due to its "flakiness". However:
1. You run th

[2022-06-15 10:41] edwinthinks commented on #2984
This is linked to https://github.com/rubyforgood/human-essentials/issues/2711 but is more specific to this spec failure.

[2022-06-15 10:54] edwinthinks commented on #2974
Addressed in https://github.com/rubyforgood/human-essentials/pull/2983

[2022-06-15 10:54] #2974 closed

[2022-06-16 14:05] cielf opened #2985 "[BUG] Initial email to partner organization is showing the text for additional accounts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In the invitation_instructions.html.erb,  there is separate text for the first invitation to a partner,  and any subsequent invitations to people for that organization.

So, If I invite a brand new partner,  I would expect the first invitation text for the outgoing email to be:
    <p>You've

[2022-06-16 16:59] cielf opened #2986 "Consolidate use of DATE_FORMAT"
When we run a full rspec of all the specs,   we get a bunch of warnings at the start,

On my local, this looks like:
/Users/clfisher/projects/human-essentials/spec/controllers/transfers_controller_spec.rb:1: warning: already initialized constant DATE_FORMAT
/Users/clfisher/projects/human-essentials/spec/support/date_range_picker_shared_example.rb:1: warning: previous definition of DATE_FORMAT was

[2022-06-17 15:37] heyapricot commented on #2972
@cielf I couldn't find any occurrence of the phrase `Essential Item Use` or `How will you use the products you receive from our organization?` in the files

[2022-06-17 15:39] heyapricot commented on #2972
In addition, twice when trying to run the specs they seemed stuck (RSpec spent +20 min in the same test case with  no progress)

I created PR #2989 to use the GitHub actions test suite in order to get this tested

[2022-06-17 16:20] cielf commented on #2972
Argh!  I'm so sorry -- c) should be Program Description not the later Description in the Income section.

[2022-06-17 18:59] dorner opened #2990 "Clean up references to partners database"
Now that we have a single database, we need to remove the feature flag that is no longer necessary, and remove all references to the second database. This is complicating local development and confusing devs.

[2022-06-17 20:47] dorner commented on #2978
@cielf here's the results from my query. Query is as follows:
[code]
[partner_fields.csv](https://github.com/rubyforgood/human-essentials/files/8931239/partner_fields.csv)

Let me know if this satisfies the requirement!

[2022-06-18 13:17] cielf commented on #2972
I think that an earlier change re Essental Item Use hadn't made it to staging before the meeting that produced all of these.

[2022-06-19 14:12] #2990 closed

[2022-06-19 14:25] edwinthinks commented on #2965
@meg-gutshall do you think this could be a good thing to work on in RfG coming up?

[2022-06-23 17:25] cielf commented on #2876
Am putting  in a PR for the bulk of the field name changes.
We still have diaper_pickup_person and status_in_diaper_base to change.  Also tbd:  diaper_base to essentials_base?

[2022-06-26 13:59] cielf commented on #2978
That tells us a fair bit.    None of the fields under scrutiny are highly used -- a maximum of 12% of the partners.

I'd like to know if the same fields have been used recently,  but ultimately, it doesn't tell us if the banks in question need the information, or if people are filling it in because it's there.   I'm going to do a bit of spreadsheet work to see which of the fields are filled most o

[2022-06-26 14:11] edwinthinks opened #2997 "[Feat] Utilize esbuild and cssbundler to speed up asset compilation"
### Is there an existing request for this feature?

- [X] I have searched the existing issues

### Desired Behavior

We want to be able to utilize esbuild & cssbundler instead of webpacker so that builds are faster and easier to manage.

### Criteria for Completion

- [ ] Webpacker is removed and replaced with esbuild
- [ ] Styling & functionality stays consistent before change. (if anything needs

[2022-06-26 14:12] edwinthinks commented on #2997
@heyapricot I've pushed up my WIP branch at `replace-webpacker-for-jsbundler-cssbundler` if you are interested to take this on to the finish line.

[2022-06-27 18:40] divagueame opened #3001 "[Feat] Add Register Button on Login page"
### Is there an existing request for this feature?

- [X] I have searched the existing issues

### Desired Behavior

A first-comer to the site might click on Login on the index page. Then he realizes he doesn't have a username yet but cannot move without the browser's back button. I think it would make sense to add a button to go to the register page from https://humanessentials.app/logins/new

##

[2022-06-27 21:23] divagueame commented on #3001
I'd like to asign this issue to me, but it seems I cannot. On the right panel it shows:
Assignees
No one assigned

However, no action is allowed for me there. I'm new here, so I don't know well how it goes.

[2022-07-01 02:29] cielf commented on #2978
Closing this -- I have a very recent copy of production and I can continue on with this

[2022-07-01 02:30] #2978 closed

[2022-07-05 14:43] edwinthinks opened #3006 "As a Bank user, I can create and automatically invite a Partner so that I can skip the step of inviting them."

[2022-07-05 14:43] edwinthinks opened #3007 "As a Bank user, I want to be able to re-invite Partners so that they can invite in case the email got lost or expired."

[2022-07-05 14:43] #3006 closed

[2022-07-05 14:43] #3007 closed

[2022-07-07 13:01] cielf opened #3009 "[BUG] Updating uninvited partners email sends invite"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When updating email addresses in the profiles of imported partner agencies, the system automatically emailed invitations to those partners.  It shouldn't.

### Expected Behavior

-[] Updating the profile of an uninvited partner agency should not invite them.
-[] Tests for this behaviour in pl

[2022-07-07 13:19] cielf commented on #3009
Have confirmed that we automatically invite the partner if the email is changed.

In partner.rb
  before_update :invite_new_partner, if: :email_changed?

[2022-07-07 21:02] cielf opened #3011 "[BUG] Can not show deactivated partner"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If you deactivate a partner, then try to view it,  you get a 500 error

If you do this on dev,  it's evident that this snippet from app/view/partners/show.html.etb is at fault -- (partner.name) sb (@partner.name)

  <% if @partner.deactivated? %>
                  <%= reactivate_button_to rea

[2022-07-08 19:18] dorner opened #3013 "[Feat] Consolidate user accounts"
### Is there an existing request for this feature?

- [X] I have searched the existing issues

### Desired Behavior

This is a continuation of #2787, which was repurposed to discuss the database consolidation. Now that we have a single database, we're in a better position to remove one of the user types and just have a single user type.

My plan for this is:

* Add a user type to the users table
*

[2022-07-08 19:18] dorner commented on #3013
@edwinthinks @seanmarcia I'm going to start working on this but it's going to be slow. I have a very short lull and then my life is going to get busy again. :)

[2022-07-09 15:51] #2972 closed

[2022-07-09 16:00] #2893 closed

[2022-07-09 17:05] edwinthinks opened #3014 "As a Bank user, I want to be able to re-invite Partners so that they can invite in case the email got lost or expired."

[2022-07-09 17:06] #3014 closed

[2022-07-09 19:39] #3009 closed

[2022-07-09 19:40] #3011 closed

[2022-07-10 15:03] edwinthinks opened #3016 "As a Bank user, I want to be able to manually re-invite Partners so that Partners who can't find their invite can register"
# Summary

We want to allow Bank users to re-send invites in case the Partner can't find it.

# Justification

Right now there is a strange workaround -- which is nonintuitive to reset the Partner's password.

# Details

Add a "Re-send Invite" button next to partners that have the status of "Invited".
![Image](https://user-images.githubusercontent.com/11335191/183295118-70f65305-dbf7-4fb4-bb4f-874

[2022-07-10 15:04] edwinthinks opened #3017 "Something doesn't work."
# Meow meow

[2022-07-10 15:04] #3017 closed

[2022-07-10 16:11] cielf commented on #3016
Is this actually "done" , or should it be moved back.

[2022-07-12 01:33] #3001 closed

[2022-07-12 01:47] edwinthinks commented on #3016
@cielf it should be moved back. Was a test :). I'll add a bit more info.

[2022-07-13 00:41] edwinthinks commented on #2985
@italomatos feel free to take this one :)

[2022-07-13 00:42] italomatos commented on #2985
Thanks @edwinthinks ! :) Can you assign to me? I think that I don't have permission to assign issues

[2022-07-13 00:45] edwinthinks opened #3024 "[BUG] A bank users are unable to make a edit/correction to a purchase, donations, or distributions locally"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Attempting to make a correction on a distribution, donation, or purchase will result in a 500 error that looks like this:
[code]

![Image](https://user-images.githubusercontent.com/11335191/178624784-092e1014-3c2b-4e57-98de-b1d2776ba001.png)

### Expected Behavior

I expect that the editing w

[2022-07-13 00:51] edwinthinks commented on #3024
I don't see this in production bug monitoring tools so I'd like to see if someone can verify if anyone else is experiencing this issue.

[2022-07-14 14:35] edwinthinks commented on #3024
@dorner thank goodness bullet isn't on in deployed environments! Wanna take a swing at fixing this?

[2022-07-14 21:38] italomatos commented on #3024
I'm getting it 🚀

[2022-07-16 11:16] #2973 closed

[2022-07-16 21:09] cielf commented on #2474
Identified as high priority in July 13 2022 partnerbase working group meeting

[2022-07-16 21:11] cielf commented on #2475
Identified as high priority in July 13 2022 partnerbase working group meeting.  Probably related to Daniel's current work.

[2022-07-17 12:42] edwinthinks opened #3031 "[FEAT]: Utilize transactional fixtures in test suite so that they are faster"
### Is there an existing request for this feature?

- [X] I have searched the existing issues

### Is there a pain point in the app driving this feature request?

Running the test suites has been notoriously slow since we've gotten rid of transactional fixtures. It was changed in https://github.com/rubyforgood/human-essentials/pull/2084 due to having two databases that didn't play nicely with tran

[2022-07-17 14:24] cielf opened #3032 "Partner social media changes"
From July 13 2022 partnerbase working group meeting (CL/Rachel(PDx))

Updating the social media section, and making it mandatory if the partners see it at all

### Is there a pain point in the app driving this feature request?
 Modernization (i.e catching up with social media reality)

### Desired Behavior
- Add instagram to media section [text field]
- Add no social media presence checkbox to med

[2022-07-17 14:27] creaturenex commented on #3032
Hello, I'll volunteer to take this on.

[2022-07-17 15:18] scooter-dangle opened #3034 "No method on nil error when clicking the Transfer button"
From the bug support sheet:

From bugsnag

![Image](https://user-images.githubusercontent.com/934707/179404542-8dc5825b-c8a2-4916-9d03-0aad8fce4010.png)

Edwin thinks this is maybe due to storage location not having a name. Not positive on that since the error is for `name` being called on `nil`—how did we end up with nils in that collection to begin with?

Completion criteria
- [ ] reproduce loca

[2022-07-17 15:22] scooter-dangle opened #3035 "[BUG]: Opps ⇒ oops (oops!)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Our 5xx error says `opps`.

### Expected Behavior

Our 5xx error says `oops`.

### Steps To Reproduce

Do any oopsy. The app thinks it was an oppsy.

### Criteria for Completion

- [ ] No oppsies…only oopsies.

### Code of Conduct

- [X] I've read the Code of Conduct and understand my respons

[2022-07-17 16:29] creaturenex commented on #3032
Criteria for Completion
 - [x] Add instagram to media section [text field]
 - [ ] Add no social media presence checkbox to media section
 - [ ] If and only if partners are shown media section [see partner forms], at least one field in the media section must be filled in.
 - [ ] Tests showing that it all works.

[2022-07-17 17:26] cielf opened #3037 "Hide little-used fields in partner-profile"
# Summary

Several  fields on the partner profile have been identified as of little-use by the partnerbase working group (June and July meetings).  To make it easier for partners to participate, we should hide them.   However,  for now, we will not delete the existing data, in case someone really does need it.    The de-activated fields should be reviewed for possible removal after some time has p

[2022-07-17 17:56] cielf opened #3038 "Update information about when we work on things to be accurate"
# Summary

The help page currently states that we get together to triage things on Saturdays.  It should say Sundays.
![Screen Shot 2022-07-17 at 9 32 59 AM](https://user-images.githubusercontent.com/10157589/179418452-444bddc8-fbd9-480d-aba8-ec29ed92c217.png)

## Reason for change
Managing end-user expectations

# Criteria for Completion

-[] help page states that we get together to triage things

[2022-07-17 18:02] cielf opened #3039 "More partner profile text changes"
# Summary

Make the following text changes in the partner profile...

(per partnerbase working group meeting 2022.07.13,   Ethnic composition change identified as higher priority)

These should be done in parallel on the bank and partner view/edits.

"Max served"  ---> "Client capacity" [also look at field name]
"Ethnic Composition of those served" --> "Race/Ethnicity of Client Base"
"Program Cont

[2022-07-17 18:25] cielf commented on #2579
From the partnerbase working group meeting 2022/07/13,
- noting that the gov't is often a bit behind on preferred terminology
- recommended:
     - Black/African-American
     - White/Caucasian
     - Hispanic/Latin
     - Native American/Alaskan Native

[2022-07-18 11:44] #2986 closed

[2022-07-18 13:02] cielf commented on #2876
This is completed, except for the diaper pickup person internal language change, which is another issue

[2022-07-18 13:02] #2876 closed

[2022-07-18 19:48] cielf opened #3041 "[Feature] Allow opting out of the families/child functionality"
ID'd as high priority at July 13 2022 partnerbase working group meeting
Source:  Sean, human-essentials-leads May 23 11:03 pm, with additional input from Partnerbase WorkingGroup meeting 2022/07/22

# Summary

Allow opting out of the families/child functionality on a bank or partner level

# Justification

For period banks or partners who only do bulk orders,  the family/child functionality is sup

[2022-07-18 19:50] cielf commented on #3041
Hi all - I'm going to leave this is a needs discussion state for a couple of days in case I've missed something important.

[2022-07-22 01:43] italomatos commented on #3039
@cielf
Can I get this ?

[2022-07-22 12:29] cielf commented on #3039
Sure -- I've assigned you, and you should ask Edwin to give you the ability to assign yourself, if you can't yet.

[2022-07-22 22:56] italomatos commented on #3039
@edwinthinks Could you give me this ability ? :)

[2022-07-22 23:05] italomatos commented on #3038
@cielf I will take this, ok ?

I don't have ability to assign to me yet :)

[2022-07-22 23:22] italomatos commented on #3035
Hi @scooter-dangle, how are you ?
I didnt find messages with "Opps" text,  In internal error page, I found "Oops! Something went wrong." with "Oops" like a Expected Behavior.

[2022-07-24 12:33] #3038 closed

[2022-07-25 17:18] cielf opened #3052 "Add a confirmation page to partner requests."
# Summary

Add a confirmation step to partner requests

# Justification
Non-profits are often staffed with folks with limited technical skills and sometimes make mistakes with their requests. This puts and extra burden on the essentials banks as they then need to get in contact with their partners and see if they really did intend to order 5000 rather than their usual 500 diapers. We need to add i

[2022-07-25 18:12] cielf opened #3053 "Add dated pricing of items"
# Summary

Add historical pricing

# Justification

“Price changes have been propagated backward (into old transactions), making them inaccurate”

Prices are currently tied directly to items.   Alas,  we live in a world where prices change.   The banks need to have the historical values of transactions (e.g. distributions) be accurate,  and they currently are not,  because the prices are tied dire

[2022-07-28 15:02] cielf opened #3057 "On the dashboard, the Itemized Distributions and Itemized Donations are the SAME NUMBERS! Fix it."
# Summary
The Itemized Donations section on the dashboard should show donation information.
Instead, it is showing distribution information

# Things we should know

Initial investigation indicates that there was a change to _itemized_partial on June 1, 2022  (2938f4a6c852ca120b8dcf20a8e102d31bad6dfe)  that changed things from looping through an "item_to_itemize" to looping through "@itemized_dist

[2022-07-29 11:16] edwinthinks opened #3059 "[BUG]: Emails aren't being downcased on Partners records"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When you add a new partner record and set the email to something like "MrEdwin@example.com" it stays as "MrEdwin@example.com".

### Expected Behavior

Emails are case insensitive so I would expect the record to be saved as "mredwin@example.com" rather than "MrEdwin@example.com".

### Steps To

[2022-07-29 11:17] #3037 closed

[2022-07-30 15:34] #3013 closed

[2022-07-30 15:44] #3059 closed

[2022-07-30 16:25] #3039 closed

[2022-07-31 11:14] edwinthinks commented on #3052
@cielf I'd love to take this one :)

[2022-07-31 11:24] cielf commented on #3052
Sounds good to me

Sent from my iPhone

[2022-07-31 13:41] cielf commented on #3052
FYI the same functionality, but for distributions is in the backlog as well.

[2022-07-31 14:00] dorner commented on #3034
It looks like this would happen if a Transfer doesn't have a `from` in it. Not sure how that would happen.

[2022-07-31 14:02] dorner commented on #3034
There's even a validation preventing this 🤔

[2022-08-01 14:48] cielf opened #3063 "Add partner name to individual distribution view"
# Summary

Please include the partner name at the top of the individual distribution view

# Justification

Stakeholder request:  "When you click on a particular distribution to view it, it shows all the details but it doesn't show the partner name at the top.  It says 'distribution for - main warehouse'.  Can you add the partner name to this page?", Judi Meighan 2022/08/01

# Details

Path to the

[2022-08-03 18:47] cielf opened #3067 "Add fields to partner agency export to support NDBN reporting."
# Summary

Add several fields to the partner agency export, as described, to support NBDN reporting.

# Justification
  Slack message from Judi Meighan #humanessentials Jun 9
 "The export on the Partner Agencies Page only downloads 5 fields. When we do the NDBN report we have to upload a file of our partners. It would be great if we could export from this page and then upload that file. Currently

[2022-08-04 01:03] #3057 closed

[2022-08-04 16:35] cielf opened #3068 "Ability to deactivate kits"
# Summary
Provide the ability to deactivate kits

# Justification
Note from Sean:  "We get asked about editing and deleting kits. Obviously shouldn't allow editing but some sort of soft delete is probably needed?"

See also:  https://human-essential.slack.com/archives/CG1NL2MRC/p1656426376631529

# Details

- Allow kits to be deactivated.
- If the kit's item exists in the inventory of any storage

[2022-08-04 16:55] cielf opened #3069 "distributions view and export— on item filter or item category filter, number of items should reflect items chosen"
# Summary

On the distiributions view,  if you filter by items (or, when added, by item category),  the # of items shown should be the number of items in the distribution that match that item/category,  rather than then total # of items in the distribution.  The export must be adjusted to match.

# Justification

Discussed in stakeholder meeting 2022/08/03.   The question that people are asking wh

[2022-08-04 17:03] cielf opened #3070 "Add filtering by category to distribution export, please. Would considerably speed up required reporting"
CL says (20220803):  Before continuing with this,  I think we should discuss the following with the stakeholder circle:

The other filtrations make sense, but is the expectation that, when you pick an item for your filter, it shows all the items in the distributions that have some of that item in them (what it does now,  or that you would get the number of *that* item?

The item category filter we

[2022-08-06 17:38] #3063 closed

[2022-08-07 13:04] #2985 closed

[2022-08-07 14:14] edwinthinks commented on #2801
Fixed in https://github.com/rubyforgood/human-essentials/commit/bbe7d14cc7c41516c197f798d7a5f0199eca825b

[2022-08-07 14:14] #2801 closed

[2022-08-07 14:38] edwinthinks commented on #3034
Fixed in #3071 !

[2022-08-07 14:38] #3034 closed

[2022-08-07 19:04] cielf commented on #2783
reworking this so that it's a good format to go forward

[2022-08-08 17:04] cielf opened #3076 "Update seed to allow seed partner accounts to be able to request items by default."
# Summary

Change seed to make sure verified@example.com is in a group that can always request at least one item category.

# Justification

Right now, verified is in a group that isn't allowed to request anything.   This is a) confusing for newcomers and b) quite inconvenient when demoing things on staging.

# Details

Update the single partner group that is setup  in the seed to always allow at

[2022-08-09 18:36] cielf opened #3078 "Distribution Schedule time mismatch"
# Summary

We need the dates and times for distributions to be consistent through the life cycle of the distribution

# Details of problem
As seen on staging, 20220809

Enter a new distribution.  Specify the date and time

![Image](https://user-images.githubusercontent.com/10157589/183733001-cbe62ccb-2b81-458f-9988-7b9116975a40.png)

Then go into "Pick Ups and Deliveries",   the date/time is not w

[2022-08-09 22:08] italomatos commented on #3078
Hi @cielf
I think that is interesting we save user timezone.
We should save in GMT, but, to show in interface using user timezone.

[2022-08-10 23:06] cielf commented on #3041
Hey @dorner,  we just got a request to do the same thing for the '# of individuals" functionality.  What would you think of grafting that on to this?

[2022-08-12 19:27] dorner commented on #3041
Sure, I can do that!

[2022-08-12 19:53] dorner commented on #3041
Added!
<img width="1169" alt="image" src="https://user-images.githubusercontent.com/1986893/184433070-dbe16be5-2bd9-41f2-ad4d-a98b23ec26c9.png">

[2022-08-12 20:23] dorner commented on #3024
So it looks like the issue is here: https://github.com/flyerhzm/bullet/blob/master/lib/bullet/detector/n_plus_one_query.rb#L36

combined with this: https://github.com/rubyforgood/human-essentials/blob/main/app/models/concerns/itemizable.rb#L92

Itemizable defines a `to_a` method which returns a list of items. I don't know why it behaves this way since `to_a` is a "special" method used by Ruby to a

[2022-08-12 20:46] dorner commented on #3024
PR has been created! https://github.com/flyerhzm/bullet/pull/621

[2022-08-13 14:21] #3078 closed

[2022-08-14 14:40] scooter-dangle commented on #2965
Hey @meg-gutshall, does this one still require discussion before someone can work on it (still has the `NOT READY` label and `[WIP]` in the title)?

[2022-08-14 14:57] #3024 closed

[2022-08-14 16:23] meg-gutshall commented on #2965
There's one TODO that I left in there but I think I'm going to take it out and open up this issue for work today to avoid scope creep on the issue.

[2022-08-15 17:20] cielf opened #3088 "Make it clear what partners requested versus what they actually received"
# Summary

Add information about the original request to the distribution pdf

# Justification
Project initiative to "make it clear what partners requested versus what they actually received", confirmed at partnerbase Working Group meeting 20220810

# Details

The partners and essentials bank both have access to print a receipt-like document detailing the contents of a distribution, as in this exa

[2022-08-15 18:35] cielf commented on #3041
Excellent!   Predictably,  of course, we now have someone asking for the ability to hide the quantity.     (Sigh -- I did think of this, but, you know, not putting in functionality that hasn't been requested.)

[2022-08-16 14:48] cielf opened #3090 "[FEATURE] Allow essential banks to review their distribution before submitting it"
# Summary
Add a confirmation step to distributions

# Justification
Non-profits are often staffed with folks with limited technical ability and sometimes make mistakes with their distributions This puts and extra burden on the org admin person as they then need to go in and correct the distribution. We need to add in a confirmation page summarizing the distribution and asking for confirmation from

[2022-08-16 17:18] cielf commented on #2770
1/  I don't think it's correct -- as Bob described it, a donation from earlier is being included in this year's donations.
2/  I do think we should order them from largest donation to smallest

[2022-08-16 18:10] cielf commented on #2770
Oh -- the spec comments call out that it is deliberately including the before and after date range donations.  This is not what I would expect looking at the page, though.     If that *is* the intent,  we should change the heading to indicate that it is "all time".

[2022-08-16 23:50] meg-gutshall commented on #2965
![Open sesame!](https://media.giphy.com/media/kCHmQ4YBBO2Zi/giphy.gif)

[2022-08-17 19:25] cielf opened #3093 "[Feature] Product Drive Export"
# Summary
Provide product drive export

# More detail
Add an "Export Product Drives" button to the product drives page.  This will download a csv file containing the same information as the filtered product drives.

This will be similar in character to the other existing exports -- essentially taking the filtered information in the product drives screen and exporting it.  Refer to the donation or

[2022-08-17 19:48] cielf opened #3094 "[Feature] Optionally remove the "quantity" request type. similar to how we've allowed removing the "child" and "# of individuals" types."
# Summary

Allow opting out of the quantity (aka bulk) request functionality on a bank or partner level

# Justification

For banks or partners that only do 'child' or '# of individuals'  orders,  the quantity functionality is superfluous and distracting

# Things we should know

Ideally, this should be paired with issue #3041
This issue was created by editing a copy of that issue, so if there is

[2022-08-18 01:51] alim commented on #3035
Looks like this might have been fixed in [this commit](https://github.com/rubyforgood/human-essentials/commit/744ff938e1036f92949c26e0ff859749fbeccf75). I was looking for this error too.

[2022-08-18 02:47] scooter-dangle commented on #3035
Opps! Sorry about that! I'm not sure then where I saw that. Might have been a stale screen shot from a bug report. Thanks for checking + finding the commit!

[2022-08-18 02:47] #3035 closed

[2022-08-19 11:53] #3076 closed

[2022-08-19 19:14] dorner opened #3098 "Introduce the concept of roles"
### Is there an existing request for this feature?

- [X] I have searched the existing issues

### Is there a pain point in the app driving this feature request?

Currently, a user can have at most three roles: superadmin, org admin and partner user. These are all indicated by fields on the `users` table.

We don't have a way to give a user multiple roles (e.g. be a user on multiple partners) or t

[2022-08-21 15:39] cielf commented on #2900
I think this will be rendered moot by #3091,  but confirm before closing

[2022-08-21 16:41] cielf opened #3101 "[Bug] Product Drives -- variety of items is wrong -- shows # of donations"
# Summary
Product drives "Variety of Items" is showing the number of donations with items instead.

# Things we might need to know
From a 20220808 support ticket by Judi M about product drives
"variety of items is wrong -- shows # of donations"
CLF 20220817  Have confirmed on staging.

# Criteria for completion
- [] test for correctness of number of distinct items in product drive
- [] variety of

[2022-08-22 16:20] cielf opened #3104 "Change "delete" on storage locations to deactivate."
# Summary

Allow deactivation of storage locations (with no current inventory), rather than a full delete

# Justification

A bank may no longer be using a specific location,  and would like to remove it, but there is a lot of data that relates back to it, so a full delete is counter-indicated.

# Details

- Allow storage locations to be deactivated, if and only if they have no inventory.
- The us

[2022-08-23 23:53] #3101 closed

[2022-08-25 22:50] jacobherrington commented on #3104
I am about half way through with this issue - I will post a PR as soon as I am able.

[2022-08-28 13:40] shen-sat commented on #3093
Hello @cielf  👋 😄

I'm a brand new contributor 👶 Nice to e-meet you 🤝

I'd like to pick up this piece of work if that's ok? If so, can I also confirm the following acceptance criteria with you (to make sure I am on the same page)?

_AC1_
- Given I am **not** a bank admin user
- I should not be able to download a Product Drive Export csv

_AC2_
- Given I am a bank admin user
- and I do not use any

[2022-08-28 14:04] cielf commented on #3093
Hey @shen-sat  -- good to meet you!
Clarifications on your criteria:
- any bank user can export,  not just the organization admins.   (This is following the pattern of the other exports in the system)
Otherwise, I think you've got it.

[2022-08-28 17:04] shen-sat commented on #3093
Awesome! And thanks for the clarifications 🙏 I'll get to work on the PR 👍

[2022-08-31 10:56] edwinthinks opened #3127 "[BUG]: Flaky spec regarding CalendarService in distribution_request_spec.rb"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Test suite fails randomly with:
[code]

### Expected Behavior

It should not fail randomly.

### Steps To Reproduce

This often occurs in CI but I cannot reproduce it locally.

### Environment

[code]

### Criteria for Completion

- [ ] The spec is fixed and no longer fails randomly
- [ ] In

[2022-08-31 13:54] edwinthinks opened #3129 "[FEAT]: Allow existing partner users to change their name"
### Is there an existing request for this feature?

- [X] I have searched the existing issues

### Is there a pain point in the app driving this feature request?

Currently, partners are given a default name of "CHANGEME" (soon to be "Name Not Provided") which they or the organization have no way of changing. There is currently no way for a partner user to change their name or an organization.

##

[2022-09-05 23:37] #3031 closed

[2022-09-06 11:03] edwinthinks opened #3139 "[BUG]: Address flakiness of spec by ensuring uniqueness"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

This spec fails randomly due to not producing a unique result:
[code]

### Expected Behavior

The spec passes all the time and we can guarantee uniqueness

### Steps To Reproduce

N/A

### Environment

[code]

### Criteria for Completion

- [ ] Spec is updated to ensure uniqueness so failure

[2022-09-06 11:07] edwinthinks commented on #3127
@dorner I noticed that this spec was added by you and was wondering if we might be able to refactor it to be resilient? I suspect that it may have to do with stubbing the secret?
https://github.com/rubyforgood/human-essentials/blame/3c5a37174317d73c80d139405dc15a436f54a048/spec/requests/distributions_requests_spec.rb#L12

[2022-09-06 13:57] dorner commented on #3127
@edwinthinks have you tried reproducing by running the suite with the same files and the same seed? I can't see how the stub would result in flakiness since it's always stubbing it with the same value.

[2022-09-06 14:12] edwinthinks commented on #3127
@dorner I haven't, can you tell me how I can do that? There are a few tests out there with the failure on CalendarService. I also am not sure how stubbing would fix this.

[2022-09-06 14:26] dorner commented on #3127
Yep - so whenever a spec suite runs, it prints out the seed it's running with. All you have to do is 1) copy/paste the list of tests, which knapsack should print out, and 2) run rspec with `--seed {the seed you copied} {the list of tests}`.

[2022-09-06 14:50] edwinthinks commented on #3127
@dorner thanks! I'll give it a shot and see what I discover. Here is the output for reference of a failed spc:
[code]

[2022-09-06 14:56] dorner commented on #3127
OK - I think the issue here is being masked by rspec-retry. It seems like it *always* fails the first time, but subsequent retries *usually* make it pass. Not sure why yet, but it does seem likely that the secret part is to blame. Will dive in a bit more.

[2022-09-06 14:59] dorner commented on #3127
I think this should work! https://github.com/rubyforgood/human-essentials/pull/3140

[2022-09-06 14:59] edwinthinks commented on #3127
@dorner good catch. Yeh let me know what you find out. At a high-level it looks like the code written should work, and I am not sure how it would fail like that.

[2022-09-06 18:32] #3127 closed

[2022-09-06 22:04] Learningstuff98 commented on #3129
I can take a crack at this

[2022-09-07 00:57] #2783 closed

[2022-09-07 22:26] edwinthinks commented on #3088
Ping - we just heard about this again in the stakeholder meeting in September.

[2022-09-12 21:08] #3129 closed

[2022-09-12 23:12] cielf commented on #3041
For anyone coming along and looking at this -- it's got a pull request that is just waiting for one business clarification.

[2022-09-13 21:50] Learningstuff98 commented on #3032
I can work on this.

[2022-09-13 22:18] cielf commented on #3032
Excellent!  Thanks.

[2022-09-16 00:04] #3104 closed

[2022-09-18 15:44] edwinthinks commented on #3053
![Captura de Pantalla 2022-09-18 a la(s) 10 41 58 a m](https://user-images.githubusercontent.com/11335191/190915684-2a849412-fbf7-4400-ae9d-04d4e513d7e8.png)

Notes!

[2022-09-18 15:54] cielf commented on #3053
The gnarly question we left off on is, more or less,  how do we handle entering initial prices versus price updates, trying to make both as easy and clear as possible for the end-user (while still being sane for us).   Hoping to pick up the discussion at the September 25 office hours.

[2022-09-18 23:32] shen-sat commented on #2984
Hi @edwinthinks, do you have the build failure's rspec seed number?
The seed number should allow anyone to reproduce the failure locally rather than running the CI mutiple times 🤞

[2022-09-19 15:16] cielf commented on #2899
Has been discussed by the developer group in the office hours of Sept 18, 2022.    Approach to county data -- do it naively, and we'll see if we have to do something else for performance.
The actual input, we think, should be informed by the very soon upcoming turbo/stimulus addition issue.

[2022-09-19 15:18] cielf commented on #2899
I have groomed the county list found in Wikipedia to the attached csv.
[county_list.csv](https://github.com/rubyforgood/human-essentials/files/9600271/county_list.csv)

[2022-09-19 16:41] cielf commented on #2899
Grabbing this, at least long enough to the initial creation of the counties table

[2022-09-19 21:37] #3139 closed

[2022-09-21 16:08] cielf opened #3153 "Add comments field in to distribution export"
# Summary
  The comments field is missing from the distribution export.  Please add it.

# Justification
   Support ticket 20220921
   The bank in question has partners that have multiple locations.
   They are currently using the comments field to distinguish between them.    They consider this a medium priority problem.

# Details

  Distributions have a comments field.   This comments field is

[2022-09-22 12:39] #3016 closed

[2022-09-22 17:13] kannans5 commented on #3153
Hello there, I believe this would be modification to the ExportDistributionsCSVService to include the comment (text) and fixing/adding this field to the relevant specs. I just forked the repo, trying to get a grasp of the application.

[2022-09-23 14:13] cielf commented on #3153
@kannans5  I haven't looked into the solution in detail,  but it sounds to me like you're on the right track .

[2022-09-24 17:51] Learningstuff98 commented on #3032
This is still being worked on.

[2022-09-24 19:15] seanmarcia opened #3157 "Add in NDBN Member Information to Account Requests"
# Summary

When banks request accounts we could be capturing more information including their current NDBN membership information. We have a table that we keep up to date that banks can select their membership information from on their organization page. We'd like for banks, when registering, to be able to provide their NDBN registration information.

We'd like to add this field to the account req

[2022-09-24 19:20] seanmarcia opened #3158 "Add Contributing File"
# Summary

We don't have a `Contributing.md` file in this app! We need to add one. Ruby for Good has a template that can be found [here](https://github.com/rubyforgood/r4g-github-provisioning/blob/master/CONTRIBUTING.md) that should be used as the core of this PR. Other things to add would be any specific software requirements, database requirements, and so on. We should have the majority of the r

[2022-09-24 19:35] seanmarcia opened #3159 "Change who the application sends emails "from""
# Summary

Currently, a majority of the emails sent from the app have the `from:` address being send from `info@humanessentials.app`. While this is a real email address it is not actively monitored and when non-profits are responding to distribution emails they have the expectation that the it is going to the bank or someone else who sent the email. This is frustrating for the non-profits who are

[2022-09-25 14:22] scooter-dangle commented on #2963
Gonna close this one. Would be great to have for our events, but there isn't enough indication that we'd be able to have+afford access to all the people participating.

[2022-09-25 14:22] #3041 closed

[2022-09-25 14:23] #2963 closed

[2022-09-25 14:30] scooter-dangle commented on #2965
Note: Removing `Help Wanted` ahead of Hacktoberfest. Might re-label afterward.

[2022-09-25 14:51] #3153 closed

[2022-09-25 15:08] #3093 closed

[2022-09-26 16:33] ashwini-seshadri commented on #3157
Hi, I would like to work on this!

[2022-09-26 18:09] seanmarcia commented on #3157
Awesome! It's yours :)

[2022-09-27 14:54] edwinthinks commented on #2984
Hey, @shen-sat sorry for the late reply. I don't have the seed number on hand but the good news is I believe it was fixed in https://github.com/rubyforgood/human-essentials/pull/3128 :). It hasn't appeared again since.

PS - Sorry going back into old issues to check on them :)

[2022-09-27 14:54] #2984 closed

[2022-09-27 14:55] edwinthinks commented on #2711
I think we can safely close this, the only remaining flaky test is the one with the logo which I'll create a more specific ticket for :)

[2022-09-27 14:55] #2711 closed

[2022-09-27 15:01] edwinthinks opened #3161 "[BUG]: Address flakiness of a distribution_system_spec due to DistributionPdf failing to find a logo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

We randomly see this spec fail:
[code]

### Expected Behavior

The specs should always pass or always fail.

### Steps To Reproduce

N/A

### Environment

[code]

### Criteria for Completion

- [ ] The spec always passes or always fails.

### Anything else?

There are some options that we cou

[2022-09-29 00:41] meg-gutshall opened #3162 "audits/show.html.erb"

[2022-09-29 15:31] seanmarcia commented on #2965
Hey @meg-gutshall and everyone else watching this issue. I'm thinking about this and moving it forward in terms of Hacktoberfest since we tend to get a lot folks coming around wanting to contribute and help.

I'm wonder if we want to keep it as a meta issue as I imagine that by the time we'd finish it that October will be over and we'll lose all the folks who could do the implementation :)
   - If

[2022-09-29 17:13] meg-gutshall commented on #2965
Hey @seanmarcia ! I'm going to work on this over the weekend to break down the meta issue into smaller ones.

Yes, it will be comparing the current site with the new template site to see if it can be reproduced using the template alone. I have an issue template for those pages that cannot be reproduced using the template alone that the contributor will open.

After I clean this up and break out th

[2022-09-29 18:57] kannans5 commented on #3069
I can take a look at this.

[2022-09-30 11:33] ashwini-seshadri commented on #3157
Hello!

I am not sure where to find this
1. Where do I find the section for account creation by admin?
2. Is it superuser admin or organisation admin?
3. When I log in through superuser admin account, I see Users section where admin can add New User. Is that where the necessary changes be done?

[2022-10-02 03:31] seanmarcia commented on #3157
Hey @ashwini-seshadr it a superadmin that creates the organization and the user is created along with the organization. The process is that super admins receive an email `approval_request.html.erb` and from that they click a the create this organization with takes the super admin to the new_admin_organization_url with the params of the request.

Let me know if this didn't make sense!

[2022-10-02 14:50] #3159 closed

[2022-10-03 08:21] ashwini-seshadri commented on #3157
Hi @seanmarcia thank you for the response, I kind of got it, I will look into it and get back if I get stuck again.

[2022-10-04 16:28] #3158 closed

[2022-10-05 16:26] cielf commented on #2899
Still working on this -- making good progess, though I'm now at the point where I need to learn things I don't know to make it work!

[2022-10-05 23:06] HankSml commented on #3090
Hi, I would like to work on this issue please! :)

[2022-10-06 21:13] cielf commented on #3069
@kannans5  Please do!

[2022-10-06 21:14] cielf commented on #3090
@HankSml Please do.

[2022-10-07 17:22] cielf opened #3173 "[Bug] Kit / Item name mismatch"
# Summary

If you change the name of an item-that-is-a-kit,   then name change should be reflected in the kit.   It currently is not.

# Reason to change

  reduction of end-user confusion

# Details

Initial input:   https://human-essential.slack.com/archives/CG1NL2MRC/p1665156565156649

Recreation:
   Create a kit
   Go into Inventory | Items & Inventory, in the Item List tab.   Press "Edit" for

[2022-10-07 23:26] hassyyy commented on #3173
I would like to work on this. Kindly assign it to me

[2022-10-10 10:15] ashwini-seshadri commented on #3157
Hi, [this](https://github.com/ashwini-seshadri/human-essentials/blob/main/spec/requests/admin/organizations_requests_spec.rb#L58) test case has been ignored, where do I add tests for the feature that I have written for super admin.

[2022-10-10 17:01] kannans5 commented on #3069
@cielf would you be able to take a quick look at this approach here https://github.com/rubyforgood/human-essentials/pull/3174 ?

[2022-10-11 08:32] cielf commented on #2905
That’s where it originated from.  I haven’t dug deeply myself, but if I understand correctly,  we aren’t converting to, say, GMT, when we enter times,  which is what is behind that issue?

Sent from my iPhone

[2022-10-15 22:08] #3098 closed

[2022-10-15 22:29] #3068 closed

[2022-10-17 17:13] LittleBigProgramming commented on #2979
Hi, I would like to pick this up if possible? 😄

[2022-10-18 21:30] edwinthinks opened #3186 "[FEAT]: Migrate quagga.js to using stimulus/hotwire approach"
### Is there an existing request for this feature?

- [X] I have searched the existing issues

### Is there a pain point in the app driving this feature request?

There is an inconsistency with how JS is applied which makes maintenance of the application more challenging.

### Desired Behavior

The code used to handle barcode scanning (quagga) is migrated to using new hotwire/stimulus approach.

#

[2022-10-18 21:36] edwinthinks opened #3187 "[FEAT]: Migrate bootstrap dependencies from assets pipeline to webpacker"
### Is there an existing request for this feature?

- [X] I have searched the existing issues

### Is there a pain point in the app driving this feature request?

There is an inconsistency with how JS is applied which makes maintenance of the application more challenging.

### Desired Behavior

The code used to handle bootstrap dependencies are migrated to from asset pipeline to webpacker

### Cri

[2022-10-18 21:40] edwinthinks opened #3188 "[FEAT]: Migrate filterric from asset pipeline to webpacker"
### Is there an existing request for this feature?

- [X] I have searched the existing issues

### Is there a pain point in the app driving this feature request?

There is an inconsistency with how JS is applied which makes maintenance of the application more challenging.

### Desired Behavior

The code related to filterric is moved from the asset pipeline to webpacker. If possible & feasible, uti

[2022-10-18 21:45] heyapricot commented on #3186
@edwinthinks How can we get creative with the testing for this one? Anybody got a barcode scanner at hand?

[2022-10-18 21:45] edwinthinks commented on #3186
@scooter-dangle has one :)

[2022-10-18 21:48] edwinthinks opened #3189 "[FEAT]: Migrate cocoon from asset pipeline to webpacker"
### Is there an existing request for this feature?

- [X] I have searched the existing issues

### Is there a pain point in the app driving this feature request?

There is an inconsistency with how JS is applied which makes maintenance of the application more challenging.

### Desired Behavior

The dependency "cocoon" is migrated from the asset pipeline to webpacker. Cocoon is directly related to

[2022-10-18 23:08] edwinthinks opened #3191 "[FEAT]: Migrate custom javascript in asset pipeline to webpacker"
### Is there an existing request for this feature?

- [X] I have searched the existing issues

### Is there a pain point in the app driving this feature request?

There is an inconsistency with how JS is applied which makes maintenance of the application more challenging. This issue is comprised of multiple efforts to migrate JS to the new approach to using the webpacker & stimulus/hotwire combo.

[2022-10-21 19:39] dorner opened #3197 "Merge partners and partner_profiles"
### Summary

We have a lot of technical debt due to the original design being two separate apps. We've merged both the codebase and the database, but we now have a number of models that are essentially copies of each other. The most significant one is `partners` and `partner_profiles`, but a secondary one is also `requests` and `partner_requests`. These pairs of models represent the same thing and

[2022-10-23 15:20] dorner opened #3198 "Remove Tailwind from the app"
### Summary

Most of our app is based on a Boostrap theme. However, we've also added Tailwind to the app. This has the following disadvantages:

* Confusion among new developers as to which frameworks we should be using for styling.
* A much higher difficulty spike in changing our frontend tech stack (e.g. moving from Webpack to importmaps).
* Tailwind is really geared more towards a component fra

[2022-10-23 15:26] dorner opened #3199 "Move from Webpack to importmaps or esbuild"
### Summary

NOTE: This issue is blocked on #3198.

With Rails 7, we have the option of moving from the existing Webpack-dominated build process to a simpler process.

* For CSS, we can rely purely on Sprockets for CSS, or we can use the `cssbundling` gem for Bootstrap and related code.
* For JS, we have two options: the `importmaps` gem or the `jsbundling` gem.

The first attempt should be to get

[2022-10-23 16:21] #3157 closed

[2022-10-23 17:35] edwinthinks commented on #3198
@dorner I can take this one. I think I've used tailwind the most so I feel I can make a dent in this one :)

[2022-10-24 12:33] awwaiid commented on #3197
"and they are called partner_id in both cases." -- one idea as an intermediate step is to rename the appropriate ones to `partner_profile_id`. Might make the rest of the refactoring more obvious. :shrug:

[2022-10-24 12:48] JuanVqz commented on #3173
@hassyyy are you working on it? if not, can I take it? thanks!

[2022-10-24 12:52] dorner commented on #3197
I think that would be an unnecessary step - renaming columns is a non-trivial operation, and we'd just be renaming them *back* once this ticket would be complete.

[2022-10-24 14:55] armahillo commented on #3161
I'm unable to repro this, even with `bundle exec rspec --bisect spec/system/distribution_system_spec.rb`

Will attempt to review the examples manually and trace through where the errors might be occurring. @edwinthinks Is this limited to specific environments / situational?

[2022-10-24 14:57] edwinthinks commented on #3161
It isn't clear, @armahillo; I've only personally seen it occur in CI.

A side note to your comment, I'am wondering if we want to redesign the test to be not dependent on a file to make this more resilent?

[2022-10-24 15:11] armahillo commented on #3161
OK!

Yeah that's what I was thinking too

[2022-10-24 15:52] hassyyy commented on #3173
Hey @JuanVqz
I couldn't find time to work on this
Sure, you can work on it

[2022-10-25 14:42] JuanVqz commented on #3173
Hey @cielf, we did open a PR that solves this issue, I hope you find it helpful

[2022-10-25 17:22] cielf commented on #3173
Thanks @JuanVqz!

[2022-10-26 15:02] cielf commented on #2899
There is a [WIP] PR for this now.  #3206

[2022-10-26 21:55] cielf opened #3211 "Behaviour re social media on submit for approval"
### Summary

When the partner clicks "submit for approval",  they should get an error if they have not either indicated "no social media presence" or given info for at least one social media  (i.e. website, instagram, facebook, twitter)

### Things to consider

This issue follows on to the PR [Partner social media changes](https://github.com/rubyforgood/human-essentials/pull/3148#top)
#3148

### C

[2022-10-28 18:20] #3198 closed

[2022-10-28 21:13] #3173 closed

[2022-10-29 21:09] #3088 closed

[2022-10-29 21:11] #3032 closed

[2022-10-29 21:22] edwinthinks commented on #2900
@cielf is that the correct issue you are referencing that would make this not needed?

[2022-10-29 21:32] edwinthinks commented on #3161
@armahillo I was thinking maybe as a way to side step this issue is to avoid the DistributionPDF class by using the invoice theme - https://adminlte.io/themes/v3/pages/examples/invoice.html that they can print. What do you think?

[2022-10-30 12:09] edwinthinks opened #3212 "[BUG]: Buttons in partners#show page appears horizontal when should be positioned vertically"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

See https://jam.dev/c/e1c1d042-274d-42cb-8b40-ad1a585791c2 for details

### Expected Behavior

The buttons should be vertical see https://jam.dev/c/e1c1d042-274d-42cb-8b40-ad1a585791c2 for details

### Steps To Reproduce

1. Login as a organization
2. Goto partners#show page from the partner

[2022-10-30 14:03] edwinthinks commented on #3052
I'll need some help thinking of the UX for this

[2022-10-30 17:35] edwinthinks commented on #2965
Closing this issue as per the ADR regarding not going with TailwindCSS - https://github.com/rubyforgood/human-essentials/pull/3217. I know not everyone was on that call so please ask any questions in the slack channel about why this choice was made.

[2022-10-30 17:35] #2965 closed

[2022-10-30 17:36] edwinthinks commented on #3162
See https://github.com/rubyforgood/human-essentials/issues/2965#issuecomment-1296310514 about why we aren't going with the Mosaic theme.

[2022-10-30 17:36] #3162 closed

[2022-10-30 21:56] armahillo commented on #3161
Oh yeah I am _always_ a fan of `<link rel="stylesheet" media="print" type="text/css" src=".../path/to/print.css" />`

I would consider this to be a non-trivial, but worthwhile conversion to explore.

One caveat I'd have is that the output becomes more client-dependent, and will require more extensive testing, particularly on non-desktop clients. But I don't think that should be an obstacle large e

[2022-10-31 03:10] armahillo commented on #3161
OK I was able to repro (sort of) by extracting
[code]
to a private memoizing method and then raising the exception in it:

[code]

It's a little louder than it is in CI, but it will work for at least determining that the stubbing I'm about to do addresses the issue.

These tests are ambivalent to the mailer async jobs, so I'm going to stub out those schedule methods. I think this points to a separ

[2022-10-31 07:04] nisusam commented on #3212
@edwinthinks Can I pick this issue? It'll look like this after the fix is applied

<img width="747" alt="Screenshot 2022-10-31 at 12 33 08 PM" src="https://user-images.githubusercontent.com/16205473/198950276-b6f4c1ef-b061-4120-bc07-be9d047213ee.png">

[2022-10-31 14:04] #3212 closed

[2022-10-31 14:10] #3161 closed

[2022-10-31 15:55] #3069 closed

[2022-10-31 17:26] cielf opened #3226 "[BUG]: Reset Partner Password giving error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The "Reset Partner Password" button in the essential bank's view of the partner is not working.   You get "Failed to invite [partner email] to [partner name]  due to:  "Validation failed:  Resource type is not included in the list"

(Note:  this was found in production.)

### Expected Behavio

[2022-11-01 04:22] seanmarcia opened #3230 "Styling Broken on Account Request Page"
### Summary

On the account request page (https://humanessentials.app/account_requests/new) when a user clicks on the `I am an Essentials Bank..` radio button it expands to borders outside the page. This is making a difficult user experience for new folks signing up.

### Things to consider

We use the devise layout on the account request page -- it may need a custom layout.

### Criteria for Comp

[2022-11-02 00:59] Learningstuff98 commented on #3211
@cielf I have an update. Its ready except for one test that I'm having an issue with. Its the system test that I've commented out for now. Everything is behaving properly in localhost, but the opposite is happening when the test runs. In other words when the test runs with invalid media information, instead of the page getting an error like it should, the submission is going through.

In localhost

[2022-11-03 00:04] cielf commented on #3211
Hey @Learningstuff98  -- I'm actually on vacation (staycation, but still)  this week -- I'm going to send myself a reminder for this for when I'm back.

[2022-11-03 08:17] tokyodaruma commented on #3230
Hi Sean! I'm new to contributing to open source and I'd like to give this a try. Can this be assigned to me?

I looked into this locally. It seems like this can be corrected with two additional CSS attributes on `login-page--user` under `custom.scss`:
[code]

It doesn't affect the `users/sign_in` view and expands the page (with the background smoothly reaching the bottom of the screen) only when s

[2022-11-03 11:09] edwinthinks commented on #3230
@tokyodaruma hey there, I think that sounds good. I can assign you :)

[2022-11-03 14:39] edwinthinks opened #3236 "[BUG]: Requested items are appearing as the wrong item when creating a distribution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In the stakeholder meeting Nov 2nd 2022, Diaper Bank Of Ozarks mentioned a pesky bug which appears to set the requested items to the wrong item.
See the request and the distribution snapshots below:
![Captura de Pantalla 2022-11-02 a la(s) 5 21 35 p m](https://user-images.githubusercontent.co

[2022-11-06 15:34] awwaiid opened #3241 "[BUG]: Validation errors editing organization not being communicated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

A generic error message "Failed to update your organization." is shown when there are validation errors editing an organization.

### Expected Behavior

Show the validation error itself -- such as the one from
[code]

### Steps To Reproduce

Turn off all of the distribution types in the org e

[2022-11-06 16:32] edwinthinks commented on #3236
<img width="1353" alt="Captura de Pantalla 2022-11-06 a la(s) 11 30 52 a m" src="https://user-images.githubusercontent.com/11335191/200182677-15110fe4-819a-49a0-9a88-33e67cd4b96c.png">
Discovered the issue is in this area ^. InventoryItem is returning a smaller subset of items causing some issues.

[2022-11-07 15:24] cielf commented on #2899
Still working on it.  Hopefully done this week

[2022-11-07 16:57] cielf commented on #3211
Hey @Learningstuff98 -- i just manually tested this on my local,  and it fails in the same way as the test fails.  The steps:
1/  signed in as organization admin
2/  Added a new partner - (my own email address)
3/  When the email flashed up,  I copied the link and opened it in a different browser
4/  I then went to "My organization", and clicked "Submit for Approval"

The submission went through.

[2022-11-07 17:23] cielf commented on #3211
Hmm.  Hey @Learningstuff98  Just looking at the validations in partners/partner.rb.  I don't see a dependence on the status -- which I would have expected.

[2022-11-07 18:25] cielf commented on #3211
@Learningstuff98 So...   more than one thing here, I think.   if I add a check for partner status into the acceptance validation in partners/partner.rb,   you still won't get the results you want -- *But*,  you will have partner.profile.errors containing something after line 17 in request_approval_service.

[2022-11-07 18:45] cielf commented on #3211
@Learningstuff98 I don't know *why* it's not catching it  --   maybe some kind of optimization so that if there is no change in the conditions since the last save, it doesn't fire?   I think we might need to call in someone with deeper rails understanding than me to fully understand that.  (looks at @dorner or or @edwinthinks)

[2022-11-08 03:33] Learningstuff98 commented on #3211
@cielf Yeah honestly I'm stumped. I agree with your idea of getting some extra eyes on this.

[2022-11-08 13:44] cielf commented on #3211
@Learningstuff98 (nods) If we split things up in the ApprovalRequestService so that it checks if it is submitted already, then update the partnerstatus, then check validity,  we can make it work, I believe.   I just don't grok why it's reading as valid in the first place.

[2022-11-08 14:12] dorner commented on #3211
I'd have to check out the code to take a look. Nothing jumps out at me by looking at it.

[2022-11-09 00:13] Learningstuff98 commented on #3211
I have an update. I got it to the point where everything works in the browser on my end and the system test is behaving properly, however I've got other tests that are now failing. I hope to have everything ready for a PR soon once I've addressed the current failing tests.

[2022-11-11 06:27] Learningstuff98 commented on #3211
@cielf I've resolved the issue with the other failing tests, so its just about ready for a PR except for one last thing. Could you pull down the recent changes that I've sent to this branch and test it through the flow that you mentioned earlier? I would test it myself but I'm not getting the email with the link that you mentioned. I expect it to work as it should now.

[2022-11-14 16:59] cielf opened #3251 "Limit the year range available for distribution, purchase, donation dates"
# Summary

Currently,  you can put any year in the distribution date, purchase date, or  donation date, .  These should be limited to dates later than 2000.

# Justification

There are a dozen or so cases where people have accidentally entered very early dates (some as early as 1AD).  If you do so,  you cannot access the information (because the  views are limited to the last 100 years) and it cau

[2022-11-15 19:24] #3230 closed

[2022-11-18 19:28] dorner commented on #3052
This is also blocked on #3214 .

[2022-11-19 16:25] #2997 closed

[2022-11-19 16:32] edwinthinks opened #3255 "[BUG]: As a bank, adding a user to a partner does not work."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The feature to add users to a partner organization as a bank doesn't work. It seems like it is successful but the User record isn't created. See video here:

https://jam.dev/c/7775c08f-bfbb-4904-ad11-59161057da09

### Expected Behavior

An invite is sent to the partner to register

### Steps

[2022-11-19 20:34] kannans5 commented on #3255
@edwinthinks Can I take a look at this?

[2022-11-20 15:39] #3094 closed

[2022-11-20 16:03] scooter-dangle opened #3256 "Display of no-reply emails (sender name and warning)"
### Summary

Unfortunately response to this email are not currently being bounced, and people are still responding.

All emails from no-reply@humanessentials.org should have their "Do Not Reply" messages emphasized.

### Things to consider

_No response_

### Criteria for Completion

- [ ] Beginning of the body of all emails from this address should have succinct, eye-catching(?) text warning noti

[2022-11-21 14:43] #3236 closed

[2022-11-21 15:36] cielf opened #3259 "[BUG]: Superadmin cannot promote users to admin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Signed is as a superuser,  I try to promote a user to admin.   I get a 404 error.

### Expected Behavior

I'd expect to come back to the superadmin's organization show page with a "User promoted" message,  similar to the behaviour that organization admin's have when they promote another user

[2022-11-21 22:53] edwinthinks opened #3260 "[FEAT]: As a bank user, I want to be able to manage the users for my partners"
### Is there an existing request for this feature?

- [X] I have searched the existing issues

### Is there a pain point in the app driving this feature request?

Often times we hear that Bank/Organization users want to add, remove, and promote users for their associated partner users. This feature should empower banks/organization to be able to manage themselves.

### Desired Behavior

Bank users

[2022-11-21 22:54] #2474 closed

[2022-11-21 22:54] #2475 closed

[2022-11-21 22:57] edwinthinks opened #3261 "[BUG]: Invalid distributions with 0 or negative line items are able to be created"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

See https://jam.dev/c/83be9d83-6f9d-4684-b89c-c5a3300e43c9 and notice a distribution with 0 or negative items is allowed.

### Expected Behavior

A error should be returned if there are no items in the distribution or negative items are added.

### Steps To Reproduce

See https://jam.dev/c/83

[2022-11-22 15:28] cielf opened #3264 "When a bank changes to allowing a type of request, it should only *allow* it, not change all the partners to using it."
# Summary

Whatever a bank chooses to do with allowing the different types of request currently changes the partner's settings.   It should only change it if the bank is disallowing the request type.

# Details

If a bank  disallows one of the types of requests (quantity, family, individual),  the ability to use it is immediately removed for all that bank's partners.  (That is the desired behaviou

[2022-11-23 14:30] cielf commented on #3261
Note that you can *not* take care of this by just disallowing non-positive values on line_items,  because we do need negative values there for inventory adjustments.

[2022-11-23 14:46] cielf commented on #3226
FYI We have had an issue reported in production with the same error on partner invite.

[2022-11-23 14:59] cielf opened #3265 "Speed of loading dashboard is very very slow"
### Summary

The speed of loading the essentials bank dashboard is very slow.     When working with copy of production,  it takes a full 10 seconds to load the dashboard for one of our heavy-duty users on a local copy.

### Things to consider

- I (CL) suspect it's probably an issue with the distribution section - but that's mainly a 'gut feel'.
- There are some bullet warnings coming up, so look

[2022-11-29 02:31] seanmarcia commented on #3265
Ryan bates recently recommended [goldiloader](https://github.com/salsify/goldiloader) for this. I wonder if it would help here.

[2022-11-29 15:24] awwaiid commented on #3264
Do we need one further validation that partners have at least one turned on? I'm imagining a bank turning off all but one, then switching to only another one being on and weirdness happening.