[2019-05-02 23:29] seanmarcia commented on #943
I *think* we'll need to finish the migration to the new theme before we tackle this in earnest. A lot will be failing because of different xpath's, and other layouts due to the theme. Possibly also how bootstrap 4 handles modals and stuff too.

[2019-05-03 12:05] ejuten commented on #881
I'm working on this! 💖

[2019-05-03 14:22] armahillo commented on #831
@pcrglennon Awesome, thank you! HMU on the slack # if you have questions while you're working on it -- I'm @A-A-Ron :+1:

[2019-05-03 15:09] #888 closed

[2019-05-03 15:43] pdxdiaperbank commented on #808
@seanmarcia @armahillo

@SCDB Megan and I have had time to chat about the dashboard.... Do you have time to touch base later today?? by 3pm EST?

[2019-05-03 15:51] #908 closed

[2019-05-03 16:23] #825 closed

[2019-05-03 21:27] #881 closed

[2019-05-03 21:30] ejuten commented on #902
I'm working on this! 💖

[2019-05-03 21:57] ejuten commented on #872
I'm working on this! 💖

[2019-05-03 22:18] ejuten commented on #852
I'm working on this! 💖

[2019-05-03 22:37] ejuten commented on #849
I'm working on this! 💖

[2019-05-03 22:54] ejuten commented on #846
I'm working on this! 💖

[2019-05-03 23:56] #902 closed

[2019-05-03 23:56] #872 closed

[2019-05-03 23:57] #852 closed

[2019-05-03 23:57] #849 closed

[2019-05-04 02:01] ejuten commented on #832
I'm working on this! 💖

[2019-05-04 03:07] #832 closed

[2019-05-04 06:27] armahillo opened #955 "Create a test helper for doing booping"
# Summary
This is minor feature, for internal use.

There are numerous places where we simulate booping (scanning with a barcode reader). There were a few specs that were failing because they were passing in `13.chr` instead of `10.chr` and this made the booper very unhappy.

This can all be made better if we use a helper method that is used in place of manually doing boop-logic.

The command for

[2019-05-04 13:21] ejuten commented on #906
I'm working on this! 💖

[2019-05-04 14:24] ejuten commented on #845
I'm working on this! 💖

[2019-05-04 14:40] SCDB opened #957 "Misspelling under Diaper Drive Participants screen"
Hi there! "Business" is spelled wrong in the first heading under the "Diaper Drive Participants" page. See pic below. Thanks!
![Screen Shot 2019-05-03 at 11 40 53 AM](https://user-images.githubusercontent.com/34867963/57180674-1382e180-6e59-11e9-8b33-4008ce9e6e6c.png)

[2019-05-04 14:43] SCDB opened #958 "Change filter title on Donations Page"
On the Donations page, we think one of the filter titles needs to be updated to match language elsewhere in the program. Instead of filtering by "Diaper Drive" it should be filtering by "Diaper Drive Participants", which matches the language on that page and how we are referring to the folks/businesses who organize our drives. See Screen Shot below.

![Screen Shot 2019-05-03 at 11 32 41 AM](https:

[2019-05-04 14:53] ejuten commented on #905
I'm working on this! 💖

[2019-05-04 15:12] ejuten commented on #904
I'm working on this! 💖

[2019-05-04 15:23] amyhenning commented on #827
Looks like this one was completed in the process of getting RailsConf attendees set up with other issues related to Bootstrap themes.

[2019-05-04 15:30] amyhenning commented on #957
Working on it!

[2019-05-04 15:37] ejuten commented on #903
I'm working on this! 💖

[2019-05-04 19:34] ejuten commented on #901
I'm working on this! 💖

[2019-05-04 19:55] ejuten commented on #900
I'm going to work on this! 💖

[2019-05-05 00:32] JuarezLustosa commented on #898
I'm working on this

[2019-05-05 01:17] #957 closed

[2019-05-05 01:50] #898 closed

[2019-05-05 01:53] seanmarcia commented on #955
I like how you use the technical term of `booping`.

[2019-05-05 13:00] JuarezLustosa commented on #897
Working on this

[2019-05-05 17:33] #958 closed

[2019-05-06 17:47] felipelovato commented on #896
Hi! I'm on it!

[2019-05-06 18:50] chrismo commented on #751
I think it's just a node 12 problem. We actually saw this locally in our app today. `nvm` can be a helpful tool to handle multiple node versions, but ... I'm very unfamiliar with this stuff too.

[2019-05-07 12:58] QWYNG commented on #823
Hi! thank you for great service! I will do the pickup status first

[2019-05-07 19:42] elainemattos commented on #889
Hi, working on this!

[2019-05-07 22:39] mflobo commented on #863
Hey there. I'm working on this!

[2019-05-08 03:00] #896 closed

[2019-05-08 03:20] Velisarius commented on #894
I'm seeing some strange failures I'm struggling to debug after converting this test:
[code]

I'm not sure why it's trying to grab something from `tmp/storage` -- any ideas?

[2019-05-08 03:22] pdxdiaperbank opened #972 "Diaper Drive Widget on Dashboard Incorrect"
### **The diaper drive widget on the dashboard isn't adding correctly. It currently says that we've raised 983 items from 3 diaper drives year to date:**
![Screenshot 2019-05-07 20 09 56](https://user-images.githubusercontent.com/20074085/57346751-98455800-7104-11e9-8e37-e247229dfa33.png)

### **But, as you can see, we've had 7 diaper drives so far this year which raised a total of 4103 items:**
!

[2019-05-08 05:31] armahillo opened #973 "Change Item.value to be an integer, in cents, make other values more explicit"
We use dollar values in a few places.

These need to be integers, in cents, so that we don't have floating point issues.

We should also rename existing value fields to have `_cents` in the name so it's explicit what kind of values we're expecting there

# Criteria for Completion
 - [ ] Change `Item.value` to an integer
 - [ ] Change `Item.value`  to `Item.value_in_cents`
 - [ ] Change `Purchase.a

[2019-05-08 17:46] mflobo commented on #863
I have a couple questions:
1) Should I be concerned with anything regarding setting up Bootstrap 4 itself or should I just adapt the code to include Bootstrap features?
2) I've given the three reference view files a peek after cloning the repository, but they seem to not be updated. Should I find the updated versions elsewhere?

[2019-05-08 17:53] llenk commented on #873
Currently, there are subtle red/green/blue highlights on the table rows, which appears to be from CSS created for this project. That CSS has been deleted with the upgrade. Should I recreate that CSS, or use the less subtle table row highlights Bootstrap provides?

[2019-05-08 18:07] maebeale commented on #863
@mflobo hello! Correct, please adapt the code to the newest bootstrap classes. You should be able to see the new ones in the branch (?), so there should be a diff with things like removing section w class "content-header" to a div. Let us know if you still aren't able to find a changed file to reference. Thanks for your help!

[2019-05-08 19:40] maebeale commented on #873
Excellent question, @llenk! @armahillo should be able to answer.

[2019-05-08 19:43] #869 closed

[2019-05-09 14:42] elainemattos commented on #884
Hi, working on this one!

[2019-05-09 15:44] #889 closed

[2019-05-09 17:32] elainemattos commented on #895
Hey, I'm going to update this one :)

[2019-05-09 17:51] #884 closed

[2019-05-09 19:04] elainemattos commented on #886
Hi, I'm working on update this one!

[2019-05-09 23:24] #887 closed

[2019-05-10 16:31] elainemattos commented on #890
Hey, I'm going to update this one!

[2019-05-10 17:04] #886 closed

[2019-05-10 17:05] #880 closed

[2019-05-10 17:43] rodrigovirgilio commented on #943
I agree.

[2019-05-10 18:03] rodrigovirgilio commented on #885
I'm working on this issue.

[2019-05-10 18:39] rodrigovirgilio commented on #885
Looks like it's okay.
Do I have to correct something?

![Screenshot 2019-05-10 15 36 48](https://user-images.githubusercontent.com/392677/57549330-a203d100-7339-11e9-90a6-e32309fd598e.png)

[2019-05-10 18:48] mflobo commented on #882
Hello, I'm gonna work on this!

[2019-05-10 19:56] #878 closed

[2019-05-10 19:56] #890 closed

[2019-05-10 20:12] #863 closed

[2019-05-10 22:28] rodrigovirgilio commented on #885
It was in the master branch and not in new_theme.
Done: https://github.com/rubyforgood/diaper/pull/987

[2019-05-10 22:40] #903 closed

[2019-05-10 22:41] #900 closed

[2019-05-10 22:41] #897 closed

[2019-05-10 22:51] #895 closed

[2019-05-10 22:53] seanmarcia commented on #873
Hey @llenk just use whatever is provided in the theme :)

[2019-05-10 22:58] #885 closed

[2019-05-10 23:01] #876 closed

[2019-05-10 23:02] #875 closed

[2019-05-10 23:03] #867 closed

[2019-05-10 23:04] #866 closed

[2019-05-10 23:05] #864 closed

[2019-05-10 23:05] #861 closed

[2019-05-10 23:06] #860 closed

[2019-05-10 23:08] #855 closed

[2019-05-10 23:09] #850 closed

[2019-05-10 23:10] #841 closed

[2019-05-10 23:11] #840 closed

[2019-05-10 23:11] #836 closed

[2019-05-10 23:11] #834 closed

[2019-05-10 23:12] #827 closed

[2019-05-11 00:42] rodrigovirgilio commented on #874
@maebeale

A question.

Is it a standard whole screen show show button to change and insert?

example:
![Screenshot 2019-05-10 21 42 32](https://user-images.githubusercontent.com/392677/57562813-9087ec80-736c-11e9-8397-024e86116e1a.png)

[2019-05-11 00:57] rodrigovirgilio commented on #874
@seanmarcia
Review please: https://github.com/rubyforgood/diaper/pull/988

[2019-05-11 01:47] #874 closed

[2019-05-11 14:08] elainemattos commented on #879
Hi, I will update this one! :)

[2019-05-11 18:13] seanmarcia commented on #943
These are passing. I'm going to close this.

[2019-05-11 18:13] #943 closed

[2019-05-11 18:58] armahillo opened #989 "How do we address uses of `item` that might end up being `nil` objects"
# Summary
We've been getting a bunch of errors that all center around nil `item` objects -- basically `item_id`s that used to exist, but don't now, so when the DB goes to find them or use their data, it fails, and throws an error. This is happening in Prod, so it's not hypothetical.

We can address the bugs as they come up, but there have been enough to make me think this is a systemic problem. Wh

[2019-05-12 05:13] armahillo opened #990 "Don't display line-item quantities when doing an Audit"
# Summary
When performing an audit, we shouldn't display the line-item quantities in the drop-down lists for the line-items. This defeats the purpose of a blind audit.

# Criteria for Completion
 - [ ] When performing an audit, it just shows the item names, no quantities
 - [ ] A system test confirming that the numbers don't show up in the text

N.B. This may require changing how the line_item par

[2019-05-13 00:08] #838 closed

[2019-05-13 12:54] rodrigovirgilio commented on #883
@seanmarcia this issue was merged, right?

[2019-05-13 12:55] #883 closed

[2019-05-13 14:51] GabrielRMuller commented on #973
I can work on this if you'd like, I can have a PR open in a couple of days.

[2019-05-13 16:03] rodrigovirgilio opened #992 "Default layout index new theme"
### Sumary

I noticed that the index pages that are in the `new_theme` branch are not following a pattern.
Here are my considerations:

### Pictures

![Screenshot-2019-05-13-12 51 14](https://user-images.githubusercontent.com/392677/57636122-ed5af100-757e-11e9-8093-0e51c8cabc3b.png)
1) Broken alignment of the `export` and` new` buttons. And `filter` and` clear` filter below `select`.

![Screenshot

[2019-05-13 17:04] seanmarcia commented on #992
Thanks for pointing this out! I think we those were submitted there were varying patterns for the filtering. Do you want to take this on or should I make a new issue for it?

[2019-05-13 17:36] rodrigovirgilio commented on #992
@armahillo ☝️

[2019-05-13 20:30] jprask commented on #842
is it the page on views/**admin**/feedback_messages/ ? If so I'm down to give it a shot.

[2019-05-14 16:29] willmurphyscode commented on #989
So a null object pattern would basically be: When we query for an item and that item is missing, instead of raising an exception or returning nil, we should return an object that represents "no such item?" I like that suggestion, but I want to understand why we need it.

It sounds like part of the problem is that clients are saving database IDs for items that no longer exist. Do we know why that's

[2019-05-14 22:01] mflobo commented on #854
Hey, I'm gonna work on this.

[2019-05-15 03:32] #842 closed

[2019-05-15 04:00] armahillo commented on #992
@rodrigovirgilio Either the second or third one would be fine. I like the third one, @mdworken likes the second one.

What're your thoughts?

The filter console should be attached to the collection, to communicate that relationship. The additional form controls could be nearby, like in the third example. I'm not completely sure which one would be best.

But definitely not the first one. :)

[2019-05-15 12:37] rodrigovirgilio commented on #992
@armahillo I prefer the third image too.

[2019-05-15 13:47] #843 closed

[2019-05-15 17:00] #873 closed

[2019-05-15 19:11] jeduardo824 commented on #973
Can I start to work on this?

[2019-05-15 22:26] rodrigovirgilio commented on #882
@seanmarcia issue done!

[2019-05-15 22:38] #854 closed

[2019-05-15 22:51] rodrigovirgilio commented on #905
@ejuten https://github.com/rubyforgood/diaper/pull/999

[2019-05-16 02:13] #905 closed

[2019-05-16 20:40] jeduardo824 commented on #973
I'm working on this

[2019-05-16 20:50] jeduardo824 commented on #973
Should I change the label "Value" to "Value in cents" on the views?

[2019-05-17 18:57] StheffanyHadlich commented on #990
I can help with that

[2019-05-18 02:10] #845 closed

[2019-05-18 02:10] #851 closed

[2019-05-18 02:10] #856 closed

[2019-05-18 02:10] #857 closed

[2019-05-18 02:10] #859 closed

[2019-05-18 02:10] #862 closed

[2019-05-18 02:10] #865 closed

[2019-05-18 02:10] #868 closed

[2019-05-18 02:10] #871 closed

[2019-05-18 02:10] #879 closed

[2019-05-18 02:10] #882 closed

[2019-05-18 02:10] #893 closed

[2019-05-18 02:10] #901 closed

[2019-05-18 02:10] #904 closed

[2019-05-18 02:10] #906 closed

[2019-05-18 02:18] seanmarcia opened #1001 "Finish Updating to the New Theme"
**Theme update**

We're upgrading our bootstrap theme to use a bootstrap 4 template and need to upgrade the various pages in our site.

This issue is the update the following files to use the new bootstrap theme:

- [x] organizations/edit.html.erb <-- PR created
- [x] donations/new.html.erb
- [x] donations/edit.html.erb
- [x] purchases/edit.html.erb
- [x] barcode_items/new.html.erb
- [x] storage_l

[2019-05-18 04:40] armahillo opened #1002 "Let's Improve How We Do Logging"
@keithrbennett Raised some really good points in #718 regarding being more intentional about how we are recording logged data. We've been pretty haphazard about it so far and I think we could maybe formalize this practice better.

One idea that came up in that discussion was to track a separate logfile entirely that would just track user actions, so that we can more easily find user activity witho

[2019-05-18 04:44] armahillo opened #1003 "DistributionsController#create should be cleaned up"
There are currently 3 different branches in that action that result in `render :new`.

My gut says there is probably some redundancy here that could be reduced.

[2019-05-18 06:10] #473 closed

[2019-05-18 06:30] #973 closed

[2019-05-18 07:18] armahillo commented on #989
@willmurphyscode
I *think* this is happening because the diaperbanks are creating a record that refers to a specific Item, and then that item later gets deleted / changed, and then they want to go back and change or view the original record.

We have *some* failsafes in place; they can't actually fully delete an item if it has any history at all (there's a validation in place for this). But some o

[2019-05-18 07:19] armahillo commented on #992
@rodrigovirgilio Sounds good! We can always tweak / change later if we need to.

Thank you!

[2019-05-18 07:20] armahillo commented on #990
@StheffanyHadlich Go for it!

[2019-05-18 07:23] armahillo commented on #894
@Velisarius My first guess would be that it's looking for an organization image or something.

System specs are kind of a new frontier, with all new errors.
If you're still interested in working on this, let us know! (Sorry for self-assigning -- I did it via checkboxes in the issue list, so I didn't see you had chimed in!)

[2019-05-18 07:37] #826 closed

[2019-05-18 07:37] armahillo commented on #826
This was completed, but the issue was not tagged correctly so it didn't autoclose.

[2019-05-18 07:40] armahillo commented on #972
@pdxdiaperbank I think we need to re-visit how we do Diaper Drive entry in this. One of the newer diaperbanks that have signed on (Aloha Diaper Bank) was having trouble with this section.

Re: the widget -- we're in the process of redoing how those work, so this will be part of that.

Is the time-frame set correctly in the top-right?

[2019-05-18 07:43] #858 closed

[2019-05-18 07:46] armahillo commented on #808
@pdxdiaperbank @SCDB
Sorry, I completely dropped the ball on this!
Would you have time on Sunday, 19 May, to talk about this?

[2019-05-18 07:49] armahillo commented on #751
@chrismo Thanks for updating the README -- I'm going to mark this one closed for now until we can learn more about it later.

[2019-05-18 07:49] #751 closed

[2019-05-18 07:50] #726 closed

[2019-05-18 18:05] pdxdiaperbank commented on #808
Yes, I do. I’m pretty flexible that day, so whatever works for the team is
fine.

Rachel

On Sat, May 18, 2019 at 12:46 AM Aaron H <notifications@github.com> wrote:

--
Thank you,

Rachel Alston
Executive Director & Founder
PDX Diaper Bank
P.O. Box 22613, Portland OR 97269
PdxDiaperBank.org

[2019-05-19 22:25] StheffanyHadlich commented on #990
The script that adds item's quantity affect other places where this dropdown appear (like in distribution), so changing this particular script also affects other places where this dropdown shows. Is this the right behaviour or just on the audits item's quantitys are to be hidden?

[2019-05-20 06:06] nwoeddie commented on #821
@armahillo I can work on this one!

[2019-05-20 19:28] SCDB commented on #808
Hi all! Sorry for the delay! Yesterday was too busy for me to have squeezed
in a phone call anyways. This week on Wednesday is my most flexible day of
the week (9am-2pm EST), Thursday I have 10am-2pm EST, and Friday 12:30-3pm
EST. Anything in there work for everyone?

Megan Fischer
CEO & Founder
Sweet Cheeks Diaper Bank
1615 Republic St.
Cincinnati, OH 45202
513-402-1450 Ext. 101
www.sweetcheeksdi

[2019-05-20 20:56] Velisarius commented on #894
@armahillo Thanks for taking this over. I began work with best intentions, but life's caught up with me. I'll circle back on this project when I have some more breathing room in the future. 😅

[2019-05-20 22:16] armahillo opened #1008 "Storage Location total calculations do not incorporate Purchases"
Stark County Diaperbank (`sem`) reported that their totals weren't being calculated correctly:
 - on the dashboard totals
 - in the line items when doing a distribution
 - in the inventory totals on storage location

I have confirmed that this is the case.

It appears that Purchases are not being added into those calculations.

I think the calculations might also be generated through raw SQL -- if

[2019-05-21 18:06] nwoeddie commented on #821
@armahillo After creating a Manufacturer model, I ran `bundle exec annotate` but it modified every single model and spec/model *.rb file, is that expected? Should I commit with the annotate-modified files?

[2019-05-22 02:24] pdxdiaperbank commented on #808
Tomorrow (wed) is best for me too.

Rachel

On Mon, May 20, 2019 at 12:28 PM Megan Fischer <notifications@github.com>
wrote:

--
Thank you,

Rachel Alston
Executive Director & Founder
PDX Diaper Bank | P.O. Box 22613, Portland OR 97267
*PdxDiaperBank.org <http://www.pdxdiaperbank.org>*
*Creating Opportunities & Success Through Diapers*

*Upcoming Events*

   - *Cloth Diapering on a Budget - *Our n

[2019-05-24 02:27] reese commented on #955
Would love to take this one on! I should have a PR up shortly.

[2019-05-24 17:09] jeduardo824 commented on #1003
working on this

[2019-05-25 13:48] tomrossi7 commented on #739
Hi everyone! I've started work on this issue and setup [this branch](https://github.com/rubyforgood/diaper/tree/739-Migrate-Controller-Specs-to-Request-Specs). I'm new to participating in Open Source, so please don't hesitate to tell me if I need to do anything differently!

[2019-05-25 21:40] #1003 closed

[2019-05-25 21:50] #730 closed

[2019-05-25 22:38] #955 closed

[2019-05-25 22:49] armahillo opened #1018 "Possible Refactor: Donation Sources"
We currently have 3 (soon to be 4) sources in `Donation::SOURCES`

[code]

The behaviors are very similar w/r/t how they interact with Donations. Is there a potential for generalizing these via a polymorphic association or something?

Something like:
[code]
And then in `DonationSite`, for example, it could be:
[code]

Something like that.

I think this would let us strip out some of the conditiona

[2019-05-25 23:23] armahillo opened #1019 "Create a custom RSpec matcher for the various flash statuses"
# Summary
I did this at a previous job and found it to be useful. I'll pick this one up if no one else grabs it after a while.

What we want is a [custom Rspec matcher](https://relishapp.com/rspec/rspec-expectations/v/3-8/docs/custom-matchers/define-a-custom-matcher) that will work like this:

[code]
Additionally, a general one like:
[code]

Create matchers for the various flash statuses we're usi

[2019-05-25 23:30] armahillo commented on #990
@StheffanyHadlich Normally, we *want* it to show those quantities; the audits are an exception. Feel free to either write a new function for this, or to extend the existing one somehow, whichever is easier.

We do need the two different behaviors, though: Audit-behavior and everywhere-else-behavior

[2019-05-25 23:31] armahillo commented on #894
@Velisarius Completely understand, not a problem!

[2019-05-26 14:30] armahillo commented on #739
Awesome, thank you @tomrossi7 !

[2019-05-26 15:22] armahillo opened #1022 "When making a purchase, all the user to use normal money values instead of requiring input in cents"
# Summary
When creating a purchase, it requests "Value in cents" or "Amount spent in cents" -- we don't want to require our users to do mental math when entering these things. It should accept a monetary value like "5.00" or ideally even "$5.00"

# Criteria for Completion
 - [ ] Change the form to prompt the user for a more general value
 - [ ] Convert a dollar input into the appropriate cents val

[2019-05-26 15:49] armahillo opened #1024 "(EPIC) Expand test coverage"
# Attention Conference Contributors
This is a great issue to get some PRs in! Take a look at `coverage/index.html` (you might want to re-run it to be sure yours is current!) and identify some areas of the app that have missing coverage.

**If you don't have `coverage/index.html`**, you can generate it by running the full rspec suite (`bundle exec rspec`). This will take a little bit, 10-20 mins de

[2019-05-26 16:19] #846 closed

[2019-05-26 17:03] tomrossi7 commented on #739
I've gone ahead and committed the migration of the `organizations_controller_spec` to the `organizations_requests_spec`, and would love to get feedback for tackling the others.

1. I'm not sure if I should be having the conversation here on the issue or should I create a PR before its done to have the discussion?
2. Do we like the formatting?
3. What type of assertions do we want in the integratio

[2019-05-26 20:48] seanmarcia commented on #821
@nwoeddie Thanks so much for this! I'm not sure why it wasn't autoclosed but closing it now!

[2019-05-26 20:48] #821 closed

[2019-05-26 21:34] #894 closed

[2019-05-26 23:58] StheffanyHadlich commented on #990
Thank you, I will work on this

[2019-05-28 20:35] armahillo opened #1028 "DiaperBanks would like the ability to customize the Partner invitation e-mail"
# Summary
Anne wrote in and asked if we could allow the Diaperbanks to customize the email that is sent out, inviting the Partners to connect.

I think this is a good idea but I'm not completely sure on what all would need to be changed. We should still have our default boilerplate email, but allow the Diaperbanks to override it **when they are sending the invitation**.

Some things to consider:

[2019-05-29 20:41] pdxdiaperbank opened #1029 "Dashboard Not Adding Statistics Correctly *Please Prioritize This*"
Hi all,

There are several ways that the dashboard isn't adding things correctly, but here is one that we identified today:

We wanted to know how many diapers we distributed to our partner agencies month-to-date (for May). According to the dashboard we distributed 17,322, but after adding all the distributions for May by hand, we actually distributed 23,529.

**I'm going to stress the importance

[2019-05-30 12:56] JuarezLustosa commented on #1029
@pdxdiaperbank I think maybe you've made a mistake here. When you use the month to date, the system gets the first day of the month until today, not an entire month. If you remove in your calculation the 05/30/2019, you'll see the value match. I think if you try Today 05/30/2019 should get 23529.

[2019-05-30 13:59] pdxdiaperbank commented on #1029
@JuarezLustosa  Phew! Sorry, I didn't realize my colleague had postdated yesterday's distribution when she brought this to my attention. Great, so glad it's calculating correctly!! Would you mind taking a peek at the diaper drive calculations on the dashboard while we're on the subject? This one I know isn't adding correctly. It tells us that we've had 3 diaper drives no matter what date range I s

[2019-05-31 01:45] armahillo commented on #1029
@pdxdiaperbank We really need to complete re-vision the Dashboard. Most of the calculations were done back in the initial version of Diaperbase, and I suspect we have better methods for doing these calculations now.

Are any of the widgets not particularly useful? Are there any we should add?

[2019-05-31 01:55] #706 closed

[2019-05-31 01:59] armahillo commented on #1029
@pdxdiaperbank I created a project for this -- going to review the current Dashboard functionality and start spinning up some issues.

[2019-05-31 05:34] pdxdiaperbank commented on #1029
@armahillo ,

**Megan and I had a phone conversation about the dashboard a couple weeks back; here are some things we discussed (sorry about the length! Will try to explain the best I can):**

1. The widgets that are there now are great, but the user should have the ability to **go informationally deeper** on each one.

2. Assuming that the dashboard continues to be just a snapshot of information

[2019-05-31 16:17] pdxdiaperbank opened #1032 "Simple Design Idea/Request (on diaper requests page)"
Hi all!

Every time I open the diaper requests page, I secretly wish that the pending requests "stuck out" in some way, to be able to more easily visually differentiate them from those that have been fulfilled. Maybe just changing the font some how? Or, better yet, maybe the same colored box system that is used on the agency request page?? This would certainly better maintain design consistency th

[2019-05-31 16:19] JuarezLustosa commented on #1029
@pdxdiaperbank @armahillo Sorry I didn't see this conversation and opened a PR. If it isn't necessary anymore, then I can cancel that.

Thanks.

[2019-05-31 18:27] SCDB commented on #1029
Perfect recap! I don't have anything different in my notes from our call.
:)

Megan

Megan Fischer
CEO & Founder
Sweet Cheeks Diaper Bank
1615 Republic St.
Cincinnati, OH 45202
513-402-1450 Ext. 101
www.sweetcheeksdiaperbank.org

On Fri, May 31, 2019 at 1:34 AM PDX Diaper Bank <notifications@github.com>
wrote:

[2019-06-01 12:26] reese commented on #1019
I'd be happy to take this one on!

[2019-06-01 14:45] #1029 closed

[2019-06-01 15:01] seanmarcia commented on #1029
Hey @JuarezLustosa we merged in your PR to fix the recent issue but we're likely going to create a new issue(s) to implement the need for ranges as well as the broader reporting functionality we're implementing! Thanks so much for the PR! :)

[2019-06-01 18:39] armahillo opened #1036 "When items are inactive, *should* they display in summary data?"
I encountered this while doing #1030

*Situation 1*
 - Create an item
 - Create a donation with a non-zero quantity
 - Delete the item; it `has_history?` so it will just be marked inactive

Should this quantity appear in reports?

I don't know how explicitly our existing queries consider these items, especially on the dashboard reporting. I *think* it ignores them but I'm not 100% sure.

*Situatio

[2019-06-03 00:16] seanmarcia opened #1039 "Add Distribution Quantity and Package Size to items."
# Summary
When a partner requests a certain item from a diaper bank we need the diaper bank to be able to specify the quantify of that item they give per child per month. This is the `distribution_quantity`.  This will be used in the family requests that are currently being implemented on the partner side.

When creating distributions it would help the diaper banks if they could specify a `package

[2019-06-03 00:22] #785 closed

[2019-06-03 16:48] seanmarcia commented on #1032
We currently have this pattern in partner agencies that can be used as an example.

![](https://i.imgur.com/m8G1zvG.png)

[2019-06-04 16:49] valeriecodes commented on #1039
I can take this!

[2019-06-04 18:36] GabrielRMuller commented on #775
I wanna work on this one, I can have a PR open in a couple of days, if that's ok. :)

[2019-06-04 19:11] seanmarcia commented on #1039
Awesome!

[2019-06-04 20:46] GabrielRMuller commented on #775
Hey, I've been trying to force a failure on the `#update` method but I'm not managing to do it. updating to a storage without any items should be able to update successfully?

[2019-06-04 21:40] reese commented on #1022
I can take this one!

[2019-06-05 03:46] #746 closed

[2019-06-06 15:43] Jesus opened #1042 "Login page lacks error message on failed login attempts"
I've just set up this project in my machine, when trying to log in I didn't know any login credentials yet so I just typed something invalid. The login obviously failed, which is fine, but it was hard to notice because no authentication error message was shown.

![invalid-login](https://user-images.githubusercontent.com/23031/59046503-26217980-8850-11e9-9923-99ad6e46743c.gif)

--------

## Expecte

[2019-06-06 16:12] Jesus commented on #823
I've started having a look at this. I have some questions.

I'm not sure when a distribution status transitions from :started to :scheduled. Reading your comment, it seems like the app has some notification functionality that I haven't been able to find.

I also guessed that the distribution would be considered :scheduled when the field :issued_at changes from nil to an actual time. But again look

[2019-06-08 19:54] jeduardo824 commented on #1032
I can take this!

[2019-06-09 20:41] mdworken opened #1050 "Add additional test coverage to SQL Queries for Inventory"
There are some great existing patterns in spec/queries/ for these!

[2019-06-09 21:45] #1022 closed

[2019-06-09 21:48] #1032 closed

[2019-06-09 21:54] seanmarcia opened #1052 "Allow Items use normal currency"
# Summary
We recently updated our purchases and items to use `amount_in_cents` and we didn't correctly convert over the items or missed them. A migration was put in to change the column from `value` to `amount_in_cents` and the form was updated but the controller wasn't.

It isn't intuitive for our users, to do the math to convert values from dollars to pennies so we should allow them to enter rea

[2019-06-09 23:13] seanmarcia commented on #773
Hey @Nirvikalpa108 and @chaserx Is this completed?

My apologies if you've been waiting on a review! I'll get to it shortly if it is ready! (Here and on the Partner side!)

[2019-06-09 23:46] #1019 closed

[2019-06-10 00:21] chaserx commented on #773
Hi @seanmarcia yeah. It fell of my radar for a bit, but. Yes, I think that it's ready for review. @mdworken has weighed. I think I've addressed their concerns.

[2019-06-10 00:31] #1039 closed

[2019-06-11 03:33] #972 closed

[2019-06-11 05:13] #1008 closed

[2019-06-11 12:57] abnersajr commented on #1042
Please assign to me. Working on it.

[2019-06-11 13:28] pdxdiaperbank commented on #972
Yes, I had it set for “year to date” totals, but it was only adding the
most recent 3 diaper drives.

Rachel

On Sat, May 18, 2019 at 12:40 AM Aaron H <notifications@github.com> wrote:

--
Thank you,

Rachel Alston
Executive Director & Founder
PDX Diaper Bank
P.O. Box 22613, Portland OR 97269
PdxDiaperBank.org

[2019-06-11 14:34] chaserx commented on #1024
@armahillo have we closed out all of the tasks in the burndown list with recent PRs?

[2019-06-15 17:25] reese commented on #1024
I'd love to start taking this on. Do we have an ongoing list of these somewhere? For right now I'm just gonna use SimpleCov and see what doesn't have any coverage, but if we have a unified place to organize this that might be helpful to crowdsource the whole thing.

[2019-06-16 16:39] #1052 closed

[2019-06-17 21:23] #777 closed

[2019-06-21 02:43] seanmarcia opened #1067 "Reminder E-mails"
# Summary
This is a re-post of #763 as it appears that it is no longer being worked on so we closed it. Feel free to use any of the code from PR #793 which satisfies the first two criteria for completion when working on this.

Diaper banks have a specific day that they need their requests in by. They need to be have the option to be able to set a reminder email and deadline date. So, for example,

[2019-06-21 02:44] #763 closed

[2019-06-21 02:47] seanmarcia opened #1068 "Distribution Show Page"
We received feedback from one of the diaperbanks that it makes sense for the item being distributed to be in the fist column on the distribution show page.

The columns on the show page should be in the same order as on the distribution pdf.

Item | Value/Item | Total Value | Quantity | Packages

[2019-06-21 02:50] #990 closed

[2019-06-21 03:00] armahillo commented on #775
@GabrielRMuller Sorry, just saw your comments!

Can you post what you're doing, so I can attempt to reproduce?

Thank you!

[2019-06-21 03:03] armahillo commented on #1042
@Jesus Thanks for creating this! Good catch. And thank you to @abnersajr for getting a PR in so quickly!

[2019-06-21 03:09] armahillo commented on #1002
Closing this for now. It looks like we are using `logger.info` and `logger.error` already.

It may be worth it to revisit this later.

[2019-06-21 03:09] #1002 closed

[2019-06-21 13:48] jeduardo824 commented on #1067
I'm gonna take this one

[2019-06-21 14:17] jeduardo824 commented on #1067
This condition, for the `reminder_date` field, is correct?
`numericality: { only_integer: true, less_than_or_equal_to: 14, greater_than_or_equal_to: 1, allow_nil: true }`

[2019-06-21 14:17] jeduardo824 commented on #1067
@seanmarcia

[2019-06-23 18:59] Nirvikalpa108 commented on #735
diaper aminaadewusi$ grep -lR "collection:" *
app/views/organizations/edit.html.erb
app/views/organizations/show.html.erb
app/views/donation_sites/index.html.erb
app/views/vendors/index.html.erb
app/views/purchases/index.html.erb
app/views/purchases/_purchase_form.html.erb
app/views/purchases/show.html.erb
app/views/purchases/_barcode_modal.html.erb
app/views/donations/index.html.erb
app/views/don

[2019-06-23 21:12] mdworken opened #1071 "Donation, Purchase, Distribution #update does not work properly when changing storage location"
Self assigning.

[2019-06-23 23:08] armahillo commented on #738
@pdxdiaperbank

Got this nearly complete. Putting up a pull request for it shortly. Each of the counts at the top doubles as a filter that will constrain the list below to just that status.

I'll add a total at the end, too, since that was the original request.

![Screenshot from 2019-06-23 18-51-05](https://user-images.githubusercontent.com/502363/59983162-34122100-95ea-11e9-9999-fa127cd23c04.png

[2019-06-23 23:40] #1071 closed

[2019-06-24 16:50] seanmarcia opened #1076 "Item Show Page"
On the item edit page the diaper banks enter in information on distribution quantity, package size and value of the items. We should display this information on the item show page.

[2019-06-24 17:24] #773 closed

[2019-06-24 20:56] pdxdiaperbank commented on #738
Nice! Thanks, Aaron!  @armahillo

[2019-06-25 13:42] #1068 closed

[2019-06-25 23:34] mdworken opened #1077 "Make seeds obey "flow equation""
For the app, (inventory in) - (inventory out) = (inventory on hand), but this is not true in the way seeds are generated. This ticket is to change that.

Recommended approach: seed donations, purchases, distributions, etc like normal, then calculate standing inventory directly from those objects.

[2019-06-25 23:45] mdworken opened #1078 "Require InventoryItems for all Items?"
One example reproduction path:
- Create a donation using an item.
- Create a distribution that will make that item's inventory 0.
- Edit the donation

Expected behavior: the item is pre-selected
Actual behavior: the first item in the list is pre-selected (because the item is inactive)

This bug is especially dangerous as it can change quantity just by hitting edit and save without the user making

[2019-06-27 02:33] #738 closed

[2019-06-27 02:38] #1042 closed

[2019-06-27 02:44] #1067 closed

[2019-06-27 18:16] johnfelixespinosa commented on #1076
Hey Sean,

When referring to value of items, are you expecting value per items or total value of items per storage location?  value per items is present within the item header already. This is what I have

<img width="1679" alt="Screenshot 2019-06-27 14 13 58" src="https://user-images.githubusercontent.com/17545496/60290136-0ed12b80-98e6-11e9-88e2-37921dd6e153.png">

[2019-06-27 21:22] seanmarcia commented on #1076
Hey @johnfelixespinosa you're on the right track! I was thinking that the distribution quantity, package size, and value per item would be between the header and the storage location information.

[2019-06-28 14:53] jeduardo824 opened #1079 "Add `sidekiq-scheduler` for automated jobs"
## Expected behavior

We should provide a way to run automatically some jobs using [`sidekiq-scheduler`](https://github.com/moove-it/sidekiq-scheduler) or something that does the same thing.

## Actual behavior

Diaper doesn't have a similar system to achieve this.

[2019-06-28 14:54] jeduardo824 commented on #1079
@seanmarcia Lets see if someone has a better idea. What do you think about the `Good First Issue` label?

[2019-06-28 16:42] seanmarcia commented on #1079
Sounds good! Added!

[2019-06-29 19:23] mdworken commented on #1078
After further investigation - it appears that the bug reported above has been previously fixed, and the current bug I'm seeing is caused by Distributions that have Items that do NOT have InventoryItems. Will keep digging, but I'm now starting to suspect this is a problem with seed data.

[2019-07-01 20:49] #735 closed

[2019-07-04 14:52] jeduardo824 commented on #775
@GabrielRMuller If you aren't working on this issue anymore, I would like to assign it for me :) Thanks.

[2019-07-04 17:40] GabrielRMuller commented on #775
oops, sorry! got caught up on the other task and forgot about this one, sure, go right ahead! :)

[2019-07-05 20:46] jeduardo824 commented on #591
This issue can be closed, or something else will be assigned for it? By doing this, the issues tab would be a little bit more clear :)

[2019-07-08 20:06] jash-kothari commented on #1079
@seanmarcia Picking this up.

[2019-07-09 03:33] armahillo commented on #1077
Could you document the flow math with some basic numerical proofs in a Wiki Doc, perhaps in the Application Overview?

[2019-07-09 05:08] armahillo commented on #1024
@chaserx @reese SimpleCov is a great idea. Let's get that coverage total up and then look through the system specs individually to see what's missing still.

[2019-07-15 00:32] mdworken opened #1088 "Don't default an Item seletion in edit pulldowns if Item lookup fails"
# Summary
Sometimes item lookup for these edit views can fail. When this happens, the app defaults to the first item in the pulldown (Adult Diaper XXL in the seed data).

This is a big problem because it can cause the item to be switched unintentionally.

Preferred behavior would be to display the field as blank and force the user to select a choice before hitting submit.

# Steps to Reproduce
(I

[2019-07-21 18:02] jeduardo824 commented on #1088
I going to take a look at this

[2019-07-21 19:26] jeduardo824 commented on #1088
I did some research about this issue, and I didn't find any solution to solve this using Rails' default form. An option to solve this would be using something like [select2](https://select2.org/)

[2019-07-21 20:43] #1079 closed

[2019-07-23 04:50] #831 closed

[2019-07-25 14:19] benreyn opened #1090 "Donations entered with huge quantities bomb out"
If a donation is entered with a item that has a huge quantity (which can happen accidentally when a barcode is scanned into the wrong field)

--------

## Expected behavior

Idealy we would have some feedback for the user as to why their donation bombed out. (the incorrect quantity).

When a value is entered into a quantity field that is over 999,999 (@armahillo's best guess at an upper limit) we

[2019-07-26 00:42] mlrusie opened #1092 "Create Option on Purchases Page to Filter by Specific Date Range"
# Summary

Like this example:
![Screen Shot 2019-07-26 at 1 31 55 PM](https://user-images.githubusercontent.com/53320407/61969974-c753c300-afa9-11e9-8af8-8bd1de3b5e4e.png)

Filtering is an existing pattern that we use in a few places, via `Filterable` concern. Several of the models have existing filters at the top. Adding a new filter will require adding additional stuff to both the model (adding

[2019-07-26 00:47] pdxdiaperbank opened #1093 "Add scope to Distributions to filter by item"
# Summary

Filtering is an existing pattern that we use in a few places, via `Filterable` concern. Several of the models have existing filters at the top. Adding a new filter will require adding additional stuff to both the model (adding a scope) and the controller (adding a parameter), as well as the view (adding the form-control).

Ref #1092

# Criteria for Completion
 - [x] Add a scope for `:by

[2019-07-26 00:47] mlrusie opened #1094 "Create Column on Purchases Page for Date of Purchase"
# Summary

N.B.
The date of purchase column is called `:issued_at` on the `Purchase` model

# Criteria for Completion
 - [x] Add a column to the `/app/views/purchases/index.html.erb` view to display the `:issued_at`
 - [x] Write a system spec (`/spec/system/purchase_system_spec.rb`)  that checks that this data is displayed

[2019-07-26 14:03] pdxdiaperbank opened #1097 "On Dashboard- Please Fix the "Diaper Drive" Widget"
**This one is blocked -- we need to flesh out the Diaper Drive feature further before this work can be performed**

Please change the title/structure to "X Items Collected from X Diaper Drives This [Year]."
The system should count the total number of diaper drives for the time period selected (it currently only counts the most recent 3 participants, I believe).

It WOULD be helpful to easily filte

[2019-07-26 14:27] armahillo opened #1098 "Extract Date Range methods from `DashboardHelper` into new helper"
**Blocking #1093**

# Summary
We currently have the methods `filter_intervals`, `selected_interval` and `selected_range` defined in `app/helpers/dashboard_helper.rb`. These are used on the dashboard to allow us to filter dashboard displayed information by date range.

We'd like to use this in other places, so we need to extract this to a generalized `app/helpers/date_range_helper.rb`.

# Criteria

[2019-07-26 14:31] mdworken commented on #1024
Adding @holytoastr for visibility, feel free to coordinate as appropriate to reduce the risk of duplicate effort

[2019-07-26 15:01] pdxdiaperbank opened #1099 "Design Fix - Add Alternating Row Colors (All Pages/Lists)"
On ALL PAGES, please adjust the rows to alternate white/gray. It's much easier on the eyes, and reduces margin for error. Example:

![Screenshot 2019-07-26 10 11 46](https://user-images.githubusercontent.com/20074085/61960700-fa8b5780-af93-11e9-93a6-6e5e5127eac2.png)

Thank you! :)

[2019-07-26 15:02] armahillo opened #1100 "Add a checkbox filter for "include inactive items" to `Item#index`"
Ref: #1036

# Summary
We are currently only displaying `active: true` items in `Items#index`. We want to allow our users the option to also display items that they have previously made inactive.

# Criteria for Completion
 - [ ] Add a filter to the Items controller that allows the user to check a box if they would like to include inactive items
 - [ ] Add a system spec to test this

[2019-07-26 15:04] mlrusie opened #1101 "Create Filter for Specific Date Range on Donations Page"
# Summary

![Screen Shot 2019-07-26 at 10 04 43 AM](https://user-images.githubusercontent.com/53320407/61960781-26a6d880-af94-11e9-92bc-860b0081adc3.png)

![Screen Shot 2019-07-26 at 10 53 59 AM](https://user-images.githubusercontent.com/53320407/61960805-39211200-af94-11e9-83f0-0ea666fcea76.png)

Implement the Date Range feature that is implemented for `Purchase` (Ref: #1092) for `Donation`.

# C

[2019-07-26 15:18] armahillo opened #1102 "Add UI for the ability to reactivate an item if it is deactivated"
Ref #1100, #1036

Blocked by #1100

# Summary
We need a way to reactivate items that have been previously marked inactive. These items can be revealed using the checkbox from #1100.

There is a `:reactivate` method in `Item` that will handle the mutation. Ideally it would probably be best if this was handled over Ajax (ie. you click on a "Reactivate" button and the page doesn't change but it updat

[2019-07-26 15:35] awwaiid commented on #1077
`Donations + Purchases + Adjustments - Distributions = Storage Location Total`

[2019-07-26 15:59] leesharma opened #1103 "Validate line items when entering donations"
When a user creates a new donation with associated line items, the line items should be validated and created in order for the donation to save.

--------

## Expected behavior

When I enter a donation with an invalid line item, the donation should not save and I should see descriptive form errors.

## Actual behavior

The donation saved with 0 associated line items.

## Steps to reproduce the pro

[2019-07-26 17:25] armahillo opened #1106 "Add filtering for Distributions by item id"
Blocked by #1093

# Summary

Filtering is an existing pattern that we use in a few places, via Filterable concern. Several of the models have existing filters at the top. Adding a new filter will require adding additional stuff to both the model (adding a scope) and the controller (adding a parameter), as well as the view (adding the form-control).

# Summary
 - [ ] Add filters to the Distribution

[2019-07-26 17:26] leesharma opened #1107 "Unexpected error on donation entry: "Donation Site" is not marked as a required field"
When entering donations, the "Donation Site" field is not marked as a required, but not filling it out results in validation errors when source = "Donation Site". If that field is required, we should indicate that on the field.

**Screenshot:**

![Unexpected Error](https://user-images.githubusercontent.com/814638/61969286-26183d00-afa8-11e9-8424-3ae373a035fb.png)

--------

## Expected behavior

W

[2019-07-26 18:18] #1093 closed

[2019-07-26 18:18] mlrusie opened #1109 "EPIC: Create Filters on the Distributions Page"
# Summary

![Screen Shot 2019-07-26 at 1 35 29 PM](https://user-images.githubusercontent.com/53320407/61970223-519c2700-afaa-11e9-994a-7bf1457509cd.png)

![Screen Shot 2019-07-26 at 1 41 08 PM](https://user-images.githubusercontent.com/53320407/61970562-0afafc80-afab-11e9-871f-d9a9f04875ba.png)

Date range example here:

![Screen Shot 2019-07-26 at 1 31 55 PM](https://user-images.githubusercontent

[2019-07-26 18:27] pdxdiaperbank opened #1110 "PDX Diaper Bank Specific Issue - Delete Request 492"
@armahillo  Please delete partner agency request 492. I am assuming this won't effect the distribution records per an earlier discussion I had with with Sean. Asking you to delete so our partner isn't emailed. Thanks!

![Screenshot 2019-07-26 14 25 25](https://user-images.githubusercontent.com/20074085/61973135-5a442b80-afb1-11e9-92a5-8b52369ffa03.png)

[2019-07-26 18:35] armahillo opened #1111 "Add Distribution scope for filtering on Partner"
# Summary
Adding additional Distribution filters (Epic #1109)

This one is to add the ability to filter on "partner" in the `Distribution` model

# Criteria for Completion
 - Filter for a specific Partner on a Distribution
 - A model spec for this

[2019-07-26 18:37] armahillo opened #1112 "Add UI filtering for filtering Distributions based on Partner"
# Summary
Adding additional Distribution filters (Epic #1109)

This one is to add the ability to filter on "partner" in the `Distribution` model, in the UI

# Criteria for Completion
 - Filter for a specific Partner on `Distributions#index` (Add to the `filter_params` etc)
 - A System spec to verify it works

[2019-07-26 18:42] armahillo opened #1113 "Add Date Range scope for Distribution"
Blocked by #1098

# Summary
Adding additional Distribution filters (Epic #1109)

This one is to add a scope to Distribution for filtering by date range (use `:issued_at` for the datefield)

# Criteria for Completion
 - Filter for a specific date range on a Distribution
 - A model spec for this

[2019-07-26 18:43] armahillo opened #1114 "Add Date Range filter to Distribution"
# Summary
Adding additional Distribution filters (Epic #1109)

This one is to add the ability to filter on the date range of `:issued_at` in the `Distribution` model

# Criteria for Completion
 - Filter for a date range on a Distribution
 - A system spec for this

[2019-07-26 19:07] pdxdiaperbank opened #1117 "Distribution Page (from Requests) - Allow Zero Entries"
When we fulfill requests, it automatically takes us to the customized distribution page for that partner agency where you have to adjust the actual number of items in the distribution. Occasionally, we don't don't have the item in inventory so are unable to accommodate the request. Please make sure that the the diaper bank can both enter 0 (or leave it blank) when an item requested isn't actually

[2019-07-26 19:08] #1094 closed

[2019-07-26 19:16] mdworken commented on #1110
Done!

[2019-07-26 19:16] #1110 closed

[2019-07-26 19:53] pdxdiaperbank opened #1119 "Potentially PDX Diaper Bank Specific - Adjust SOURCE of Baseline Inventory Entries (144 and 145)"
When we first added our baseline inventory (from both storage locations) it required us to classify it as a donation. This now inaccurately effects our annual statistics. Please adjust our baseline inventory entries (records 144 and 145) so they aren't reflected as donations.

![Screenshot 2019-07-26 15 43 56](https://user-images.githubusercontent.com/20074085/61977762-55857480-afbd-11e9-8264-6c89

[2019-07-26 19:54] #1099 closed

[2019-07-26 20:13] armahillo commented on #1117
@pdxdiaperbank I think the current expected behavior is that the user would just remove that item from the list by clicking on the "Remove" button.

We might be able to modify it so that it just strips off 0-quantity items though

[2019-07-26 20:30] duaimei opened #1123 "Error when deleting distribution entries when signed in as admin"
*Be clear, concise and precise in your description of the problem.
Open an issue with a descriptive title and a summary in grammatically correct,
complete sentences.*
steps to reproduce:

## Expected behavior
As a super admin I expect to be able to delete an individual barcode item in the Add now Barcoded item section.

## Actual behavior
There is an error about an inverse relationship upon clicki

[2019-07-26 20:31] pdxdiaperbank opened #1124 "Alphabetize drop-down menu on "new item" page"
![Screenshot 2019-07-26 16 26 36](https://user-images.githubusercontent.com/20074085/61979774-caa77880-afc2-11e9-920c-8bcc50f2cbb5.png)

[2019-07-26 21:00] mdworken commented on #1119
Approach: create a new adjustment, copy organization, storage_location over to it from the donation, save it, THEN copy line_items, save, THEN delete (not destroy) the old donation. Will copy the code later

[2019-07-26 21:04] leesharma commented on #1103
As a follow-on, it looks like the line items will silently fail (and a donation/purchase/etc. will be created) if:
  * the item name is not selected
  * the item quantity is blank
  * the item quantity is not a number

The donation fails validation if the item quantity is invalid (e.g. out of integer range or 0). However, no validation errors are attached to the fields.

I think this issue require

[2019-07-26 21:27] pdxdiaperbank opened #1126 "Make Changes on Item Type Page (all 3 tabs)"
For the "item list" tab, please remove barcode column and change language from "value per item" to "fair market value (per item)".
![Item List](https://user-images.githubusercontent.com/20074085/61981944-2ecd3b00-afc9-11e9-86ff-500689fa248b.png)

For the "items and quantity"  - remove tab all together. Redundant information.
![Items   Qty Tab](https://user-images.githubusercontent.com/20074085/619

[2019-07-27 13:37] mlrusie opened #1127 "Fix Totals Row on Distributions Page"
On the Distributions page there is a Totals row at the bottom but it isn't adding the distributions up.

![Screen Shot 2019-07-27 at 9 31 13 AM](https://user-images.githubusercontent.com/53320407/61995132-09d0da80-b052-11e9-948f-9e71b0e4f3b0.png)

[2019-07-27 13:47] pdxdiaperbank commented on #1117
@armahillo Aaahhhhhh, I see. I like the idea that the idea of the line disappearing; whatever works and is easiest.  Just as long as the system accounts for all user behaviors, I guess. Thanks.

[2019-07-27 13:53] armahillo opened #1128 "When there are errors in a Distribution creation, the Items drop down does not get reloaded correctly"
# Summary
Distribution creation involves adding multiple line items, each of these has an item and a quantity. When attempting to submit a distribution that includes errors, the items dropdown fails to re-display correctly. This is likely because the `@items` collection is not being set again.

## Steps to reproduce
 1. Log in as an organizational user.
 2. Start a new distribution
 3. Leave some

[2019-07-27 14:00] #1090 closed

[2019-07-27 14:04] mdworken commented on #1119
Update: we already have a fully fleshed out rake task that does this. Ran that, confirmed it worked.

[2019-07-27 14:04] #1119 closed

[2019-07-27 14:10] #1106 closed

[2019-07-27 14:19] pdxdiaperbank opened #1131 "Add 3 Products to Base Items"
Please add the following 3 products to the Base Item list:

Kids (Size 7)
Adult Briefs (XXXL)
Adult Briefs (XXS)

# Criteria for Completion
 - Add the above items to the base items JSON (`db/base_items.json`)
 - Add the items in the production console as Base Items
 - Add these items as regular items for each individual organization ( see below )

*Adding an item to an organization*
[code]

[2019-07-27 14:21] #1111 closed

[2019-07-27 14:23] armahillo commented on #1131
N.B. this will need to be done in production for it to count, and also in the base items JSON file

[2019-07-27 14:28] #1124 closed

[2019-07-27 14:51] armahillo opened #1132 "500 Thrown when an inactive item is attempted to be used on a collection resource that associates with that item"
# Summary
We've been seeing this bug show up in a few places. Items that have "history" (have been used ever in a `LineItem`) are only "soft deleted", via setting `active: false` for the record. By default, `Item` scopes to `active: true`.

## Steps to Reproduce
 1. Create a donation using an item (-> "Item X")
 2. Go to the Inventory -> Items collection, locate "Item X" in the list, and click "De

[2019-07-27 15:38] seanmarcia opened #1134 "Add Reminder Button to Distributions"
# Summary
One of our stakeholders commented that since we now send emails about distributions their partners rate of missing their pick up appointments has dramatically decreased. One of our stakeholders has a suggestion to further improve this.

On the distribution edit page we should have a field "Send Email Reminder The Day Before?" with a checkbox that will send the partner an email the day be

[2019-07-27 15:41] holytoastr commented on #739
This branch is awesome! Where do we stand on it? I'd like to help and add a few more request specs!

[2019-07-27 16:03] duaimei opened #1138 "Make Barcode mobile friendly"
The barcode button in all the places should be mobile friendly.

[2019-07-27 16:05] #1077 closed

[2019-07-27 16:09] pdxdiaperbank opened #1140 "2 Edits to Purchase Widget on Dashboard"
Add the total dollar amount spent on diapering supplies (based on what the person has filtered on the dashboard), as well as change the terminology to "purchased" not "received".

![Screenshot 2019-07-27 12 07 15](https://user-images.githubusercontent.com/20074085/61996853-583ca400-b067-11e9-9539-2e81b5819d68.png)

Thanks!

[2019-07-27 16:20] keithrbennett opened #1142 "Installation instructions can be improved."
Installation instructions can be improved.

[2019-07-27 16:48] tomrossi7 commented on #739
I’m traveling a ton through August and haven’t been able to push out any more tests. Feel free to jump in!

[2019-07-27 17:16] mdworken commented on #1050
Closing - looks like these were in fact fleshed out at some point.

[2019-07-27 17:26] #1112 closed

[2019-07-27 17:34] #1098 closed

[2019-07-27 17:38] mdworken commented on #1117
Closed via #1137

[2019-07-27 17:38] #1117 closed

[2019-07-27 17:44] bobforcha commented on #1113
"during" scope and related model spec already exist.

[2019-07-27 17:58] #1123 closed

[2019-07-27 18:36] bobforcha commented on #1113
nevermind, still have more work to do on it to get date range working

[2019-07-27 18:50] armahillo opened #1149 "Remove default_scope from Item"
Description TBA

Blocks #1100

[2019-07-27 18:56] #1132 closed

[2019-07-27 19:43] armahillo opened #1152 "Rewrite all Coffee Script as regular Javascript"
We have a mixture of JS and CoffeeScript, and this creates a barrier of entry as well as some confusion.

Let's replace all CoffeeScript with regular JavaScript

[2019-07-27 19:55] mdworken commented on #1138
Fixed via #1148

[2019-07-27 19:55] #1138 closed

[2019-07-27 20:14] benreyn commented on #1152
Huge fan of this one! 👍

[2019-07-27 20:55] rposborne commented on #1152
@awwaiid phoned a friend, and I am missing all my Ruby For Good friends. This is my 🤠 contribution.

[2019-07-27 22:14] armahillo commented on #1152
@rposborne THANK YOU SO MUCH.

Brock will have something for you when he returns!

[2019-07-27 22:22] #1152 closed

[2019-07-27 22:25] #1128 closed

[2019-07-28 13:32] awwaiid commented on #1036
@armahillo yes -- if there is/was a physical donation then the donation should show up, IMO. Now that the default scope is gone this should happen already.

[2019-07-28 14:11] #1149 closed

[2019-07-28 14:34] Nirvikalpa108 opened #1159 "Diaperbanks can input their pickup schedule"
Hi lovelies 🌞

Can we please make it possible for Diaperbanks to enter their pickup schedule, so that partners know when they can pick up diapers?

The schedule consists of dates (Monday 29 July 2019) and a time slot (eg 0930-1130). Here is an example pickup schedule:
[2019.Diaper.Distribution.Schedule.pdf](https://github.com/rubyforgood/diaper/files/3439266/2019.Diaper.Distribution.Schedule.pdf)

[2019-07-28 14:37] #1140 closed

[2019-07-28 14:52] #1107 closed

[2019-07-28 14:56] #1103 closed

[2019-07-28 14:57] #1127 closed

[2019-07-28 16:31] awwaiid commented on #1078
Fixed by #1077?

[2019-07-31 02:08] #1113 closed

[2019-07-31 02:09] #1100 closed

[2019-07-31 02:15] mdworken commented on #1109
Closed via #1163

[2019-07-31 02:15] #1109 closed

[2019-07-31 02:15] mdworken commented on #1114
Closed via #1163

[2019-07-31 02:15] #1114 closed

[2019-07-31 07:38] #1126 closed

[2019-08-01 21:27] #1102 closed

[2019-08-03 15:24] #1050 closed

[2019-08-04 03:51] armahillo commented on #1159
Thanks for creating this @Nirvikalpa108 !

[2019-08-04 06:39] armahillo commented on #1142
@keithrbennett Since you have looked closely at this, what more do you think could be done to improve this?

[2019-08-04 06:44] armahillo commented on #1088
@jeduardo824 Thanks for investigating!

I think what @mdworken was suggesting was to have `include_blank: true` for that select element, and indicating `selected: __the_item_that_was_chosen__`, which should fix this behavior. I don't *think* we need to add any additional gems for this.

[2019-08-04 06:53] armahillo commented on #1078
This appears to be addressed by #1088  -- please re-open if not!

[2019-08-04 06:53] #1078 closed

[2019-08-04 06:55] #1036 closed

[2019-08-04 06:59] armahillo commented on #989
I believe this was resolved by the removal of the `default_scope` in #1156

[2019-08-04 06:59] #989 closed

[2019-08-04 07:02] armahillo commented on #823
@Jesus Hello! Sorry for the late response. :)

The transition in states from `:started` to `:scheduled` might be unnecessary. At one point, we had a "distribution in progress" and "finalize!" option, but I think we've actually done away with that. So really, it would just be a single state changes: `:scheduled` -> `:complete`

/cc @GabrielRMuller

[2019-08-04 07:10] #775 closed

[2019-08-04 07:14] armahillo commented on #592
Closing this because we've since talked about ideas that would require the static content have ready access to some of the application data.

[2019-08-04 07:14] #592 closed

[2019-08-04 07:15] armahillo commented on #591
@jeduardo824 I'm going to update the description -- the issue is still valid, feel free to grab it if you like!

[2019-08-04 07:26] armahillo commented on #739
@tomrossi7 Sorry, just now saw your comments!

To answer your questions:
 1. I would recommend doing a series of smaller PRs that reference, but not close, this issue. Perhaps one PR per spec you create (or maybe per chunk, if you do multiple specs in a single session).
 2. I'm not totally familiar with the specifics of Request specs (perhaps @holytoastr might have some insight?) but I'm thinking

[2019-08-05 00:07] SCDB opened #1166 "Need to be able to delete incoming donations already entered"
# Summary

![Screen Shot 2019-08-04 at 7 21 55 PM](https://user-images.githubusercontent.com/34867963/62431194-342a3400-b6f3-11e9-9387-c77999c1953a.png)

We can add this feature, but we need to be careful to not make it easy or trivial to do. On the backend, the process should be similar to how we revert a `Distribution`. It should only be possible to delete it when viewing `Donation#show`, and sh

[2019-08-05 12:16] GabrielRMuller commented on #823
Ok! I'll make the changes so it only has the `:scheduled` and `:complete` states.

[2019-08-05 14:22] jeduardo824 commented on #591
@armahillo by the end of the week, I will open a PR!

[2019-08-05 14:26] jeduardo824 commented on #1088
@armahillo Yeah! I thought that, but when I tested it, nothing fixed the behavior. Maybe I did something wrong, but I gonna leave the issue open to new contributors.

[2019-08-05 14:27] jeduardo824 commented on #1088
@armahillo Yeah! I thought that, but when I tested it, nothing fixed the behavior. Maybe I did something wrong...

[2019-08-05 19:58] armahillo commented on #591
The notice at the top could read:

[2019-08-05 20:29] jeduardo824 commented on #591
Do you want a fixed message or a flash message?

[2019-08-08 00:49] armahillo commented on #1088
@jeduardo824 If you have opinions on how to implement this please push back, otherwise I think you can get by with:

  - add `include_blank: true` to the field
 - add `selected: selected_item_id` to the field
 - if you can get a test to work using the repro stuff I added to the description above, that's awesome, if not just manual test it and ensure that it works and create a test stub (write the

[2019-08-08 13:41] jeduardo824 commented on #1088
I can make some tests this week!

[2019-08-08 19:52] pdxdiaperbank opened #1168 "Ideas for Changes to Dashboard"
@armahillo, Here is the list of ideas that @mlrusie, @SCDB and I came up with for the DiaperBase dashboard at the conference. We all agreed that graphs are attractive, professional looking, and add some color to the page. I'll keep brainstorming, but in the meantime here is what we came up with:

![image](https://user-images.githubusercontent.com/20074085/62733167-e6574980-b9da-11e9-96f6-e4667f6c9

[2019-08-08 23:34] pdxdiaperbank opened #1169 "Storage Locations Page - Add Total Inventory Fair Market Value"
Since we have the ability to place a value on individual items, it would be be great if a total inventory fair market value was easily accessible. This is something that insurance companies often ask for, and is really just good information to know:

![Screenshot 2019-07-26 16 16 24](https://user-images.githubusercontent.com/20074085/62744068-ce42f280-b9f9-11e9-9709-7db4e305ce51.png)

[2019-08-09 03:43] seanmarcia opened #1170 "Prawn Unable to Print Non Utf-8 Characters"
A diaper bank in Hawaii reported they were unable to print invoices and when we looked into the issue it is because their partner's name has non utf-8 characters in it. We need to figure out how to enable their printing.

For testing, here is the partners name:
`KOKA  Keiki O Ka ‘Āina`

[2019-08-11 13:43] mdworken commented on #1088
I've confirmed that @armahillo 's suggestion doesn't quite work, but found a work around. I'll push my code up once I'm in front of a computer again.

[2019-08-12 14:46] keithrbennett commented on #1142
@armahillo Sorry for the delay in responding.

It would be great to get a similar document for Mac OS, but we would need a Mac to which to restore to factory default freshly installed OS (done by booting in recovery mode and selecting the option). If we did have access to such a Mac, I/we could boot in recovery mode, install a fresh OS, experiment with the installation and configuration while docu

[2019-08-15 14:31] #1088 closed

[2019-08-15 19:46] GabrielRMuller commented on #1169
I can work on that if you don't mind.

[2019-08-16 18:47] pdxdiaperbank opened #1174 "Partner Email Notification (for Request Deletion) - Make this Optional"
Can we please make the email notification to parters (for request deletion) optional on the requests page? The status of some of our distributions keep getting stuck as "started", and we don't want the parter agencies to always get emailed if we have to delete them. @SCDB Is your diaper bank having this issue at all?

![Screenshot 2019-08-16 10 59 59](https://user-images.githubusercontent.com/2007

[2019-08-16 18:48] pdxdiaperbank commented on #1169
Thank you, @GabrielRMuller! We appreciate your support on this project!

[2019-08-16 18:58] SCDB commented on #1174
I'm not aware of us having this issue, but we're still putting in the distributions towards the end of the month when they're all over (because they're not ordering through Partner yet).

[2019-08-16 19:04] pdxdiaperbank commented on #1174
@SCDB Aaahhhhh, okay. That would make a difference for sure.

[2019-08-17 16:06] seanmarcia commented on #1174
Hey @pdxdiaperbank some are stuck at started? That seems like an issue we should look at too. Do you have any info on why/when that happens?

[2019-08-17 19:46] #1101 closed

[2019-08-17 21:54] pdxdiaperbank commented on #1174
@seanmarcia -
Yes, completely agreed. This should definitely be looked at. You are welcome to investigate it in our account; the status of one of our parter agency's (JOIN) requests is currently stuck on the requests page as "started" even though we completed the distribution properly (via the fulfill button on the request itself). Here is the distribution:

![Screenshot 2019-08-17 14 41 09](https

[2019-08-17 21:57] pdxdiaperbank commented on #1159
Thank you, @Nirvikalpa108 !

[2019-08-17 22:02] #550 closed

[2019-08-17 22:05] mdworken commented on #1092
Closed via #1177

[2019-08-17 22:05] #1092 closed

[2019-08-17 22:12] armahillo opened #1179 "Complete QA/Todo for Release 1.7"
We've identified some pending issues that we need to resolve for our 1.7 release:

Regular Degular TODOs:
 - [x] app/assets/javascripts/donations.js.erb:77 appears to do nothing
 - [x] app/assets/stylesheets/distribution.scss - This should be in a different file since it's global and unrelated to distributions specifically; consider moving to barcode_reader.scss
 - [x] app/controllers/distribution

[2019-08-17 22:18] seanmarcia commented on #1174
I'll start looking into it. Does it happen consistently with JOIN? Any other partners?

[2019-08-17 22:19] armahillo opened #1181 "Upgrade to Rails 6"
Rails 6 is officially out!

Let's do this!

[2019-08-18 05:25] pdxdiaperbank commented on #1174
@seanmarcia -

We figured out why this happens at times (not certain if this is what happened with JOIN or not, but it has happened multiple other times)...

If you initiate fulfillment from the agency request itself, it takes you to a new distribution page. If you complete and submit the distribution without any errors, no issues occur. But, if there is some kind of entry error requiring adjustme

[2019-08-20 14:18] armahillo opened #1188 "After booping, the focus should move to the last empty field, but it doesn't"
# Summary
The workflow for booping (scanning barcodes) is intended to require minimal switching between scanner and keyboard/mouse. When a user scans a barcode, it should automatically create a fresh blank line item and then move the cursor to it. We do this using the `.focus()` JS method.

# Steps to reproduce
 1. Start a new Donation (or any itemizable)
 2. Go to the line-items area
 3. Boop a b

[2019-08-20 14:27] armahillo opened #1189 "When creating a new organization as a Site Admin, don't require password fields"
# Summary
The passwords are supposed to be set by the organization when they sign up, initially (via one of our Devise mixins... `Inviteable` I think?). Our "Add New Organization" (`admin/organizations/new`) form currently requires we enter a password even though I'm almost certain it does not do anything.

# Acceptance Criteria
 - [ ] Verify that the provided password does nothing and that the ne

[2019-08-21 23:28] mdworken commented on #1188
Closed via #1185

[2019-08-23 17:52] seanmarcia commented on #1181
The Rails Guides has a nice upgrading guide that will likely be helpful with this: https://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rails-5-2-to-rails-6-0

[2019-08-25 23:34] #1028 closed

[2019-08-29 19:01] mlrusie opened #1192 "Editing Purchase - Error"
# Summary
I am trying to edit a purchase.  When I was originally adding the purchase I didn't know the purchase amount.  I went in today to edit and it sent me to an error screen.

![Screen Shot 2019-08-29 at 11 55 08 AM](https://user-images.githubusercontent.com/53320407/63968413-7cb7e180-ca54-11e9-8e78-78208ae1a100.png)

![Screen Shot 2019-08-29 at 11 55 42 AM](https://user-images.githubusercont

[2019-08-29 20:25] AutumnJ commented on #1189
I'm happy to help with this one!

[2019-08-31 18:48] mdworken opened #1193 "Improve Behavior of "Show deactivated Items" Checkbox"
When you go to the items and inventory tab and click the "Show deactivated items" checkbox, it's not obvious that you have to hit the filter button to make it apply. To improve the UX, I'd like it so that if you make any changes to a filter, the filter button highlights to indicate it must be pressed.

[2019-08-31 18:49] mdworken commented on #1188
Closed via #1191 now :)

[2019-08-31 18:49] #1188 closed

[2019-09-01 16:12] #1179 closed

[2019-09-01 16:16] armahillo commented on #1181
@marclerodrigues Yeah, go for it!

[2019-09-01 16:18] armahillo commented on #1169
@GabrielRMuller You can self-assign issues that you work on, btw! :)

[2019-09-01 16:19] armahillo commented on #1193
Look at how the date-range drop-down works on the dashboard; there is a class that indicates to the JS that it should apply the filter immediately

[2019-09-01 16:22] armahillo commented on #1189
@AutumnJ Go for it!

[2019-09-01 16:22] mdworken opened #1197 "Add purchases to the seed files"

[2019-09-01 16:38] armahillo opened #1198 "When fulfilling a request, errors in the distribution cause the request to be left as "Started" indefinitely"
# Summary
Ref #1174

The work to be performed here is to resolve workflow issues when creating new distributions from a Request, specifically when the distribution requires edits because of bad input.

## Steps for Reproduction
 1. (Setup): Create a new request
 2. Start a distribution from that request
 3. Enter invalid data (easiest way would be to change one of the quantities to a very large nu

[2019-09-01 16:38] #1174 closed

[2019-09-01 16:42] armahillo opened #1199 "Dashboard: Make action language consistent with rest of site"
# Summary
Ref #1168

So the aim here is to make the calls to action on the dashboard be more consistent with the rest of the app.

# Criteria for Completion
 - [ ] No drop-down calls-to-action on the dashbaord
 - [ ] Change all calls-to-actions to use `ui_helper` buttons
 - [ ] Some tests MIGHT break, so update those

[2019-09-01 17:28] armahillo opened #1200 "Dashboard: Make filtering more consistent with rest of site"
# Summary
Ref #1168

The goal here is to make the filter operate a bit more like filters on other areas, so use those as reference, if needed.

# Criteria for Completion
 - [ ] The date-range filter has been moved to the upper right

[2019-09-01 17:34] armahillo opened #1201 "Dashboard: Make widgets modular and customizable"
# Summary
Ref #1168

This would require (a) persisting widget placement and status on a per-user basis. This would *probably* be best done by serializing the state of all the widgets to a single JSON column in the user table. Using the `store` functionality of ActiveRecord is *probably* the best approach, unless you can think of a better one!

https://api.rubyonrails.org/classes/ActiveRecord/Store

[2019-09-01 17:48] armahillo opened #1202 "Create Item usage report methods"
# Summary
Ref #1168

We need a method created to retrieve the following kinds of data:

 - Top X most used items within a given range
 - Top X least used items within a given range

I was imagining this as an association extension on the `Organization.items` association (ie. `current_organization.items.during(:date_range).top(:limit)`), but if you think it would be better placed elsewhere, go for

[2019-09-01 17:50] armahillo commented on #1142
@keithrbennett Would you feel comfortable writing up a spec for what we would need in these installation instructions, based on your experience with it so far? I really like the changes you made to our `README.md` and the OS-specific installation guide; if you could make a checklist for things that need to be added, I'm sure someone will grab it. :)

[2019-09-01 18:05] keithrbennett commented on #1142
@armahillo I think the Ubuntu installation instructions are fine (of course if anyone has any suggestions, feel free) but for developers (as opposed to production) Mac OS instructions would be more useful than Ubuntu instructions. I suggest using the Ubuntu instructions as a guide for creating the Mac OS instructions. The challenge is that unlike Linux where a fresh install can be easily done on a

[2019-09-01 19:37] keithrbennett commented on #1142
To distill this into criteria for closing the issue, I would say the production of the Mac OS installation document described above, or the decision not to do so.

[2019-09-01 19:52] armahillo opened #1203 "Allow organizations to set thresholds for both "low inventory alert" and "capacity targets""
# Summary
Ref #1168 - there might have also been a separate issue or discussion about this, as well.

We want Diaperbanks to be able to optionally set 2 values for each individual `Item`.
 - A quantity (default `0`) that, when their on-hand totals hit that number, they can be alerted that they need to acquire more
 - A quantity (default `nil`) that is their desired on-hand amount. This would be us

[2019-09-01 20:10] armahillo commented on #1166
@jeduardo824 Grab it if you want it! I updated the description

[2019-09-02 02:19] marclerodrigues commented on #1192
I'd love to help with this one.

[2019-09-03 13:05] marclerodrigues commented on #1198
I'm on it.

[2019-09-03 20:34] mlrusie opened #1205 "Purchase widget not displaying correct $ spent"
Purchase widget is only calculating the $ spent for the last three purchases despite filtering year to date.

![Screen Shot 2019-09-03 at 1 29 01 PM](https://user-images.githubusercontent.com/53320407/64206450-41038a00-ce4f-11e9-98f5-779afbec3e4a.png)

[2019-09-17 00:23] rymcmahon commented on #1197
I'd like to take a stab at this.

[2019-09-17 00:24] rymcmahon commented on #1134
I'd like to take a stab at this.

[2019-09-18 01:24] #591 closed

[2019-09-18 02:36] #1205 closed

[2019-09-18 02:37] #1202 closed

[2019-09-18 02:50] #1076 closed

[2019-09-20 16:39] cassianoblonski opened #1211 "Rspec only runs barcode items controller specs"
## Expected behavior

Run full suite of tests with `rspec` command as standard of any rails project.

## Actual behavior

When trying to run the full suite of tests with `rspec` command only 4 `it` from BarcodeItems controller are called.

## Steps to reproduce the problem

Run `rspec` inside the project folder on a terminal.

[2019-09-21 14:44] #1211 closed

[2019-09-21 16:01] #1197 closed

[2019-09-21 16:04] armahillo commented on #1198
@marclerodrigues Awesome, thank you! Let me know if you run into any issues!

[2019-09-21 16:05] armahillo commented on #1192
@marclerodrigues Any progress? Sorry for the delay on response -- I just moved recently and have been just now getting caught up with things.

[2019-09-21 16:06] armahillo commented on #1189
@AutumnJ Hello! :) Have you been able to make any headway with this?

[2019-09-21 16:19] armahillo commented on #1170
I was able to repro this in a test.

[2019-09-22 21:52] renatamarques97 commented on #1192
@armahillo let me understand the problem, she wanted to edit a purchase and it took one day to confirm the edit, so it may be just an expired session issue?

[2019-09-24 00:58] #1170 closed

[2019-09-24 20:36] ecnalyr commented on #1198
Saving a distribution uses the `DistributionsController#create` action, which calls `@distribution.save`: https://github.com/rubyforgood/diaper/blob/master/app/controllers/distributions_controller.rb#L53

`Distribution` has a `before_save`: https://github.com/rubyforgood/diaper/blob/master/app/models/distribution.rb#L37

That `before_save` calls `combine!` on `line_items`: https://github.com/rubyf

[2019-09-24 21:10] ecnalyr commented on #1198
Was looking into this some more. . .

This may be intended behavior.

When you are on the request show view, you see a button to Fulfill request.

That button is used in step 2 of the listed Steps for Reproduction:

That button calls the `RequestsController#start` action, which immediately sets the status of the request to `started`.

https://github.com/rubyforgood/diaper/blob/master/app/controlle

[2019-09-27 23:32] AutumnJ commented on #1189
@armahillo I have made some progress! I followed the pattern in [Devise's documentation](https://github.com/scambra/devise_invitable#send-an-invitation) to create a user using their `invite!` method, instead of persisting a user (which requires a password), then sending an invitation, which is what is currently occurring in the organizations controller. Unfortunately, I realized that this would no

[2019-09-29 13:45] keithrbennett opened #1217 "Reconsider Rubocop Settings"
I support the use of Rubocop, but think that some of the restrictions we have in place are unfortunate. While I don't think debating it at length would be productive, if you don't feel strongly about it, I'd appreciate your considering my suggestions. Specifically:

## .() vs .call()

`.call` can be helpful when it is not obvious that it's a callable, but `.()` has been added to the language as an

[2019-09-29 15:13] keithrbennett opened #1218 "Resolve or remove FIXME's in seeds.rb"
There are FIXME comments in seeds.rb as follows:

[code]

I executed one of the statements and confirmed that without the `.first`, an array of 1 record is returned rather than that single record. Returning an array would be inconsistent with the method name, and, I presume, the desired behavior.

Could someone clarify the FIXME statements? Perhaps explain what it is that is deprecated? If we agre

[2019-09-29 15:22] #1166 closed

[2019-09-29 15:28] keithrbennett opened #1219 "Specify nonzero positive value for items created with seeds.rb"
The default value for Item value is zero, and that make sense for real world use.

However, for seed (sample) data, it might make more sense to use a nonzero value, so that we can see price extensions (cost per item times quantity) and totals.

I propose putting something like this (or something more performant) at the end of seeds.rb:

[code]

I am attaching 2 screenshots to show what the donatio

[2019-09-29 16:34] keithrbennett opened #1220 "Numeric values in column data should be right-justified"
Numeric values in table columns should be right justified. Currently, some (all?) are left justified:

<img width="930" alt="numbers-are-left-justified" src="https://user-images.githubusercontent.com/28410/65834932-6da1a900-e30a-11e9-8b00-a1380cccd394.png">

This screenshot is from the "All Donations" page. I have not looked at other pages for this. Would we want a CSS class for each of integer, c

[2019-09-29 17:14] keithrbennett opened #1222 "Simplify DonationsController#total_value"
This multiline method can be reduced to a single line.

In the process of looking into this, the following issues were identified and addressed (see pull request):

* Unit tests for the method were added
* The factory creating donation test objects was modified to add a value of 100 to each item
* When testing I missed that `total_value()` was in a private section, so I took that as a sign to chan

[2019-09-29 17:23] armahillo commented on #1219
+1 for this, except instead of `i.value_in_cents = 100`, how about `i.value_in_cents ||= 100`, just in case something was set previously to it? (or if `||=` doesnt' work because it's initializing to `0`, then do something like `Item.where(value: 0).each { ... }`?

[2019-09-29 17:26] armahillo commented on #1198
@ecnalyr thanks for the spelunk! Looking into this further -- will be back later with more input.

[2019-09-29 18:36] keithrbennett commented on #1219
This works:

`Item.where(value_in_cents: 0).each { |item| item.value_in_cents = 100; item.save }
`
I tested it and all records had a value of 100 with both approaches, but your way is safer in case anyone adds something later to seeds.rb to initialize the values before it gets to this code.

[2019-09-29 21:08] JuarezLustosa commented on #1218
I'll check this.

[2019-09-29 21:11] JuarezLustosa commented on #1219
Why not ? ```Item.where(value_in_cents: 0).limit(1).update_all(value_in_cents: 100)```

[2019-09-29 21:34] armahillo commented on #1198
@ecnalyr Man, that `Distributions#create` probably needs some love -- it's a bit unwieldy.

I think `combine_items` callback is probably OK. That only operates on the association and it doesn't appear to mutate the `@distribution` itself. As a quick gut-check, I can't think of a time when we were saving a `Distribution` when we *wouldn't* want to combine the line_items, though it could probably be

[2019-09-29 23:07] armahillo commented on #1217
I've not specifically looked into what options are available, but this is probably a good opportunity to start discussing which cops we should enable / opt-in to using for this app.

[2019-09-29 23:08] armahillo commented on #1203
@GabrielRMuller What's the status on this? If you've not gotten to it, that's fine, just un-assign yourself so someone else can grab it. Thanks!

[2019-09-29 23:11] armahillo commented on #1192
@renatamarques97 Let me find out more specifics about this. I'm not 100% sure. It's probably *not* an expired session issue, since she was attempting to edit an existing record. My *guess* is that there was a field left blank that somehow was OK to save but bombed out when she tried to edit, or possibly that an item that was on the purchase is no longer available (ie. it was deactivated between wh

[2019-09-29 23:27] armahillo commented on #1189
@AutumnJ For reference, the current workflow, as I recall, is to put junk into the password fields (MATCHING junk), invite the organization, and then they set the password when they sign-in. It might be enough to just not display the password fields at all. Would probably need to override the devise controller for this to work, though. (Either `InvitationsController` or `RegistrationsController` I

[2019-09-30 00:03] armahillo commented on #1200
TODO: List out specific pages that need this modification

[2019-09-30 00:08] armahillo commented on #1189
According to @seanmarcia You might be able to just hide the password fields entirely and that might work?

[2019-09-30 00:12] armahillo commented on #1134
@rymcmahon Are you still interested? We're preparing for a conference so trying to sort out who's able to work on issues. Thanks!

[2019-09-30 00:13] armahillo commented on #1131
TODO: actually add the new item types in the console

[2019-09-30 00:14] armahillo commented on #1097
I think this has been fixed already -- confirm?

[2019-09-30 03:38] keithrbennett commented on #1219
@JuarezLustosa Yes, your way will use SQL instead of AR, and is the better way to do that. I just was not familiar with that syntax. (I'm a long time Rubyist but have little Rails experience.) However, I don't think we want the `limit`, do we? We want to operate on _all_ records whose value is zero.

[2019-09-30 11:17] jeduardo824 commented on #1219
@armahillo This issue is straightforward, I guess. What do you think about the "Good First Issue" label? I can grab it, but I think that would be more productive to let it open to new contributors.

[2019-09-30 11:26] jeduardo824 commented on #1142
@keithrbennett What do you think about create a new fresh profile on macOS and use it to go through the instructions and document what is needed? Do you think this is an option?

[2019-09-30 11:29] jeduardo824 commented on #1217
I totally agree with you @keithrbennett

[2019-09-30 11:30] keithrbennett commented on #1219
I think it would be a good first issue, but on the other hand, it would be nice if this were done ASAP (I am willing to do it also). I'm hoping to contribute many issues and pull requests, and many build upon each other, so delays can impair my productivity. If we choose to make it a first issue, could we do so ASAP?

[2019-09-30 11:41] keithrbennett commented on #1142
By profile, do you mean user? This would be good, but not as good as a fresh system, because there could be software already installed (e.g. Postgres, and anything installed by brew) that we would miss. I suppose we could uninstall any known dependencies before going through the process, but we might not catch everything.

I believe even Ruby itself will not be shipped with Mac OS in the future, s

[2019-09-30 11:45] jeduardo824 commented on #1142
Yes, I meant to say "user," sorry. As you said, it is not ideal, but it can work.

[2019-09-30 11:48] keithrbennett commented on #1217
@armahillo I welcome that discussion, but there are probably hundreds of settings, so I was thinking it might be more practical to address the ones most important to us first (e.g. for me, these three) so we could have a hope of resolving at least these in a timely manner.

[2019-09-30 11:50] keithrbennett commented on #1217
P.S. I listed them in order of decreasing importance for me, in case that helps:

* permit use of `.()`
* permit double blank lines separating methods, etc.
* permit double indentation levels for line continuations

[2019-09-30 11:55] keithrbennett commented on #1220
@anshulxyz I think so, and I think it would be best to use a CSS class for column types (possibly 1 for integers and a different one for currency if there are differences) so we're putting it in one place instead of many.

@armahillo Did you add those Views to update? Thank you!

[2019-09-30 12:28] JuarezLustosa commented on #1219
Yeah, don't need. Just in case.

[2019-09-30 12:31] rymcmahon commented on #1134
@armahillo Definitely. I am actually close to submitting a pr—just need to write the test.

[2019-09-30 14:24] mlrusie commented on #1192
@armahillo I added purchased inventory but didn’t know the purchase price.  When I went back in later to edit it sent me to an error page.  There is a chance that diapers had been distributed in the time between adding the inventory and editing the price.

[2019-09-30 18:06] renatamarques97 commented on #1192
@mlrusie the purchase total or the price of the each item? because "purchase total" can't be left blank.

[2019-09-30 19:17] mlrusie commented on #1192
@renatamarques97 i am just now remembering that I put in a fake purchase total initially so I could just get the stuff I to inventory.  When I went back to edit I got the error.

[2019-09-30 20:10] anshulxyz commented on #1220
I'd like to work on this issue

[2019-10-01 00:32] katestud commented on #1219
👋 Hi! I'd be happy to work on this issue!

[2019-10-01 04:30] keithrbennett commented on #1220
That works for me but we should probably wait for @armahillo to confirm.

[2019-10-01 04:38] keithrbennett commented on #1219
That works for me but we should probably wait for @armahillo to confirm.

[2019-10-01 11:56] keithrbennett opened #1228 "Display Donation View fields in tabular form"
The Donation View (navigated to by displaying All Donations and then clicking a View button) shows something like this:

<img width="415" alt="donation-view" src="https://user-images.githubusercontent.com/28410/65958966-e758a480-e47a-11e9-8b8f-d38231d7f80e.png">

This complete-sentence form is prosaic but takes more time and effort for the user to parse, compared with something more tabular with s

[2019-10-01 12:05] renatamarques97 commented on #1192
alright, I am gonna write a spec and submit a PR to make sure it won't be happen again @mlrusie

[2019-10-01 12:37] keithrbennett commented on #1228
Also, I think "Dropoff Location" should  be changed to "Donation Site", right? I saw this comment in code:

[code]

[2019-10-01 12:44] keithrbennett opened #1229 "Consider moving inventory updating code for new donations to outside of controller"
[This was originally a Slack discussion; I am moving it here.]

Me: Question: I see this in DonationsController:

[code]

I am not familiar with Rails model/controller responsibilities, but my gut tells me that data integrity issues like this should be enforced in a model, not a controller. Am I wrong?
By “data integrity issues” I mean ensuring that the inventory is updated when a donation is save

[2019-10-01 13:37] pdxdiaperbank commented on #1228
@keithrbennett. Yes, please. :)

[2019-10-01 17:38] keithrbennett commented on #1229
Here is some dialog on the DC Tech Slack about this question:

Keith:
I am not familiar with Rails model/controller responsibilities, but my gut tells me that data integrity issues like this should be enforced in a model, not a controller. Am I wrong? Is there a better way? Maybe a trigger in the DB?
By “data integrity issues” I mean ensuring that the inventory is updated when a donation is saved

[2019-10-01 18:14] skrishna243 commented on #1228
is anyone working on this issue?

[2019-10-01 18:52] keithrbennett commented on #1228
@skrishna243 Not that I know of. Would you like to?

[2019-10-01 18:54] AutumnJ commented on #1189
That approach would work, if we used `invite!` to create the user and send an invitation email, but we're actually creating and persisting the user when the organization is created and saved (prior to sending an invite), which causes the validation to fail with the password fields removed.

I'll use `SecureRandom` to generate a temporary password on the backend. That seems to be the safest and eas

[2019-10-01 18:55] keithrbennett commented on #1219
@katestud It's all yours, if you're still available to work on this.

[2019-10-01 19:02] keithrbennett commented on #1228
@skrishna243 I just assigned this issue to you, but let me know if that was not your intent and I'll remove the assignment.

[2019-10-01 19:24] skrishna243 commented on #1228
@keithrbennett  i would like to work on this.  Thanks for assigning

[2019-10-01 23:15] armahillo opened #1231 "As an Organization Admin, I want to be able to promote another user in my organization to Organization Admin"
# Summary
Currently, each organization only has one organization admin user. We've had requests for being able to promote other users to this status (which affords them some additional privileges).

# Desired Change
When logged in as a user with organization admin privileges, the user should be able to designate another user within their organization as an organization admin, as well. **There is n

[2019-10-01 23:18] skrishna243 commented on #1228
@keithrbennett below i added a screenshot, let me know any modifications. i'm thinking if we add any heading likes " Donation Information" and "Item Information" kind of stuff,  So it may look more relevant.

![Screenshot from 2019-10-01 18-24-24](https://user-images.githubusercontent.com/32722755/66007337-f5f58a80-e47f-11e9-89ba-6443ef10b9fa.png)

[2019-10-01 23:18] armahillo opened #1232 "Form-fields are really wide on most pages, let's reduce them to half-width"
# Summary
On pages like `Users#edit`, for example, the fields are essentially 100% width. This looks a little awkward.

We're changing to a new theme in the near future, but for the time being, let's reduce the width by a bit, with a min-width that is suitably wide for mobile users.

# Criteria for Completion
 - Fields on pages with wide fields are now narrower
 - It's semi-responsive and looks sa

[2019-10-01 23:23] armahillo opened #1233 "On pages with date ranges, make the date-selector be a proper datepicker"
# Summary
A few of our pages have date fields (that prompt for `mm/dd/yyyy`, for example) and require manual input. I think most users expect a datepicker with these sorts of fields now, so let's provide one. It should be a very basic datepicker.

I forget if there is a Rails default datepicker, or if one is available from `type="date"`, but the ideal solution is the one that introduces the least

[2019-10-01 23:26] armahillo opened #1234 "The `LineItems` partial has weird spacing right now"
# Summary
We use `LineItem`s for many resources that involve moving inventory from one part of the app to another. There's a partial that renders (`_line_item_fields.html.erb` I believe) these out for all the pages. The spacing is funky.

We need the spacing to be a little more sensible.

# Things to Consider
If you are a Flex-expert (Flexpert?) and think you can make it happen with Flex, that's a

[2019-10-01 23:32] armahillo opened #1235 "Some Filter Fields are not spaced correctly and need to be tweaked"
# Summary
On the `Purchases#index` view, the filters at the top aren't lined up just right. It's likely a `<div class="row">` is missing, or something similar. Check with `Donations#index` filters for comparison.

# Criteria for Completion
 - The fields line up correctly

[2019-10-01 23:44] armahillo opened #1236 "Add a downloadable FREE Barcode font to the `BarcodeItems#index` page"
# Summary
There exist barcode fonts that allow users to create barcodes using their word process. Some of our users are having trouble finding those.

For example, this one looks good!
https://fonts.google.com/specimen/Libre+Barcode+128

If you know of a better one, that's fine. It needs to be free (open licensed for distribution) and free (cost).

We want to make it available for download. I thin

[2019-10-01 23:48] armahillo opened #1237 "On the StorageLocations#index, show the total item value for each location"
# Summary
We have the ability to track monetary value of items. We've had requests to be able to track the total value of all items at a given Storage Location. This is useful for insurance purposes or just generally knowing how much money in product they have at each site.

There are existing methods for calculating these totals, we want this to display as a table column on `StorageLocations#inde

[2019-10-01 23:54] armahillo opened #1238 "Add date-range filtering to `Distributions#index`"
# Summary
We currently have the ability to filter by date range on `Donations` and `Purchase`. We'd like to extend this functionality to other resources as well. You should be able to copy it over, though it will require you to look in a few locations.

Our filtering stack involves model, view, and controller for each resource. It's always done in the `:index` action. Look to `Donation` and `Purch

[2019-10-01 23:58] armahillo opened #1239 "Adjustments should track the user creating it"
# Summary
Adjustments allow a user to change the quantity on-hand for a specific item. Obviously this can mess with the totals and should be audited. We want to track the user that creates the `Adjustment` when it is created.

You'll need to add a `:user_id` field to the `Adjustment` model, set the association, and then initialize the `user_id` value for all existing `Adjustment`s to the organizat

[2019-10-02 00:01] armahillo opened #1240 "Add the ability to filter-by User on `Adjustments#index`"
~~This is blocked by #1239~~

# Summary
On the `Adjustments#index` we want the ability to see only adjustments created by a specific user. We use filters on multiple resources already, including `Adjustment`. To add an additional filtering parameter, you'll need to add bits to a few different spots -- look at the filtering being done by this one and others to see where it is. (The actual filtering

[2019-10-02 00:03] armahillo opened #1241 "Fix the CSS display on 3 index pages"
# Summary
Three `:index` views are missing a container in the layout and it makes the display look slightly odd. Compare to `Donations` or another resource. It's likely a trivial change such as adding a container div.

# Criteria for Completion
 - `DiaperDriveParticipants#index`
 - `Manufacturers#index`
 - `Vendors#index`

[2019-10-02 02:48] azhsetiawan commented on #1232
Hi @armahillo
i wanna take this issue.

![col-lg 1280 Screen Shot 2019-10-02 at 09 43 43](https://user-images.githubusercontent.com/3045602/66014603-b10e3a00-e4f9-11e9-930d-116909aeb844.png)
![col-sm 990 Screen Shot 2019-10-02 at 09 44 26](https://user-images.githubusercontent.com/3045602/66014604-b10e3a00-e4f9-11e9-9d57-bd31df5bba2a.png)
![col-sm Screenshot_2019-10-02 Edit - Users](https://user-i

[2019-10-02 03:46] botanical commented on #1235
Hi, I'd like to take on this issue!

[2019-10-02 04:06] keithrbennett commented on #1228
@skrishna243 It looks nice. "Dropoff Location" should be changed to "Donation Site". I mentioned it in a later comment but failed to update my screenshot, sorry.

I was thinking it might be nice for these 4 fields to be more prominent than the table text of the items. What do you think?

[2019-10-02 04:10] keithrbennett commented on #1228
I'm not sure how to best implement "prominent" though -- a larger font?

Also, maybe more vertical whitespace between the 2 tables?

[2019-10-02 04:22] botanical commented on #1238
Hi, I'd like to try to solve this issue!

[2019-10-02 08:25] keithrbennett commented on #1218
The code in question can be seen [here](https://github.com/rubyforgood/diaper/blob/2349c33bf2f3fa9d114c2d51a2c53f36e8287500/db/seeds.rb?#L10-L18).

[2019-10-02 08:29] keithrbennett commented on #1218
@awwaiid @mdworken Could you take a look at this please? Git annotate reports that the lines in question were inserted by you. The code is [here](https://github.com/rubyforgood/diaper/blob/2349c33bf2f3fa9d114c2d51a2c53f36e8287500/db/seeds.rb?#L10-L18).

[2019-10-02 08:30] keithrbennett commented on #1218
@JuarezLustosa I don't mean to bypass you, but I just wanted to make sure that we ask the original authors.

[2019-10-02 09:21] keithrbennett opened #1244 "Use data arrays for record creation in seeds.db."
Rather than a separate call to `find_or_create_by!` for each record, we can define an array of data records (each of which an array of field values), and than use `each` to create each record. For example, this:

[code]
could be changed to this:

[code]

This would yield the following benefits:

* all data is in one place uninterrupted by code, so it is easier to spot similarities and differences

[2019-10-02 12:11] keithrbennett commented on #1244
Here is a branch with the beginnings of this (i.e. with the above code change):

https://github.com/rubyforgood/diaper/tree/arrayize-db-seeds

 I'd be happy to work on this myself but if someone else wants to do it that's fine too.

[2019-10-02 13:16] keithrbennett opened #1246 "Guard against running seeds.rb in production mode."
I suggest we decide what to do when seeds.rb is run in production mode, and implement that. Possible choices are:

1) allow it to proceed without user intervention - this would require no modification
1) prevent it from proceeding (probably by raising an error) - a simple 1 liner
1) allow it to proceed only if the user confirms that this really what they want -  perhaps a command line conversation

[2019-10-02 13:28] gkpacker commented on #1241
Hey @armahillo, I'd like to take this issue!

[2019-10-02 14:18] mdworken commented on #1219
@keithrbennett I think doing this for some items is a great idea, but I don't think we should do it for all of them, as my impression is many diaperbanks will have Items that do not have this filled out.

In general, for seeds data, we should NOT fill a value for an attribute if that attribute is not required.

[2019-10-02 14:35] belfazt commented on #1246
What about showing a warning if they're ran. And allow the user to pass in if they want the demo data to be added through an ENV variable?

[2019-10-02 14:36] skrishna243 commented on #1228
@keithrbennett  i changed as per your suggestions and attached the screenshot.
![Screenshot from 2019-10-02 10-04-27](https://user-images.githubusercontent.com/32722755/66053186-d9993280-e4ff-11e9-9deb-fd902ad18e2f.png)

and i tried to change the heading color but i don't you mean this or not.
![Screenshot from 2019-10-02 10-19-37](https://user-images.githubusercontent.com/32722755/66053506-75c339

[2019-10-02 15:37] bjchris32 commented on #1237
May I help it?

[2019-10-02 16:01] keithrbennett commented on #1219
That's an interesting point.  I was not aware that the value_in_cents field was optional. My main motivation was to be able to see the data in the UI, to ensure that it was displayed correctly. For that, omitting _all_ the values doesn't seem like a good idea either. So maybe some of the values?

On the other hand, if we assume that _some_ diaper banks will want values for _all_ items, then maybe

[2019-10-02 16:07] keithrbennett commented on #1228
I like the new color for the column headings!

That said, on further thought, I think it would be wise for us to get input from other team members as to the best way to achieve this goal, to ensure that we're being consistent with other parts of the application, and not missing any opportunities for the optimal solution.

I've added the "Needs Discussion" label to this issue and will post a questi

[2019-10-02 16:24] keithrbennett commented on #1246
@rafaltrojanowski I also like option #3 best. I think it would just be a few lines, and could easily fit in a method in seeds.rb, or just be inserted inline. I haven't run this, but something like this, at the top of seeds.rb:

[code]

I'd want to confirm that it's ok to do a system exit. We might instead want to raise an error, but that would look uglier on the screen.

[2019-10-02 17:50] JuarezLustosa commented on #1244
@keithrbennett If you don't mind, I can take this. I was looking at the warnings issues. What do you think?

[2019-10-02 17:59] janessatran commented on #1234
hey @armahillo i'd like to give this a go if possible!

[2019-10-02 18:22] keithrbennett commented on #1244
@JuarezLustosa I just assigned this to you. We didn't hear from anyone authorized to merge the PR, but if you don't mind taking a chance, it probably won't be a problem.

[2019-10-02 19:34] keithrbennett commented on #1219
@mdworken Sorry about the way I worded that comment. You were suggesting assigning values to some might be best, and I made it sound like you were suggesting assigning to none of them. I'm editing my comment to correct that.

[2019-10-02 19:44] skrishna243 commented on #1228
Sure let me know what will we do after the discussion.

[2019-10-02 23:37] alona22193 commented on #635
Hi, I would like to contribute.

[2019-10-03 00:25] lizzyaustad commented on #1239
Hi @armahillo - I can work on this one if it's still open

[2019-10-03 02:11] stenington commented on #1231
I'm interested in taking this ticket

[2019-10-03 02:32] fadib commented on #1240
Hey @armahillo, I'd like to take this issue once #1239 is resolved

[2019-10-03 02:42] rafaltrojanowski commented on #1246
I've tested your code with Heroku by running:

[code]

It works correctly. Now I'm thinking that I would like to have this kind of guard in other rake tasks in my app as well :)

[2019-10-03 03:23] botanical commented on #1238
@armahillo , quick question. While adding date ranges, should I also remove selected ranges such as the ability to select "This week to date", etc?

[2019-10-03 04:46] keithrbennett commented on #1228
If you have the time, could you experiment with making the headings and values in the upper table larger, maybe 50% or whatever looks good to you? And take a look at other tables in the app to see if they handle this kind of thing, and if any of them use any colors other than the ones in the lower table? Seems like people are busy and it may be best for us to propose our best solution and get feed

[2019-10-03 04:55] keithrbennett commented on #1246
@rafaltrojanowski Thanks for testing this. Since the code was written by me, I'd like to do the PR for it. (I would say the same thing if it were someone other than myself.) Also, we still need to find out if the `exit` approach is ok, and the `raise` strategy is not better.

[2019-10-03 05:09] keithrbennett commented on #1237
This is a manifestation of the issue at https://github.com/rubyforgood/diaper/issues/1219.

I inserted this line at the end of my seeds.rb file:

`Item.all.each { |i| i.value_in_cents = 100; i.save }
`

and then ran `rails db:setup`, and saw numbers in the line items and the total row.

I recommend closing this issue.

[2019-10-03 05:15] keithrbennett commented on #1219
It looks like another manifestation of this issue is the issue reported by @armahillo at https://github.com/rubyforgood/diaper/issues/1237. Although assigning values to some of the items _may_ work, I think the only practical way to guarantee that all pages displaying values will have values to display is to assign values to all the items.

[2019-10-03 05:39] keithrbennett commented on #1246
@belfazt I think a warning after the fact would not be sufficient; I think we want to _require_ confirmation before proceeding.

Regarding the environment variable, I think it would be a good idea, but only if there is a reasonable expectation that this would be needed, to offset the cost in complexity, documentation, etc., of doing so.

Can anyone envision the need to override this confirmation r

[2019-10-03 05:42] keithrbennett commented on #1220
@anshulxyz I've assigned this issue to you. Could you confirm that you are still available to work on this?

[2019-10-03 05:43] keithrbennett commented on #1220
I think we will need to support center-aligned data too, e.g. date values.

[2019-10-03 06:43] anshulxyz commented on #1220
Something like specifying what kind of data-type is in the column and accordingly get the alignment?

[2019-10-03 08:02] keithrbennett opened #1251 "Should we remove or refactor unused SCSS file '_all-skins.scss'?"
`_all-skins.scss` appears to be unused. I deleted it, reran the server, and pointed my browser at it, and did not see any errors or differences.

If it is in fact unused, is there any reason not to delete it?

And if we need to keep the file, we should probably:

* fix the comments that were copy/pasted for "light" themes, to include "light"
* eliminate the massive duplication of code/configuratio

[2019-10-03 08:03] keithrbennett commented on #1251
@seanmarcia I think you added this code initially. Could you take a look at this please?

[2019-10-03 09:04] keithrbennett commented on #1251
It looks like the body tag is set to skin-blue, and the _all-skins.scss file provides alternate color themes that are not available without it. Do we intend to use this flexbility at some point (or are we using it now)? If not, then I recommend removing the file. If so, then I recommend looking into simplifying it.

[2019-10-03 09:15] keithrbennett commented on #1220
I did some more research and got the alignment to look correct; you can see it on the branch at https://github.com/rubyforgood/diaper/tree/fix-table-column-alignments.

Since we are making changes across several pages, it might not hurt to define CSS classes (say, `td-numeric`, `td-date`) in `application.scss`, that specify the alignment, since it's not unlikely we will want to add further customi

[2019-10-03 10:18] anshulxyz commented on #1220
I completely missed this. Yes, I confirm to work on this.

I'll co-ordinate with him. @gkpacker, if you want to contant on instant messaging, you can contact me here:
- Telegram: https://t.me/anshulxyz
- Twitter DMs: https://twitter.com/anshulxyz

[2019-10-03 11:17] fadib commented on #1193
@mdworken mind if I submit a PR for this?

[2019-10-03 13:41] EmersonManabuAraki commented on #1233
I'll pick the 2 last issue

[2019-10-03 13:47] armahillo commented on #1246
I'm ok with preventing seeds.rb from being run in production at all -- it's all junk data and wouldn't be useful in prod. We have the base items in a separate file with a seed_items method for instantiating those

[2019-10-03 13:57] katestud commented on #1219
It sounds like there are a couple things happening.
* We want to feel confident that totals are displaying on the donation page
* We want to feel confident that the totals we are displaying are accurate

I think that controller tests (and maybe some unit tests) as outlined in https://github.com/rubyforgood/diaper/issues/1237 can address both of those requirements, but it sounds like we also want a

[2019-10-03 14:02] mdworken commented on #1193
@fadib go ahead!

[2019-10-03 14:07] mdworken commented on #1219
@katestud yes, that is exactly correct!

[2019-10-03 14:09] #1235 closed

[2019-10-03 14:19] armahillo opened #1252 "As a SiteAdmin, I would like to be able to manage "Partner" data in the SiteAdmin dashboard"
# Summary
The site admins need a way to help organizations out with Partner related issues. For right now, let's start with a very trivial Partner interface.

For now, just make "Partners" be a top-level section in the admin dashboard. Leave a section for filters, but don't worry about making any now. Include both the Partner name and the corresponding organization name as columns in the `:index`

[2019-10-03 14:46] armahillo commented on #1219
@jeduardo824 You're correct! Looks like it's moot now, but good call on "Good First Issue" :) I've added it anyways because why not, haha :)

[2019-10-03 15:24] bjchris32 commented on #1252
Could you post some screenshots to elaborate your requirements?

[2019-10-03 15:36] armahillo commented on #1251
Modified issue to make it clearer to new contributors not to work on this one yet

[2019-10-03 15:38] cored commented on #1236
@armahillo I would like to work on this :smile:

[2019-10-03 16:20] keithrbennett commented on #1251
@armahillo Sorry, I should have thought of, and worded, the issue as a question. Not humble of me. Lesson learned, thank you. ;)

[2019-10-03 16:28] keithrbennett commented on #1219
@katestud @mdworken  Would we want to be sure that there would be values visible on any page displayed with the seed data? If so, how would we determine how many or which items get values? (I don't know which items are used where, and are they randomized, etc.)

[2019-10-03 16:29] keithrbennett commented on #1246
@rafaltrojanowski Would you like to do this?

[2019-10-03 16:31] katestud commented on #1219
@keithrbennett I think that would probably be helpful! I need to dig more closely into how the seeds are set up to see if that's doable, but I will try to find a way. 😎

[2019-10-04 02:30] fadib commented on #1252
@bjchris32 I think you can start by looking at other pages, for example [Organizations page](http://localhost:3000/admin/organizations?organization_id=admin)

[2019-10-04 02:50] rafaltrojanowski commented on #1246
@keithrbennett

I've updated PR. I also removed a few comments, I consider them as a verbose. I assume that we know how to create seed data, as there is already some code in `seeds.rb` file.

[2019-10-04 13:24] GabrielRMuller commented on #1203
I'm working on it, hoping to have a PR open today!

[2019-10-04 14:11] skrishna243 commented on #1228
@keithrbennett  I increased the font-size in upper table to look different than the bottom one. As a far as coloring, whole project use the same color as bottom table colors so i'm thinking we can leave that as it is.
![Screenshot from 2019-10-03 22-00-37](https://user-images.githubusercontent.com/32722755/66214132-28c19d80-e68f-11e9-8887-fe56fbd835ce.png)

Sorry for the late response and i'm wait

[2019-10-04 14:57] donquxiote commented on #1234
Hi! I'd like to take a try at fixing this issue for y'all.

[2019-10-04 16:44] keithrbennett commented on #1228
Looks good to me!

[2019-10-04 18:35] skrishna243 commented on #1199
@armahillo is this still open.

what i understand was,
1) In Pages Items & Inventory, Barcode Items they have " Create New Item" and " Add another barcode" should look like " + New Item" and " + New Barcode".
2) Dashboard Page Have Purchases and Donations with " New Inventory"  it should change as " + New Donation" and "+ New Purchase" with-out dropdown and it should redirect to new action.

Am I

[2019-10-04 21:07] skrishna243 commented on #1228
@armahillo I saw similar kind of changes needed in Distribution and Request Show pages and i told @keithrbennett  about this, he said go ahead and do it. So i added a screenshots below, if it is okay for you guys i will push my changes.

Before  Request page looks like this.
![request_before](https://user-images.githubusercontent.com/32722755/66239943-1a907300-e6c9-11e9-8c88-ca391f9fed81.png)

Aft

[2019-10-04 21:40] #1193 closed

[2019-10-05 15:00] armahillo commented on #1246
Just tested it -- looks good to me, thank you @rafaltrojanowski !!

[2019-10-05 15:01] #1246 closed

[2019-10-05 15:17] #1222 closed

[2019-10-05 15:23] #1219 closed

[2019-10-05 20:44] armahillo commented on #1218
Go for it!

[2019-10-06 02:21] #1189 closed

[2019-10-06 02:28] #1239 closed

[2019-10-06 12:33] anshulxyz commented on #1220
@keithrbennett we make numeric columns right-aligned to get a better representation of the numbers, or/subtract them. Would it also make sense to have monospace fonts in this case?

[2019-10-06 13:48] keithrbennett commented on #1220
I am not at all an expert on this stuff, but here's my guess:

1) My understanding was that most proportional fonts have monospace digits. I suggest we leave the font as is unless the bad alignment is noticeable. Is it?

2) I think it is best to right align the column headings for the numeric columns now. I think there's another GH issue about cutting the width of the entire row in half, and when

[2019-10-06 17:59] keithrbennett commented on #1251
I've pushed a branch `refactor-skins` that illustrates what I mean. Using a CSS mixin, we can specify configuration in one place and refer to it (use it) in many places. Though the improved conciseness is nice, the strongest case for it is that if we need to change such a value, it will be changed everywhere it is referenced. I've implemented a `nav-colors` mixin to illustrate; there are several o

[2019-10-06 18:04] keithrbennett commented on #1251
I am currently researching ways to test that the generated CSS code does not change after the refactoring. Please enlighten me if you can. I've gotten this far so far:

* running `rails assets:precompile` will generate an application*css file in `public/assets`.
* running `sed "/\/\*.*\*\//d;/\/\*/,/\*\// d" filename.css > stripped.css` will remove the comments

My issue now is that the attributes

[2019-10-06 23:30] renatamarques97 opened #1260 "The drop-down menu does not open on small resolutions"
There is a drop-down menu on 'new' pages (New distribution, new donation, etc), when I try to select an item on a small resolution (sm: 768-991 pixels), the menu drop-down does not open.

## Expected behavior
I expected it to open the "choose an item" options.
![Screen Shot 2019-10-06 at 19 46 09](https://user-images.githubusercontent.com/25162312/66277755-5f5b0c00-e879-11e9-9f26-762295080b10.png)

[2019-10-07 03:14] meg-gutshall commented on #1201
I'd like to take this over the retreat if it's still up for grabs! If someone knocks it out for Hacktoberfest, no worries!

[2019-10-07 06:57] keithrbennett commented on #1251
Another argument supporting this refactoring is that the shared property sets are named. Assuming they are named well, this makes the source code easier to understand.

[2019-10-08 00:10] botanical commented on #1238
@armahillo , I was wondering if this issue could be updated. I think the best thing to do is to have a separate issue for just `Distributions` because it already has the migrations needed in the backend to implement the frontend.

I think for the other pages `Adjustments` and `Transfers` we should do a separate migration for each and then create a rake task to set `issued_at` to `created_at` and t

[2019-10-08 12:05] sathia27 commented on #1244
@JuarezLustosa @keithrbennett
Is this closed? Can I take this up if this is not picked up yet?

[2019-10-08 12:08] JuarezLustosa commented on #1244
I'm on it.

[2019-10-08 14:16] armahillo commented on #1251
@keithrbennett If this is something that interests you, we are trying to move to the new version of the theme, but haven't been able to prioritize it. It's a bit of a moving target, especially this month, because the views are constantly changing.

It was discussed in #1001 -- you can ask in #diaper where to get it (I think I have it somewhere but not on this device). We have a bunch of work in pr

[2019-10-08 16:12] benreyn opened #1264 "Add paginations to the purchases/index page"
# Summary
We recently added the [`kaminari`](https://github.com/kaminari/kaminari) gem for pagination in #1254. This PR added pagination to the donations/index page. We should add this to the other places where we have records that could end up with unwieldy page scrolling. This issue is to add this to the purchases/index page. You should be able to look at PR #1254 for an example of how to accomp

[2019-10-08 16:15] benreyn opened #1265 "Add paginations to the requests/index page"
# Summary
We recently added the [`kaminari`](https://github.com/kaminari/kaminari) gem for pagination in #1254. This PR added pagination to the donations/index page. We should add this to the other places where we have records that could end up with unwieldy page scrolling. This issue is to add this to the requests/index page. You should be able to look at PR #1254 for an example of how to accompl

[2019-10-08 16:16] benreyn opened #1266 "Add paginations to the distributions/index page"
# Summary
We recently added the [`kaminari`](https://github.com/kaminari/kaminari) gem for pagination in #1254. This PR added pagination to the distributions/index page. We should add this to the other places where we have records that could end up with unwieldy page scrolling. This issue is to add this to the purchases/index page. You should be able to look at PR #1254 for an example of how to ac

[2019-10-08 16:25] coderpaz commented on #1264
I’ll work on this!

[2019-10-08 16:26] jeduardo824 commented on #1237
I can work on this one.

[2019-10-08 16:31] keithrbennett commented on #1251
Wow, talk about scope creep. :)

[2019-10-08 16:41] benreyn opened #1267 "Add paginations to the items/index page"
# Summary
We recently added the [`kaminari`](https://github.com/kaminari/kaminari) gem for pagination in #1254. This PR added pagination to the donations/index page. We should add this to the other places where we have records that could end up with unwieldy page scrolling. This issue is to add this to the items/index page. You should be able to look at PR #1254 for an example of how to accomplish

[2019-10-08 16:42] benreyn opened #1268 "Add paginations to the adjustments/index page"
# Summary
We recently added the [`kaminari`](https://github.com/kaminari/kaminari) gem for pagination in #1254. This PR added pagination to the donations/index page. We should add this to the other places where we have records that could end up with unwieldy page scrolling. This issue is to add this to the adjustments/index page. You should be able to look at PR #1254 for an example of how to acco

[2019-10-08 16:56] anoopmadhav commented on #1268
@benreyn Can I work on this ?

[2019-10-08 17:10] benreyn commented on #1268
Absolutely! 😄 Thanks for jumping in @anoopmadhav!

[2019-10-08 17:13] PanosCodes commented on #1266
Could I work on that ?

[2019-10-08 19:03] benreyn commented on #1266
Absolutely @PanosCodes! (I see you got one step ahead of me there 😉)

[2019-10-08 19:04] benreyn commented on #1264
Thanks @coderpaz! Let me know if I can be helpful to you at all!

[2019-10-08 21:15] keithrbennett commented on #1228
@skrishna243 Looks great, thank you. I just discovered that we also need this for the Purchase View (e.g. http://localhost:3000/diaper_bank/purchases/4). Do you have time to do that one too?

[2019-10-08 23:41] janessatran commented on #1267
Hey, I'm looking to work on this right now and hopefully we'll have a PR soon!

[2019-10-09 09:30] keithrbennett commented on #1251
@armahillo Thanks for taking the time to respond so thoroughly and precisely.

It looks like the `_all-skins.scss` file that is the subject of this issue report no longer exists in the `new_theme` branch. So I think that is a good reason to close this issue in favor of issue #1001.

Unless that new scheme will use `_all-skins.scss`, will it? I am assuming the absence of the file means it will not

[2019-10-09 10:53] fadib commented on #1134
I would like to try or help with this issue.

[2019-10-09 12:21] #1228 closed

[2019-10-09 12:34] armahillo opened #1276 "Create an RSpec shared example for pagination"
# Summary
An RSpec shared example provides some very generic specs that can be included in multiple places, where the tests themselves only differ on typically one thing.  We'd like to add a single shared example that validates that pagination works on a given resource. We don't need to test the mechanisms of Kaminari, just that the integration with our stuff is working correctly. Specifically:

[2019-10-09 13:24] #1267 closed

[2019-10-09 13:38] #1240 closed

[2019-10-09 13:43] #1265 closed

[2019-10-09 13:55] #1232 closed

[2019-10-09 13:56] #1236 closed

[2019-10-09 17:48] seanmarcia commented on #635
@alona22193 If you have any questions feel free to ping me!

[2019-10-09 18:10] JuarezLustosa commented on #1276
Can I take this?

[2019-10-09 19:53] #1268 closed

[2019-10-10 01:11] #1134 closed

[2019-10-10 03:48] #1241 closed

[2019-10-10 07:28] query-string commented on #1252
Hey @armahillo, please let me know what you think about #1280 ;)

[2019-10-10 14:28] #1231 closed

[2019-10-11 12:46] rymcmahon commented on #1159
@armahillo I'd like to take this on if it's still unassigned.

[2019-10-11 13:16] pdxdiaperbank commented on #1159
Thanks @rymcmahon
We’re really looking forward to this feature to be added! :)

[2019-10-12 16:16] fadib commented on #823
I'll work on the single day view.

[2019-10-12 18:53] seanmarcia opened #1282 "Allow Diaperbanks to Add Another User To Their Partners"
# Summary
Partner agencies often have a high turnover of volunteers and occasionally the person with the account on Partnerbase has left the organization and a new user needs to be added.

We need the ability, from Diaperbase, to add additional users to partnerbase. This issue needs to be done in conjunction with [this issue on the partner app](https://github.com/rubyforgood/partner/issues/222).

[2019-10-12 19:16] seanmarcia opened #1283 "Update Partner#Show Page"
# Summary
It would aid diaper banks to know how many families, children, and the zip codes that their partner agencies serve. We should pull this and make it available for our diaper bank users to easily see and review. This information is available on the partner application and will need to be pulled from there.

There are several ways this could be done. We could pull from the partner app and s

[2019-10-12 22:24] renanbona commented on #1283
I’ll work on this!

[2019-10-12 22:56] seanmarcia commented on #1283
Awesome! Ping us in the the [rubyforgood slack](https://rubyforgood.herokuapp.com) in the #diaper channel if you have any questions or want to discuss strategies for this.

[2019-10-13 02:01] armahillo commented on #1260
@renatamarques97 Thanks for catching this!

[2019-10-13 02:02] armahillo commented on #1276
@JuarezLustosa Go for it!

[2019-10-13 02:03] armahillo commented on #1276
@JuarezLustosa as far as I'm concerned -- you're in the system as a contributor -- if you see an issue you like (please just do one at a time so that other people can grab some too :) ) just assign yourself to it and go for it!

[2019-10-13 02:05] #1252 closed

[2019-10-13 02:09] armahillo commented on #1238
@botanical Sorry, just saw your comments!

`Distribution` can use `issued_at` -- if you'd like to do that as a solo-PR that's totally fine!

`Adjustment` / `Transfer` should not have an `issued_at` field because they are not issued -- we can just filter on `created_at` for those.

If you'd like to do a separate PR for each of those, that's fine. I agree they should be separate issues, in hindsight

[2019-10-13 02:10] armahillo opened #1285 "Add date-range filtering to `Adjustments#index`"
# Summary

We currently have the ability to filter by date range on `Donation`s and `Purchase`. We'd like to extend this functionality to other resources as well. You should be able to copy it over, though it will require you to look in a few locations.

Our filtering stack involves model, view, and controller for each resource. It's always done in the `:index` action. Look to `Donation` and `Purc

[2019-10-13 02:15] armahillo opened #1286 "Add date-range filtering to `Transfers#index`"
# Summary

We currently have the ability to filter by date range on `Donation`s and `Purchase`. We'd like to extend this functionality to other resources as well. You should be able to copy it over, though it will require you to look in a few locations.

Our filtering stack involves model, view, and controller for each resource. It's always done in the `:index` action. Look to `Donation` and `Purc

[2019-10-13 02:46] mdworken commented on #1218
Sorry about the confusion here - looks like we forgot to remove the FIXME once we confirmed the issue resolved. I made a quick PR to fix it.

[2019-10-13 02:46] #1218 closed

[2019-10-13 02:52] armahillo commented on #1229
I agree with the transaction -- we're moving more of our things towards that. That is the best way to ensure the data changes both happen in tandem.

I disagree with putting it into the `Donation` model, specifically, because it also sends messages to the `StorageLocation` object, and I think it would be folly to tightly couple them like that. (I don't know if greg is familiar with this app or not

[2019-10-13 12:09] jbryant92 commented on #1286
I can take a look at this one.

[2019-10-13 12:58] jbryant92 commented on #1285
I can add this.

[2019-10-13 19:15] renanbona commented on #1283
Ok, thanks. I'll do that.

[2019-10-15 22:30] #1260 closed

[2019-10-15 22:58] kiana-caston commented on #1282
going to try and work on this

[2019-10-16 05:10] seanmarcia commented on #1282
Awesome! Let me know if you have any questions! You can chat with us in our [slack](https://rubyforgood.herokuapp.com) in the #diaper channel!

[2019-10-16 23:24] #1220 closed

[2019-10-17 11:17] #1237 closed

[2019-10-17 15:44] #1203 closed

[2019-10-18 15:06] ozydingo opened #1297 "Document OS X setup steps"
# Summary

Add documentation to set up the app on OS X machines

# Criteria for Completion

- Documentation exists that describes the setup steps for OS X. This could be a new file or be combined with the existing `ubuntu-installation.md` file since there is a lot of overlap

[2019-10-18 15:07] ozydingo commented on #1297
I'm getting started poking through this app & issues, and figured I may as well document setup steps while i'm at it so I was going to work on this. There wasn't an open issue so I created this to be able to reference.

[2019-10-18 16:18] chiefkikio commented on #1297
Mac set up documentation was discussed here: https://github.com/rubyforgood/diaper/issues/1142

[2019-10-18 18:18] bpr3p opened #1302 "Distributions #index total_items values are wrong"
# Summary

`total_items` method in the distributions controller is including a bunch of joined records in the sum.

## Things to Consider

# Criteria for Completion

 - [x] Page total count (left-hand bottom summation section) should reflect the total of the line items on that page
 - [x] Pages total count (left-hand bottom summation section) should reflect the totals of the line items across the

[2019-10-18 18:18] bpr3p commented on #1302
I'm working on this

[2019-10-18 21:11] ozydingo commented on #1181
I'm giving this a shot, trying to keep out most of the unnecessary default changes inflicted by `rails app:update` to keep the scope of reviewing such a large change more manageable.

[2019-10-19 00:17] rymcmahon commented on #1159
Hi @pdxdiaperbank & @Nirvikalpa108 I have a few questions about this feature. Should I ask them on the Slack channel or here?

[2019-10-20 04:20] keithrbennett opened #1308 "Need to speed up computation of manufacturer donation value"
# Summary

Startup time for populating the dashboard is taking too long. One improvement would be to modify the strategy for determining total manufacturers donation value to use Active Record instead of Ruby arrays that are triggering thousands of SQL queries.

# Criteria for Completion

Change Manufacturer#volume to use ActiveRecord.

# Preparatory Research

I modified `seeds.rb` to create 20,00

[2019-10-20 12:04] #1297 closed

[2019-10-20 12:08] #1244 closed

[2019-10-20 13:16] #1302 closed

[2019-10-20 16:17] mdworken opened #1310 "Move inventory changing methods to service objects"

[2019-10-20 16:49] #1181 closed

[2019-10-20 16:53] duaimei opened #1311 "Basic Setup for Diaper Drive Feature"
#178 Summary
Diaper banks would like to be able to associate donations with specific diaper drives
Describe an overview of the problem. Provide a general description of the problem it's solving or why this issue should be addressed.

## Details
create a CRUD model that for diaper drive that has the following attributes:
name,
start_date,
end_dated

create a basic view that lists existing diaper dr

[2019-10-20 22:20] #1264 closed

[2019-10-20 22:24] seanmarcia commented on #1282
Hey @kiana-caston any questions with the issue or anything we can do to help? Sorry to be be a pest but, being hacktoberfest and lots of folks asking for ways to contribute, we want to make sure we're doing everything we can!

[2019-10-20 22:31] pdxdiaperbank commented on #1159
@rymcmahon  - I can answer any questions you have! Here is fine. :)

[2019-10-21 02:20] seanmarcia commented on #635
Hey @alona22193 any updates or do you need any help with anything?

[2019-10-21 03:10] alona22193 commented on #635
Sean,

Hi, I apologize. I unassigned myself a few days ago out of the project
while my schedule became busy. I hope this didn’t cause any confusion.

Please let me know if there was another step to take that I missed. Thank
you.

Alona

On Sun, Oct 20, 2019 at 10:20 PM Sean Marcia <notifications@github.com>
wrote:

[2019-10-21 03:19] #635 closed

[2019-10-21 03:20] seanmarcia opened #1319 "Add Stylings to Partner Approval/Review Page"
Our approve_partner page app/views/partner/approve_partner.html.erb is lacking any sort of formatting. It is just a bunch of h2, h3, and p tags.
If you have the ability to make things prettier, this issue is for you! :)

[2019-10-21 03:45] duaimei opened #1320 "Add dropdown in donations for diaper drives"
#1315  Summary

As a user of the diaper bank, I would like to be able to choose an active diaper drive to associate the donation with.

# Criteria for Completion

 - [ ] When a user clicks on the new donations tab, they should be able to choose an active diaper drive
 - [ ] When a user reviews the donations
 - [ ] This feature should be visible to all users
 - [ ] testing...

[2019-10-21 15:10] #1311 closed

[2019-10-21 15:11] keithrbennett opened #1322 "Create data for a second organization in seeds.db."
# Summary

We need to seed the DB with data for multiple organizations. One reason for this is that when using the seeded DB for analysis and experimentation we need to be able to verify that when we fetch records in the context of an organization (which happens 100% of the time for the user) we are making fetches, computations, etc., on only those records pertaining to that organization. Without

[2019-10-21 16:24] mdworken opened #1324 "Create fallback for Donation - Diaper Drive Participants without business name"

[2019-10-21 16:26] seanmarcia opened #1325 "Editing Donation - JS Not Firing"
When you edit a donation and there is a diaper drive participant, manufacturer, etc the field doesn't show up unless you change the source.
We should have it displaying if it exists.

[2019-10-21 16:47] seanmarcia commented on #1322
I think we may want to create a third organization rather than seed the current second organization with data. We currently have the second organization intentionally unseeded with data so that we can give the demo account `org_admin2@example.com` to prospective diaper banks to practice going through the process of setting up a diaper bank from scratch.

[2019-10-21 18:02] keithrbennett commented on #1322
I can make that change. Any preference as to organization's name and other properties, and email addresses?

[2019-10-21 20:19] seanmarcia commented on #1322
No preference at all! If you want to do something fun like we do with the first one (naming it after parks and recreation) feel free! Maybe dunder_mifflen? :)

[2019-10-21 20:20] seanmarcia commented on #578
We got the email from Lynn today that we're going to use on this going forward. We can obviously update but we have a great starting place. Going to close this.

[2019-10-21 20:20] #578 closed

[2019-10-21 20:21] #640 closed

[2019-10-21 20:21] #641 closed

[2019-10-21 20:27] seanmarcia commented on #1131
@armahillo Is this completed? Or are we still missing the component of adding it to existing diaper banks?

[2019-10-21 20:29] seanmarcia commented on #1097
Going to close this, I think this is being encapsulated in the work @duaimei is doing separating diaper drives out into their own object.

[2019-10-21 20:29] #1097 closed

[2019-10-21 20:48] seanmarcia commented on #1325
I just updated my issue, I had a typo in it. Let me know if makes sense @armahillo

[2019-10-21 20:53] renatamarques97 commented on #1319
i'll take this one

[2019-10-21 20:56] seanmarcia commented on #1319
Awesome!!! Please let us know if you need any assistance!

[2019-10-21 21:00] #1142 closed

[2019-10-21 22:54] keithrbennett commented on #1322
I've created a new organization, "DC Diaper Bank", that is populated with similar data to "Pawnee Diaper Bank". "SF Diaper Bank" is no longer populated with data other than the organization and users. @seanmarcia Let me know if you'd like me to modify anything.

[2019-10-22 01:26] kiana-caston commented on #1282
Hi @seanmarcia, sorry for not responding quickly. I do have some questions so I'll be joining the Slack channel

[2019-10-22 01:34] renatamarques97 commented on #1319
@seanmarcia you sure this view is be using somewhere? i looked but i didn't found

[2019-10-22 01:58] seanmarcia commented on #1319
Hey @renatamarques97 yes it is being used! If you follow the setup instructions for the diaper and partner apps using puma-dev -- https://github.com/rubyforgood/diaper/blob/master/puma-dev.md
You should be able to see the view populated with some info.

[2019-10-22 01:58] seanmarcia commented on #1319
Feel free to ping me in the ruby for good slack if you have any questions! You can grab an invite here: https://rubyforgood.herokuapp.com

[2019-10-22 09:25] keithrbennett commented on #1308
This issue is addressed in the PR at https://github.com/rubyforgood/diaper/pull/1328.

[2019-10-22 14:52] mdworken commented on #1324
Closed via #1326

[2019-10-22 14:52] #1324 closed

[2019-10-22 16:54] mlrusie opened #1329 "Donations Page - Add a Money Raised Column"
We need to be able to quickly see how much money was raised by donation sources, as well as, the totals.  Currently, there is no way to find this information.  Once we add an amount in Money Raised on the New Donation page, we have no way to access it again.  Our suggestion is to remove the Variety of Items column and add a Money Raised column with totals.

Sorry screenshot won't load.

[2019-10-22 17:10] seanmarcia commented on #1329
Thanks for this issue! I'll re-write with some specs shortly for the @rubyforgood/diaper-team!

[2019-10-22 18:28] pdxdiaperbank opened #1333 "Inventory Transfers Page - Add Column for Transaction Dates"
On the inventory transfer page, there isn't a column for dates that transfers took place. Also, the entire list should default to the most recent transaction on top. ~~Adding a filter-by-date option will also be important to add.~~

Thanks, all!

![Screen Shot 2019-10-22 at 2 19 27 PM](https://user-images.githubusercontent.com/20074085/67317048-84858680-f4d7-11e9-9d87-034fbe9f47a6.jpeg)

[2019-10-22 23:47] rymcmahon commented on #1159
Thanks, @pdxdiaperbank

1. Do partners select their pickup dates in Partnerbase or Diaperbase?

2. In Diaperbase, how does the current pick ups calendar fit into this feature? Do partners select a pickup day in Partnerbase and that selection appears on the Diaperbase Calendar?

3. Does the "Diaper request user journey" happen in Partnerbase?

4. Partners receive an email notification before their

[2019-10-23 13:24] donquxiote commented on #1234
I've had some IRL things come up so I can't guarantee I'll have time to work on this before the end of october. If some one else is looking for a hacktoberfest ticket, they should take it.

[2019-10-23 17:29] duaimei opened #1338 "Add donations to diaper drives"
# Summary
When a user clicks on a specific diaper drive, they should be able to see all of the donations that have been associated with that drive.

# Criteria for Completion

 - [ ] This round is just a table that has the donation information
 - [ ] testing

[2019-10-23 18:15] josephbhunt commented on #1325
I'll take care of this.

[2019-10-24 12:43] EmersonManabuAraki commented on #1333
I'll take this

[2019-10-24 13:42] armahillo opened #1341 "As a new organization, when I am completing the onboarding steps on the dashboard, I want to be able to import CSVs also"
# Summary
The dashboard has 4 steps under "Just Starting" that prompt users to provide initial data. Currently, it only invites users to add a single record for each one.

While it's fine to just add a single record, we should also have an "Import a CSV" option, like we do on the individual pages, that allows users to immediately import their records.

# Criteria for Completion
 - [ ] Next to each

[2019-10-24 18:34] armahillo opened #1345 "BUG: Value calculations are incorrect"
We've had a few different cases where the dollar value calculation of things is getting recorded / reported incorrectly.

 - Stark County DB has reported that the purchase $ total on the dashboard is inaccurate when compared to the total on the purchases index
 - When I was demoing, I added an item with a value of `1` (meaning $1) but it recorded it as $0.01 (1 cent).

# Criteria for Completion
 -

[2019-10-24 19:57] duaimei opened #1346 "Diaper Drive Seeds"
Add default Diaper drives seeds.

[2019-10-24 20:07] armahillo opened #1347 "[BUG] Cannot transfer to a new storage location"
# Summary
I created a new storage location and tried to transfer to it. It did not show up in the "To" storage location list. I'm unclear why it's doing this, so I'm not sure how to reproduce beyond that.

# Criteria for Completion
 - [ ] "to" storage location in Transfer should show all storage locations
 - [ ] A validation prevents a user from saving a Transfer with the same source and destinati

[2019-10-25 08:18] sarslanoglu commented on #1347
@armahillo I can try to reproduce and fix this bug

[2019-10-25 14:32] luchiago commented on #1345
Hi, can I work on that ?

[2019-10-25 15:52] chiefkikio commented on #1341
ill take this.

[2019-10-25 18:36] josephbhunt commented on #1329
I'll take a wack at this.

[2019-10-27 00:34] josephbhunt opened #1352 "Money raised should allow decimal amounts"
# Summary

On the donation donation form (new/edit), the money raised form field is an integer. There is no way for the user to enter cents (ex. $20.50). The money raised database column should be a float to allow amounts of less than a whole dollar.

# Criteria for Completion

 - [x] When a user enters a money_raised amount, they should be able to enter decimal amounts (cents)
 - [x] The user sho

[2019-10-28 00:07] duaimei commented on #1346
This was merged into 1320

[2019-10-28 00:07] #1346 closed

[2019-10-28 00:13] duaimei opened #1355 "Diaper Drive Feature - Diaper Drive filter in donations index page"
# Summary
Donation -> index.html.erb
Add a dropdown after sources, and before diaper drive participant with the unique diaper drive names.
Add the appropriate logic in the model/controller for it to filter correctly.

## Things to Consider
Diaper Drive Participant existed previously, but the person that implemented it used "diaper drive" as the source.

The filtering, as it is now, only works by t

[2019-10-28 00:15] duaimei opened #1356 "Diaper Drive Feature - Diaper Drive filters"
# Summary

Diaper Drive -> index.html.reb
Add the following dropdowns for filters:
Name
Start Date
End Date

Add a button for a “new diaper drive” <- Follow the donation -> index.html.erb for styling.

 - [ ] In the all diaper drives section, the filters should work as expected
 - [ ] Add a test proving that it works

[2019-10-28 00:40] duaimei opened #1357 "Diaper Drive Feature - Rake task for diaper_drive_participant"
# Summary
Remove the model level validation.
diaper drive participant records are invalid now that we are diaper_drives

# Criteria for Completion
 - [ ] when you click on a donation that is a "diaper drive", but only has "diaper drive participant", it shouldn't be invalid.
 - [ ] Add a test proving that it works

[2019-10-28 19:13] josephbhunt commented on #1356
I'm working on this one.

[2019-10-28 21:42] rebecarancan commented on #1319
If no one is doing this, I can do it. I found the view, but I got an error and got stuck, if someone could help:

![diaper_error](https://user-images.githubusercontent.com/42655535/67720432-9fae3580-f9b2-11e9-9518-cd6df8cd4869.png)

[2019-10-29 00:16] armahillo commented on #1352
Ref #1345

[2019-10-29 02:58] seanmarcia commented on #1319
Hey @rebecarancan since the page that needs styling pulls information from the partner application you need to set them both up. Ideally, with `puma-dev` to make it easy on yourself.
You can find the directions to set up the diaper and partner apps with puma (and make the api work) here: https://github.com/rubyforgood/diaper/blob/master/puma-dev.md

Join us in our slack in the #diaper channel if y

[2019-10-29 11:02] rebecarancan commented on #1319
Ok, I'll take a look and try to set it up! Thank you!

[2019-10-30 20:05] luchiago commented on #1355
Hi, can I take this one?

[2019-11-01 15:17] bpr3p commented on #1347
PR up for the validation

[2019-11-01 18:39] gabrielbaldao opened #1367 "[BUG] user redirect to 404 when clicks on organization."
--------

# Summary
![Screenshot_20191101_153618](https://user-images.githubusercontent.com/20587352/68047619-96c4a900-fcbd-11e9-9f3f-b5a8110477e6.png)

I believe that at `/admin/dashboard?` in `Recently Added Organizations` the organiztions would must redirect to your page, right?
Now when the user clicks on organization link he is redirect to 404 page.

# Criteria for Completion

 - [ ] When a u

[2019-11-03 16:55] pdxdiaperbank opened #1371 "Past Purchase Amounts should be Editable"
We didn't realize that monetary entries for purchases should be entered in whole dollars only, that the system currently doesn't accept entries with cents. For that reason, we need to edit some past entries so that our total purchases are correct.

[2019-11-06 00:00] #1367 closed

[2019-11-06 00:10] #1325 closed

[2019-11-07 20:01] pdxdiaperbank opened #1375 "Item translates incorrectly from request to new distribution page"
# Summary
The line items in a `Request` are not being correctly translated into the correct line items in a `Distribution`. See below:

Currently when an agency requests diaper rash cream:
![Screenshot 2019-11-07 11 51 22](https://user-images.githubusercontent.com/20074085/68422960-06bbaf00-0156-11ea-8733-a4f40db09eaa.png)

That item autofills to adult briefs on the distribution page:
![Screenshot

[2019-11-16 19:52] armahillo commented on #1233
I think this one might have been implicitly resolved by #1342 with the date range picker?

[2019-11-18 21:38] #1282 closed

[2019-11-20 22:06] #642 closed

[2019-11-20 22:08] seanmarcia commented on #1199
Closing since I think PR #1224 resolved this.

[2019-11-20 22:08] #1199 closed

[2019-11-20 22:10] seanmarcia commented on #1169
Closing this issue, it was resolved with PR #1257 :)

[2019-11-20 22:10] #1169 closed

[2019-11-20 22:10] seanmarcia commented on #1200
Resolved with #1230

[2019-11-20 22:10] #1200 closed

[2019-11-20 22:12] seanmarcia commented on #1233
Yep, looks like this is resolved!

[2019-11-20 22:12] #1233 closed

[2019-11-20 22:14] seanmarcia commented on #1229
Closing this as it is being implemented as a service object re: issue #1310

[2019-11-20 22:14] #1229 closed

[2019-11-20 22:24] seanmarcia commented on #1371
Hey @pdxdiaperbank you can do this now! Just click `View` on whatever purchase you want to make a correction on then click `Make a Correction` and edit the amount spent there!

[2019-11-20 22:24] #1371 closed

[2019-11-21 19:22] GabrielRMuller commented on #1345
I strongly suggest we refactor `value_in_cents` and start using [money_rails](https://github.com/RubyMoney/money-rails) to abstract the conversion logic.

[2019-11-23 18:24] mdworken commented on #1375
Ah - I fixed this type of issue in a different spot. I'll self assign

[2019-11-30 18:32] #1356 closed

[2019-12-01 21:21] bobforcha opened #1384 "Diaper drives index broken"
# Summary

On a fresh build of `master`, I noticed that the diaper drive specs were failing. It appears the cause is a reference to `@organization.id` instead of `current_organization` in the form tag on line 9 of the diaper drive index.

# Criteria for Completion

 - [x] Diaper Drive index loads properly
 - [x] `diaper_drive_system_spec.rb` passes again

[2019-12-02 01:16] #1384 closed

[2019-12-03 00:12] jeduardo824 commented on #1333
Can I take this one? @armahillo

[2019-12-03 00:36] jeduardo824 commented on #1333
Nevermind, it looks like this was already solved.

[2019-12-05 21:40] #1345 closed

[2019-12-11 20:11] pdxdiaperbank opened #1386 "How to Add Starting/Baseline Inventory - Create Easy-to-Find Option"
Hi all,
How does someone currently add their baseline inventory for all of their storage locations without classifying the entries as a donation or a purchase? Currently, this process isn't intuitive so there needs to be some kind of added feature to make it clear for users. I know that there is that startup wizard for new users when first logged in, but if the person bypasses this option, there n

[2019-12-13 15:12] pdxdiaperbank commented on #1375
@mdworken Yes, I actually just saw this occur the other day while creating a distribution. The agency had requested diaper rash cream, but since we had none in stock, it defaulted to adult briefs.

[2019-12-15 20:54] #1352 closed

[2019-12-23 15:56] mdworken commented on #1375
I've fixed this issue - will be resolved with the next code release.

[2019-12-23 15:57] #1375 closed

[2020-01-02 15:40] mdworken opened #1395 "Fix Specs failing due to new year"
Master is currently red due to interactions of the new year with specs that make assumptions on system time. Self-assigning this to fix these.

[2020-01-03 02:30] seanmarcia opened #1396 "New Dashboard Widget for Itemized Distributions"
# Summary
We have had several diaper banks request the ability to see their distribution information on the dashboard broken out by item type. Currently, the distribution widget just shows the total number of items distributed but we need a second widget that lists the exact numbers by item type. This will help diaper banks in planning and forecasting as they will be able to look back at previous

[2020-01-04 18:25] armahillo commented on #1395
on it!

[2020-01-05 02:09] Aliciawyse commented on #1276
Hey y'all, can I take this up?

[2020-01-05 18:55] JuarezLustosa commented on #1276
Yes, @Aliciawyse  I forgot this, you can take Thank you.

[2020-01-05 21:19] Aliciawyse opened #1400 "Clarify instructions in contribution.md"
# Summary
Hey y'all! The readme says that in order to get started, head to `contribution.md`. So I was working through `contribution.md` and hit a wall. In order for `bin/setup` to work I have to run `$ cp config/database.yml.example config/database.yml`.

This is mentioned in `https://github.com/rubyforgood/diaper/blob/master/installation.md`, but folks aren't pointed to that document initially.

[2020-01-06 00:50] #1395 closed

[2020-01-07 02:05] #1357 closed

[2020-01-07 02:07] mdworken commented on #1338
Looks done.

[2020-01-07 02:07] #1338 closed

[2020-01-07 02:12] #1320 closed

[2020-01-07 02:12] egiurleo opened #1402 "Diaper Drives: Add Organization to Seed Data"
# Summary

Currently, the diaper drives in the seed data will not appear in the Diaper Drives index page because they are not associated with an organization.

# Criteria for Completion
- [ ] The diaper drives in the seed data appear automatically on the index page.

[2020-01-07 02:18] egiurleo opened #1403 "Diaper Drives: Make "Date range" filter clearer"
# Summary

Currently on the Diaper Drives index page, the functionality of the date range filter is pretty confusing. When you click it to view the dropdown, you are given options explained in plain English ("Today," "Yesterday," "All Time"), but when you click on one of the options, the box populates with a set of dates that you have to parse out yourself to make sure they match the option you pi

[2020-01-07 02:20] egiurleo opened #1404 "Diaper Drive: Validate Start and End Date"
# Summary
Currently, diaper drives do not validate that their start date is before their end date.

# Criteria for Completion
- [ ] A user is not allowed to create or update a diaper drive if the start date is not before or the same as the end date
- [ ] When a user attempts to create or update a diaper drive with an invalid start/end date combination, they are shown an error message explaining wh

[2020-01-08 01:45] seanmarcia commented on #1400
Definitely add it to `contribution.md`! Anything to make it easier to stream line the process!

[2020-01-08 01:48] seanmarcia commented on #1386
Hey @egiurleo someone did some work on this as a rake task! If you're going to work on this it might be a great place to start. Take a look at `lib\tasks\replace_donation.rake`.

If I remember correctly, the rake task needs to be fed an organization and then it converts it. Maybe we should change the import baseline inventory to do it as an adjustment. What do you think @mdworken and @armahillo ?

[2020-01-09 00:38] pdxdiaperbank opened #1407 "New Distribution: Item Request Exceeded Available Inventory.... But What Item?"
When creating a new distribution today, we got this alert that the items requested exceeded the available inventory:

![Screenshot 2020-01-08 16 26 20](https://user-images.githubusercontent.com/20074085/72027533-46754480-3234-11ea-8a13-d1de2d7f0e05.png)

What it doesn't tell you is WHAT item(s) specifically that there is a shortage of (It would be helpful if it highlighted it or something. Better

[2020-01-09 02:43] #823 closed

[2020-01-10 00:01] seanmarcia opened #1408 "Scope Partner Name To Organization"
It is entirely possible that multiple diaper banks could have a partner with the same name. We should change the uniqueness validation to be scoped to an organization.

### Criteria For Completion
- [ ] Ensure that uniqueness validation on partner names is scoped to an organization.
- [ ] Tests for this new functionality

[2020-01-10 00:18] seanmarcia opened #1409 "Partners Receiving Emails"
We need to streamline how partners receive emails. We added the boolean field `send_reminders` to the partner model we do not leverage it much. We also send partners emails when a diaper bank changes a distribution, which is helpful, but when a partner goes and edits a distribution in the past we still send the partner an email.

### Criteria for Completion
- [ ] Unless a partner has the `send_rem

[2020-01-11 17:34] seanmarcia opened #1410 "Default Storage Location"
We allow diaper banks to set a default intake location for their donations and purchases in their organization settings. We call this field `Default Intake Location`.
We should have a second field called the `Default Distribution Location`

This should work similarly to the Default Intake Location.

### Criteria for Completion
- [ ] Add migration to add the field to the organization much like the

[2020-01-11 18:16] #1001 closed

[2020-01-11 18:17] #808 closed

[2020-01-11 18:32] #1329 closed

[2020-01-11 18:35] #1404 closed

[2020-01-14 00:14] #1400 closed

[2020-01-14 00:14] #1396 closed

[2020-01-14 20:55] #1355 closed

[2020-01-14 21:42] #1408 closed

[2020-01-15 01:29] #1131 closed

[2020-01-16 15:27] seanmarcia commented on #579
Next time we meet with the folks at NDBN let's ask them if they can talk to the various manufacturers they work if they can get this for us.

[2020-01-16 15:41] #698 closed

[2020-01-16 15:44] seanmarcia opened #1418 "Make Transfers Editable"
When a diaper bank makes a mistake on an inventory transfer they only way they have to fix it is to make an additional transfer  (or more!) to rectify the situation. We need to add in the ability for diaper banks to edit transfers.

### Criteria for Completion
- [ ] On the transfers#index page we should add in an edit button on the transfer row.
- [ ] Have an edit page for editing the details of t

[2020-01-16 15:44] #697 closed

[2020-01-16 15:54] seanmarcia opened #1419 "Migrate Controller Specs to Request Specs"
We have dozens (literally dozens!) of Controller specs. The current attitudes are to move away from Controller specs in favor of Request specs. We have some Request specs started for our API.

See here for some more discussion: https://github.com/rspec/rspec-rails/issues/1838

This is also an opportunity to review our specs and ensure:

 - we have good coverage for our controller actions
 - we are

[2020-01-16 15:54] #739 closed

[2020-01-16 15:54] #992 closed

[2020-01-16 15:55] #1018 closed

[2020-01-16 16:02] #1168 closed

[2020-01-16 16:03] seanmarcia commented on #1168
We're implementing this!

[2020-01-16 16:24] #1192 closed

[2020-01-16 16:25] #1201 closed

[2020-01-16 16:26] #1234 closed

[2020-01-16 16:26] #1238 closed

[2020-01-16 16:27] #1285 closed

[2020-01-16 16:27] #1286 closed

[2020-01-16 16:27] mdworken commented on #1308
This has been done + merged

[2020-01-16 16:27] #1308 closed

[2020-01-16 16:28] seanmarcia opened #1420 "Update Partner#Show Page"
# Summary
It would aid diaper banks to know how many families, children, and the zip codes that their partner agencies serve. We should pull this and make it available for our diaper bank users to easily see and review. This information is available on the partner application and will need to be pulled from there.

There are several ways this could be done. We could pull from the partner app and s

[2020-01-16 16:28] #1283 closed

[2020-01-16 16:28] seanmarcia commented on #1319
Hey @rebecarancan should we unassign you from this?

[2020-01-16 16:29] #1333 closed

[2020-01-16 16:30] seanmarcia commented on #1341
Hey @bobforcha any questions about this issue?

[2020-01-16 16:39] luchiago commented on #1419
Hi. Can I take `adjustments_controller_spec` and `audits_controller_spec`?

[2020-01-16 16:49] seanmarcia commented on #1419
Sure! They're yours!

[2020-01-16 17:34] seanmarcia commented on #1217
Hey @keithrbennett I'm going to tag this as Help Wanted to see if someone wanted to implement it -- unless you have a PR ready to go to add these three! :)

[2020-01-17 00:10] renatamarques97 commented on #1410
@seanmarcia Hey, I'm trying to working on this, but the admin default credential (org_admin1@example.com), does not have access to the organization's page, can you help me with this?

[2020-01-17 00:15] renatamarques97 commented on #1410
I'm working on this

[2020-01-17 01:04] renatamarques97 commented on #1410
the organization's page has a problem
![Screen Shot 2020-01-16 at 22 01 24](https://user-images.githubusercontent.com/25162312/72575698-048b7480-38ac-11ea-9666-ed6bf5e2ce1a.png)
the current_organization is nil, so I replaced for @organization.name

[2020-01-17 01:12] seanmarcia commented on #1410
@renatamarques97 is the locally?

[2020-01-17 01:16] renatamarques97 commented on #1410
@seanmarcia It's not clear to me, can you explain why did you mean with this?
"Have new distributions, use the default storage location if it is set."

[2020-01-17 01:56] seanmarcia commented on #1217
Hey Keith! The team did a bunch of triage today and everyone agreed these were really good additions to rubocop :)

[2020-01-17 04:59] armahillo commented on #1407
I've got an idea for this one. Taking a crack at it!

[2020-01-17 13:55] renatamarques97 commented on #1410
The organization page that I tried to access is this: https://diaperbase.org/admin/organizations/1/edit?organization_id=admin

[2020-01-17 14:06] renatamarques97 commented on #1410
I have a question, why this URL isn't available on the menu?  https://diaperbase.org/diaper_bank/manage/edit

[2020-01-17 14:09] renatamarques97 commented on #1410
When I try to submit my edit on this page: https://diaperbase.org/diaper_bank/manage/edit, I got an error.
![Screen Shot 2020-01-17 at 11 08 00](https://user-images.githubusercontent.com/25162312/72618383-b7de8280-3919-11ea-9d6d-8d1d640bce0c.png)

[2020-01-17 18:33] androidgrl commented on #1402
Working on this

[2020-01-17 21:00] renatamarques97 opened #1423 "Inconsistency in menu"
I noticed an inconsistency in the menu, Distributions is the only section that has a page for all distributions and new distribution and doesn't have an exclusive section for this like Donations, Diaper Drives, and Purchases.

Desired:
![Screen Shot 2020-01-17 at 17 57 48](https://user-images.githubusercontent.com/25162312/72645661-edec2880-3952-11ea-83ea-acb3bc5bf571.png)

Actual Behaviour:
![Scr

[2020-01-18 03:54] keithrbennett commented on #1217
Oh! Ok. I do not have a fix ready. Feel free to assign it someone else.

Thanks!

[2020-01-18 16:15] edwinthinks commented on #1418
Hey there, I'd love to give this shot :)

[2020-01-18 16:37] seanmarcia commented on #1418
@edwinthinks awesome! It's yours! Ping us in slack if you have any questions :)

[2020-01-18 17:28] edwinthinks commented on #1418
Great :), hope to have something soon for ya'll to look at.

[2020-01-18 17:34] #1423 closed

[2020-01-18 17:35] mdworken commented on #1407
@armahillo hit me up if you want some background - tl;dr is I removed a class here to fix one issue but that introduced this one.

[2020-01-18 21:55] #1402 closed

[2020-01-18 23:20] #1347 closed

[2020-01-19 02:10] renatamarques97 opened #1426 "organization_path is not available in menu"
I was working on an issue and I noticed that organization it's not available in menu: http://diaperbase.org/diaper_bank/organization

# Criteria for Completion
 - [ ] include "organization" (organization_path) in menu

![Screen Shot 2020-01-18 at 23 09 15](https://user-images.githubusercontent.com/25162312/72673335-9d0a2c00-3a47-11ea-9bf9-5abcd2924ab2.png)

[2020-01-19 03:29] mdworken commented on #1426
Hmm, good catch! I wonder whether this is the best spot for it or if it should be in a sub-menu for community or something. Let me chat with the team.

[2020-01-19 05:30] mdworken commented on #1409
Closed via #1428

[2020-01-19 05:30] #1409 closed

[2020-01-19 13:48] renatamarques97 commented on #1426
@mdworken okay, I  put it in the menu, not in sub-menu, because in the admin menu looks like this.

[2020-01-19 18:35] edwinthinks commented on #1418
Hey @seanmarcia.,

I've been spending some time working in the codebase and realized that updating might not be as trivial as I originally thought. Mainly I believe the need to sync the inventory count of StorageLocations on Transfer update adds a fair bit of complexity to the problem.  Rectify the correct amounts could be tricky and I suspect it is a bit error-prone. I think I can manage by isola

[2020-01-19 19:55] mdworken commented on #1418
Hi @edwinthinks ! I think a `transfers#destroy` method is something we'll also want, so definitely no harm in doing that instead first!

Regarding "how" we do these in this codebase, we've been following a process of

1) Using a transaction
2) attempting to make the (create/update/delete) happen
3) rolling back if it causes errors in inventory constraints.

There are some existing service objects

[2020-01-20 01:25] edwinthinks commented on #1418
@mdworken sounds good, I think I can get that done. And that 'how' makes sense to me :). I could start with the destroy and if we still want the update that can also be done.

[2020-01-20 04:53] edwinthinks commented on #1418
I've opened https://github.com/rubyforgood/diaper/pull/1440 to help address the pain point. It does not do updating but it does allow users to delete incorrectly inputted Transfers

[2020-01-23 22:20] mdworken opened #1456 "Diaper Drive Dashboard is multiplying $ raised value by 100"
Looks like this happened when we made changes to displaying $s while there was a separate long-running branch for the diaper drive work. Fixing this now.

[2020-01-24 17:25] #1456 closed

[2020-01-26 04:04] mdworken commented on #1403
@armahillo would you be interested in adding the same picker from the other pages to this one?

[2020-01-31 14:16] moacirguedes commented on #1419
Hi @seanmarcia, can i take  `barcode_items_controller_spec` and `dashboard_controller_spec`?

[2020-01-31 15:36] seanmarcia commented on #1419
Sure thing @moacirguedes ! They are yours!

[2020-02-03 14:46] moacirguedes commented on #1419
Hello again @seanmarcia, can i take `data_exports_controller_spec`, `diaper_drive_participants_controller_spec`, `diaper_drives_controller_spec` and `distributions_controller_spec` ?

[2020-02-03 16:53] seanmarcia commented on #1419
Yes! Thank you!

[2020-02-05 03:19] mdworken opened #1485 "Missing Inventory Items from Storage Location when no donations/purchases have been made"
This has happened a few times with steps like the below:
-Create a new org
-Create some items
-Create an adjustments with those items
-Create some *more* items
-Attempt to create an adjustment with those additional items

Expected: The additional items have inventory items associated to the storage location, and they appear in the drop down.

Actual: They don't get created or don't associate, and

[2020-02-06 23:57] mdworken opened #1486 "undefined method `business_name' for ["Yes", true]:Array"
We have two errors in bugsnag that I'd like fixed. They havesomething to do with updating purchases/donations.

Purchases:
undefined method `business_name' for ["Yes", true]:Array

Donations:
undefined method `name' for ["Yes", true]:Array

[2020-02-07 00:11] mdworken commented on #1486
Looks like the label_method of `:name` was being called on something that didn't make sense when the `source` fields were left blank - fixing now.

[2020-02-07 01:34] #1486 closed

[2020-02-09 23:15] mcshakes commented on #1419
@seanmarcia How many of specs are still in need of conversion? I'd like to help out if some are still available

[2020-02-10 00:22] seanmarcia commented on #1419
Hey @mcshakes the completed list has been updated to show the ones that are finished or there are PRs for!

[2020-02-10 01:57] luchiago commented on #1419
Can I grab these?
* transfers_controller_spec
* users_controller_spec
* vendors_controller_spec

[2020-02-10 01:59] seanmarcia commented on #1419
Definitely! I just marked them off :) Thanks so much!

[2020-02-10 03:24] mcshakes commented on #1419
@seanmarcia can I grab:

- donation_sites_controller_spec
- donations_controller_spec
- items_controller_spec
- organizations_controller_spec

[2020-02-10 03:26] seanmarcia commented on #1419
They're yours! Just marked them off :)

[2020-02-11 01:54] Aliciawyse commented on #1276
Should we close this?

[2020-02-11 02:53] keithrbennett opened #1491 "Document the test coverage report generation for new contributors."
It would be helpful for new contributors to be able to know how to generate the test coverage report and where to find it. We could add this information to the appropriate documentation file, probably `CONTRIBUTING.md`.

# Criteria for Completion

Ideally, this documentation would include:

 - [ ] how to generate the coverage report locally
 - [ ] where to find the generated report locally
 - [ ]

[2020-02-11 22:35] #1276 closed

[2020-02-11 22:35] benreyn commented on #1276
Closed, thanks for tackling this @Aliciawyse !

[2020-02-14 19:30] EmersonManabuAraki commented on #1491
Put an example of test coverage report can be useful to guide new contributors, what do you think about, @keithrbennett  ?

[2020-02-14 20:14] EmersonManabuAraki commented on #1419
@seanmarcia I'll take `partners_controller_spec.rb`

[2020-02-14 20:20] moacirguedes commented on #1419
Hi @seanmarcia, i'll take `static_controller_spec`

[2020-02-14 21:18] seanmarcia commented on #1419
👍

[2020-02-15 03:48] keithrbennett commented on #1491
@EmersonManabuAraki  Given that there are already links to example reports, my opinion is that it's not necessary.

However, if this content were moved out of CONTRIBUTING.md and into another file such as TEST_COVERAGE.md it would be helpful, especially in the case of the local file that may not be available yet to the reader.

By the way, @mdworken, would creating such a separate markup file for

[2020-02-15 03:52] keithrbennett commented on #1491
@EmersonManabuAraki I realized that maybe I don't understand your point. What do you mean by "if a test coverage report was successful or not"? What kind of failures might there be? Would the existence or absence of the `coverage/index.html` file be sufficient? That is something easily determined without even knowing what the page looks like.

[2020-02-15 15:49] edwinthinks commented on #1485
I can confirm that this is happening. I think this has to do with as you eluded that there isn't an `InventoryItem` association on the storage locations. The dropdown is populated via this endpoint storage_locations#inventory that returns JSON.
[code]

This should be addressable by making sure when we add an item that the storage locations get the association /w the 0 quantity at least.

I think I

[2020-02-15 16:48] edwinthinks commented on #1485
I got a fix up and ready for review :) - https://github.com/rubyforgood/diaper/pull/1497

[2020-02-16 02:42] #1491 closed

[2020-02-18 14:35] brunohkbx commented on #1419
requests_controller_spec - #1501

[2020-02-19 23:24] #1485 closed

[2020-02-20 17:28] moacirguedes commented on #1419
I will take `purchases_controller_spec`

[2020-02-20 18:53] colinsoleim opened #1514 "Barcode Items System Spec Failing For Certain Base Items"
# Summary

The barcode_items_system_spec is occasionally failing because it is searching for base item names that are contained inside of other base items, specifically, it fails when looking for "Pads" and "Swimmers" not to be included in the html.

# Criteria for Completion
 - [ ] Refactor barcode_items_system_spec.rb:27 to pass for all possible base item names

[2020-02-21 04:05] #1514 closed

[2020-02-21 04:11] #1426 closed

[2020-02-21 14:29] seanmarcia opened #1522 "Upgrade FactoryBot"
We're currently using FactoryBoy 4.x and need to upgrade to 5.x to stay current.

#### Criteria for completion
- [ ] Upgrade FactoryBot Gem
- [ ] Update any tests using old syntax.
- [ ] Ensure test suite runs green.

[2020-02-21 14:48] DouglasLutz commented on #1522
Can I work on this?

[2020-02-21 14:50] seanmarcia commented on #1522
Sure, it is yours!

[2020-02-21 17:09] renatamarques97 commented on #1426
why did you close? @seanmarcia , this PR introduced organization in menu, is to necessary? why create a view and not make it available?

[2020-02-21 17:27] seanmarcia commented on #1426
Sorry, this was closed because as part of the theme upgrade someone else added it to the menu already! I'm very sorry that it wasn't communicated! :(

[2020-02-21 17:30] seanmarcia commented on #1426
![image](https://user-images.githubusercontent.com/667909/75056928-efef5d00-54a5-11ea-9680-c52801e2d8c1.png)

[2020-02-21 19:09] #1522 closed

[2020-02-22 19:30] edwinthinks commented on #1420
For this would it be possible to utilize the multiple database support which came with Rails 6? I've never used it before, but I thought it might help.

https://rubyinrails.com/2019/03/25/rails-6-activerecord-multi-db-connection-switching/

[2020-02-29 16:42] Aliciawyse commented on #1420
Something like this would have to happen in stages right? I'd be happy to commit to creating an endpoint in the Partner app that exposes this information.

[2020-03-03 03:13] seanmarcia opened #1537 "Multiple Partners Created On Invite"
One of the diaper banks reported an issue where the partner is created in partner application twice resulting in the user sometimes being attached to the wrong partner and not able to be approved.

### Criteria For Completion
- [ ] Determine if the invite action is creating the partner twice or if it is the create action on the partner side.
- [ ] Fix the bug!
- [ ] Test to ensure it doesn't happe

[2020-03-03 13:03] GabrielRMuller commented on #1537
I can work on it if that's ok.

[2020-03-03 15:00] gabrielbaldao commented on #1537
Can i try fix this one?

[2020-03-03 22:54] seanmarcia commented on #1537
Sure thing! Thanks!

[2020-03-04 04:50] seanmarcia commented on #1420
We might want to have a discussion on the best way to proceed with this -- we could use the multiple database model or we could use APIs like we've been doing since we have somewhat established patterns for that.

I think if we go with the API route it may make sense to change from an ask system to a tell system. So, rather than having the diaper app ask the partner app each time what the details

[2020-03-05 13:08] luchiago commented on #1419
@seanmarcia Can I take these?
* admin_controller_spec
*  admins_controller_spec
* storage_locations_controller_spec
* users_controller_spec

[2020-03-05 19:46] moacirguedes commented on #1419
i will take `partners_controller_spec (admin)`

[2020-03-06 12:52] EmersonManabuAraki commented on #1419
I'll take `base_items_controller_spec (admin)`

[2020-03-06 20:59] gabrielbaldao commented on #1537
I'll try resolve this tomorrow, can you write a little more about this problem?

[2020-03-06 22:37] #1419 closed

[2020-03-08 02:59] luchiago commented on #1419
@seanmarcia `admins_controllers_spec` file is multiple-line comment and I can't find with `rails routes` routes that match with `admins`. Also `users_controller_spec` is already done, I didn't notice. Can I grab `organizations_controller_spec (admin)` instead?

[2020-03-11 16:13] Aliciawyse commented on #1420
Hey @seanmarcia, I like the API route you mentioned, especially since that's the already established pattern.

[2020-03-19 20:13] seanmarcia commented on #1537
Sorry for the delay lots has been going on in the world.

I don't really have much more information than I supplied. It seems that in the partner system there are often 2 partners created there instead of one.

[2020-03-21 02:41] armahillo opened #1555 "Address security vulnerability"
GH has identified moderate severity security updates. Going to patch these.

[2020-03-21 02:48] armahillo commented on #1407
@mdworken I lost all my WIP on this because I had to dust my repo and re-clone. :/ Will try again.

[2020-03-21 19:07] #1555 closed

[2020-03-26 01:53] #1537 closed

[2020-03-28 20:12] #1410 closed

[2020-03-29 20:55] edwinthinks opened #1569 "[Diaper & Partner] Enable diaper banks to control/toggle which sections their partners can/need to fill out about themselves."
# **DO NOT START WORK ON THIS. THIS FOR THE RUBY FOR GOOD EVENT**

# Summary

Diaper banks don't always need all the information that their partners can fill out in the 'Edit My Organization' page in the `partner app`:
<img width="1203" alt="Screen Shot 2020-04-01 at 6 17 02 PM" src="https://user-images.githubusercontent.com/11335191/78195376-18735b00-7445-11ea-9397-b98b7de088bc.png">

To make thi

[2020-03-29 21:12] edwinthinks opened #1570 "Add the scheduled TIME to the automatic distribution pick-up reminder email that goes out the day before"
# **DO NOT START WORK ON THIS. THIS FOR THE RUBY FOR GOOD EVENT**

# Summary

@seanmarcia could you provide the context needed here. I recall you've mentioned it in the list of projects to work on. However, I could use some extra guidance on what this feature looks like.

I did notice this option:
<img width="1117" alt="Screen Shot 2020-03-29 at 4 11 05 PM" src="https://user-images.githubuserconte

[2020-03-29 21:15] edwinthinks opened #1571 "Enable diaper bank users to 'archive' partners instead of deleting them."
# **DO NOT START WORK ON THIS. THIS FOR THE RUBY FOR GOOD EVENT**

# Summary

Diaper bank users should be able to archive partners instead of deleting them. This would be useful in preventing data issues if a partner was previously deleted but then added again.

Let's build the capability to archive partners and remove the ability to delete them.

# Criteria for Completion
- [ ]  Remove the `Delet

[2020-03-29 21:27] edwinthinks opened #1572 "[Diaper & Partner] Enable diaper banks to define special 'bundles' of items and send them."
# Summary

Diaper banks want to define 'bundles' of items that they can use as units to send. For example, they may want to create and send  'COVID19' bundles which contain a predefined number of N95 masks and other sanitary products.

Let's build the capability to archive partners and remove the ability to delete them.

@mdworken @armahillo is there any added context or information needed here?

[2020-03-29 21:30] edwinthinks opened #1573 "Enable Diaper Banks to get more insight on the partners, families, and children they are servicing through the application"
# **DO NOT START WORK ON THIS. THIS FOR THE RUBY FOR GOOD EVENT**

# Summary

We want to give Diaper Banks insight into the people they serve through the application. In the application, it would great if Diaper Banks could see the partners, families, and children displayed nicely.

It would also be great to add the location of all their partners in a map like [here](https://www.stldiaperbank.org/

[2020-03-29 21:31] edwinthinks opened #1574 "[Diaper & Partner] Enable Diaper Banks to toggle items as request-able by partners if they aren't in stock."
# **DO NOT START WORK ON THIS. THIS FOR THE RUBY FOR GOOD EVENT**

# Summary

Diaper banks want to be able to distinguish some items as being requestable even if they aren't in stock anymore. Otherwise, the items should not be request-able by partners if they are out of stock.

# Criteria for Completion
- [ ]  Implement a UI that lets diaper bank users set items as requestable
- [ ]  In the Partne

[2020-03-30 02:37] seanmarcia opened #1575 "Convert PDFs generation from Prawn to Htmltopdf"
# Summary

We are interested in using [htmltopdf gem](https://github.com/ramlaxmanyadav/htmlToPdf) to produce a cleaner looking distribution pdfs. We're currently using prawn but by using htmltopdf we can get a consistent UX between the pdfs and the website.

# Criteria for Completion
- [ ] Add `htmltopdf` and hook it up to functionality to generate distribution pdfs. The theme we are using has an

[2020-03-30 12:48] edwinthinks opened #1577 "Fix style/alignment of the 'Send Reminder?' checkbox in create new partner form."
# Summary

I noticed that the positioning of the checkbox for 'Send Reminder?' is off. To keep things cleaner we should align it with the top form.

Here is a snapshot of what I am talking about:
<img width="516" alt="Screen_Shot_2020-03-28_at_7 49 41_AM" src="https://user-images.githubusercontent.com/11335191/77914009-d981b180-725a-11ea-87ef-acdebd124f9f.png">

[2020-03-30 18:15] #1577 closed

[2020-04-01 14:46] armahillo commented on #1575
NOTE: https://github.com/mileszs/wicked_pdf/issues/754

A lot of these PDF gems are incestuous and relate to one another. You *may* encounter this issue -- when doing the rendering ensure that you have both a Mac and non-Mac do PDF rendering to check for it. If the problem exists, what you will see is that the PDF looks smaller than it should on Mac, but normal size on other OSes.

The fix is:
htt

[2020-04-01 20:12] seanmarcia commented on #1575
+1 The partner app is using `wicked_pdf` so we should be using that -- in addition to the `htmltopdf` binary of course.

[2020-04-02 12:59] armahillo opened #1582 "Expand spec coverage for `DistributionUpdateService`"
# Summary

`DistributionUpdateService` (`app/services/distribution_update_service.rb`) has very limited testing. In #1557, more elaborate test coverage is added for `app/services/distribution_create_service.rb`. We want to get parity with the Update Service so that we can do some additional refactoring.

## Things to Consider
 1. The service objects *are* very similar so you can start with a strai

[2020-04-02 13:16] armahillo opened #1583 "Apply refactor to `DistributionDestroyService` similar to the Create/Update services"
# Summary

`DistributionDestroyService` (`app/services/distribution_destroy_service.rb`) is still using the older paradigm that cannot yet have a superclass extracted. It also has incomplete testing. In #1557, both `app/services/distribution_create_service.rb` and `app/services/distribution_update_service.rb` are refactored. We want to get parity with the Destroy Service so that we can do some add

[2020-04-02 13:41] armahillo opened #1584 "Extract Superclass for Distribution Service classes"
Blocked by #1580 #1582 #1583

# Summary
These service objects have similarities in their behavior and execution. Let's see if we can extract a superclass so that the individual classes are only specifying their unique cases.

The most ideal circumstance would be to extract a superclass that can apply to more than just `Distributions` so that we can sub-class into multiple domains.

Another possibi

[2020-04-02 13:42] armahillo commented on #1310
Closed -- this is now covered by #1584  (and the issues it references)

[2020-04-02 13:42] #1310 closed

[2020-04-02 21:58] #1407 closed

[2020-04-03 10:55] edwinthinks opened #1586 "Updating Partner model details does not propagate changes to Partner App"
# Summary

It looks like editing and updating partner details (via http://diaper.test/diaper_bank/partners/7/edit) does not propagate changes to the `Partner` record in the `Partner App`. Currently, the code only updates the `Partner` model on the `Diaper App` and nothing more.

## Things to Consider
I am not sure if this is a pain point currently and/or we even want to support this change. At the

[2020-04-03 10:56] edwinthinks commented on #1586
@armahillo this was brought up yesterday when we were talking =).

[2020-04-03 16:35] armahillo opened #1587 "Move "Partners" to it's own top-level menu section"
# Summary
"Partners" is currentely under the "Community" section in the left-side navigation menu. We need to make it more prominent so that we can make some calls-to-action more obvious as well as adding
additional features.

This should be a trivial change.

# Criteria for Completion
 - [ ] "Partners" should be a top-level nav item and not under "Community" anymore
 - [ ] Tests & Rubocop pass

[2020-04-03 17:26] armahillo opened #1588 "All Jobs need to inherit from ApplicationJob"
# Summary
Discovered this in Test Coverage. `app/jobs/application_job.rb` has 0% test coverage but should be :100:. No jobs are inheriting from it.

All jobs should inherit from `ApplicationJob`

## Things to Consider
Syntax looks this:

`app/jobs/foo_iob.rb` should go from
[code]
to
[code]

# Criteria for Completion
 - [ ] AddDiaperPartnerJob
 - [ ] DistributionReminderJob
 - [ ] PartnerMailerJob

[2020-04-03 17:54] armahillo opened #1589 "Rip out references to "Scale""
# Summary
A while back we had offered the ability to do bulk-weighing of inventory via a scale. This was removed because it was experimental and didn't quite work the way we wanted it to. Were we to re-add it we would likely start fresh anyways, so let's remove the vestigial elements.

Get ready for a big red diff!

# Criteria for Completion
 - [ ] Delete `app/views/donations/scale.html.erb`
 - [

[2020-04-04 01:17] androidgrl commented on #1588
I can do this

[2020-04-04 01:34] armahillo opened #1590 "Bump Ruby to 2.7.1"
# Summary
Bart mentioned a [2.7.0 security issue](https://www.ruby-lang.org/en/news/2020/03/31/ruby-2-7-1-released/). So we should update to 2.7.1.

## Things to Consider
This will likely require some assistance from the Core Team as it will need to be installed on the production servers.

# Criteria for Completion
 - [ ] The `Gemfile` references the correct version
 - [ ] The `Gemfile` has been u

[2020-04-04 13:09] edwinthinks opened #1591 "[Diaper] Add a jsonb column called 'config' to the Partner record to store the configuration of form sections to show/hide"
## Summary

We'll need to be able to store the Diaper bank's preferences on which form sections we want to show or hide for their Partner Agencies. To address this we should add a new jsonb column on the `Partner` model named `config`. This column could eventually store more configuration options for a Partner... but for now, let's focus on using the column to store that preference data.

The `jso

[2020-04-04 14:18] edwinthinks opened #1592 "[Partner] Add a jsonb column to the Partner record to store config from sent from Diaper on partner creation."
## Summary

We will want to store the form sections show/hide preferences within the Partner application so that we can eventually conditionally render form sections as detailed in https://github.com/rubyforgood/diaper/issues/1593.

Let's add a jsonb column named `config` on the Partner record. The contents of this column will eventually be delivered by the diaper application.

## Criteria For Com

[2020-04-04 14:19] edwinthinks opened #1593 "[Partner & Diaper] Conditionally render form sections based on the Partner config column values."
## Summary

Use the contents of the `config` column (added through https://github.com/rubyforgood/diaper/issues/1592) on Partner to conditionally show or hide sections in the 'Edit My Organization' page (http://partner.test/partners/1/edit).

Refer to description in https://github.com/rubyforgood/diaper/issues/1591 for the expected format of `config`

## Blockers
https://github.com/rubyforgood/dia

[2020-04-04 14:29] edwinthinks opened #1594 "[Partner] Update the partners#create endpoint to accept the config attribute and save it on the newly created Partner record."
## Summary

In order to receive the form preferences of diaper banks, we'll need to modify the API `partners#create` API endpoint to be able to accept `config` (from https://github.com/rubyforgood/diaper/issues/1596) in the payload. The `config` should then be stored on the `Partner` record being created.

## Blockers
https://github.com/rubyforgood/diaper/issues/1592

## Criteria For Completion
-

[2020-04-04 14:29] edwinthinks opened #1595 "[Diaper] Add checkboxes in the partner create form to configure which form sections to show or hide."
## Summary

We want to enable Diaper banks to be able to configure the values of `config.form_options` (refer to https://github.com/rubyforgood/diaper/issues/1591 for details).

Let's provide a UI of checkboxes to control wither we will show/hide form sections in the partner create form (http://diaper.test/diaper_bank/partners/new). We could put these options beneath the 'Send Reminder' checkbox:

[2020-04-04 14:29] edwinthinks opened #1596 "[Diaper] Update the Partner#register_on_partnerbase to include the config column content"
## Summary

Modify the `register_on_partnerbase` method on `Partner` to include it's `config` value in the API call to Partner app. This data will be received and stored by the partner application (https://github.com/rubyforgood/diaper/issues/1594)

## Blockers
https://github.com/rubyforgood/diaper/issues/1591

## Criteria For Completion
- [ ] The value of `config` is sent in the API call triggere

[2020-04-04 14:51] edwinthinks opened #1597 "[Diaper] Include the organization's email in the API call to invite a partner."
## Summary

In order to set the `from` (and `reply-to`) on invitations emails to the organization's email, we'll need to provide it the Partner application (handles invite emails) via API call.

We can achieve this by updating the `UpdateDiaperPartnerJob#perform` method to include the organization's email as well. Furthermore, changes in `DiaperPartnerClient` likely need to be made too.

## Criter

[2020-04-04 14:51] edwinthinks opened #1598 "[Partner] Update the 'partners#create' expect the organization's email and use it to set the reply-to and from on the invitation email"
## Summary

Once the Partner application starts to receive the organization's email via API call. We'll need to modify the `partners#create` API endpoint to start utilizing it to change the email `from` and `reply-to`.

**Note - You might need to make modifications on mailers or make a custom mailer to accomplish this**

## Blockers
#1597

## Criteria For Completion
- [ ] Invitations emails have t

[2020-04-04 15:05] edwinthinks opened #1599 "[Diaper] Add 'deactivated' as a new status for Partner"
## Summary

In order to distinguish partners that are active versus deactivated, we will need to add a new status type called 'deactivated' on the Partner model.

## Criteria Of Completion
- [ ] Partner records can have their status set to 'deactivated'

[2020-04-04 15:05] edwinthinks opened #1600 "[Partner] Add a new string column `status_in_diaper_base` on Partner model to store the Partner status in the Diaper app."
## Summary

In order to let the Partner application know whether or not a Partner is active or deactivated. We want to be able to persist the status the 'deactivated' status added in #1599

## Criteria Of Completion
- [ ] Add a new string column called `status_in_diaper_base` on Partner.

[2020-04-04 15:05] edwinthinks opened #1601 "[Diaper] Replace the button to delete partners with a 'deactivate' button that sets the partner's status to 'deactivated'"
## Summary

We need to give diaper banks the ability to deactivate partners and remove their ability to delete them. Let's do that by implementing  'Deactivate' button and replacing the 'Delete' button on the partners#show page.

<img width="797" alt="Screen Shot 2020-04-04 at 10 17 33 AM" src="https://user-images.githubusercontent.com/11335191/78454417-872b0100-765d-11ea-8691-d233a22bb946.png">

[2020-04-04 15:05] edwinthinks opened #1602 "[Diaper] Add a 'reactivate' button that allows a deactivated partner to be active again."
## Summary

We want to allow Diaper Banks to reactivate partners that have been deactivated before. Let's do that by implementing a button for 'Reactivate' in should appear in rows of deactivated partners in the partners#show page.

<img width="1146" alt="Screen Shot 2020-04-04 at 10 25 06 AM" src="https://user-images.githubusercontent.com/11335191/78454593-99f20580-765e-11ea-8a27-ab0727eb7dc8.png

[2020-04-04 15:05] edwinthinks opened #1603 "[Diaper] Add new status badge for 'deactivated' partner rows."
## Summary

We need to be able to distinguish partners that have been deactivated in the partners#index page. To do that, let's add a status badge to indicates deactivated.

<img width="1163" alt="Screen Shot 2020-04-04 at 10 12 52 AM" src="https://user-images.githubusercontent.com/11335191/78454305-df153800-765c-11ea-8e1a-34c780654a78.png">

## Blockers
#1599

## Criteria Of Completion
- [ ] Deac

[2020-04-04 15:05] edwinthinks opened #1604 "[Partner] Prevent requesting new items for Partners with diaper_base_status='deactivated'"
## Summary

~~We don't want deactivated Partners to continue having access to the partner application. Let's restrict access to Partner with `diaper_base_stauts='deactivated'`~~

~~** Note - One way to achieve this possibly is to modify authorization logic on the controller level**~~

Update.
After talking with @seanmarcia , it might be a better idea not to unauthorized or prevent access to the da

[2020-04-04 15:26] edwinthinks opened #1605 "[Diaper] Update 'get' method in 'DiaperPartnerClient' to accept query parameters."
## Summary

In anticipation of #1608 and #1607, we want to be able to provide query parameters to the `partners#show` API endpoint (in the Partner Application) to control wether or not to include data on families and/or children.

## Criteria Of Completion
- [ ] `DiaperPartnerClient#get` is able to send accept and send query parameters in API requests to Partner API.

[2020-04-04 15:26] edwinthinks opened #1606 "[Partner] Update #export_json in Partner to be able to include information on families and children."
## Summary

We will need to generate and output data on families that Partners work with. Let's modify the `Partner#export_json` method to also be able to generate partner data with family & children data.

Ideally, we can control including family & children data via optional parameters.

## Edit

There was a bit of confusion and we want to display aggregate data instead of all the data, as I have

[2020-04-04 15:26] edwinthinks opened #1607 "[Partner] Update 'partners#show' endpoint to accept query parameters to control the output of 'partner.export_json'"
## Summary

We want to enable the Diaper application to be able to fetch partner data with the families and/or children data included.

Let's update the `partners#show` API endpoint to accept query parameters that change the response body (via export_json #1606)

## Blockers
#1606

## Criteria Of Completion
- [ ] The `partners#show` API endpoint is able to receive query parameters that change the

[2020-04-04 15:26] edwinthinks opened #1608 "[Diaper] Fetch and display aggregate families, children, and zipcodes served data in the partners#show page."
## Summary

Using the updated Partner API from #1607, we want to be able to now fetch and display data in the `partners#show` page in the Diaper application.

~~You can for now display them as tables and rows.~~

I learned some information that will change the work related to this issue. We'll want to show aggregate data instead of all the data.

## Criteria Of Completion
- [ ] You are able to fet

[2020-04-04 15:58] #1573 closed

[2020-04-04 15:58] #1571 closed

[2020-04-04 15:58] #1569 closed

[2020-04-04 21:51] pdxdiaperbank opened #1612 "Create the Ability to Assign a Partner Agency Pickup Timeframe for Distribution"
Currently, when we assign a pickup date to each of our partner agencies in DiaperBase for a distribution, it only allows us to select one specific arrival time.

![Screenshot 2020-04-04 14 32 22](https://user-images.githubusercontent.com/20074085/78461928-03cfd680-7682-11ea-8620-5c37aeb924e9.png)

But, PDX Diaper Bank allows its partner agencies to come during a select timeframe on pickups days. F

[2020-04-04 23:20] #1605 closed

[2020-04-04 23:24] #1599 closed

[2020-04-05 00:36] pdxdiaperbank opened #1613 "Default Date/Time on New Distribution & System Alert"
When you create a new distribution from an agency request, the system automatically assigns a default pickup date/time:

![Screenshot 2020-04-04 14 32 22](https://user-images.githubusercontent.com/20074085/78464131-7482ed00-769a-11ea-9d75-2ccc655dba64.png)

A couple of things:

1) Why does the system pick the date/time that it does? Just curious because...

2) It would be great if the system alert

[2020-04-05 18:00] #1597 closed

[2020-04-05 19:18] armahillo opened #1616 "DistributionReminderJob can probably just be a regular method call, as a treat"
# Summary
`app/jobs/distribution_reminder_job.rb` does a straight lookup and then queues a mailer if certain conditions are met. These conditions are also checked in the mailer itself.

As [@edwinthinks noted](https://github.com/rubyforgood/diaper/pull/1614/files#r403741551), we probably don't need to have this done in a job at all, especially since the mailer runs through a queue as it is. This c

[2020-04-05 19:34] #1606 closed

[2020-04-05 23:12] #1588 closed

[2020-04-05 23:20] #1608 closed

[2020-04-06 21:39] #1607 closed

[2020-04-06 21:42] #1591 closed

[2020-04-06 21:42] #1592 closed

[2020-04-06 21:42] #1594 closed

[2020-04-06 21:42] #1595 closed

[2020-04-06 21:42] #1596 closed

[2020-04-06 21:45] edwinthinks commented on #1593
Being worked on through https://github.com/rubyforgood/diaper/pull/1617 & https://github.com/rubyforgood/partner/pull/287

[2020-04-06 21:51] edwinthinks opened #1623 "Display the list of zipcodes a Partner services in the partner#show page"
# Summary

Recently we've pushed up updates to show the number of zipcodes a partner services. This issue is in regards to include the list of zipcodes that the partner services.

And the evolution of the work done in https://github.com/rubyforgood/diaper/projects/17 and from https://github.com/rubyforgood/diaper/issues/1420

# Criteria for Completion

 - [ ] Decide where to show the zip codes on

[2020-04-06 21:51] edwinthinks commented on #1420
Closing this issue due to work done in - https://github.com/rubyforgood/diaper/projects/17 . Opened https://github.com/rubyforgood/diaper/issues/1623 to explore the idea of showing the list of zipcodes instead of just the number of zipcodes served.

[2020-04-06 21:52] #1420 closed

[2020-04-06 22:25] viamin commented on #1623
Note that the list of zip codes served *is* displayed in the partner details page (clicking the "View" button on the partner page.)
<img width="1356" alt="Screen Shot 2020-04-06 at 3 23 26 PM" src="https://user-images.githubusercontent.com/260794/78610930-b9359200-781a-11ea-8290-3a5c64184c6d.png">

[2020-04-07 14:11] edwinthinks commented on #1623
@viamin that field is likely what the partner inputs in their registration and isn't exactly reflective of what zip codes they are serving. A more accurate number would be `Family.pluck(:zip_code).uniq.count` on the partner site.

I think we'll want to show the exact zip codes from partner in the previous partner#show page.

[2020-04-08 03:51] edwinthinks commented on #1616
Opened https://github.com/rubyforgood/diaper/pull/1624 for this :)

[2020-04-08 12:39] edwinthinks commented on #1590
hmm if production has 2.7.1 already would it mean that we just need to change the Gemfile?

[2020-04-08 12:42] edwinthinks commented on #1584
I'll give this a swing :)

[2020-04-08 12:43] edwinthinks commented on #1583
I'll take a swing at this :)

[2020-04-12 11:37] #1616 closed

[2020-04-12 23:02] #1593 closed

[2020-04-12 23:05] #1587 closed

[2020-04-12 23:13] #1583 closed

[2020-04-12 23:16] edwinthinks commented on #1598
Closing this one for - https://github.com/rubyforgood/partner/issues/290

[2020-04-12 23:16] #1598 closed

[2020-04-18 18:31] Aliciawyse commented on #1623
@edwinthinks Are you saying the list of zipcodes should go on this page?
![image](https://user-images.githubusercontent.com/13841769/79655082-73fd5280-8180-11ea-9729-60f8ee982a70.png)

If so, exactly where do should it be? I was thinking maybe a scrollable table under right above the diaper footer.

[2020-04-20 14:52] #1590 closed

[2020-04-20 21:56] seanmarcia commented on #1623
Hey @Aliciawyse how abouot in the same window as the count. So have 4 Zipcodes served and then (12435, 23456, 34567, 45678)

[2020-04-21 01:13] eclectic-coding commented on #1589
Can I help with this issue?

[2020-04-21 02:13] Aliciawyse commented on #1623
Ah, okay. I'll give that a shot. If it's a long list of zipcodes though, it might look weird.

[2020-04-21 02:44] seanmarcia commented on #1623
Maybe a 4th box? I'll trust your design eye ;)

[2020-04-21 21:34] belgamo commented on #1613
1. I'm not sure, but I think because `simple_form` inputs are derived by [rails `Date Helpers`](date_select). By default it sets the current date as the selected date.
2. I agree.

[2020-04-23 13:58] seanmarcia opened #1640 "Allow Diaper Banks to Delete Purchases"
### Summary

We've gotten reports that a purchase gets entered twice or accidentally entered. We need to allow the diaper banks to delete purchases that were incorrectly entered. It looks like we already have the controller action but it was never fully implemented.

#### Criteria for Completion
- [ ] Add Delete Purchase button to the purchase show page.
- [ ] Restrict the deleting of purchases to

[2020-04-23 15:48] CraigJZ commented on #1640
@seanmarcia, may I take this one?

[2020-04-23 17:11] seanmarcia commented on #1640
@CraigJZ Sure thing, thanks!

[2020-04-24 20:19] SCDB opened #1642 "Inventory View between Diaper & Partner"
Hi all! This is related to ticket/issue #293 I put on the Partner page a couple days ago. I think we've discovered either a bug or a feature that needs to be added--you all can let us know which one it is! :)

Right now, we have two different inventory items views between Diaper and Partner.
Here is what we see in Diaper:
![Screen Shot 2020-04-24 at 10 24 56 AM](https://user-images.githubuserconte

[2020-04-25 18:44] pdxdiaperbank opened #1645 "Dashboard Filter (By timeframe) Not Working Properly"
I tried to filter results on the dashboard by "this month" and it gave me January's numbers....

![Screenshot 2020-04-17 12 41 51](https://user-images.githubusercontent.com/20074085/80288015-d5c23d00-86e9-11ea-8369-864c07f0916d.png)